{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="../../../static/mainsite/css/blog/style.css">
<header>
    <a href="{% url 'new_blog_categories' %}" target="_self" style="color: black; margin-right: 5em"><span
            class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
    <span class="text-muted">
				<a href="{% url 'new_blog_categories' %}" target="_self" class="text-muted">Статьи</a> >
            Введение
        </span>
</header>
<div class="justify-content-center d-flex" style="max-width: 100em; margin: 0 auto; ">

    <div class="justify-content-center d-flex w-100" style="margin: 15em 0;">
        <div class="row w-75">
            <div class="col-sm-5 card">
                <div class="w-100 h-100 content-front">
                    <div class="blog-card-date">
                        03 марта 2021
                    </div>
                    <div class="blog-card-menu">
                        <a href="#">...</a>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center text-center w-75 mx-auto h-100">
                        <h1 class="blog-card-name w-100 mb-4 pb-2">Кто такой лидер?</h1>
                        <div>Твои первые шаги на пути к успеху и высоким достижениям</div>
                        <div class="d-flex flex-row justify-content-center w-50 mt-5">
                                <svg class="mr-1" width="15" height="17" viewBox="0 0 15 17" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.22695 3.46804C3.56365 3.46804 0.583008 6.44868 0.583008 10.112C0.583008 13.7753 3.56365 16.7559 7.22695 16.7559C10.8902 16.7559 13.8709 13.7753 13.8709 10.112C13.8709 6.44868 10.8902 3.46804 7.22695 3.46804ZM7.22695 15.0949C4.47885 15.0949 2.24399 12.8601 2.24399 10.112C2.24399 7.36388 4.47885 5.12902 7.22695 5.12902C9.97505 5.12902 12.2099 7.36388 12.2099 10.112C12.2099 12.8601 9.97505 15.0949 7.22695 15.0949Z"
                                          fill="#569EFF"/>
                                    <path d="M6.39645 6.79001H8.05744V10.9425H6.39645V6.79001ZM4.73547 0.976562H9.71842V2.63755H4.73547V0.976562Z"
                                          fill="#569EFF"/>
                                    <path d="M13.2835 5.71615L11.6228 4.05539L12.7973 2.88091L14.458 4.54168L13.2835 5.71615Z"
                                          fill="#569EFF"/>
                                </svg>
                                2.5 часа
                        </div>
                    </div>
                </div>
                <div class="content-back w-100 h-100">
                    <div class="blog-card-date">
                        03 марта 2021
                    </div>
                    <div class="blog-card-menu">
                        <a href="#">...</a>
                    </div>
                    <div class="w-100 h-75 d-flex justify-content-center align-items-end">
                        <a class="header--change--btn" href="{% url 'introduction_chapter_lider' %}">
                            Перейти
                        </a>
                    </div>
                </div>
            </div>
            <div class="col my-5"></div>
            <div class="col-sm-5  card">
                <div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center text-center content-front">
                    <h1>Name</h1>
                    <hr class="w-75">
                    <div>Some information</div>
                </div>
                <div class="content-back w-100 h-100">

                </div>
            </div>
            <div class="w-100" style="margin-top: 8rem"></div>
            <div class="col-sm-5 card">
                <div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center text-center content-front">
                    <a href="{% url 'new_blog' %}">
                        <svg width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="2.90993" y="2.87087" width="127.896" height="127.896" rx="24.9148" stroke="#202020" stroke-width="4.98295"/>
                        <path d="M69.4767 64.1269H83.1417V70.017H69.4767V85.4996H63.2163V70.017H49.5513V64.1269H63.2163V49.8224H69.4767V64.1269Z" fill="black"/>
                        </svg>
                    </a>
                        Добавить навую статью
                </div>
            </div>
        </div>
    </div>
</div>

<script src='../../../static/mainsite/js/blog/script.js'></script>

{% endblock %}