{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="../../../static/mainsite/css/blog/style.css">

<div class="justify-content-center d-flex" style="max-width: 100em; margin: 0 auto; ">
    <header>
    </header>
    <div class="justify-content-center d-flex w-100" style="margin: 15em 0;">
        <div class="row w-75">
            <div class="col-sm-5 d-flex justify-content-center align-items-center flex-column bg-white card" style="box-shadow: 0 0 1rem rgba(0,0,0,0.5); border-radius: 2rem; height: 45rem">
                <div class="w-75 text-center content-front">
                    <h1>Name</h1>
                    <hr>
                    <div>Some information</div>
                    <div>Some information</div>
                </div>
                <div class="content-back">

                </div>
            </div>
            <div class="col"></div>
            <div class="col-sm-5 justify-content-between bg-white" style="box-shadow: 0 0 1rem rgba(0,0,0,0.5); border-radius: 2rem">
                <div>
                    <div>Name</div>
                    <div>Some information</div>
                    <div>Some information</div>
                </div>
            </div>
            <div class="w-100" style="margin-top: 8rem"></div>
            <div class="col-sm-5 justify-content-between bg-white" style="box-shadow: 0 0 1rem rgba(0,0,0,0.5); border-radius: 2rem; height: 45rem">
                <div>
                    <div>Name</div>
                    <div>Some information</div>
                    <div>Some information</div>
                </div>
            </div>
            <div class="col"></div>
            <div class="col-sm-5 justify-content-between bg-white" style="box-shadow: 0 0 1rem rgba(0,0,0,0.5); border-radius: 2rem">
                <div>
                    <div>Name</div>
                    <div>Some information</div>
                    <div>Some information</div>
                </div>
            </div>
            <div class="w-100" style="margin-top: 8rem"></div>
            <div class="col-sm-5 justify-content-between bg-white" style="box-shadow: 0 0 1rem rgba(0,0,0,0.5); border-radius: 2rem; height: 45rem">
                <div>
                    <div>Name</div>
                    <div>Some information</div>
                    <div>Some information</div>
                </div>
            </div>
            <div class="col"></div>
            <div class="col-sm-5 justify-content-between bg-white" style="box-shadow: 0 0 1rem rgba(0,0,0,0.5); border-radius: 2rem">
                <div>
                    <div>Name</div>
                    <div>Some information</div>
                    <div>Some information</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='../../../static/mainsite/js/blog/script.js'></script>

{% endblock %}