<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add habbit</title>
  <link rel="stylesheet" href="../../../static/mainsite/css/habbit.css ">
  
</head>
<body>
  <header id='header'>
    <div class="header--flex">
      <div class="header--item">
        <div class="header--logo">
          <img src="../../../static/mainsite/images/habbit/bulb.png" class='header--logo-img'alt="">
          <p>Track</p>
        </div>
      </div>
      <div class="header--item ">
        <nav class='header--item-nav'>
          <a href="" class="header--link">Что такое трекер?</a>
          <a href="" class="header--link">Вопрос-ответ</a>
          <a href="" class="header--link">Разработчикам</a>
        </nav>
      </div>
      <div class="header--item">
        <img src="../../../static/mainsite/images/habbit/menu.png" class='header-menu' alt="">
      </div>
    </div>
  </header>
  <section id='addHabbit'>
    <div class="add--habbit--section">
      <a href='mainWindow.html' class='close--btn'><img src="../../../static/mainsite/images/habbit/close.png" alt=""></a>
      <div class="add--habbit-container">
        <div class="add--title">Создание</div>
        <div class="add--habbit--headline">
          <input placeholder='Название привычки'class="add--habbit-title"></input>
          <select class="add--habbit-group"><img src="../../../static/mainsite/images/habbit/flag.png" alt="">
            <option disabled selected>Выберите группу</option>
            <option value="">Работа</option>
            <option value="">Учеба</option>
            <option value="">Саморазвитие</option>
          </select>
        </div>
        <textarea name="" class='add--habbit-descrption' placeholder="Краткое описание привычки" id="" cols="30" rows="10"></textarea>
      </div>
      <a href='mainWindow.html' class='add--habbit-btn'>
        <img src="../../../static/mainsite/images/habbit/check.png" alt="">
        Добавить
      </a>
    </div>
  </section>
</body>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</html>