<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Info habbit</title>
  <link rel="stylesheet" href="../../../static/mainsite/css/habbit.css">
  <script src='' defer></script>
</head>
<body>
  <header id='header'>
    <div class="header--flex">
      <div class="header--item">
        <div class="header--logo">
          <img src="../../../static/mainsite/images/habbit/bulb.png" class='header--logo-img'alt="">
          <p>Track</p>
        </div>
      </div>
      <div class="header--item ">
        <nav class='header--item-nav'>
          <a href="" class="header--link">Что такое трекер?</a>
          <a href="" class="header--link">Вопрос-ответ</a>
          <a href="" class="header--link">Разработчикам</a>
        </nav>
      </div>
      <div class="header--item">
        <img src="../../../static/mainsite/images/habbit/menu.png" class='header-menu' alt="">
      </div>
    </div>
  </header>
  <section id='infoHabbit'>
    <div class="select--habbit--info">
      <a href='mainWindow.html' class='close--btn'><img src="../../../static/mainsite/images/habbit/close.png" alt=""></a>
      <div class="habbit--info-container">
        <div class="habbit--info-group">
          <p class="habbit--info-group-title">Учеба</p>
          <img src="../../../static/mainsite/images/habbit/flag.png" alt="" class="habbit--info-group-logo">
        </div>
        <p class="habbit--info-title">Выучить татарский язык за 30 дней</p>
        <p class="habbit--info-description-txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, qui.</p>
      </div>
      <a href='editHabbit.html' class='habbit--info-edit'>
        <img src="../../../static/mainsite/images/habbit/check.png" alt="">
        Редактировать
      </a>
    </div>
  </section>
</body>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</html>