<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Habbits Registration</title>
  <link rel="stylesheet" href="../../../static/mainsite/css/dist/habbit.css">
  <script src='../../../static/mainsite/js/dist/habbit-auth.js' defer></script>
</head>
<body>
  <header id='header'>
    <div class="header--flex">
      <div class="header--item">
        <div class="header--logo">
          <img src="../../../static/mainsite/images/dist/habbit/bulb.png" class='header--logo-img'alt="">
          <p>Track</p>
        </div>
      </div>
      <div class="header--item ">
        <nav class='header--item-nav'>
          <a href="" class="header--link">Что такое трекер?</a>
          <a href="" class="header--link">Вопрос-ответ</a>
          <a href="" class="header--link">Разработчикам</a>
        </nav>
      </div>
      <div class="header--item">
        <img src="../../../static/mainsite/images/dist/habbit/menu.png" class='header-menu' alt="">
      </div>
    </div>
  </header>
  <div class="registration">
    <div class="registration--block">
      <p class="registration--title">Регистрация</p>
      <form action="">
        <input type="text" placeholder='Имя пользователя' class="registration-input">
        <div class="password--input-wrapper">
          <input type="password" placeholder='Пароль'class="registration-input">
          <button class='show--password'>
            <img src="../../../static/mainsite/images/dist/habbit/ghost-character.png" alt="show password">
          </button>
        </div>
        <div class="password--input-wrapper">
          <input type="password" type="" placeholder='Повторите пароль' class="registration-input">
          <button class='show--password'>
            <img src="../../../static/mainsite/images/dist/habbit/ghost-character.png" alt="show password">
          </button>
        </div>
        <button class="signIn">Зарегистрироваться</button>
      </form>
    </div>
  </div>
</body>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</html>