<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Habbits statistics</title>
  <link rel="stylesheet" href="../../../static/mainsite/css/dist/habbit.css">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src='../../../static/mainsite/js/dist/habbit-main.js' defer></script>
  <script src='../../../static/mainsite/js/dist/chart.js'></script>
</head>
<body>
  <header id='header'>
    <div class="header--flex">
      <div class="header--item">
        <div class="header--logo">
          <img src="../../../static/mainsite/images/dist/habbit/bulb.png" class='header--logo-img'alt="">
          <p>Track</p>
        </div>
      </div>
      <div class="header--item ">
        <nav class='header--item-nav'>
          <a href="" class="header--link">Что такое трекер?</a>
          <a href="" class="header--link">Вопрос-ответ</a>
          <a href="" class="header--link">Разработчикам</a>
        </nav>
      </div>
      <div class="header--item">
        <img src="../../../static/mainsite/images/dist/habbit/menu.png" class='header-menu' alt="">
      </div>
    </div>
  </header>
  <section id='statistics'>
    <div class="habbits--info">
      <a href='mainWindow.html' class="habbits--info-btn" >
        <img src="../../../static/mainsite/images/dist/habbit/calendar-next.png" alt="">
        <p>Треккер привычек</p>
      </a>
      <button class='habbits--list-title habbits--type-list-title' >Мои привычки <img src="../../../static/mainsite/images/dist/habbit/chevron_down.png" alt=""></button>
      <ul  class="habbits--type-list displayNone">
        <li class="habbit--type">Все привычки<span class='habbit--count'>1</span></li>
        <li class="habbit--type">Избранное <span class='habbit--count'>2</span></li>
        <li class="habbit--type">Выполненные привычки<span class='habbit--type-count'>3</span></li>
      </ul>
      <button class='habbits--list-title habbits--type-list-title'>Мои Группы <img src="../../../static/mainsite/images/dist/habbit/chevron_down.png" alt=""></button>
      <ul class="habbits--group-lists displayNone">
          <li class="habbit--group">
            <img src="../../../static/mainsite/images/dist/habbit/GroupLogo.png" alt="">
            Работа
            <span class='habbit--group-count'>1</span>
          </li>
          <li class="habbit--group">
            <img src="../../../static/mainsite/images/dist/habbit/GroupLogo.png"  alt="">
            Учеба
            <span class='habbit--group-count'>1</span>
          </li>
          <li class="habbit--group"> 
            <img src="../../../static/mainsite/images/dist/habbit/GroupLogo.png"  alt="">
            Саморазвитие
            <span class='habbit--group-count'>1</span>
          </li>
      </ul>
      <a href="statistics.html" class="habbits--statistics">Моя статистика</a>
      <a href="authorization.html" class='exit'><img src="../../../static/mainsite/images/dist/habbit/exit.png" alt="">Выйти из приложения</a>
    </div>
    <div class="statistics--wrap">
      <div class="statistics--container">
          <p class="statistics--title">Моя статистика</p>
          <form action="">
            <select name="" id="" class="statistics--config statistics--period">
                <option class='statistics--option' value="title" disabled selected>Период</option>
                <option value="">Статистика за неделю</option>
                <option value="">Статистика за месяц</option>
            </select>
            <select name="" id="" class="statistics--config  statistics--group">
                <option value="title" disabled selected>Группа </option>
                <option value="">Работа</option>
                <option value="">Учеба</option>
                <option value="">Саморазвитие</option>
            </select>
            <select name="" id="" class='statistics--config  statistics--habbit'>
                <option value="title" disabled selected>Привычка </option>
                <option value="">Учить татасркий</option>
                <option value="">Разминка для глаз</option>
                <option value="">Чтение книги</option>
            </select>
            <button class='show--statistics'>Показать</button>
          </form>
        </div>
          <div id="chart_div"></div>
        <div class="statistics--container">
          <p class="statistics--text-title">
            Общая статистика за неделю
          </p>
          <div class="statistics--text-wrap">
            <div class="statistics--text-habbit">
              <p class="statistics--text-habbit-name">Выполненные привычки</p>
              <p class="statistics--text-habbit-count">3</p>
            </div>
            <div class="statistics--text-habbit">
              <p class="statistics--text-habbit-name">Невыполненные привычки</p>
              <p class="statistics--text-habbit-count">4</p>
            </div>
          </div>
        </div>
      </div>
  </section>
</body>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</html>