{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}

<article id="704ec94f-be2c-4b19-9ea8-3c08dbb01361" class="page sans w-75 mx-auto"
         style="margin-top: 2em; font-size: 18px">
    <header>
        <div>
            <a href="{% url 'tree' %}" target="_self" style="color: black; margin-right: 5em"><span
                    class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
            <span class="text-muted">
                <a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
                Заключение
            </span>
        </div>
    </header>
    <div class="page-body text-left w-75 mx-auto">
        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Top Skills</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>19.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
        </div>
        <h1 class="page-title">Заключение</h1>
        <div  spellcheck="true" placeholder="Type '/' for commands" data-root="true"  style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: rgb(55, 53, 47); padding: 3px 2px;"><span style="font-style:italic" data-token-index="0">... Раннее весеннее утро, пишутся эти строки.
Скоро солнце наполнит ярким светом звенящий от тишины воздух и загорится новый день. 
Его сменит вечерняя прохлада, и ночь вновь опустится на остывшую землю.
Потемневший снег растает, наступит жаркое лето.
Деревья расцветут, зазеленеют, а затем пожелтеют до осени и сбросят золотистые листья. 
Придет белоснежная зима.
Но и она растает до чистой, журчащей весны.
Снова наступит раннее весеннее утро. 
И будут писаться новые строки...
          Это все - жизнь.
                   И это все - СЧАСТЬЕ.
                             Меняется только его облик и краски ...</span>
            </div>
        <p id="1d93e9de-119a-4cd5-bd96-12400668f042" style=" text-indent: 20px;"> Дорогой читатель! Все, что имеет начало, имеет и свой конец. Эта вторая притча «О самом главном» завершает наши уроки. Вы помните, первая была в самом начале, во Введении. В этой книге мы пытались говорить о самых важных для человека вещах - как состо­яться в этой жизни и стать счастливым. Мы бы очень хотели, чтобы конец этой книги стал началом вашей новой, более осознанной, более целеустремленной и самое главное - более счастливой жизни. Наде­емся, мы были конкретными и убедительными.</p>
        <p id="57ec9ad1-7e8c-43ef-b3ed-54cc04056054" style=" text-indent: 20px;">Что важно понять еще? Счастье - это не просто ваше особо хорошее состояние.<strong>СЧАСТЬЕ - ЭТО ВЫБОР.</strong>ВЫБОР, КОТОРЫЙ ВЫ ДЕ­ЛАЕТЕ САМИ. Это один из самых главных выводов из этих «Уроков».</p>
        <p id="571a99d2-4488-472a-8e67-cf57e583bbea" style=" text-indent: 20px;"> На пути строительства своей жизни у вас, как у любого другого успешного человека, будет много неудач, ошибок и падений. Как быть? Вот хороший совет, который дал Уинстон Черчилль, бывший лиде­ром Великобритании в страшные годы Второй мировой войны. Уже в конце своей жизни, во время выступления в школе, которую он окон­чил много лет назад, его попросили поделиться с детьми самым глав­ным, чему он научился в жизни. Человек, на долю которого выпали самые тяжелые испытания, ответил: «Уроки своей жизни я могу све­сти к семи словам: НИКОГДА И НИ ЗА ЧТО НЕ СДАВАЙТЕСЬ!».</p>
        <p id="b0f89406-9141-4bfa-bccc-0c73901a4874" style=" text-indent: 20px;"> На пути строительства своей жизни у вас, как у любого другого успешного человека, будет много неудач, ошибок и падений. Как быть? Вот хороший совет, который дал Уинстон Черчилль, бывший лиде­ром Великобритании в страшные годы Второй мировой войны. Уже в конце своей жизни, во время выступления в школе, которую он окон­чил много лет назад, его попросили поделиться с детьми самым глав­ным, чему он научился в жизни. Человек, на долю которого выпали самые тяжелые испытания, ответил: «Уроки своей жизни я могу све­сти к семи словам: НИКОГДА И НИ ЗА ЧТО НЕ СДАВАЙТЕСЬ!».</p>
        <p id="b0f89406-9141-4bfa-bccc-0c73901a4874" style=" text-indent: 650px;"> <strong>
              Р. Киплинг
        </strong> </p>
        <p id="b0f89406-9141-4bfa-bccc-0c73901a4874" style=" text-indent: 400px; font-size: 35px;"> <strong>
            Если 
        </strong> </p>
        <div  spellcheck="true" placeholder=" " data-root="true" style="max-width: 100%; width: 100%;
         white-space: pre-wrap; word-break: break-word; caret-color: rgb(55, 53, 47); padding: 3px 2px;">
О, если ты спокоен, не растерян,
Когда теряют головы вокруг,
И если ты себе остался верен,
Когда в тебя не верит лучший друг,
И если ждать умеешь без волненья,
Не станешь ложью отвечать на ложь,
Не будешь злобен, став для всех мишенью,
Но и святым себя не назовешь,
И если ты своей владеешь страстью,
А не тобою властвует она,
И будешь тверд в удаче и в несчастье,
Которым в сущности цена одна,
И если ты готов к тому, что слово 
Твое в ловушку превращает плут,
И, потерпев крушенье, сможешь снова
Без прежних сил - возобновить свой труд,
И если ты способен все, что стало 
Тебе привычным, выложить на стол,
Все проиграть и все начать сначала,
Не пожалев того, что приобрел,
И если можешь сердце, нервы, жилы 
Так завести, чтобы вперед нестись,
Когда с годами изменяют силы
И только воля говорит: «держись!»
И если можешь быть в толпе собою, 
При короле с народом связь хранить
И, уважая мнение любое,
Главы перед молвою не клонить,
И если будешь мерить расстоянье
Секундами, пускаясь в дальний бег,
Земля - твое, мой мальчик, достоянье.
И более того, ты - человек!
        </div>
        <p id="b0f89406-9141-4bfa-bccc-0c73901a4874" style=" text-indent: 450px;"> Перевод  <strong>
              С. Маршака
        </strong> </p>
        <p style="text-indent: 150px;">
            <strong> И самое последнее, запомните: МЫ СИЛЬНЕЕ, ЧЕМ ДУМАЕМ. </strong>
       </p>
        
        <hr id="ddf85d1a-b04f-481d-acfa-6c1e408c9afe"/>
        <p id="a9c11d2f-d8ea-47c6-b267-1612d53cff58" style="text-align: center;">
                            РАСПАХНИ СВОИ КРЫЛЬЯ, ТРУДИСЬ НЕУСТАННО. 
                        <br>И ТЕБЕ ПОКОРЯТСЯ ЛЮБЫЕ ВЫСОТЫ И РАССТОЯНИЯ
        </p>
        <hr id="77cd97a3-2cf9-4bab-94b6-043b8acff650"/>
        <a style="display: grid;justify-content: center;">
            <img src="{% static "mainsite/finish.png" %}" alt="2">
        </a>
        <br>
     <p style=" text-indent: 270px; font-size: 35px;"> <strong>
            В ДОБРЫЙ ПУТЬ!
        </strong> </p>
</article>

{% endblock %}
 