{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}

<article id="1f6183c8-b39a-4831-a5fd-52f81f49faf7" class="page sans w-75 mx-auto"
         style="margin-top: 2em; font-size: 18px">
    <header>
        <div>
            <a href="{% url 'third' %}" target="_self" style="color: black; margin-right: 5em"><span
                    class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
            <span class="text-muted">
				<a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
				<a href="{% url 'third' %}" target="_self" class="text-muted">Здоровье</a> >
				Движение и закаливание
			</span>
        </div>
    </header>
    <div class="page-body text-left w-75 mx-auto">
        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Top Skills</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>19.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
        </div>
        <h1 class="page-title">Урок 3: Движение и закаливание </h1>
        <p id="db90d75e-0c7e-4f85-9e4e-9d06fb7cf487" class=""> Человечество давно знает о великой пользе движения,
            неспроста с древних времен до нас дошла пословица: <strong>«хочешь быть здоровым — бегай, хочешь быть умным
                — бегай, хочешь быть красивым — бегай!».</strong> Тем не менее, современная реальность такова, что
            большинство занятий и профессий подразумевают сидячий образ жизни, а передвигаются все в основном на
            транспорте. В итоге целый день мы сидим: в школе на уроках, в университете на парах, в офисе за компьютером,
            по дороге в автобусе, дома за уроками или на диване перед телевизором. Даже в свободное время мы сидим - в
            кафе с друзьями или в кинотеатре.</p>
        <p id="7358de74-ee76-40e9-9553-1f65b48514e2" class=""> Все знают, что мышцы обеспечивают нас силой. Но мало кто
            знает, что мышцы - это важнейший элемент в обмене веществ, мощнейшая биохимическая фабрика организма, в
            которой сгорают все шлаки и ненужные накопления. Именно мышцы потребляют излишки сахара и жира, предотвращая
            появление диабета и атеросклероза. Современные исследования надежно показали, что недостаточная физическая
            активность является одной из основных причин болезней цивилизации: ожирения, склероза сосудов и диабета.
            Кроме этого, мышцы являются конечным звеном нашей нервной системы. Стрессы и нервные напряжения неизбежно
            приводят к спазму сосудов и мышц. Поэтому интенсивная физическая нагрузка, в результате которой кровь за
            счет работы мышц активно прокачивается по сосудистой системе, - универсальное средство для снятия стресса.
            Хорошая тренировка буквально смывает из организма все остатки нервного напряжения. Чтобы мышцы выполняли эти
            функции хорошо, им просто необходимы регулярные нагрузки.</p>
        <p id="31f3933e-a804-4703-9541-76270c31b77e" class=""> Как это сделать в реальной жизни? В условиях переизбытка
            благ цивилизации и хронического недостатка времени? На самом деле, это достаточно просто. <strong>Надо
                максимально насытить движением свою повседневную жизнь.</strong> Каким образом? До школы 20 минут, и вы
            едете на транспорте? Зачем? Ходите пешком! А чтобы время использовалось еще более эффективно - учите по
            дороге английский язык, мы говорили об этом во второй четверти. Поднимайтесь на свой пятый этаж по лестнице.
            Вы живете на третьем? Еще лучше: поднимитесь на пятый и затем спуститесь на третий. Хорошо, вы живете на 15
            этаже. Кто мешает подняться на пятый и вызвать лифт оттуда? Или, если вы уж никак не можете без лифта, можно
            и там хорошо подвигаться. Например, пока поднимаетесь или опускаетесь, можно делать плавные наклоны головы
            влево-вправо и вперед-назад. Великолепные упражнения для предотвращения распространенного у много сидящих
            школьников шейного остеохондроза. Только делайте движения плавно и постепенно увеличивайте амплитуду. В
            лифте много людей и вам неудобно? Хорошо, опустите голову и часто-часто поморгайте. Это прекрасное
            упражнение для сохранения зрения у много читающих школьников. Как вы одеваете обувь? Сидя? А зачем? Одевайте
            ботинки и завязывайте шнурки стоя. Это не только укрепит практически все ваши мышцы, но прекрасно тренирует
            вестибулярный аппарат. Пустяк? Давайте посчитаем. В среднем четыре переобувания в день по одной минуте. В
            год это более 20 часов хорошей комплексной нагрузки. Неплохо? После каждого длительного сидения в течение 30
            или более минут обязательно хотя бы пройдитесь пешком. Если есть возможность, сделайте небольшую разминку:
            наклоны и вращения туловища, наклоны и вращения шеи, приседания и т.д. Это разгонит застоявшуюся кровь и
            напитает все ваши клетки кислородом.</p>
        <p id="c5290ff4-0cc9-4b5d-81e1-b3418f0b30bc" class=""> Более того, даже такие простые ежедневные действия, как
            ходьба или подъем по лестнице, вполне можно превратить в эффективные тренировки. Существует техника под
            названием BURST (Build Up Rapid Stamina Training), или «занятия по быстрому повышению жизненных сил». Ее
            суть заключается в чередовании более продолжительных периодов умеренной нагрузки (3-5 минут спокойной
            ходьбы) с кратковременными периодами «взрывной» активности (30 - 60 секунд максимально быстрой ходьбы).
            Физиологическая основа этой техники состоит в том, что за миллионы лет человеческий организм генетически
            практически не изменился. Это значит, что оптимальные для нас режимы физических нагрузок схожи с теми,
            которые человек испытывал на протяжении тысячелетий - вспышки энергичной деятельности, чередующиеся с более
            плавными периодами (как во время охоты или побега от опасности). Действительно, последние исследования
            подтвердили, что эта техника дает еще больший эффект, чем ставшие привычными длительные и плавные аэробные
            нагрузки (например, великолепно зарекомендовавший себя бег трусцой). Техника BURST (кстати, в английском
            языке есть такое же слово и переводится оно как «вспышка») обеспечивает организму лучший кислородный обмен,
            более эффективное сжигание жиров, более интенсивное кровообращение и еще лучше налаживает гормональный фон,
            чем обычная прогулка или пробежка.</p>
        <p id="34222dce-b402-4f3f-9f9f-d4a9ec43591b" class="">
            <mark class="highlight-red">ДВИЖЕНИЕ - ЭТО ЖИЗНЬ. МАКСИМАЛЬНО ВКЛЮЧАЙТЕ ЕГО В ВАШУ ПОВСЕДНЕВНУЮ
                ДЕЯТЕЛЬНОСТЬ. ВАРИАНТОВ - МИЛЛИОН!
            </mark>
        </p>
        <p id="bfe342ea-8468-4be6-8753-52b32504586e" class="">
        </p>

        <a>
            <img style="width:545px"
                 src="https://media.discordapp.net/attachments/745700277004402832/756907178094231672/Untitled.png"/>
        </a>

        <p id="5f32c8c8-3b64-48e0-83e0-a7c3e022ed1d" class=""> Используя этот подход во время ходьбы или подъема по
            лестнице, вы, не выделяя никакого дополнительного времени на тренировки, всего лишь за 15-20 минут в день
            обеспечите себе эффективную физическую нагрузку.</p>
        <p id="898f006b-5c70-4fd4-a459-ac15f1405771" class=""> Можно придумать много еще чего. Перекладина на детской
            площадке. Два раза в день подтягиваемся: по дороге в школу и домой. Футбол на перемене. Зимой - снежки. Плюс
            десятиминутная зарядка с утра, на которую всегда можно найти время. Эти на вид маленькие изменения в сумме
            могут существенно повысить вашу дневную активность. Таким образом, что бы вы ни делали, выбирайте активные
            альтернативы пассивной деятельности.</p>
        <p id="a93c2906-6242-417d-a23f-e724c2705130" class=""> Надеемся, вы убедились, что существует огромное
            количество способов насытить свою жизнь движением, было бы только желание. И что это можно сделать без
            дополнительных затрат времени. Разумеется, будет просто замечательно, если вы при этом будете еще заниматься
            каким-либо видом спорта. Вот несколько веских причин для этого.</p>
        <ul id="90c63b48-45b3-4fac-9ddb-fae05cd6e65d" class="bulleted-list">
            <li>Эндорфины. Это гормоны, которые организм вырабатывает во время интенсивных физических нагрузок. Они дают
                нам ощущение радости, легкости и энергии, поэтому их еще называют гормонами счастья. Наукой давно
                доказано, что физическая активность самым положительным образом влияет на все показатели как
                физического, так и психологического здоровья человека.
            </li>
        </ul>
        <ul id="ba2ee4ec-5b03-4939-81d0-26af508a8f72" class="bulleted-list">
            <li>Подтянутое, красивое, сильное тело.</li>
        </ul>
        <ul id="f8933c96-4af1-4668-9595-2342caf145c8" class="bulleted-list">
            <li>Закалка характера. Действительно, занимаясь спортом, мы тренируем не только тело, но и характер, учимся
                преодолевать себя и свои слабости. Почитайте ради интереса биографии известных успешных людей в любой
                сфере. Практически ни одна не обойдется без регулярных занятий спортом, это уже о чем-то говорит.
            </li>
        </ul>
        <ul id="48599558-0aa8-4e2f-9d92-70f36dbe0035" class="bulleted-list">
            <li>Отличная профилактика множества заболеваний (опорно-двигательного аппарата, сердечно-сосудистой системы
                и т.д.).
            </li>
        </ul>
        <p id="d7eb073e-189f-4476-8c5a-db763b0e6c53" class=""> Посмотрите видео «No Excuses» («Никаких оправданий»).
            Этот ролик как раз о том, что при желании можно придумать тысячу причин, чтобы не заниматься спортом. Важно,
            не давать себе поблажки, не поддаваться лени, потому что найти время, силы и желание можно всегда. Герой
            ролика - яркий тому пример, вы сами поймете, почему.</p>
        <div style="margin-bottom: 2rem; height: 22rem" class="d-inline-flex mt-4">
            <iframe class="h-100 w-75 mr-5" src="https://www.youtube.com/embed/tvrlJT5KuGc" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <p id="69e5ce4c-b28e-4fa2-b9f3-848a9f2b3155" class=""> Идеальная программа физической активности - сочетание
            аэробных упражнений (ходьба, бег, плавание, лыжи и т.д.) и силовых нагрузок (с собственным весом или с
            утяжелением). Аэробная активность разгоняет кровь, улучшает кислородный обмен, укрепляет сердечно-сосудистую
            систему, в то время как силовые нагрузки поддерживают тонус мышц, суставы и, при желании, помогают нарастить
            дополнительную мышечную массу.</p>
        <p id="3a88ad8b-d393-431f-9ffb-7702330ddf20" class=""> К сожалению, часто люди с большим энтузиазмом начинают
            новые дела. Но со временем, когда первоначальная мотивация пропадает, их забрасывают. Об этом мы уже много
            говорили. Занятия спортом не исключение. Чтобы такого не произошло с вами, важно следующее:</p>
        <ul id="c89fe0ba-e198-4608-a195-5808e72238ca" class="bulleted-list">
            <li>найти «свой» вид спорта. Кому-то нравятся групповые виды спорта, когда помимо самой игры вы еще
                общаетесь, у вас есть команда. Для кого-то больше подходят индивидуальные занятия - плавание, бег,
                сноуборд, йога, борьба и т.д. Кто-то предпочитает заниматься дома, кто-то в зале. Пробуйте разное, пока
                не найдете наиболее приятный и комфортный для себя формат занятий. Возможно, это будет комбинация
                разного - игра в футбол по выходным плюс индивидуальные силовые занятия в течение недели, йога дома и
                танцевальные классы в студии, сноуборд зимой и вейкборд летом;
            </li>
        </ul>
        <ul id="8c5cd298-2635-4f8f-99c6-0c9f41847414" class="bulleted-list">
            <li>найдите себе напарника или команду, другие люди будут вас приободрять в дни, когда не будет настроения
                заниматься;
            </li>
        </ul>
        <ul id="e8ed4c30-91a3-4f60-9589-faf049623e42" class="bulleted-list">
            <li>занимайтесь регулярно. При регулярных занятиях вы неизбежно начнете видеть свой прогресс, он и будет
                служить мотивацией для дальнейших тренировок, пока они не станут привычкой;
            </li>
        </ul>
        <ul id="267bf86b-55f1-4cb3-90f5-d08655955ae5" class="bulleted-list">
            <li>преодолевайте собственную лень. Безусловно, будут объективные причины пропускать занятия спортом
                (заболели или подготовка к экзамену), однако если это просто лень - гоните ее в шею;
            </li>
        </ul>
        <ul id="ed9c768a-9d86-4b14-92f8-36593763e6c2" class="bulleted-list">
            <li>не перебарщивайте, помните про правило постепенности и меры. Чрезмерные физические нагрузки также
                вредны, как и их отсутствие.
            </li>
        </ul>
        <p id="200a5aa3-f3c8-42da-be60-8a5038dda2bf" class=""> И еще, старайтесь по возможности двигаться на свежем
            воздухе. Движение само по себе замечательно, но движение на свежем воздухе особенно целебно и полезно. Наше
            самочувствие критически зависит от качества воздуха, которым мы дышим. Кроме этого, мы, как все живое на
            Земле, зависим и от солнечного света. Старайтесь, особенно зимой, когда световой день короткий, чаще бывать
            на улице днем. Идеальное сочетание - зимний лес. Поэтому при первой возможности - за город. Летом - на
            пробежку, зимой на лыжи. Пара часов физической активности на природе в выходные наполнят вас энергией на всю
            рабочую неделю.</p>
        <p id="cfcf8c05-53fa-4c87-b4c2-ed4ff72caf8f" class=""> Движение, спорт - мощнейший природный стимулятор. Они
            могут бодрить лучше кофе, молодить лучше всяких процедур, лечить лучше лекарств и быть источником огромной
            радости и жизненной энергии. Если вы еще не открыли для себя эту простую «магию», то мы совершенно искренне
            говорим - вы реально многое теряете.</p>
        <p id="98e8cbd7-911c-4eb5-bd54-2bdbb5253420" class=""> Отличным дополнением к физической активности является
            закаливание. О его пользе и целительной силе также известно давно. Например, яркое свидетельство о
            закаливании в Древней Руси приведено в романе В. Яна «Батый»:</p>
        <p id="86dedb9b-8df3-4980-988e-cb16693f2107" class=""><em>Зимой 1237 года Бату-хан с передовой тысячей воинов
            доскакал до Москвы. С крутого, поросшего старым сосновым лесом берега была видна изогнувшаяся подо льдом
            широкая река. На другом берегу, на холме, виднелся небольшой деревянный городок, опоясанный бревенчатыми
            стенами. Черные маленькие срубы, из которых валил густой пар, выстроились вдоль реки. Голые люди выскакивали
            оттуда, бежали к проруби, окунались с головой в ледяную воду и стремглав возвращались обратно. Бату-хан
            указал плетью на срубы: - Что делают эти безумцы? - Эти домики называются «мыльни», - объяснил толмач. - Там
            жители Москвы бьют себя березовыми вениками, моются горячей водой и квасом, затем окунаются в проруби. Это
            очень полезно. Оттого они такие сильные...</em></p>
        <p id="bfbafb87-456f-48e5-a78d-8ee91548f14f" class=""> Что же такое закаливание? Это комплексные
            профилактические действия, направленные на повышение сопротивляемости организма к неблагоприятным условиям
            окружающей среды (жара, холод, ветер и т.д.). Принято считать, что наш организм от природы обладает этими
            способностями. Однако, привыкая к повышенному комфорту современного мира, мы ослабляем их, и они
            атрофируются.</p>
        <p id="31fca4dc-547f-4f8b-ad62-ac12ef5e0ab4" class=""> В результате современные люди легко заболевают от
            небольшого сквозняка или промокнув под дождем. Ученые сходятся во мнении, что регулярное закаливание
            существенно повышает иммунитет человека, его способность сопротивляться инфекциям, воспалительным реакциям,
            аллергиям, успокаивает и приводит в равновесие нервную систему, повышает активность и уровень энергии
            человека.</p>
        <p id="ef2f064e-374b-49c3-af01-00aaa4d5aea2" class=""> Как правильно закаливаться? Сложно ли это? Существует
            множество видов и техник закаливания, которые можно разделить на несколько групп в зависимости от средства
            воздействия на организм:</p>
        <ul id="64bdf671-bf7a-4b1e-9b26-ef9d41ef2892" class="bulleted-list">
            <li>закаливание воздухом - принятие воздушных ванн, долгие прогулки легко одетым на свежем воздухе
                (желательно в парке, в лесу, возле водоемов);
            </li>
        </ul>
        <ul id="5116460e-3b67-47c1-8cda-1412ec0679a4" class="bulleted-list">
            <li>закаливание солнцем - воздействие на организм умеренным солнечным светом и теплом (солнечные ванны).
                Однако к этому методу необходимо относиться с осторожностью. Исследования показывают, что длительное
                пребывание на ярком солнце может принести большой вред;
            </li>
        </ul>
        <ul id="f5babd6e-d2da-4fde-a8e0-ca8d6704be26" class="bulleted-list">
            <li>закаливание водой - один из самых популярных видов закаливания, к которому относятся обтирания,
                обливания, душ (холодный и контрастный), купание и моржевание;
            </li>
        </ul>
        <ul id="f95e7393-8068-4396-bf3e-89b6156edc15" class="bulleted-list">
            <li>хождение босиком считается особенно полезным методом закаливания, так как является хорошей гимнастикой
                для сосудов ног и рефлекторно влияет на деятельность сосудов верхних дыхательных путей.
            </li>
        </ul>
        <p id="60e09b73-9cc5-41fb-a353-f99072a8d7c1" class=""> В любом виде закаливания крайне важно соблюдать несколько
            основных принципов:</p>
        <ul id="2d58e5cf-3090-4cfb-948d-193d488a29d0" class="bulleted-list">
            <li>начинать процедуры необходимо, когда человек полностью здоров;</li>
        </ul>
        <ul id="1c10270e-781a-4831-b951-31a101039d29" class="bulleted-list">
            <li>обязательно соблюдать принцип постепенности;</li>
        </ul>
        <ul id="7dd373b6-c3f8-4912-943c-46fe4c9414d9" class="bulleted-list">
            <li>проводить процедуры регулярно и не допускать больших перерывов;</li>
        </ul>
        <ul id="3c09d5c3-6c02-4ae6-af6a-348c6bde56ce" class="bulleted-list">
            <li>закаливание должно приносить удовольствие и бодрость. Если же вы чувствуете себя неважно в результате
                процедур, их необходимо прекратить.
            </li>
        </ul>
        <p id="68d142c8-0fdc-4e12-b8e2-c8be23525aac" class=""> Как правило, знакомство с закаливанием начинается именно
            с водных процедур, так как они всегда доступны и легко дозируемы. Для соблюдения принципа постепенности
            можно использовать местное закаливание, например, так называемое «замораживание стоп». Проводится оно
            просто. Подставьте под максимально холодную воду одну ступню и подержите до ощущения «ломоты в костях».
            Затем нужно насухо вытереть ее полотенцем, а после - растереть руками, пока она не станет горячей. Затем
            оденьте теплый носок и повторите то же самое с другой ступней. Если эту процедуру делать на ночь, после
            этого вы будете спать сном младенца. Попробуйте!</p>
        <p id="683c8478-11c2-477c-af79-2edd69a60e0d" class=""> Универсальный и самый простой способ закаливания - не
            кутаться! Одеваться, назовем так, по «принципу минус один». Летом вместо рубашки - легкая футболка, осенью
            вместо пальто - легкая куртка, зимой вместо шубы - пальто и т.д., т.е. в каждый сезон одеваться немного
            легче того, к чему привыкли. Если будет прохладно - всегда можно согреться быстрым движением, например с
            помощью техники BURST, о которой мы писали ранее. И польза будет двойная.</p>
        <p id="4a835542-0b24-415f-8c95-69db696f3616" class=""> В целом, выбор типа закаливания зависит от индивидуальных
            особенностей человека. Но закаливаться нужно обязательно. Если вы еще в раздумьях относительно того, что
            выбрать, ознакомитесь со списком литературы на эту тему в разделе «полезные материалы».</p>
        <p id="9d59d5c0-5a6b-455f-bef6-5eb17255c1f5" class=""> В XXI веке человечество действительно «поумнело». Все
            большее число людей осознает, что цивилизация несет не только благо. Что для полноценной жизни необходимо
            вспомнить и следовать своей первозданной биологической природе: больше двигаться, меньше кутаться, питаться
            более естественной пищей. Сейчас действительно стало «модно» быть стройным, подтянутым, полным сил и
            энергии. Присоединяйтесь!</p>
        <hr id="21afb6cb-577f-4e75-b80f-ecbc0bff8b2e"/>
        <p id="63456279-1d70-411d-a202-ea5ec3ea6d69" class="">
            <mark class="highlight-orange">ПОЛЕЗНЫЕ МАТЕРИАЛЫ</mark>
        </p>
        <hr id="8f7d8ffc-4e56-4795-9d46-5bd0589ee08f"/>
        <ol id="83660e0c-28d4-4f61-8550-a42226be86fb" class="numbered-list" start="1">
            <li><a href="http://yablyk.com/032115-sravnenie-6-luchshix-prilozhenij-shagomerov-dlya-iphone/">http://yablyk.com/032115-sravnenie-6-luchshix-prilozhenij-shagomerov-dlya-iphone/</a>
                - подборка приложений «шагомер» для iPhone.
            </li>
        </ol>
        <ol id="875baf46-8f95-40bf-a6fe-a29aa409c973" class="numbered-list" start="2">
            <li><a href="http://top-android.org/programs/2372/">http://top-android.org/programs/2372/</a> - приложение
                «шагомер» для Android.
            </li>
        </ol>
        <ol id="7452a2ea-262e-4e4a-8411-cf9f0806e97d" class="numbered-list" start="3">
            <li><a href="http://macradar.ru/software/luchshie-fitnes-prilozheniya-dlya-ios-%202014-goda/">http://macradar.ru/software/luchshie-fitnes-prilozheniya-dlya-ios-
                2014-goda/</a> - статья о полезных фитнес-приложениях для iPhone.
            </li>
        </ol>
        <ol id="3e924bd9-78c5-47bc-87c6-63e24044a876" class="numbered-list" start="4">
            <li><a href="http://www.youtube.com/user/TaraStilesYoga">http://www.youtube.com/user/TaraStilesYoga</a> -
                канал youtube известного американского инструктора йоги Тары Стайлс, коллекция видеозанятий по йоге.
            </li>
        </ol>
        <p id="f99420b2-b455-41ac-b025-c1cc7f7cfddb" class="">Книги:</p>
        <ol id="7b1c5ed8-8e1d-4678-84be-1d1ef062f16f" class="numbered-list" start="1">
            <li>Том Рат «Ешь, двигайся, спи».</li>
        </ol>
        <ol id="3ee88607-6580-4173-ba52-50f6ed5bea6a" class="numbered-list" start="2">
            <li>Денис Семенихин «Фитнес. Гид по жизни».</li>
        </ol>
        <ol id="7fe95288-39ab-4e47-928c-f2661ceead3a" class="numbered-list" start="3">
            <li>Боб Андерсон «Растяжка для каждого».</li>
        </ol>
        <ol id="f76cf5c6-6873-4b4c-96f1-ffe8cd1e18c3" class="numbered-list" start="4">
            <li>Г.П. Малахов «Закаливание и водолечение».</li>
        </ol>
        <ol id="e9849af9-795d-42e9-8214-e5cce3423664" class="numbered-list" start="5">
            <li>Т.А. Гончарова «Полная энциклопедия закаливания».</li>
        </ol>
        <ol id="cf51f6a7-259f-4ea3-8d6f-a64d65b7ef64" class="numbered-list" start="6">
            <li>А.Н. Колгушкин «Закаливание».</li>
        </ol>
        <hr id="a12e0499-2b8c-4839-89bb-f92fd8ae2e8b"/>
        <p id="0003b93f-4481-4932-b19e-6f7fe75fae96" class="">
            <mark class="highlight-blue">РЕЗЮМЕ УРОКА</mark>
        </p>
        <hr id="770cf7e5-5681-4049-8fae-d1c213e55128"/>
        <ul id="d43d740e-ad24-4c81-8b23-75330d3b7cea" class="bulleted-list">
            <li>Регулярные физические нагрузки - обязательное условие крепкого здоровья, хорошего тонуса и прекрасного
                внешнего вида.
            </li>
        </ul>
        <ul id="0532c4a7-0bf0-488b-a2eb-83f90a770380" class="bulleted-list">
            <li>Встройте движения в свою повседневную жизнь. Активные альтернативы пассивным действиям - лестница вместо
                лифта, ходьба вместо транспорта и т.д. Это позволит вам насытить движением вашу жизнь даже без
                специальных занятий спортом. Заведите шагомер и следите за уровнем своей активности. Доказано, что люди
                с шагомером ходят в среднем на 20% больше.
            </li>
        </ul>
        <ul id="a211dae0-f1b7-4dcf-8178-d1dfe28ec930" class="bulleted-list">
            <li>Займитесь спортом. Оптимальный вариант - сочетание умеренных силовых нагрузок для тренировки мышц и
                суставов с аэробным движением для сердечно-сосудистой системы.
            </li>
        </ul>
        <ul id="ad5aa7a2-02b2-40dd-8f60-5537c07420f5" class="bulleted-list">
            <li>Закаливайтесь! Ваши помощники - воздух, солнце и вода.</li>
        </ul>
       
        <span style="border-bottom: 3px solid blue" class="pb-4">
			<a href="{% url 'third_chapters_MovementandHardening_task' %}" class="d-inline-flex text-decoration-none">
				<h3 style="color: black;">Перейти к домашнему заданию</h3>
			</a>
			<span class="oi oi-arrow-right ml-2" style="font-size: 2rem"></span>
		</span>
    </div>
    <a href="#"><span class="oi oi-arrow-top float-right rounded-circle py-3 px-4"
                      style="color: black; border: 3px solid black; font-size: 2.5rem"></span></a>
    <div class="mt-5 w-100 justify-content-center d-inline-flex">
        <img src='{% static "img/images_for_tree/Yoga.svg" %}' alt="" class="rectang"/>
    </div>
</article>


{% endblock %}
