{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}

<article id="1f6183c8-b39a-4831-a5fd-52f81f49faf7" class="page sans w-75 mx-auto"
         style="margin-top: 2em; font-size: 18px">
    <header>
        <div>
            <a href="{% url 'third' %}" target="_self" style="color: black; margin-right: 5em"><span
                    class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
            <span class="text-muted">
				<a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
				<a href="{% url 'third' %}" target="_self" class="text-muted">Здоровье</a> >
				Здоровый сон
			</span>
        </div>
    </header>
    <div class="page-body text-left w-75 mx-auto">
        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Top Skills</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>19.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
        </div>
        <h1 class="page-title">Урок 1: Здоровый сон</h1>
        <p id="291a3078-ad33-46d2-a1eb-fbd672670c48" class=""> Народная мудрость гласит: «сон - лучше всякого
            лекарства». Более того, здоровый сон не только лекарство, но и лучшая профилактика от недугов. Основная
            задача сна - обеспечить организм достаточным отдыхом и восстановить силы для нового активного дня. Теперь
            вопрос - как организовать свой сон так, чтобы эта задача всегда выполнялась?</p>
        <p id="3be2e989-fd2f-4ea1-9ffa-695cccc5f691" class=""> Для этого необходимо выполнять следующие условия:</p>
        <ol id="c5f70cf6-08e3-418b-a275-bedbf297377e" class="numbered-list" start="1">
            <li>спать достаточно;</li>
        </ol>
        <ol id="2bd192fd-82e5-4cab-bcfe-be95aae5706f" class="numbered-list" start="2">
            <li>соблюдать естественный режим сна;</li>
        </ol>
        <ol id="06c72950-c1eb-45ae-b288-8a9535f7b461" class="numbered-list" start="3">
            <li>добиваться качественного сна.</li>
        </ol>
        <p id="18dfdb64-acc5-4307-bd65-6fb75fb0e5fd" class=""> Теперь, давайте разбираться по порядку. Условие первое -
            достаточно спать. Что это значит? Наверное, все слышали афоризм: <em>«кто рано ложится и рано встает -
                жаворонок, кто поздно ложится и поздно встает - сова, а кто поздно ложится и рано встает - angry
                bird».</em> Недосып не просто делает нас раздражительными, мы становимся более подвержены стрессам,
            имеем меньше сил, теряем внимание и концентрацию, в целом функционируем ниже своего потенциала.
            Продолжительные же периоды недосыпов чреваты и долгосрочными последствиями: снижением иммунитета,
            переутомлением, психическими расстройствами, беспокойством и ухудшением внешнего вида. Некоторые современные
            исследования даже связывают недостаток сна с набором лишнего веса! То же самое касается и обратного -
            чрезмерного сна. Когда вы спите слишком долго, скорее всего, чувствуете себя вяло и лениво. Последние
            исследования также показывают, что люди, которые много спят, в среднем живут меньше.</p>
        <p id="12856990-3e54-4e74-809c-dd12d8e09014" class=""> Тогда напрашивается вопрос - сколько это достаточно?
            Большинство ученых придерживаются мнения, что молодой организм должен спать около 8-9 часов, а взрослый чуть
            меньше - порядка 7-8 часов. Но конкретного ответа вам не даст никто - все индивидуально. Поэтому, почему бы
            вам не понаблюдать за собой и не выяснить, сколько именно часов сна вам необходимо, чтобы чувствовать себя
            бодро в течение всего последующего дня? Более того, скорее всего это количество будет варьироваться в
            зависимости от активности в течение дня. Если день был особо изнурительным, скорее всего вам будет
            необходимо чуть больше вашей нормы, чтобы полностью восстановиться. И наоборот, если день расслабленный, то
            и сна скорее всего нужно меньше. Зная свою норму сна, вы всегда сможете спланировать адекватный отдых.
            <strong>Правило простое — спать нужно столько, чтобы высыпаться. Сэкономив на сне полчаса и не выспавшись,
                вы затем потеряете весь день.</strong></p>
        <p id="77dab0ca-643e-4ead-9f5e-c3175f05b8ff" class=""> Условие второе - естественный режим сна. На этот счет
            существует множество различных мнений. Кто-то пропагандирует пользу полифазного сна, когда человек спит по
            несколько часов в течение суток. Некоторые придерживаются мнения, что люди делятся на сов и жаворонков и в
            зависимости от этого должны спать в разное время суток. Мы же убеждены, что биологически все люди схожи и
            самой природой продиктовано правило засыпать с наступлением темноты и пробуждаться с рассветом.
            Действительно, еще несколько веков назад, до открытия электричества и изобретения искусственного освещения,
            у людей просто не было иного выбора, как следовать такому режиму.</p>
        <p id="091a3ef4-0aa4-46cb-8278-4afea73ec175" class=""> Отсюда логический вывод, естественный и оптимальный для
            человека режим - рано ложиться и рано вставать. Не зря же старая народная мудрость гласит: «кто рано встает
            - тому бог подает». То же самое подтверждается и научными экспериментами, которые показали, что один час сна
            до полуночи по качеству и пользе равноценен двум часам сна после 12 ночи. Получается, что период для сна,
            рекомендованный нам самой природой, колеблется в промежутке 22:00 - 6:00 (темное время суток).
            Соответственно, где-то вокруг этих значений и есть лучшее время для ночного отдыха.</p>
        <p id="c785995f-804a-47ec-9621-a2eb66b064d1" class="">
            <mark class="highlight-red">РАНО ЛОЖИТЬСЯ И РАНО ВСТАВАТЬ - УМНЫМ, ЗДОРОВЫМ, КРАСИВЫМ СТАТЬ.</mark>
        </p>
        <p id="d7fb05c5-85ee-4381-a400-872aa417fca3" class="">
            <mark class="highlight-red">Народная мудрость</mark>
        </p>
        <p id="515c1d81-01f5-45e6-82c4-b29dc9044844" class="">
        </p>
        <a>
            <img style="width:553px"
                 src="https://media.discordapp.net/attachments/745700277004402832/756904657653334067/Untitled.png"/>
        </a>
        <p id="2b606a88-acb3-4093-9b25-24a6419fb7cf" class=""> Большинство людей не любят вставать рано по одной простой
            причине. При раннем подъёме они чувствуют себя уставшими и разбитыми. А все потому, что они поздно ложатся.
            Но природу не обманешь. Как ни крути, всем нужно отводить свое оптимальное количество времени на сон, иначе
            станешь angry bird.</p>
        <p id="2d725c32-025b-4fbc-b17b-9c1c044212d5" class=""> Проблема в том, что мы зачастую становимся жертвами
            замкнутого круга, сидим до поздна и не высыпаемся, чувствуем себя вялыми в течение дня и больше времени
            тратим на свои дела, вечером доделываем то, что не успели сделать днем, и опять ложимся поздно. Вам может
            казаться, что ночью нас никто не отвлекает, и вы успеваете сделать больше. Все то же самое и с намного
            большей продуктивностью можно сделать и рано утром! Поэтому засиживаться до ночи - просто дурная привычка.
            Но хорошая новость в том, что ее можно исправить!</p>
        <p id="11b9c2ea-4bfd-4a27-8a8b-ee3434acaf1c" class=""> Как выбраться из замкнутого круга? Как научить себя не
            просто рано вставать, а вставать рано бодрым и отдохнувшим? Просто, следуя следующим шагам:</p>
        <ol id="49070b53-4eb9-43b0-b27d-32c3b1bd0a17" class="numbered-list" start="1">
            <li>зафиксируйте одно и то же оптимальное для себя время подъёма рано утром (в зависимости от вашей
                деятельности - начало учебы, работы, дела);
            </li>
        </ol>
        <ol id="60591d5d-b459-4e58-a903-0133f6d10daf" class="numbered-list" start="2">
            <li>вставайте в это время каждый день, включая выходные. Поначалу, в некоторые дни вы, возможно, будете
                чувствовать усталость, но нужно немного потерпеть, пока ваш организм не перестроится на новый режим;
            </li>
        </ol>
        <ol id="909cede2-39b2-4e77-a2aa-66c9993d84e8" class="numbered-list" start="3">
            <li>вставайте моментально! Чем дольше вы валяетесь в кровати, тем дольше будете потом «разгоняться».
                Поставьте будильник погромче и подальше от кровати, это поможет вам энергично начать ваш день;
            </li>
        </ol>
        <ol id="e8eaac4b-480a-4ce0-a1ff-4529df1875a0" class="numbered-list" start="4">
            <li>время отхода ко сну при таком режиме будет варьироваться. Ложитесь спать в момент, когда вы почувствуете
                усталость и сонливость. А чтобы он не настал в разгар важных дел, просто не откладывайте такие дела на
                поздний вечер. Старайтесь делать самое главное в течение дня, чтобы вечером, когда вы почувствовали
                естественный призыв организма ко сну, вы со спокойной совестью могли идти на боковую. И долой
                бесполезный ночной нонсенс - «висение» в сети, просмотр телевизора и т.п. Почувствовали сонливость -
                бегом в постель, отдыхать и накапливать силы!
            </li>
        </ol>
        <p id="af72fd6f-29b3-48f0-a116-62ad81017de6" class=""> Наконец, третье условие здорового сна - его <em><strong>качество</strong></em>.
            Случалось ли вам подолгу ворочаться, пытаясь уснуть, спать тревожно, просыпаясь несколько раз в течение
            ночи? В таком случае даже при условии достаточных часов сна вы все равно будете усталыми на следующий день.
            Можно проспать 10 часов и проснуться разбитым. А можно прекрасно выспаться за 6 часов. Именно поэтому
            необходимо не просто уделять достаточное время сну, но и стремиться к его качеству.</p>
        <p id="9cd17e9f-e141-4790-bebd-be2f6351fc04" class=""> Как это сделать? В основе крепкого сна - общий
            уравновешенный и позитивный жизненный настрой, внутренняя гармония. Чаще всего проблемы со сном возникают в
            результате тревожных мыслей, «пережевывания» прошедших или предстоящих событий, беспокойства о невыполненных
            делах и т.п. Как с этим бороться?</p>
        <ol id="bdd6a97d-a0f5-432e-a784-9af51372b3ee" class="numbered-list" start="1">
            <li>Вспомните первую четверть и поработайте со своим внутренним миром. Если вас мучают тревоги и
                беспокойства, посещают негативные мысли, то в первую очередь нужно пересмотреть взгляд на жизнь и
                отношение к трудностям.
            </li>
        </ol>
        <ol id="0d1e4af6-8582-4f18-aae1-ea4d3d5c047a" class="numbered-list" start="2">
            <li>Приведите дела в порядок. Минимизируйте внешние причины для беспокойства. Старайтесь проживать каждый
                день так, чтобы вы могли засыпать с «чистой» совестью, зная, что вы закончили все, что запланировали.
            </li>
        </ol>
        <ol id="cca2f302-0eaa-484b-956e-187a55e3a3ed" class="numbered-list" start="3">
            <li>Добивайтесь моментального засыпания. Учитесь отключаться перед сном. Это тоже привычка. Все тревоги,
                проблемы и переживания отодвигайте на второй план, концентрируясь на предстоящем отдыхе. Часто мы до
                ночи смотрим телевизор, переписываемся в сети, играем в компьютерные игры, доделываем какие-то дела,
                напрягая свою психику. Попробуйте заменить подобные дела на что-то более расслабляющее и способствующее
                крепкому здоровому сну. Заведите приятный расслабляющий ритуал подготовки ко сну: расстелите постель,
                примите теплый душ, помедитируйте, сделайте расслабляющие упражнения.
            </li>
        </ol>
        <ol id="cb389fe1-7f58-48dc-89da-9f6ad4f435b2" class="numbered-list" start="4">
            <li>Вечерняя гимнастика. Она не только поможет размять уставшие за день мышцы и суставы, но и позволит вам
                расслабиться эмоционально, настроиться на ночь крепкого здорового сна. Одной из разновидностей такой
                гимнастики может стать, к примеру, йога.
            </li>
        </ol>
        <p id="cd347837-bba8-4162-9634-f00e2e2a829c" class=""> Посмотрите видео «Вечерняя йога» - комплекс упражнений
            для вечернего занятия йогой от Парка Горького г. Москва. Подобные комплексы занимают всего несколько минут,
            но могут прибавить вам намного больше времени за счет повышения качества вашего сна. Их можно делать перед
            телевизором, либо слушая аудиозапись. В целом, хорошая физическая нагрузка в течение дня - наилучшее
            природное снотворное.</p>
        <p id="1df336aa-da8f-4b16-8649-2935f70ae426" class=""> Ссылка на видео:</p>
        <div style="margin-bottom: 2rem; height: 22rem" class="d-inline-flex mt-4">
            <iframe class="h-100 w-75 mr-5" src="https://www.youtube.com/embed/2F0111xQu4Y" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <ol id="cbee07a3-12cd-4e86-b626-9245f592054e" class="numbered-list" start="1">
            <li>Свежий воздух. Если есть возможность - гуляйте на свежем воздухе вечером. Летом спите с открытым окном,
                зимой - открывайте форточку.
            </li>
        </ol>
        <ol id="373aae61-958b-424e-8060-cdd4de0bb34e" class="numbered-list" start="2">
            <li>Удобная постель: полужесткая поверхность, невысокая подушка, хлопчатобумажные ткани (простыня,
                одеяло).
            </li>
        </ol>
        <ol id="bde85ff0-012f-436b-a789-00131a27e4bd" class="numbered-list" start="3">
            <li>Легкость в желудке. Избегайте плотной еды перед сном (минимум 3 часа до сна). Если вы все же чувствуете
                голод, перекусывайте чем-то легким (кефир, молоко, вода с медом, банан).
            </li>
        </ol>
        <hr id="d185da3b-7173-4f10-8297-0835438bde06"/>
        <p id="34702b5f-3cc4-4244-9751-a6598b871a2a" class="">
            <mark class="highlight-orange">ПОЛЕЗНЫЕ МАТЕРИАЛЫ</mark>
        </p>
        <hr id="9fcd90e1-de8a-4bba-9a7d-620aeda5863d"/>
        <ol id="b0bef372-d751-4052-a5bf-4e9825ef146f" class="numbered-list" start="1">
            <li><a href="http://spavlina.ru/category/sleep">http://spavlina.ru/category/sleep</a> - перевод статьи Стивы
                Павлина про сон.
            </li>
        </ol>
        <ol id="eb2d61ad-a025-421d-8037-70371e01aab4" class="numbered-list" start="2">
            <li><a href="http://macradar.ru/software/5-ios-prilozhenij-kotorye-obespechat-%20vam-zdorovyj-son/">http://macradar.ru/software/5-ios-prilozhenij-kotorye-obespechat-
                vam-zdorovyj-son/</a> - статья о полезных iphone приложениях для качественного сна.
            </li>
        </ol>
        <p id="d3f2f1d0-1b89-4c3d-98b0-410e7285bae4" class="">Книги:</p>
        <ul id="9cbc5f29-791e-465f-988f-41427d078ce8" class="bulleted-list">
            <li>Петер Шпорк «Сон. Почему мы спим и как нам это лучше всего удается».</li>
        </ul>
        <ul id="53ea4ed5-e2c6-4a3a-afb7-553345e6ae3c" class="bulleted-list">
            <li>Дэвид Рэндалл «Наука сна. Экскурсия в самую загадочную сферу жизни человека».</li>
        </ul>
        <hr id="54fe06b6-4eb8-425e-8f07-c8bd390c6dda"/>
        <p id="94f200bf-a8bb-449c-b651-62f60a768837" class="">
            <mark class="highlight-blue">РЕЗЮМЕ УРОКА</mark>
        </p>
        <hr id="8a91f55f-5062-41b3-80df-0f216dc8d7b0"/>
        <ul id="94f914a9-1a7a-4937-906d-d436322db0ec" class="bulleted-list">
            <li>Крепкий сон - лучший отдых для организма и залог успешного дня. Не пренебрегайте им и старайтесь
                высыпаться!
            </li>
        </ul>
        <ul id="131b8494-486a-4871-9463-ec4c00748e85" class="bulleted-list">
            <li>Оптимальный промежуток для сна - темное время суток, где-то с 10 вечера до 6 утра. Это продиктовано
                самой природой.
            </li>
        </ul>
        <ul id="667ff647-543d-4471-9d57-9b74afa24ef4" class="bulleted-list">
            <li>Стремитесь к качеству сна. Долой негативные мысли и беспокойства, вечером настраивайтесь на качественный
                отдых. Вам в помощь - физическая активность и свежий воздух.
            </li>
        </ul>
        
        <span style="border-bottom: 3px solid blue" class="pb-4">
			<a href="{% url 'third_chapters_HealthySleep_task' %}" class="d-inline-flex text-decoration-none">
				<h3 style="color: black;">Перейти к домашнему заданию</h3>
			</a>
			<span class="oi oi-arrow-right ml-2" style="font-size: 2rem"></span>
		</span>
    </div>
    <a href="#"><span class="oi oi-arrow-top float-right rounded-circle py-3 px-4"
                      style="color: black; border: 3px solid black; font-size: 2.5rem"></span></a>
    <div class="mt-5 w-100 justify-content-center d-inline-flex">
        <img src='{% static "img/images_for_tree/Yoga.svg" %}' alt="" class="rectang"/>
    </div>
</article>

{% endblock %}
