{% extends 'mainsite/base.html' %}

{% block content %}

{% load static%}


<div class="third_chapters">
    <a href="{% url 'third_chapters_HealthySleep' %}" target="_self">
        <img src="{% static "mainsite/HealthySleep.svg" %}" alt="2">
    </a>
    <a href="{% url 'third_chapters_GoodNutrition' %}" target="_self">
        <img src="{% static "mainsite/GoodNutrition.svg" %}" alt="2">
    </a>
    <a href="{% url 'third_chapters_MovementandHardening' %}" target="_self">
        <img src="{% static "mainsite/MovementandHardening.svg" %}" alt="2">
    </a>
    <a href="{% url 'third_chapters_LadieswithStress' %}" target="_self">
        <img src="{% static "mainsite/LadieswithStress.svg" %}" alt="2">
    </a>

{% endblock %}