{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}

<article id="04cc529c-9f00-4974-8f22-4afe000ff0a3" class="page w-75 mx-auto"
         style="margin-top: 2em; font-size: 18px">
    <header>
        <div>
            <a href="{% url 'third' %}" target="_self" style="color: black; margin-right: 5em"><span
                    class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
            <span class="text-muted">
				<a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
				<a href="{% url 'third' %}" target="_self" class="text-muted">Здоровье</a> >
				Правильное питание
			</span>
        </div>
    </header>
    <div class="page-body text-left w-75 mx-auto">
        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Top Skills</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>19.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
        </div>
        <h1 class="page-title">Урок 2: Правильное питание
        </h1>
        <p id="be1d6f3a-2073-4e31-bddd-bb8bb03626e0" class="">В молодости люди редко задаются вопросами питания.
            Неудивительно, ведь молодой организм энергично сжигает, что бы в него ни закинули. Поэтому нам кажется, что
            качество пищи не имеет значения. Но это не так. Со временем ситуация меняется. C возрастом обмен веществ в
            организме замедляется, внутренние системы очистки засоряются и проявления неправильного питания становятся
            все более очевидными. Некоторые начинают замечать их на коже, кто-то на состоянии волос и ногтей, кто-то
            заметит прибавление на бедрах или животе, кто-то будет чувствовать вялость и упадок сил, многие последствия
            и вовсе невозможно увидеть невооруженным глазом. Такие как бляшки в сосудах, изношенную печень, язвы желудка
            и т.д. Но рано или поздно ошибки в питании дадут о себе знать.</p>
        <p id="fae18e03-037b-44c0-a4f7-089a13bb8d64" class="">Пища и вода, которые мы употребляем, это единственный
            источник энергии и строительный материал для нашего тела. <strong>Мы в буквальном смысле есть то, что
                едим.</strong> Научно доказано, что клетки человеческого организма полностью обновляются за 7-10 лет.
            Причем, обновление некоторых тканей происходит значительно быстрее. Так, клетки поверхности желудка и
            кишечника обновляются каждую неделю, кожи - каждые 2-4 недели, печени - каждые 6-12 месяцев, волос - 3-6 лет
            и т.д. Все части вашего тела (кости, мышцы, кожа, волосы и т.д.) несколько месяцев назад были вашей кашей,
            котлетой или бутербродом.</p>
        <p id="1b52a742-6c70-4f2f-b0f2-7f9f432cf840" class="">От качества нашей еды зависит не только наше текущее
            самочувствие, внешний вид и уровень энергии, но и долгосрочное состояние всех наших органов. Мы настоятельно
            рекомендуем вам более подробно изучить анатомию и физиологию человеческого тела, чтобы лучше понимать эти
            процессы.</p>
        <p id="9646d8b9-ae69-47ae-a631-b240cb1ec427" class="">Вы окажете себе бесценную услугу, если уже сейчас усвоите
            основные принципы правильного питания и хотя бы в какой-то мере начнете им следовать. Эти принципы мы
            разделили на две части:</p>
        <ol id="9888ce64-2ac6-4198-96d9-bbe577dd092b" class="numbered-list" start="1">
            <li>Чем питаться?</li>
        </ol>
        <ol id="0db6a716-bbcf-4147-a056-ead4c3c22ae6" class="numbered-list" start="2">
            <li>Сколько нужно есть?</li>
        </ol>
        <p id="a7729489-211c-4c82-8fcf-5a51f9dafc60" class="">Главный вопрос питания - что же все-таки есть? За основу
            этой главы мы взяли замечательную книгу Давида Яна «Теперь я ем, все что хочу» (ссылку на книгу можно найти
            в конце урока). В этой книге он доступно изложил основные рекомендации по питанию Всемирной организации
            здравоохранения (ВОЗ). Эксперты этой организации анализируют опыт и исследования тысяч врачей и ученых со
            всего мира с целью выделить наиболее достоверную информацию и на ее основе сформулировать рекомендации в
            области здравоохранения. Как выяснилось, несмотря на множество различных теорий питания, в одном большинство
            экспертов остались единодушны. А именно: существует несколько распространенных пищевых компонентов, в
            которых наш организм совсем не нуждается. Но в то же время их частое употребление может привести к 80-95 %
            проблем здоровья, связанных с питанием. Это четыре пищевых «друга» - соль, сахар, животные жиры и мучные
            изделия.</p>
        <p id="121e52b1-d8d6-44b9-a755-16176951e2a1" class="">Давайте разберемся по порядку. Чем же опасны эти
            «друзья»?</p>
        <ol id="0cf80a99-ccd5-4601-93ea-1ad835e78f24" class="numbered-list" start="1">
            <li><strong>Соль:</strong> исследования показывают, что оптимальное количество соли, необходимое нашему
                организму, - всего 1-2 грамма в день. А сколько соли мы потребляем в реальности? При «обычном» питании
                около 2 граммов мы добавляем в пищу своими руками, еще 3-5 граммов мы получаем с хлебом и мучными
                изделиями, 5-15 грамм мы употребляем с покупными продуктами (соусы, приправы, полу­фабрикаты, сыры,
                копчености). Например, в одном только пакете чипсов соли столько же, сколько в трех чашках морской воды!
                Все это вдобавок к тем 2 граммам соли, которые уже изначально содержатся в свежих натуральных продуктах
                (мясе, рыбе, овощах, молочных продуктах). В итоге вместо необходимых 2 граммов, мы потребляем до 20
                граммов соли ежедневно. Чем это опасно? Доказано, что потребление соли в таких количествах увеличивает
                вероятность инсульта и инфаркта в 2-3 раза, рака желудка в 6 раз. Плюс гипертония, почечные камни,
                артриты, ожирение, катаракта. Более того, соль - сильнейший усилитель вкуса. Если пища подсолена,люди
                едят на 15-­20 % больше. Следовательно, излишек соли является одной из причин ожирения. Да, соль нужна.
                Но с натуральными продуктами уже поступает достаточное ее количество. Как же быть? <em>Во-первых,
                    перестать подсаливать пищу. Во-вторых, поменьше есть (а еще лучше - просто исключить!) всевозможные
                    копчености, колбасы, соусы и т.д., содержащие огромный избыток соли.</em></li>
        </ol>
        <ol id="7c11d39f-7622-4023-bb51-ba95769e410a" class="numbered-list" start="2">
            <li><strong>Сахар:</strong> в некоторых количествах сахар действительно нужен нашему организму, однако сахар
                натуральный, содержащийся в овощах, фруктах, меде. Рафинированный же сахар, несмотря на свое
                растительное происхождение, проходит настолько длительный процесс обработки, что является искусственным
                веществом, не встречающимся в природе. По данным ВОЗ, рафинированный сахар не требуется нашему организму
                ни в каких количествах! Более того, употребление его более 50 граммов в день способно вызвать целый ряд
                проблем со здоровьем (рак кишечника, диабет и др.). Белый сахар быстро попадает в кровь, вызывая скачки
                концентрации гормонов, что в свою очередь ведет к быстрому утомлению и повышенному голоду. В результате
                человек переедает и набирает вес. И, наконец, сахар способен вызвать привыкание и зависимость. Именно
                поэтому многие люди испытывают психологические сложности с отказом от сладкого. Что же делать, если вы
                сладкоежка? <em>Постепенно отучите себя от рафинированного сахара, заменяя его натуральными сахарами -
                    фруктами, сухофруктами и медом.</em></li>
        </ol>
        <ol id="bf10985d-b805-4e83-b4a8-7886948ab613" class="numbered-list" start="3">
            <li><strong>Жир:</strong> эксперты ВОЗ разделили жиры на две группы - полезные и вредные. К самым вредным
                они относят так называемые насыщенные жиры (животные продукты: сливочное масло, сыр, жирные молочные
                продукты, жир на мясе и птице), трансгенные жиры (маргарин) и перегретые жиры (жареные продукты,
                фритюр). Эти жиры опасны тем, что их излишек скапливается в различных частях организма, повышая
                вероятность атеросклероза, рака толстой кишки и простаты, ожирения, гипертонии, онкологических
                заболеваний. Однако есть и полезные жиры, которые необходимы нашему организму. К ним относятся рыбий жир
                и растительные масла (оливковое, подсолнечное, масла, содержащиеся в орехах, и т.д.). Рекомендованная
                ВОЗ норма этих жиров до 30 граммов в день. Как быть? <em>Во-первых, отдавать предпочтение нежирным
                    мясным блюдам и молочным продуктам. Во-вторых, следить за приготовлением продуктов - варка,
                    приготовление на пару, запекание или гриль однозначно полезнее жарки на масле. И следить за тем,
                    чтобы в вашем рационе присутствовало умеренное количество полезных жиров растительного
                    происхождения.</em></li>
        </ol>
        <ol id="9d18553d-3672-4c57-9223-6563ba068641" class="numbered-list" start="4">
            <li>Мучное: большинство мучных изделий обладают высоким так называемым гликемическим индексом. Говоря
                простым языком, они намного быстрее остальных продуктов преобразуются в подкожный жир. Они также
                содержат вредные насыщенные жиры (в виде сливочного масла или еще хуже - маргарина) и большое количество
                соли (хлеб) или сахара (сдобные изделия). Как же быть? <em>Уменьшить потребление мучного и по
                    возможности отдавать предпочтение изделиям из муки грубого помола.</em></li>
        </ol>
        <p id="9687fa63-67d4-495a-bf0a-38e0d720f40e" class="">Сегодня пищевая промышленность настолько развита, что
            перед человеком стоит невероятно широкий выбор продуктов питания. Однако теперь мы знаем,что далеко не все
            из них полезны, а некоторые - просто опасны. Для того чтобы легко ориентироваться в этом множестве и делать
            правильный выбор, мы составили простую таблицу.</p>
        <p id="a5554195-3800-4f8a-ae75-681572625b37" class="">
        </p>
        <a>
            <img style="width:1080px"
                 src="https://media.discordapp.net/attachments/745700277004402832/756906003790037143/Untitled_1.png?width=1004&height=671"/>
        </a>
        <p id="872d6612-568e-4af8-a950-2935a4cbbcfc" class="">С полезными продуктами вроде разобрались. Однако важно не
            просто питаться правильными продуктами, но иметь разнообразный, сбалансированный рацион. Химический состав
            пищи принято делить на несколько базовых компонентов: белки, жиры, углеводы, витамины и минералы. Эти
            компоненты содержатся в разных продуктах питания. При этом каждый из них выполняет свои жизненно важные
            функции во внутренних процессах организма. Чтобы организм не страдал от нехватки какого-либо из этих
            компонентов, важно питаться разнообразно. О функциях разных элементов и продуктах, в которых они содержатся
            читайте в таблице.</p>
        <p id="2fd4f60b-b19c-46b0-b4f1-781471a7226d" class="">
        </p>
        <a>
            <img style="width:1080px"
                 src="https://media.discordapp.net/attachments/745700277004402832/756906008994906152/Untitled.png?width=1004&height=671"/>
        </a>
        <p id="b7f91e3d-e5e9-4401-8328-234322439c2a" class="">Эксперты ВОЗ утверждают, что основой правильного питания
            является растительная пища - всевозможные овощи, фрукты, ягоды, орехи, крупы, бобовые. Они рекомендуют
            придерживаться следующих пропорций: 50 % от суточной энергии - углеводы, преимущественно овощи и фрукты (не
            менее 400 граммов в день), 30 % - белки, 20 % от суточной энергии - жиры. Как этот принцип осуществить на
            практике? Естественно, не нужно каждый раз высчитывать калории и состав каждого продукта, который вы
            употребляете. Но в качестве ориентира можно пользоваться следующей простой схемой: половина тарелки - салат,
            заправленный растительным маслом, четверть - порция гарнира (крупа, картофель) и еще четверть - кусочек
            постного мяса или рыбы. В перерывах между едой можно перекусывать фруктами, орехами, йогуртом или нежирным
            кефиром.</p>
        <p id="3206a72b-cb5a-4b6c-a207-f614fb6d098e" class="">И еще. Не забывайте пить воду. Не чай, кофе, соки и
            газировки, а именно чистую воду. Мы на 60-70 % состоим из воды. Если регулярно не пополнять ее запасы, то
            организм обезвоживается и страдает. Общая рекомендация - выпивать 6-8 стаканов чистой воды в день.</p>
        <p id="20139bfa-113f-4533-aa4a-98356c4c409d" class="">Вы спросите - как ВСЕ это применить в жизни? Получается,
            все самое вкусное вредно? Заметьте, мы не говорим, чтобы вы никогда в жизни больше не ели фастфуд или
            любимые снэки. Такие крайние подходы не очень жизнеспособны. Конечно, будут ситуации, когда у вас не будет
            лучшей альтернативы или вам просто очень захочется именно такой еды. НО следите за общим трендом. Пусть это
            будет приятным исключением по праздникам, а не ежедневной привычкой.</p>
        <p id="633292c5-a741-4f8e-9b51-5c8da0993d0e" class="">
            <mark class="highlight-red">ЗДОРОВОЙ ЕДЫ МНОГО, И ОНА МОЖЕТ БЫТЬ ОЧЕНЬ ВКУСНОЙ!</mark>
        </p>
        <p id="2ce7a5ea-e0a5-4380-a6a4-d66a9e347e90" class="">
        </p>
        <a>
            <img style="width:1800px"
                 src="https://media.discordapp.net/attachments/745700277004402832/756906028783894558/Untitled_2.png?width=1008&height=672"/>
        </a>
        <p id="faf1828a-7927-4444-b938-5c6731e248b5" class="">И еще несколько простых моментов, которые помогут вам
            питаться правильнее.</p>
        <ul id="bfd727e5-5685-4952-b17d-a4bbb02df16d" class="bulleted-list">
            <li>Научитесь и полюбите готовить. Старайтесь приобретать свежие исходные продукты, а затем готовить их
                дома. Таким образом, вы будете сами контролировать, что и в каком количестве поступает с вашей едой.
                Существует масса вкуснейших и полезных рецептов, которые вы легко можете воплотить дома.
            </li>
        </ul>
        <ul id="156fc44c-3872-41d4-aea5-ca8304743afc" class="bulleted-list">
            <li>Читайте этикетки! Если покупаете что-то готовое, то всегда смотрите на состав и отдавайте предпочтение
                продуктам с минимальным содержанием непонятных вам терминов и искусственных добавок. Если вы не узнаете
                название в составе, скорее всего ничего полезного в нем нет.
            </li>
        </ul>
        <ul id="1ebcaf72-a25c-45de-a667-0a78a18af843" class="bulleted-list">
            <li>Ищите здоровые альтернативы любимым, но вредным лакомствам: нежирная сметана вместо майонеза, сухофрукты
                вместо конфет, чай вместо кофе, вода или свежевыжатый сок вместо газировки или консервированных соков,
                готовка на пару вместо жарки и т.д.
            </li>
        </ul>
        <p id="0eb2f693-5814-4539-a241-f9fd38379db4" class="">Посмотрите выпуск передачи «Жить здорово» про еду. В этом
            выпуске разговор идет о продуктах, которые вызывают воспалительные процессы в нашем организме и могут
            привести к возникновению тяжелых заболеваний. Также в выпуске приводятся полезные альтернативы, которыми их
            можно легко заменить. </p>
        <div style="margin-bottom: 2rem; height: 22rem" class="d-inline-flex mt-4">
            <iframe class="h-100 w-75 mr-5" src="https://www.youtube.com/embed/e4UgMnXrV84" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <p id="699b536c-329d-438b-a43f-6bbbf7d1f401" class="">И, наконец,важный вопрос питания - <strong>сколько же
            нужно есть?</strong></p>
        <p id="c822b38a-3a76-41d5-b092-d2c8189e2841" class="">Еда в буквальном смысле - наше топливо. Как и с любым
            другим видом топлива, его необходимое количество зависит от расхода энергии. Расход энергии человеческого
            тела складывается из базового обмена веществ и энергии, которую вы расходуете на ежедневную деятельность.
            Базовый обмен зависит от вашего возраста, роста, пола, веса, мышечной массы и т.д. Это энергия, необходимая
            вашему организму для функционирования в состоянии покоя. Ежедневная деятельность - это ходьба, занятия
            спортом, домашние дела, умственный труд и т.д. Если мы в течение некоторого времени «недоливаем» топливо, то
            организм начинает постепенно истощать свои внутренние запасы. Если же мы «заправляем» лишнего, то это
            топливо, наоборот, идет в резерв в наши жировые ткани. И первое, и второе плохо для организма как с точки
            зрения здоровья, так и эстетики. Специалисты ВОЗ также говорят о том, что калории, поступающие с едой, не
            должны регулярно превышать калории, расходуемые организмом. Поэтому важно питаться именно в соответствии со
            своими энергозатратами. Для этого у нас есть превосходный природный ориентир, о котором, как ни странно,
            многие забывают - чувство голода и насыщения. Заметьте, дикие животные никогда не толстеют и, за исключением
            экстремальных условий, - не худеют. Они всегда сохраняют оптимальный для своей жизнедеятельности вес.
            Почему? Потому что в питании они умеют следовать своим природным инстинктам, которые безошибочно
            сигнализируют о необходимости пищи и, наоборот, о насыщении организма.</p>
        <p id="5391fbfd-cc90-40b9-8baa-5fe5f001e499" class=""><strong>Как услышать свои инстинкты?</strong></p>
        <ul id="5b56157d-fa98-4e0f-80c3-6b2f4fa87e63" class="bulleted-list">
            <li>Научитесь правильно читать сигналы голода. Для этого есть нестандартный, но действенный способ. Если вам
                кажется, что вы голодны, спросите себя мысленно: съели бы вы сейчас с удовольствием обычное зеленое
                яблоко? Если вы действительно испытываете физиологический голод и вашему организму необходима энергия,
                то, скорее всего, зеленое яблоко покажется вам весьма аппетитным. Если мысль о яблоке не вызывает у вас
                особого аппетита, то скорее всего голод «ложный» и с помощью еды вы пытаетесь утолить другую потребность
                (привычка пожевать, скука, стресс, усталость и т.д.).
            </li>
        </ul>
        <ul id="58e15078-5562-4fe8-85b7-bac427c1e945" class="bulleted-list">
            <li>Не ешьте до полного насыщения или, другими словами, не объедайтесь. Наша соотечественница, великая
                балерина Плисецкая на вопрос, как ей удается сохранить прекрасный вид даже в пожилом возрасте, ответила
                прямолинейно, но очень понятно: «Не жрать!» И ученые подтверждают - умеренное ограничение количества
                пищи реально удлиняет продолжительность жизни и улучшает состояние здоровья человека. Если после приёма
                пищи у вас исчезает чувство внутренней лёгкости, подтянутости, бодрости - значит перебор, вы съели
                лишнего. А для того чтобы не упустить момент насыщения, старайтесь есть медленно, тщательно пережевывая
                пищу. И помните, что чувство насыщения приходит немного позже, минут через 15 после завершения трапезы.
            </li>
        </ul>
        <ul id="3d5ac962-35f7-4bde-a212-d680a81c99e4" class="bulleted-list">
            <li>Не заводите привычку жевать, если вы действительно голодны - садитесь за стол и ешьте. Если нет - просто
                займите себя чем-нибудь другим.
            </li>
        </ul>
        <ul id="5bf8b194-7e93-46d6-b09a-7627b16f19a9" class="bulleted-list">
            <li>Опасайтесь так называемых диет. Вы не задумывались над вопросом - почему диет ТАК много? Ответ простой -
                потому что они не работают. К сожалению, многие люди, в особенности девушки, сводят вопрос питания к
                постоянным диетам и ограничениям, подсчету калорий и тем самым обрекают себя на вечные страдания. Ни
                одна жесткая диета не дает долгосрочных результатов. Да, возможно вы похудеете. НО прекратив диету, а
                это случится рано или поздно, наберете вдвое больше. Лучшая диета - сбалансированная, натуральная, с
                минимальной готовкой, с обилием свежих овощей и фруктов, небольшая по объему. Если совмещать ее с
                активным образом жизни, то вы будете выглядеть и чувствовать себя на все 100 %.
            </li>
        </ul>
        <blockquote id="772d0018-8bd4-48e1-b208-253ce7c4b298" class="block-color-red">ПОЛЕЗНЫЕ МАТЕРИАЛЫ</blockquote>
        <ol id="d1d22c81-20ee-4642-831b-d665b0643cfc" class="numbered-list" start="1">
            <li>
                <mark class="highlight-blue"><a href="http://lifehacker.ru/zdorovoe-pitanie/">http://lifehacker.ru/zdorovoe-pitanie/</a>
                </mark>
                <mark class="highlight-blue"></mark>
                - рубрика популярного сайта «Лайфхакер» о здоровом питании.
            </li>
        </ol>
        <ol id="1b90f5b0-1069-4a73-9a72-dd70bbf5c945" class="numbered-list" start="2">
            <li>
                <mark class="highlight-blue"><a href="http://www.jv.ru/news/item/id/31269">http://www.jv.ru/news/item/id/31269</a>
                </mark>
                - подборка приложений для ведения дневника питания.
            </li>
        </ol>
        <ol id="dfc27eb6-cf17-4db9-9947-3177782b7873" class="numbered-list" start="3">
            <li>
                <mark class="highlight-blue"><a href="http://lifehacker.ru/2014/07/11/water-balance/">http://lifehacker.ru/2014/07/11/water-balance/</a>
                </mark>
                - приложение для учета потребления воды.
            </li>
        </ol>
        <p id="be65d9f0-e187-42ea-b8d6-a9d990be683f" class="">Книги:</p>
        <ul id="2a9373ac-2180-45c4-bdc7-a526302fab48" class="bulleted-list">
            <li>Давид Ян «Теперь я ем все, что хочу».</li>
        </ul>
        <ul id="78683869-b66e-45ea-aa27-8b3112914bcf" class="bulleted-list">
            <li>Андрей Иванченко «Записки врача или коротко о главном».</li>
        </ul>
        <ul id="65ed4a1a-d533-470e-a9ad-3ae5b3cfab2e" class="bulleted-list">
            <li>Майкл Мосс «Соль, сахар и жир».</li>
        </ul>
        <ul id="e487917d-185e-4ec0-9ff9-c445d428c967" class="bulleted-list">
            <li>Лин-Жене Ресита «Искусство правильного питания».</li>
        </ul>
        <blockquote id="7799d8a8-f12e-4bf7-b873-70fc8e738c07" class="block-color-red">РЕЗЮМЕ УРОКА</blockquote>
        <ul id="e43ce05c-fa83-4353-b31f-eb0c63c12eb1" class="bulleted-list">
            <li>Мы в буквальном смысле есть то, что мы едим. Питайтесь раз­нообразно и полезно! Задумывайтесь о том, что
                вы едите (читайте этикетки, изучайте состав продуктов).
            </li>
        </ul>
        <ul id="f867a29a-768f-4a7b-b615-9a17a5f60846" class="bulleted-list">
            <li>Не нужно жестко ограничивать себя. Важно соблюдать общий тренд здорового питания. 90 % - едим полезную
                еду, иногда позволяя себе немного вкусных «вредностей».
            </li>
        </ul>
        <ul id="2942cc25-78f9-4469-8312-00e9f6312660" class="bulleted-list">
            <li>Ищите полезные альтернативы любимым, но вредным продуктам.</li>
        </ul>
        <ul id="95d99f54-66c9-4f5c-afb8-405d3cfe39c6" class="bulleted-list">
            <li>Пейте достаточно воды.</li>
        </ul>

        <span style="border-bottom: 3px solid blue" class="pb-4">
			<a href=# class="d-inline-flex text-decoration-none">
				<h3 style="color: black;">Перейти к домашнему заданию</h3>
			</a>
			<span class="oi oi-arrow-right ml-2" style="font-size: 2rem"></span>
		</span>
    </div>
    <a href="#"><span class="oi oi-arrow-top float-right rounded-circle py-3 px-4"
                      style="color: black; border: 3px solid black; font-size: 2.5rem"></span></a>
    <div class="mt-5 w-100 justify-content-center d-inline-flex">
        <img src='{% static "img/images_for_tree/Yoga.svg" %}' alt="" class="rectang"/>
    </div>
</article>

{% endblock %}