{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}

<blockquote id="1bdcd025-47bb-428b-ad11-09d1d1e163ba" class="block-color-red">ДОМАШНЕЕ ЗАДАНИЕ</blockquote>
<ul id="7ac02c15-79da-4cc1-b6f8-dd25c2621572" class="to-do-list">
    <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Используйте информацию из этой главы для того, чтобы проанализировать ваш текущий рацион. По шкале от 1 до 10 оцените ваше питание. Что вы можете сделать, чтобы его улучшить? Подумайте, какими здоровыми альтернативами можно заменить любимые, но не самые полезные блюда. Оцените также, насколько сбалансирован ваш рацион, все ли необходимые компоненты присутствуют в достаточном количестве? Если каких-то из продуктов вам не хватает, придумайте способ включить их в свой рацион.
</span>
    </li>
</ul>


{% endblock %}