{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}

<hr id="1a7c5147-e072-46d8-8fd8-a310de60ec76"/>
<p id="a2089f6d-6bfd-42ed-a884-d25000531094" class="">
    <mark class="highlight-blue">ДОМАШНЕЕ ЗАДАНИЕ</mark>
</p>
<hr id="e02fc143-a6ec-40c7-ac20-2a70de420033"/>
<ul id="63d42b5d-afea-44c9-a753-ce0b3711ecfa" class="to-do-list">
    <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">На основе материалов этого урока, разработайте собственную программу насыщения движением своей повседневной жизни.</span>
    </li>
</ul>
<ul id="8edf37f0-c698-4fc4-b9b9-1cc844919cba" class="to-do-list">
    <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Следуя принципам формирования привычек, изложенным на уроке I.4, превратите элементы этой программы (лестница вместо лифта, пешком вместо автобуса и т.д.) в полезные привычки.</span>
    </li>
</ul>
<ul id="6ee8701b-f991-4172-9b81-f1c9efb1ce90" class="to-do-list">
    <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Контролируйте свою физическую активность с помощью шагомера. Хорошей нормой для человека считается 10 тысяч и более шагов в день.</span>
    </li>
</ul>


{% endblock %}