{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}

<article id="5842e870-9497-4ccb-8fe6-7685e773b43a" class="page sans w-75 mx-auto"
		 style="margin-top: 2em; font-size: 18px">
	<header>
		<div>
			<a href="{% url 'third' %}" target="_self" style="color: black; margin-right: 5em"><span
					class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
			<span class="text-muted">
				<a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
				<a href="{% url 'third' %}" target="_self" class="text-muted">Здоровье</a> >
				"Ладим" со стрессом
			</span>
		</div>
        <img class="page-cover-image" src="https://www.notion.so/images/page-cover/solid_yellow.png"
             style="object-position:center 40%; margin-top: 2em; border-radius: 0"/>
	</header>
	<div class="page-body text-left w-75 mx-auto">
		<div class="d-inline-flex justify-content-between align-items-baseline my-5">
			<span class="oi oi-person mr-2"></span>
			<span>Top Skills</span>
			<span class="oi oi-calendar ml-4 mr-2"></span>
			<span>19.02.2020</span>
			<span class="oi oi-eye ml-4 mr-2"></span>
			<span>15000</span>
			<span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
			<span>1800</span>
		</div>
		<div class="float-right align-top mt-5">
			<a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}'
										  style="background: black;width: 25px; height: 30px"></a>
			<a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}'
										  style="background: black;width: 25px; height: 30px"></a>
			<a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}'
										  style="background: black;width: 25px; height: 30px"></a>
			<a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}'
										  style="background: black;width: 25px; height: 30px"></a>
		</div>
		<h1 class="page-title">Урок 4: "Ладим" со стрессом
		</h1>
        <p id="12da2ef9-8811-41f6-9a72-3e736f40d241" class=""> Юношество - невероятно активная пора. С каждым годом ваша
            жизнь становится динамичнее и насыщеннее, вырастают новые цели и задачи, появляется больше ответственности
            и, соответственно, ожиданий. Иными словами, в вашей жизни неизбежно появляются новые вызовы и препятствия.
            Современные исследования показывают, что не только наше эмоциональное, но и физическое здоровье, напрямую
            зависит от того, насколько мы умеем «ладить» с жизненными трудностями. Тому, как этому научиться, и посвящен
            этот урок.</p>
        <p id="dadab43e-79ae-4a3b-81f9-39dd751c079b" class=""> На любой внешний или внутренний раздражитель наш организм
            реагирует определенными процессами. Эта универсальная реакция называется стрессом.</p>
        <p id="58d1d897-8f53-497c-9ca8-0b2fc1d529d5" class=""> В роли раздражителя, источника стресса, может выступить
            все, что угодно: различные физические факторы - погодные условия (холод, жара, ветер), микробы, бактерии,
            социальные факторы, например, отношения с другими людьми или внутренние причины, различного рода
            переживания. Принято считать, что стресс однозначно вреден для человека. Это не совсем так. Зачем нужен
            стресс? Стресс - наша уникальная встроенная способность, которая дает возможность приспосабливаться к
            постоянно меняющимся условиям окружающего мира. Когда человек испытывает стресс любого рода, ресурсы его
            организма мобилизуются, чувства обостряются, появляется дополнительная энергия. Уверены, вы замечали, как,
            например, перед экзаменом вы становитесь более собранным, внимательным, вдруг вспоминаете, казалось бы,
            забытый материал и находите нужное решение. В древние времена, когда людям необходимо было охотиться за едой
            и бороться с дикими животными, стресс как средство мобилизации организма был жизненно необходим.</p>
        <p id="14a2d8e8-9725-4c72-bd64-97742e4a4df2" class="">Проблема заключается в том, что ресурсы нашего организма
            ограничены и если пребывать в состоянии стресса слишком долго, то истощение неизбежно. Так появляется
            хронический стресс и целый букет болезней, которые с ним ассоциирует современная медицина. Таким
            образом,<strong> умеренный стресс полезен и даже необходим</strong>. Он стимулирует развитие, тренирует
            способности и иммунную систему.</p>
        <p id="0e62c153-e2d9-4fe8-8e31-8400730dd271" class="">Отсутствие стресса вообще приводит к вялости, стагнации,
            эмоциональному «голоду». Чрезмерный же стресс - слишком сильное или слишком длительное напряжение, вызывает
            истощение. Представьте себе тетиву лука. Если ее достаточно сильно натянуть, то вы сможете отправить стрелу
            далеко за горизонт. Но стоит лишь немного перетянуть и тетива порвется. Получается, что, как это часто
            бывает, со стрессом необходимо искать «золотую» середину.</p>
        <p id="cd625de0-54c1-47f9-86a9-02bac7b9d9c9" class="">Как ее найти? На самом деле нам с вами повезло, ведь в
            отличие от первобытных людей мы живем в реально комфортных условиях. Современные люди испытывают намного
            меньше физиологических стрессов (экстремальные погодные условия, нападения животных, голод, жажда), но, в то
            же время, в нашей жизни стало больше социальных и внутренних факторов, которые способны вызвать сильный
            стресс. Хорошая новость заключается в том, что стимулы эти субъектив­ны. Поясним - если бы вы жили в древние
            времена, то появление саб­лезубого тигра во дворе вашей пещеры могло означать только одно - нужно спасаться.
            Но сегодня типичный стресс, например, от предсто­ящего экзамена по математике, не угрожает вашей жизни и его
            сила больше зависит от вашего к нему отношения. Сегодня характер и продолжительность стрессов в большей
            степени зависит от нашей ин­терпретации, от того какое мы придаем значение происходящему. В этом и кроется
            «золотая» середина - <strong>источников стресса не нужно избегать, к ним нужно правильно относиться и
                научиться справляться с их негативными последствиями.</strong></p>
        <p id="087899df-66a0-4829-9fc7-c613474bd52f" class="">Как это сделать? Мы выделили шесть основных принципов,
            которые в этом помогут.</p>
        <ol id="cbb49427-6645-4809-ba51-6277ff0c57e8" class="numbered-list" start="1">
            <li><strong>Движение</strong>.В природе стресс снимается физической активностью: «нападай или убегай».
                Поэтому простейший рецепт борьбы со стрессом - движение, о котором мы говорили на предыдущем уроке.
                Уверены, вы не раз замечали, как физическая активность снимает эмоциональное напряжение и помогает
                «прочистить голову». Поэтому, если вы испытываете сильный стресс - найдите время для тренировки! Научно
                доказано, что хорошая физическая нагрузка приводит нервы и настроение в порядок лучше любых таблеток.
            </li>
        </ol>
        <ol id="d8da65ea-05cd-4e8d-ad50-c14152db9cec" class="numbered-list" start="2">
            <li><strong>Всегда концентрируйтесь на хорошем.</strong> Контрольные, экза­мены, плохие оценки, не
                получается предмет, ссоры с родителями или трудности в общении с друзьями - да, все это реальные
                пробле­мы, с которыми нужно разбираться. Но, в то же время, все, что вам необходимо для счастья, у вас
                уже есть. Вспомните, о чем мы говори­ли во введении к этой книге. КАЖДЫЙ день радуйтесь и будьте
                благодарны за то, что вы живы и за все хорошее, что у вас есть. Чаще улыбайтесь! Улыбка - мощнейшее
                оружие против плохого настрое­ния! Если удерживать улыбку на лице хотя бы 30 секунд, то ваш организм
                начинает выделять гормоны счастья. Вывод напрашивается сам собой: каждый, кто не хочет впасть в
                депрессию или, того хуже, заполучить неизлечимую болезнь, должен научиться искусству улыб­ки. Улыбайтесь
                на здоровье!
            </li>
        </ol>
        <ol id="4ac18b8c-277d-4376-8335-23ec7a4ae4d8" class="numbered-list" start="3">
            <li><strong>Правильное отношение к трудностям и неудачам.</strong> Любые трудности - это не только
                испытание, но и возможность научиться чему-то, стать лучше, закалённее, опытнее. Здесь помогает одно
                про­стое и очень важное правило: если вы сделали все, что от вас зависе­ло, то, скорее всего, у вас все
                получится и нет смысла переживать. Если же, несмотря на все возможные усилия, у вас все равно ничего не
                вышло, то тоже нет смысла переживать, ведь вы сделали все, что было в ваших силах! В любом случае,
                беспокойство бессмысленно! И еще, провал, неудача - это не конец света. Берите пример с Томаса Эдисона.
                В поисках вариантов электрической лампочки он перепро­бовал тысячи неудачных попыток. Но, как говорил
                этот величайший изобретатель: «Я не терпел поражений. Я просто нашёл 10 000 спосо­бов, которые не
                работают». Именно тот факт, что он не сдался, а к своим неудачам относился как к естественной части
                пути, который он избрал, и привели его к изобретению электричества! Любая неудача - это просто еще один
                способ, который не сработал. Если цель вам действительно дорога, не сдавайтесь, продолжайте искать тот
                под­ход, который сработает. При правильном отношении - любая неудача это ступень к будущему успеху.
            </li>
        </ol>
        <ol id="0886c2c1-c872-44ee-8ee0-69333403c55c" class="numbered-list" start="4">
            <li><strong>Избавляйтесь от воображаемого стресса!</strong> Благодаря своей развитой фантазии мы частенько
                придумываем себе воображаемые источники стресса, которые действуют точно так же, как и реальные.
                Например, переживания по поводу предстоящего разговора с родите­лями о полученной двойке порой могут
                быть даже сильнее, чем переживания по поводу уже состоявшегося разговора. Такой же эффект может иметь и
                мысленное «прокручивание» прошлых неприятных си­туаций. Верное оружие против воображаемого стресса -
                анализ и дей­ствие. Если вас беспокоит прошлое - проанализируйте, поймите, в чем была причина неприятной
                ситуации, сделайте вывод и решите для себя, что в будущем подобного не допустите. Если вы пережива­ете о
                будущем, то составьте четкий план действий и подготовки для достижения наилучшего результата, выполните
                его и расслабьтесь. Иными словами сделайте все, что от вас зависит, и ни о чем не беспо­койтесь (см.
                предыдущий принцип)! По большому счету, между тщет­ной тревогой и бодрящим воодушевлением тонкая черта и
                черта эта - наличие плана действий.
            </li>
        </ol>
        <ol id="0c561256-e4f1-4b8c-badb-0e4ffff8b2e1" class="numbered-list" start="5">
            <li><strong>Качественный отдых и релаксация.</strong> Даже если вы правильно относитесь к трудностям и ни о
                чем не беспокоитесь, активная и на­сыщенная жизнь все равно требует регулярной эмоциональной и
                фи­зической разгрузки. Подобно тому, как мы даем телу отдохнуть во время сна, нам необходимо регулярно
                давать отдых и своему созна­нию. Важно, чтобы отдых этот был качественный. Приведем простой пример:
                можно три часа бездумно валяться на диване, переключая телевизор с канала на канал. Это же время можно
                провести, читая увлекательную книгу или занимаясь спортом, медитируя, общаясь с интересным человеком или
                проведя пару ча­сов на природе. Эффект будет очень разный, хотя и в первом и во втором случае вы
                отдыхаете. Ученые открыли, что при определенных видах деятельности человеческий мозг переключается на
                осо­бые, так называемые альфа-ритмы. Об этом мы подробно говорили в первой четверти. Это состояние можно
                достичь с помощью созер­цания красоты, творчества, медитации, релаксации и молитвы (для верующих). Более
                того, в этом состоянии включаются наши внут­ренние системы саморегуляции и самоисцеления, в результате
                чего мы способны преодолевать негативные влияния стресса и справ­ляться с недугами. Особенно полезным
                как для физического, так и для эмоциональ­ного состояния считается время, проведенное на природе. Свежий
                воздух и красота окружающей нас природы оказывают умиротворяю­щее действие на психику человека. Поэтому
                отдыхайте так, чтобы не просто отвлечься, а именно восполнить эмоциональные силы, за­рядиться новой
                энергией и вдохновением.
            </li>
        </ol>
        <ol id="034bb9dc-d789-4001-8580-9a936b92add8" class="numbered-list" start="6">
            <li><strong>Добрые отношения и общение с людьми.</strong> Исследования показывают, что люди, имеющие добрые,
                доверительные отноше­ния в семье и с ближними, менее подвержены разрушительному действию стресса.
                Почему? Хорошие отношения - мощный источ­ник уверенности в себе, надежная поддержка в трудную минуту.
                Поэтому если у вас проблемы, не держите их в себе и не ограждай­тесь от окружающих. Попробуйте
                поделиться своими переживани­ями с родными, друзьями, учителем, психологом. Часто наши про­блемы кажутся
                нам больше, чем они есть на самом деле. Посторон­ний взгляд даст вам возможность увидеть это, а доброе
                общение поможет снять часть напряжения. Культивируйте хорошие отно­шения с окружающими, и вам будет
                намного проще справляться со стрессом!
            </li>
        </ol>
        <p id="16f37219-ea8c-4f48-b5c9-fe973871584e" class="">
            <mark class="highlight-red">МЫ - ДЕТИ ПРИРОДЫ. ОБЩЕНИЕ С НЕЙ ЦЕЛИТЕЛЬНО</mark>
        </p>
        <p id="a86450bb-911c-49c7-b13f-b35d39589263" class="">
        </p>
        <a>
            <img style="width:1600px"
                 src="https://media.discordapp.net/attachments/745700277004402832/756907756673564672/Untitled.png?width=929&height=672"/>
        </a>
        <p id="a4d29a79-37b8-466e-a5eb-1bf8ff3543cf" class="">Некоторые психологи сравнивают стресс в жизни со специями
            в нашей пище. Специи придают еде вкус, обостряют наше восприя­тие. Совсем без них есть скучно и невкусно, в
            то же время сильно приправленная еда вредна для желудка. Также и со стрессом, уме­ренное его количество -
            это своеобразный «огонек», который дер­жит нас в тонусе, поддерживает мотивацию, заставляет двигаться
            вперед. Поэтому живите полной жизнью, ставьте амбициозные цели. Да, на вашем пути неизбежно будут трудности
            и проблемы. Но как реагировать на эти трудности решаете только вы сами. Станут ли они источником энергии или
            превратятся в хронический стресс за­висит только от вас.</p>
        <blockquote id="fe073cb9-65fa-491f-a297-61222c2bee97" class="block-color-red">ПОЛЕЗНЫЕ МАТЕРИАЛЫ</blockquote>
        <p id="4300a2eb-5b5e-483c-b9bc-f392e6cb1f5c" class="">Книги:</p>
        <ul id="f922fee2-a546-4df8-843f-6100ec4817d8" class="bulleted-list">
            <li>Ганс Селье «Стресс без дистресса».</li>
        </ul>
        <ul id="8b45bfd5-2518-40f9-8051-9b099f847ce4" class="bulleted-list">
            <li>Иван Кириллов «Стресс-серфинг. Стресс на пользу и в удо­вольствие».</li>
        </ul>
        <blockquote id="4b115a5a-dc04-4883-84f9-ee2e6afe07e4" class="block-color-red">РЕЗЮМЕ УРОКА</blockquote>
        <ul id="b7c0e8c1-f624-4df7-a01e-f1c1422d8a12" class="bulleted-list">
            <li>Умеренный стресс не вреден, наоборот, он, мобилизуя на гор­мональном уровне резервные возможности
                человека, стимулирует его движение и развитие.
            </li>
        </ul>
        <ul id="bb757b5d-a293-448b-8b5a-4d1fe274ad43" class="bulleted-list">
            <li>Опасен длительный, глубокий, хронический стресс, или ди­стресс, вызываемый неправильным отношением к
                сложным жизнен­ным обстоятельствам.
            </li>
        </ul>
        <ul id="80421a26-8ddd-4be9-bbaf-73cbe55c0ed7" class="bulleted-list">
            <li>Как избежать дистресса? Движение, позитивный настрой, ка­чественный отдых и хорошие отношения с близкими
                помогут спра­виться с любыми трудностями.
            </li>
        </ul>
		<span style="border-bottom: 3px solid blue" class="pb-4">
			<a href="{% url 'third_chapters_LadieswithStress_task' %}" class="d-inline-flex text-decoration-none">
				<h3 style="color: black;">Перейти к домашнему заданию</h3>
			</a>
			<span class="oi oi-arrow-right ml-2" style="font-size: 2rem"></span>
		</span>
	</div>
	<a href="#"><span class="oi oi-arrow-top float-right rounded-circle py-3 px-4"
					  style="color: black; border: 3px solid black; font-size: 2.5rem"></span></a>
	<div class="mt-5 w-100 justify-content-center d-inline-flex">
		<img src='{% static "img/images_for_tree/Yoga.svg" %}' alt="" class="rectang"/>
	</div>
</article>


{% endblock %}