{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}


<blockquote id="ac1d689f-aa67-429f-8dc4-3741361b4228" class="block-color-red">ДОМАШНЕЕ ЗАДАНИЕ</blockquote>
<p id="cb536677-0766-4600-9d69-e071902e5bd8" class="">Подумайте, есть ли что-то такое, что вас сильно беспокоит
    на протяжении последнего времени? Если да, то возьмите лист бумаги и в двух-трех словах сформулируйте
    причину своего беспокойства (например, плохая оценка по ..., ссора с... и т.д.).</p>
<ul id="059cb0ef-436c-46ae-8ec7-d661d38041dc" class="to-do-list">
    <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Подумайте, с кем вам было бы комфортно обсудить этот воп­рос, чей совет мог бы вам помочь? Может быть родители, бабушка, кто-то из друзей? Поговорите с этим человеком, поделитесь своими переживаниями и послушайте его точку зрения.</span>
    </li>
</ul>
<ul id="6b3e81c5-dbb8-4cf8-9da7-2c089f5e9702" class="to-do-list">
    <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Затем обдумайте свою проблему еще раз самостоятельно и со­ставьте список положительных моментов, которые с ней связаны. Например, чему вы можете научиться с помощью этой трудности? Какие навыки вы можете развить, решая ее?</span>
    </li>
</ul>
<ul id="c8a2d147-aae0-4c6a-9df0-b77dd3727c51" class="to-do-list">
    <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Далее составьте список конкретных действий, которые вы мо­жете предпринять, чтобы ситуация изменилась.</span>
    </li>
</ul>
<ul id="1f8f9dcb-bd16-4eec-b78a-12ca052fe2d6" class="to-do-list">
    <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Сделайте одно из этих действий незамедлительно! И продол­жайте выполнять остальные намеченные шаги. Действие - лучшее лекарство от всех тревог.</span>
    </li>
</ul>
<p id="a41de868-641c-4509-8545-9aa080870619" class="">Уверены, что, проделав все это, вы заметите: ваше
    беспокойство ослабло и сменилось воодушевлением! Это и есть практическое при­менение умения «ладить» со
    стрессом.
</p>


{% endblock %}