{% extends 'mainsite/base.html' %} 

{% block content %}

<div class="template">

<hr>
<p><font color="violet">ДОМАШНЕЕ ЗАДАНИЕ</font></p>
<hr>
<p><input type="checkbox"> Постарайтесь осмыслить свою жизнь, подумайте, как проходит ваш обычный день. Удовлетворены ли вы своей жизнью? Есть ли у вас желание расти, развиваться? Запишите наблюдения в свой дневник. Скорее всего, у вас не будет четкого ответа на эти вопросы, это нормально. Этими вопросами человек задается всю свою жизнь, и на каждом этапе может давать разные ответы. Чем раньше начать, тем лучше. Постепенно вы все более и более четко будете представлять ответы на эти вопросы. Это - начало вашей осознанной жизни.</p>
<p><input type="checkbox">Постарайтесь осмыслить свою жизнь, подумайте, как проходит ваш обычный день. Удовлетворены ли вы своей жизнью? Есть ли у вас желание расти, развиваться? Запишите наблюдения в свой дневник. Скорее всего, у вас не будет четкого ответа на эти вопросы, это нормально. Этими вопросами человек задается всю свою жизнь, и на каждом этапе может давать разные ответы. Чем раньше начать, тем лучше. Постепенно вы все более и более четко будете представлять ответы на эти вопросы. Это - начало вашей осознанной жизни.</p>
<p><input type="checkbox">Как вы думаете, из каких основных частей, разделов состоит ваша жизнь?
Как вы думаете, из каких основных частей, разделов состоит ваша жизнь?</p>
</div>
{% endblock %}