{% extends 'mainsite/base.html' %} 

{% block content %}

<div class="template">


<hr>
<p><font color="violet">РЕЗЮМЕ УРОКА</font></p>
<hr>
<ul>
	<li>Четыре важнейшие составляющие вашей жизни на данный момент - внутренний мир, учеба, здоровье и отношения</li>
	<li>Для успеха в жизни и достижения счастья необходимо развивать их одновременно и поддерживать гармонию между ними.</li>
</ul>
<hr>
<p><font color="violet">ЗАДАНИЯ К УРОКУ</font></p>
<hr>
<p style="text-indent: 20px">Вернитесь к своему заполненному "Колесу жизни". НА основе своих баллов ответьте на следующие вопросы:</p>
<ul>
	<li>Какая из сфер вашей жизни наиболее развита?</li>
	<li>Какая из сфер отстает более всего?</li>
	<li>Что может быть причиной такого дисбаланса?</li>
</ul>
<p style="text-indent: 20px">Далее, выберите сферу, которая отстает наиболее, ознакомьтесь с этим разделом в книге(?) в первую очередь. Продумайте конкретные действия, которые помогут вам исправить ситуацию. В ближайший месяц сконцентрируйтесь на их выполнении. Далее изучайте книгу с первого раздела.</p>

</div>





<h1 id="a9da15a0-8652-44c6-baad-4da3e2b1cf30" class="block-color-red">Дополнительная информация 
</h1>
<p id="255cfcc5-1219-4add-9f93-0a2cdb4ff1d3" class="">Текстовиками были придуманы вопросы для помощи в составлении колеса жизни </p>
<a>
	<img style="width:757px" src="https://media.discordapp.net/attachments/745700277004402832/757430939138654249/225.png"/>
</a>

<p id="290dae8f-61a9-43ce-b26a-8a6bc00ca19f" class=""> Необходимо обсудить количество баллов за каждый вопрос ( первоначально 2)</p><p id="4aba56cd-0823-425d-9d91-4f63590b3d99" class="">
</p>














{% endblock %}