{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}

<article id="0370fccd-7455-4596-ba0f-cb036289fef4" class="page sans w-75 mx-auto" style="margin-top: 2em; font-size: 18px">
    <header>
        <div>
            <a href="{% url 'introduction' %}" target="_self" style="color: black; margin-right: 5em"><span
                    class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
            <span class="text-muted">
				<a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
				<a href="{% url 'introduction' %}" target="_self" class="text-muted">Введение</a> >
				Кто такой лидер
			</span>
        </div>
        <img class="page-cover-image"
             src="https://media.discordapp.net/attachments/745700277004402832/756944421903138967/fd8d7152cfbc475ca4aeaca9a7ddc0ee.jpg"
             style="object-position:center 50%; margin-top: 2em; border-radius: 0"/>
    </header>
    <div class="page-body text-left w-75 mx-auto">
        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Top Skills</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>19.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}' style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}' style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}' style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}' style="background: black;width: 25px; height: 30px"></a>
        </div>
        <h1 class="" style="margin-bottom: 3rem;">
            <em>Кто такой Лидер и что такое личностное развитие</em>
        </h1>
        <p id="8e49517b-82c3-497f-aea2-45964671bc82" class="" style="margin-bottom: 2rem;">
            Почему мы говорим именно о лидерстве? Понятие &quot;лидер&quot;, &quot;лидерство&quot; происходят от
            английского глагола to lead - вести за собой, направлять, возглавлять. распространенным является мнение, что
            лидерами могут стать только 4-5% людей. В определенном смысле это так. Действительно, лидерами государств,
            создателями крупных компаний, полководцами, наверное, можно родиться. Однако в рамках этой книги мы
            рассматриваем понятие &quot;лидер&quot; в ином, значительно более широком смысле.
        </p>
        <p id="d0a8ace1-4b25-4847-b90b-2a352515cf6c" class="" style="margin-bottom: 2rem;">
            В нашем понимании лидер - это человек, способный взять на себя ответственность за что-то и довести взятую
            ответственность до результата. Если так, то лидерство - качество, или, как сейчас модно говорить,
            компетенция, массовая. Ведь тот, кто руководит работой даже маленькой группы из 2-3 человек - уже лидер. Он
            должен уметь поставить задачу, объяснить её решение, проконтролировать исполнение, мотивировать людей.
            Большинство ваших будущих работодателей подтвердит, что главная беда наших выпускников не столько в
            недостаточности их знаний, а в жизненной беспомощности, в неспособности организовать даже свою работу.
        </p>
        <p id="8e32f1e4-23f6-49aa-878e-469797b5275e" class="" style="margin-bottom: 2rem;">
            Юноши, читающие эту книгу, со временем создадут свои семьи. Но ведь тем самым они берут на себя
            ответственность за благополучие любимой и будущих детей? Значит, они - лидеры, ведущие по жизни своих
            близких. Более того, можно посмотреть еще шире: лидером является любой человек, который принимает на себя
            ответственность за свою собственную жизнь и ведет ее к успеху. Человек, который не просто следует внешним
            обстоятельствам, а активно формирует свою судьбу. Лидер - это человек, живущий полной, насыщенной событиями,
            победами и поражениями жизнью, человек постоянно развивающийся, непрерывно меняющийся к лучшему. Это
            человек, способный увлечь своими идеями, вдохновить и повести за собой не только команду своих
            единомышленников, но прежде всего свою собственную жизнь. Ибо победе общественной всегда предшествует победа
            личная, внутренняя. Лидер - человек, который умеет анализировать свои поступки, поведение и постоянно
            работает над своим развитием. В таком понимании лидерство это не столько результат, сколько процесс, процесс
            непрерывного личностного роста, и он относится буквально ко всем. Лидерами не рождаются, лидерами,
            полноценными хозяевами своей жизни,- становятся. И работу над своим успешным будущим можно (и нужно!)
            начинать со школьной скамьи.
        </p>
        <p id="6c151103-5d91-4068-ad8f-88bb853c7c87" class="" style="margin-bottom: 2rem;">
            <strong>Что для этого необходимо? Только одно - ваше решение расти, развиваться как личность.</strong>
        </p>
        <p id="9e8c3a94-4c3a-4dd0-b895-8b945b48f9ce" class="" style="margin-bottom: 2rem;">
            Личностное развитие - это осознанное и целенаправленное формирование в себе базовых для жизни навыков и
            качеств: здоровый образ жизни, умение управлять собой, своим временем и пространством, умение ставить и
            достигать цели, выстраивать приоритеты, работать в команде, общаться, ладить с окружающими, публично
            выступать и др. Именно эти навыки, или их отсутствие, определяют, будете ли вы жить жизнью яркой
            либо будете чахнуть и прозябать. В результате напряженной, но увлекательнейшей работы вы будете расти каждый
            день, не только и не столько физически, но духовно, становясь сегодня намного лучше, умнее, сильнее, чем
            вчера. А завтра вы будете сильнее, чем сегодня. И если вы примете решение расти, развиваться как личность,
            разработаете свою жизненную стратегию, и не будете опускать руки при ее реализации - ваши достижения
            превзойдут ваши самые смелые ожидания. Доказательства этому - миллионы реальных историй людей, стартовые
            условия которых были намного хуже, чем у большинства из вас и которые достигли невероятного жизненного
            успеха. Вы не верите? Вот только один пример. Посмотрите видео к этому уроку, оно снимет все ваши сомнения
        </p>
        <div style="margin-bottom: 2rem; height: 22rem" class="d-inline-flex mt-4">
            <iframe class="h-100 w-75 mr-5" src="https://www.youtube.com/embed/Qj0cIAVAqKY" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <strong>Ник Вуйнич. Превый канал, Программа "Воскрестное время" 14.04.13</strong>
        </div>
        <p id="b7c51ed5-c516-4e3b-b59d-0e043026463d" class="" style="margin-bottom: 2rem;">
            Постарайтесь осмыслить увиденное и по-новому взглянуть на свои, как вам кажется, проблемы, трудности и
            отговорки. Этот парень попав в беду, нашел силы не только выжить самому, но в буквальном смысле помочь
            тысячам других людей, некоторых из которых он своим примером просто спас.
        </p>
        <p id="7f6a7066-19f8-4aad-bf25-06f13666f313" class="" style="">
            .... В начале книги(?) мы обещали вам притчи. Вот первая и, возможно, самая важная притча. Мы ее придумали
            сами, чтобы сформулировать первый и самый главный урок этой книги.</p>
        <blockquote style="margin-left: -1.5em;">
            <a href="{% url 'introduction_chapter_pritch' %}" style="color: black;">
                <h3 style=" margin-bottom: 1.5rem;">ПРИТЧА О САМОМ ГЛАВНОМ В ЖИЗНИ</h3>
            </a>
            <p id="52826301-1bb6-4366-8cf7-ab29b601c917" class="" style="margin-bottom: 2rem;">
                Какой урок из этой притчи? Вас окружает прекрасный, огромный мир, в котором для вас открыты бесконечные
                возможности. и, просто по факту своего рождения, вы получили самый главный подарок - жизнь в этом мире.
                Этому подарку нет цены. Все другие богатства, даже взятые вместе, близко не смогут с ним сравниться. и
                это достояние - уже ваше! Она - ваша жизнь - должна стать счастливой и успешной!</p>
            <p id="63082874-a4db-47a6-ae62-f0c397f07348" class="" style="margin-bottom: 2rem;">
                Но, как же так! - спросите вы. Меня окружает столь много угрюмых, несчастных людей. Я их вижу везде и
                постоянно слышу их жалобы! Да, это правда. Жизнь полна неудачников, вечно жалующихся и обвиняющих всех в
                своих проблемах. Но, - в этом суть! - это только потому, что когда-то, много лет назад, они сами решили
                стать такими. Из этой книги вы узнаете, что человек сегодня - это то, о чем он думал вчера. Вы можете
                решить иначе! И вы должны решить иначе! и тогда ваши достижения в жизни будут ограничены только вашим
                воображением.
            </p>
            <p id="90a24e57-d3c9-4fe3-b893-08770ab1bbfe" class="">
                В принципе, начав с этой притчи, ею можно было бы и закончить. Все остальное - важно, но это уже детали.
                Со временем вы поймете, что в этой невероятно сложной жизни самые главные истинны одновременно являются
                самыми простыми. Одна из самых главных истин приведена выше: вы сказочно богаты и все в ваших руках. Но
                жизнь диалектична. Эти самые простые истины воплощаются очень трудными и долгими путями. Это правда:
                самая трудная победа - победа над собой. И она никогда не будет окончательной. Вам придется много
                потрудиться, чтобы построить счастливую жизнь. Но самый первый шаг - вы должны принять твердое решение
                полностью реализовать заложенный в вас потенциал. Поверьте, он безграничен!
            </p>
        </blockquote>
        <p id="7f1c46da-147e-4e85-85db-ae5bbc1d5d85" class="" style="margin-bottom: 2rem;">
            <mark class="">ЛЮБЫЕ ОГРАНИЧЕНИЯ СУЩЕСТВУЮТ ЛИШЬ В ВАШЕЙ ГОЛОВЕ</mark>
        </p>
        <p id="33642bf1-1755-4d52-a73e-d0677aeec8ea" class="" style="margin-bottom: 2rem;">
            Вы можете стать выдающимся ученым, олимпийским чемпионом, крупным политическим деятелем, миллиардером,
            адмиралом .... Не улыбайтесь - можете! Или вы можете стать воспитателем в детском саду, школьным учителем,
            заслужившим любовь своих учеников. Ещё, вы можете стать бухгалтером, водителем троллейбуса, строителем, но с
            улыбкой встречать каждое утро и радоваться новому дню. Потому что вы хорошо делаете свое дело, потому что
            вас уважают люди и любят близкие. В этой книге мы постараемся показать, что внешние факторы успешности -
            деньги, слава, положение в обществе важны, но они не самые главные. Если бы это было так, то чем более
            богатым был бы человек или чем большим начальником он был бы начальником - тем больше было бы у него
            счастья. У миллионера денег в десятки раз больше, чем у обычных людей. Они, что в десятки раз более
            счастливые? Конечно, нет. Правильно поется в песне: &quot; важней всего погода в доме&quot;. Особенно в
            вашем внутреннем доме, имя которому - душа. Ваш &quot;внешний&quot; дом: слава, деньги, власть, или большой
            дом с бассейном в прямом смысле этого слова - конечно же важны и ради этого стоит трудиться. Но знаете ли
            вы, сколько людей ходя хмурыми по своим особнякам и не живут - мучаются жизнью? При строительстве &quot;внешнего
            дома&quot; очень важное забыть обустроить свой &quot;внутренний дом&quot; - надежное здоровье, добрые
            отношения с близкими и с самим собой, искренний интерес к тому, что делаешь. Именно в этом корень
            большинства проблем &quot;взрослых&quot;.
        </p>
        <p id="c109f7b7-1458-483e-af92-613a2ace67aa" class="" style="margin-bottom: 2rem;">
            Мудрецы говорили: дорогу осилит идущий. И дорога даже в тысячу дней начинается с первого шага. Мы, этой
            книгой, постараемся стат вашими помощниками в этой сложной, тернистой, но ведущей к вершине - дороге...
        </p>
        <p id="7d5b798c-b016-48f4-a735-8f2ba4ab7b4b" class="" style="margin-bottom: 2rem;">
            В добрый путь!
        </p>
        <h2 style="margin-bottom: 2rem;">РЕЗЮМЕ УРОКА</h2>
        <ul>
            <li>Мир прекрасен и в нем для вас открыты огромные возможности.</li>
            <li>Ваша будущая жизнь зависит только от вас самих.</li>
        </ul>
        <span style="border-bottom: 3px solid blue" class="pb-4">
			<a href="{% url 'introduction_chapter_lider_task' %}" class="d-inline-flex text-decoration-none">
				<h3 style="color: black;">Перейти к домашнему заданию</h3>
			</a>
			<span class="oi oi-arrow-right ml-2" style="font-size: 2rem"></span>
		</span>
    </div>
    <a href="#"><span class="oi oi-arrow-top float-right rounded-circle py-3 px-4"
                      style="color: black; border: 3px solid black; font-size: 2.5rem"></span></a>
    <div class="mt-5 w-100 justify-content-center d-inline-flex">
        <img src='{% static "img/images_for_tree/Yoga.svg" %}' alt="" class="rectang"/>
    </div>
</article>


{% endblock %}
