{% extends 'mainsite/base.html' %}

{% block content %}

<div class="introduction_chapters">

<button type="button" class="btn btn-secondary"><a href="{% url 'introduction_chapter_lider' %}" class="top-menu"><span class="glyphicon glyphicon-comment"></span>Кто такой лидер и что такое личностное развитие?</a></button>
<button type="button" class="btn btn-secondary"><a href="{% url 'introduction_chapter_spheres_life' %}" class="top-menu"><span class="glyphicon glyphicon-comment"></span>Сферы Жизни</a></button>


</div>


{% endblock %}