{% extends 'mainsite/base.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% block content %}


<article id="f79b24bc-a39b-4bfc-b234-efbe129add98" class="page sans w-75 mx-auto mt-5" style="font-size: 18px">
    <header>
        <div>
            <a href="{% url 'introduction' %}" target="_self" style="color: black; margin-right: 5em"><span
                    class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
            <span class="text-muted">
				<a href="{% url 'tree' %}" target="_self" class="text-muted">Статьи</a> >
				<a href="{% url 'introduction' %}" target="_self" class="text-muted">Введение</a> >
				Сферы жизни
			</span>
        </div>
        <img class="page-cover-image mt-5"
             src="https://images.unsplash.com/photo-1518462592603-0b6bac106032?ixlib=rb-1.2.1&amp;q=85&amp;fm=jpg&amp;crop=entropy&amp;cs=srgb&amp;ixid=eyJhcHBfaWQiOjYzOTIxfQ"
             style="object-position:center 25.6%; border-radius: 0"/>
    </header>
    <div class="page-body text-left w-75 mx-auto">
        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Иванов Иван</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>06.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
        </div>
        <h1 class="page-title">
            Сферы жизни
        </h1>
        <p id="2f8e324c-0a85-4f70-bcaa-e2742dd73bd8" class=""> Если вы дочитали до этого места, значит, вы для себя
            приняли очень важное решение - развиваться и расти как личность. Для этого придется серьезно поработать над
            собой. С чего же начать?</p>
        <p id="92d519ce-1430-4b00-8fc9-3d14795c8d62" class=""> Подобно тому, как, скажем, дом состоит из фундамента,
            стен, окон, дверей и крыши, человеческая жизнь также состоит из ряда важных элементов. Эти части можно
            выделять по-разному. Мы рассмотрим следующее деление. Есть два основных элемента: это вы сами и ваше
            взаимодействие с окружающим миром. Вы - это совокупность вашего внутреннего мира (духовная составляющая) и
            тела (физическая составляющая). А взаимодействие с окружающим миром состоит из деятельности человека (учеба,
            работа) и отношений с окружающими его людьми.</p>
        <p id="50295950-57dc-4cd1-aed3-3d059961e3a7" class="">Внутренний мир - это все, что находится в
            сознании и подсознании человека: ценности и принципы, цели в жизни, самооценка, ваш характер и привычки,
            беспокойства и страхи. Из следующей четверти вы поймете, что наведение порядка в своем внутреннем мире -
            основа основ вашего благополучия в жизни.</p>
        <p id="78d80ac0-b17b-4472-9813-45e5aac4e5b2" class=""> Вторая составляющая - физическая, ваше тело. Очевидно, мы
            хотим , чтобы оно было стройным и подтянутым, кожа была упругой, взгляд - лучезарным, чтобы нас переполняла
            энергия. Отсюда вторая важнейшая сфера жизни любого человека - здоровье.</p>
        <p id="bace4832-1cc4-44d0-8653-b10cd6260cb5" class=""> Основной вид взаимодействия с окружающим миром -
            деятельность человека. Для вас основная деятельность - учеба, и это еще одна важная сфера
            вашей жизни. Но учебу мы будем понимать не просто как набор школьных предметов, а как ваше всесторонне
            развитие, как подготовку к &quot;взрослой&quot; жизни. Помимо обычной школьной программы, здесь важно
            формирование жизненно необходимых навыков, таких как: умение работать с информацией, грамотная устная речь и
            письменная речь, умение управлять своим временем, ясно формулировать и добиваться поставленных целей,
            организовать пространство своей жизни и многие другое.</p>
        <p id="2c44a268-36e1-47f5-90c9-b268a99b9ecb" class=""> Помимо своей деятельности, вы также постоянно
            взаимодействуете с окружающими вас людьми. В результате вы формируете отношения, качество которых будет
            также существенно влиять на вас. Поэтому отношения - еще одна важная составляющая вашей
            жизни.</p>
        <p id="7ade9ff5-85bf-4e16-9b00-a93ae9718bc2" class=""> Все эти сферы теснейшим образом переплетены между собой:
            ваши отношения с людьми зависят от вашего внутреннего мира, а на ваше физическое здоровье непосредственно
            влияют успехи в школе, отношения с окружающими и они, в свою очередь, также зависят от того, как вы себя
            чувствуете.</p>
        <p id="bfaf5abe-4170-4544-9544-63b43dd90625" class=""> Итак, четыре сферы вашей жизни и четыре направления
            вашего личностного рост: внутренний мир, учеба, здоровье и отношения. Именно в таком
            порядке мы их будем рассматривать в этой книге (?), по одной сфере на каждую школьную четверть.</p>
        <p id="bc9b9b0a-2427-45dc-9c8d-a0abdcf73682" class=""> Перед тем, как начать любой путь, важно ясно понимать,
            где находишься в данный момент. Такое понимание позволит вам правильно выстроить и рассчитать ваше движение,
            определить приоритетные направления. </p>
        <p id="840b417d-5e10-4d9b-ab19-556bfcd7b199" class=""> Выполните следующее простое упражнение, которое позволит
            вам взглянуть на свою жизнь как бы с высоты птичьего полета и осуществить комплексную оценку текущего
            положения. Методика эта называется
            &quot;Колесо жизни&quot; </p>
        <a href='{% url "introduction_chapter_koliso" %}' class="text-dark">
            <h2>Колесо жизни</h2></a>
        <blockquote style="margin-left: -1.5em;">
            <p id="e914c011-cfbc-4928-af28-6f49aad5e658" class=""> Упражнение &quot;Колесо жизни&quot;, следует выполнять
                регулярно, примерно раз в год. Например, перед началом учебного года. Регулярность поможет
                вам увидеть как ваша жизнь меняется в динамике и следить за достижением своих целей, вовремя корректировать
                возможные диспропорции, планы и сроки. Вы даже можете выполнять его вместе с близким другом/подругой или
                членом семьи и обсуждать разные аспекты жизни друг друга. Зачастую взгляд со стороны помогает увидеть что-то новое
                в себе, чего вы раньше не замечали.</p>
            <p id="dbb19ca2-a903-476c-961e-14f247a9213b" class=""> Помимо общей картины жизни, это упражнение показывает
                важный
                баланс, гармонию, между ее разными частями. Очень часто бывает, что люди развивают и сильно продвигаются в
                одной
                из сфер, принося в жертву другие. Например, нередко успехи в работе (учебе, в нашем случае) достигаются за
                счет
                здоровья или испорченных отношений с близкими. Рано или поздно это приводит к проблемам. Важно понять, что
                выделенные выше 4 сферы одинаково важны в жизни человека и их нужно развивать одновременно.
                Почему?</p>
            <p id="48a3a4da-e2b4-4bdc-86df-91be74a1bc2e" class=""> Задайтесь простым, но очень важным вопросом. Какова самая
                главная цель жизни любого человека? К чему он, чем бы ни занимаясь в жизни, в конечном счете, стремится?
                Если вы
                хорошенько подумаете, то, скорее всего придете к выводу, что, в конечном счете, любой человек стремится
                стать
                счастливым. Да, у каждого свое представление о счастье и на разных этапах жизни оно может меняться. Для
                кого-то
                счастье - это завести семью и вырастить детей, для кого-то - поступить в престижный университет и сделать
                успешную карьеру, предел мечтаний другого - автомобиль... Но каждый человек, осознает он это или нет,
                стремится
                к своему счастью. По этому поводу замечательно высказался Джон Леннон, один из основателей легендарной
                группы
                &quot;Битлз&quot;:</p>
            <p id="166c493a-5a44-4351-827e-e660816e9cd8" class=""><em>&quot;Когда я был маленьким, моя мама всегда говорила,
                что
                смысл жизни в счастье. Когда я пошел в школу, у меня спросили, кем я хочу стать, когда вырасту. Я написал -
                &quot;счастливым&quot;. Мне сказали, что я не понял задание. Я сказал, что они не поняли жизнь.&quot;</em>
            </p>
            <p id="365d9a46-1990-4d57-97c8-f9464ae569b0" class=""> Понятие счастья сугубо индивидуально, однако одно можно
                утверждать совершенно точно. Если у человека серьезно отстает хотя бы одна из основных сфер в жизни -
                маловероятно, что он будет действительно счастлив. Если у человека проблемы со здоровьем или неважно идут
                дела в
                школе/на работе, или у него напряженные отношения с близкими и друзьями, или он не живет в ладу с самим
                собой -
                может ли такой человек чувствовать себя счастливым?</p>
            <p id="26c51dc1-7115-4b0d-9c2b-1f7d309a3576" class=""> Более того, так ка все сферы тесно взаимосвязаны, то рано
                или
                поздно отставание в одной из них неизбежно негативно скажется и на других областях жизни. Проблемы со
                здоровьем
                неизбежно создадут трудности в учебе, проблемы с учебой повлияют на внутренне состояние, а это в свою
                очередь
                повлияет на отношения с окружающими. Именно поэтому <em>необходимо стремиться к гармоничному
                    развитию
                    каждой сферы своей жизни.</em></p>
        </blockquote>

        <div class="d-inline-flex flex-column w-100  mt-5">
            <div class="d-inline-flex justify-content-center mx-auto align-items-center">
                <form method="POST" id="save_sphere" class="d-inline-flex flex-column mr-5">{% csrf_token %}
                    {{ form }}
                </form>

                {% if img %}
                <img src="/static/mainsite/images/wheeloflife/png/{{ img }}.png"
                     alt="Здесь будет наглядно показан ваш прогресс">
                {% endif %}
            </div>
            <div class="d-flex justify-content-center mt-5">
                <button type="button" class="header--change--btn mr-5" id="sphere_of_life_Btn">Сохранить</button>
                <a class="header--change--btn" href="{% url 'sphere_deletion' %}">Удалить</a>

            </div>
        </div>

        <p id="9d9968dd-1ed3-4ee4-b790-f79ca44d2b1d" class="mt-5">
            <mark class=""> СЧАСТЬЕ - ЭТО ПОЛНОТА И ГАРМОНИЯ ЧЕТЫРЕХ СФЕР ЖИЗНИ</mark>
        </p>
        <p id="8d51ce0f-a479-47ab-a1c9-d6e3378bc3d8" class=""> Далее в книге (?) мы рассмотрим каждую из основных сфер
            по
            отдельности. И начнем мы со сферы &quot;Внутренний мир&quot;. Вы скоро поймете, что эта составляющая вашей
            жизни
            является основополагающей. Поэтому на картинке выше она уравновешивает три другие сферы. Вы убедитесь, что
            сегодняшние неудачи в школе, проблемы в отношениях с окружающими или со здоровьем, все это вчера уже было в
            вашем внутреннем мире.</p>
        <span style="border-bottom: 3px solid blue" class="pb-4">
			<a href="{% url 'introduction_chapter_spheres_life_task' %}" class="d-inline-flex text-decoration-none">
				<h3 style="color: black;">Перейти к домашнему заданию</h3>
			</a>
			<span class="oi oi-arrow-right ml-2" style="font-size: 2rem"></span>
		</span>
    </div>
    <a href="#"><span class="oi oi-arrow-top float-right rounded-circle py-3 px-4"
                      style="color: black; border: 3px solid black; font-size: 2.5rem"></span></a>
    <div class="mt-5 w-100 justify-content-center d-inline-flex">
        <img src='{% static "img/images_for_tree/Yoga.svg" %}' alt="" class="rectang"/>
    </div>

    <div id="mypopup" class="popup">
        <div class="popup_content">
            <div class="popup_header">
                <h2>Получено достижение "Первые Шаги"</h2>
                <span class="close">&times;</span>
            </div>
            <div class="popup_body">
                <p>Поздравляем с началом вашего личностного развития!</p>
                <p>Данное колесо жизни поможет вам отслеживать улучшение ваших сфер жизни по мере продвижения по
                    книге.</p>
            </div>
        </div>

    </div>
    {% if not img %}
    <script>
        let popup = document.getElementById('mypopup'),
            popupToggle = document.getElementById('sphere_of_life_Btn'),
            popupClose = document.querySelector('.close');
        submitForm = document.getElementById("save_sphere")
        ;
        popupToggle.onclick = function () {
            popup.style.display = "block"
        };
        popupClose.onclick = function () {
            popup.style.display = "none"
            submitForm.submit()
        };
        window.onclick = function (e) {
            if (e.target == popup) {
                popup.style.display = "none"
                submitForm.submit()
            }
        }

    </script>
    {% endif %}
    <script>
        let popupToggle = document.getElementById('sphere_of_life_Btn'),
            submitForm = document.getElementById("save_sphere")
        ;

        popupToggle.onclick = function () {
            submitForm.submit()

        };

    </script>

</article>


{% endblock %}
