{% extends 'mainsite/base.html' %} 

{% block content %}

<div class="template">


<hr>
<p><font color="violet">РЕЗЮМЕ УРОКА</font></p>
<hr>
<ul>
	<li>Четыре важнейшие составляющие вашей жизни на данный момент - внутренний мир, учеба, здоровье и отношения</li>
	<li>Для успеха в жизни и достижения счастья необходимо развивать их одновременно и поддерживать гармонию между ними.</li>
</ul>
<hr>
<p><font color="violet">ЗАДАНИЯ К УРОКУ</font></p>
<hr>
<p style="text-indent: 20px">Вернитесь к своему заполненному "Колесу жизни". НА основе своих баллов ответьте на следующие вопросы:</p>
<ul>
	<li>Какая из сфер вашей жизни наиболее развита?</li>
	<li>Какая из сфер отстает более всего?</li>
	<li>Что может быть причиной такого дисбаланса?</li>
</ul>
<p style="text-indent: 20px">Далее, выберите сферу, которая отстает наиболее, ознакомьтесь с этим разделом в книге(?) в первую очередь. Продумайте конкретные действия, которые помогут вам исправить ситуацию. В ближайший месяц сконцентрируйтесь на их выполнении. Далее изучайте книгу с первого раздела.</p>

</div>
{% endblock %}