{% extends 'mainsite/base.html' %}

{% block content %}


<article id="1cbf522b-3f73-4199-9608-40f2aee8a601" class="page sans w-75 mx-auto mt-5" style="font-size: 18px">
    <header>
        <a href="{% url 'introduction_chapter_lider' %}" target="_self" style="color: black; margin-right: 5em"><span
                class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
        <span class="text-muted">
            <a href="{% url 'tree' %}" target="_self" class="text-muted">Статьи</a> >
            <a href="{% url 'introduction' %}" target="_self" class="text-muted">Введение</a> >
            <a href="{% url 'introduction_chapter_lider' %}" target="_self" class="text-muted">Кто такой лидер</a> >
                Притча
        </span>
        <img class="page-cover-image mt-5" src="https://www.notion.so/images/page-cover/woodcuts_1.jpg"
             style="object-position:center 77.83%; border-radius: 0"/>
    </header>
    <div class="page-body text-left w-75 mx-auto">
        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Иванов Иван</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>06.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='' style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='' style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='' style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='' style="background: black;width: 25px; height: 30px"></a>
        </div>
        <h1 class="page-title">
            <em>ПРИТЧА О САМОМ ГЛАВНОМ В ЖИЗНИ</em>
        </h1>
        <p id="ff33b7c0-6c48-422b-8b7b-d00be207334a" class="">
            <em>Пройдя долгий путь, юноша приходит к мудрецу и спрашивает:</em>
        </p>
        <p id="e021253d-9b1f-40be-9d9a-4cac24391881" class="">
            <em>- Мудрец, ты прожил долгую жизнь, тебя уважают люди. Скажи, как мне добиться богатства и славы? к чему я
                должен стремиться? И что самое ценное в жизни?</em>
        </p>
        <p id="38d7a822-ee2d-46a1-8c17-fee4f6733b12" class=""><em>Старик внимательно посмотрел на юношу, увидел его
            страстное желание получить ответы на свои вопросы и молча повел за собой. Они подошли к реке. Мудрец жестом
            пригласил юношу войти в воду. Когда они забрались по грудь, мудрец взял голову юноши и погрузил ее в воду.
            Скоро юноша начал задыхаться, но старик был силен и твердо держал его под водой. Юноша начал отчаянно
            вырываться, но мудрец продолжал его удерживать. И только когда юноша почти захлебнулся, мудрец отпустил
            его.</em></p>
        <p id="73db48a7-0b60-4025-af70-1eb5662925ea" class=""><em>После того как юноша отдышался и пришел в себя, старик
            впервые заговорил:</em></p>
        <p id="6cc1e6d9-2a89-4180-9107-d5a51f94556d" class=""> - <em>Когда ты был там, под водой, чего тебе хотелось
            больше всего?</em></p>
        <p id="4269ed95-0c16-402a-9bd5-5a7e908a1b25" class=""> -<em> Больше всего мне хотелось вздохнуть! - не
            задумываясь ответил юноша.</em></p>
        <p id="9ba7aef7-43f2-49fa-a803-96194b8d3cda" class=""><em> Мудрец:</em></p>
        <p id="e8703bf2-f4b5-40df-abea-c2a87542fd14" class=""> - <em>Может, ты думал о славе, богатстве? Или может тебе
            хотелось власти над людьми?</em></p>
        <p id="3a73f596-a8b4-495d-81b3-4b9d2dda9a99" class=""> - <em>Нет, мудрец, я думал только о воздухе, о маленьком
            глотке чистого воздуха! - воскликнул юноша.</em></p>
        <p id="7b2008a0-e96c-432b-8214-3c0d90edf96b" class=""><em>Старик положил руку на плечо юноши и сказал, обведя
            рукой вокруг:</em></p>
        <p id="b89ceec0-aced-4694-b12a-4e6a68f1e743" class=""><em> - Посмотри, какой прекрасный мир тебя окружает!
            Вдохни полной грудью, ты чувствуешь, сколько в нем чистого воздуха? У тебя уже есть то, что тебе нужно
            больше всего на свете!</em></p>
        <p id="606daf29-9d34-421b-8b9b-9b4ada9023a7" class=""><em> ... Юноша, глядя вслед уходящему мудрецу, изумленно
            обвел бесконечное пространство вокруг себя и замер. Воздух был наполнен звенящей чистотой и солнцем. Вдали
            заржала лошадь. Юноша очнулся, облегченно вздохнул, расправил плечи и пошел.</em></p>
        <p id="f5aa898d-163a-4159-891a-2ce6e2c96131" class=""><em> Своей дорогой...</em></p>

        <p id="f9087872-9e35-4fe9-9f6f-56ece2938f59" class="">
        </p>
    </div>
    <div class="mt-5 w-100 justify-content-center d-inline-flex">
        <img src="" alt="" class="rectang"/>
    </div>
    <button class="header--change--btn">
        <a href="{% url 'introduction_chapter_lider' %}" style="color: inherit">Вернуться к уроку</a>
    </button>
</article>


{% endblock %}





