{% extends 'mainsite/base.html' %}
{% load static %} 
{% get_static_prefix as STATIC_PREFIX %}
{% block content %}

<div class="template">

<h1><blockquote>Сферы жизни(✔)(ПЕРВАЯ ФИЧА)</h1>

<p style="text-indent: 20px"> Если вы дочитали до этого места, значит, вы для себя приняли очень важное решение - развиваться и расти как личность. Для этого придется серьезно поработать над собой. С чего же начать?</p>
<p style="text-indent: 20px">Подобно тому, как, скажем, дом состоит из фундамента, стен, окон, дверей и крыши, человеческая жизнь также состоит из ряда важных элементов. Эти части можно выделять по-разному. Мы рассмотрим следующее деление. Есть два основных элемента: это вы сами и ваше взаимодействие с окружающим миром. Вы - это совокупность вашего внутреннего мира (духовная составляющая) и тела (физическая составляющая). А взаимодействие с окружающим миром состоит из деятельности человека (учеба, работа) и отношений с окружающими его людьми.</p>
<p style="text-indent: 20px"><strong>Внутренний мир </strong>- это все, что находится в сознании и подсознании человека: ценности и принципы, цели в жизни, самооценка, ваш характер и привычки, беспокойства и страхи. Из следующей четверти вы поймете, что наведение порядка в своем внутреннем мире - основа основ вашего благополучия в жизни.</p>
<p style="text-indent: 20px">Вторая составляющая - физическая, ваше тело. Очевидно, мы хотим , чтобы оно было стройным и подтянутым, кожа была упругой, взгляд - лучезарным, чтобы нас переполняла энергия. Отсюда вторая важнейшая сфера жизни любого человека - <strong>здоровье.</p></strong>
<p style="text-indent: 20px">Основной вид взаимодействия  с окружающим миром - деятельность человека. Для вас основная деятельность - <strong>учеба</strong>, и это еще одна важная сфера вашей жизни. Но учебу мы будем понимать не просто как набор школьных предметов, а как ваше всесторонне развитие, как подготовку к "взрослой" жизни. Помимо обычной школьной программы, здесь важно формирование жизненно необходимых навыков, таких как: умение работать с информацией, грамотная устная речь и письменная речь, умение управлять своим временем, ясно формулировать и добиваться поставленных целей, организовать пространство своей жизни и многие другое.</p>
<p style="text-indent: 20px">Помимо своей деятельности, вы также постоянно взаимодействуете с окружающими вас людьми. В результате вы формируете отношения, качество которых будет также существенно влиять на вас. Поэтому отношения - еще одна важная составляющая вашей жизни.</p>
<p style="text-indent: 20px">Все эти сферы теснейшим образом переплетены между собой: ваши отношения с людьми зависят от вашего внутреннего мира, а на ваше физическое здоровье непосредственно влияют успехи в школе, отношения с окружающими и они, в свою очередь, также зависят от того, как вы себя чувствуете.</p>
<p style="text-indent: 20px">Итак, четыре сферы вашей жизни и четыре направления вашего личностного рост:<strong> внутренний мир, учеба, здоровье и отношения.</strong> Именно в таком порядке мы их будем рассматривать в этой книге (?), по одной сфере на каждую школьную четверть.</p>
<p style="text-indent: 20px">Перед тем, как начать любой путь, важно ясно понимать, где находишься в данный момент. Такое понимание позволит вам правильно выстроить и рассчитать ваше движение, определить приоритетные направления.</p>
<p style="text-indent: 20px">Выполните следующее  простое упражнение, которое позволит вам взглянуть на свою жизнь как бы с высоты птичьего полета и осуществить комплексную оценку текущего положения. Методика эта называется<strong> "Колесо жизни"</p></strong>
<hr>
<font color="brown"><<КОЛЕСО ЖИЗНИ>></font>

<hr>
<p style="text-indent: 20px">Упражнение "Колесо жизни", следует выполнять регулярно, <strong>примерно раз в год.</strong> Например, перед началом учебного года. Регулярность поможет вам увидеть как ваша жизнь меняется в динамике и следить за достижением своих целей, вовремя корректировать возможные диспропорции, планы и сроки. Вы даже можете выполнять его вместе с близким другом/подругой или членом семьи и обсуждать разные аспекты жизни друг друга. Зачастую взгляд со стороны помогает увидеть что-то новое в себе, чего вы раньше не замечали.</p>
<p style="text-indent: 20px">Помимо общей картины жизни, это упражнение показывает важный баланс, гармонию, между ее разными частями. Очень часто бывает, что люди развивают и сильно продвигаются в одной из сфер, принося в жертву другие. Например, нередко успехи в работе (учебе, в нашем случае) достигаются за счет здоровья или испорченных отношений с близкими. Рано или поздно это приводит к проблемам. Важно понять, что выделенные выше 4 сферы <strong>одинаково </strong>важны в жизни человека и их нужно развивать одновременно. Почему?</p>
<p style="text-indent: 20px">Задайтесь простым, но очень важным вопросом. Какова самая главная цель жизни любого человека? К чему он, чем бы ни занимаясь в жизни, в конечном счете, стремится? Если вы хорошенько подумаете, то, скорее всего придете к выводу, что, в конечном счете, любой человек стремится стать счастливым. Да, у каждого свое представление о счастье  и на разных этапах жизни оно может меняться. Для кого-то счастье - это завести семью и вырастить детей, для кого-то - поступить в престижный университет и сделать успешную карьеру, предел мечтаний другого - автомобиль... Но каждый человек, осознает он это или нет, стремится к своему счастью. По этому поводу замечательно высказался Джон Леннон, один из основателей легендарной группы "Битлз":</p>
<p style="text-indent: 20px"><i>"Когда я был маленьким, моя мама всегда говорила, что смысл жизни в счастье. Когда я       пошел в школу, у меня спросили, кем я хочу стать, когда вырасту. Я написал - "счастливым". Мне сказали, что я не понял задание. Я сказал, что они не поняли жизнь."</i></p>
<p style="text-indent: 20px">Понятие счастья сугубо индивидуально, однако одно можно утверждать совершенно точно. Если у человека серьезно отстает хотя бы одна из основных сфер в жизни - маловероятно, что он будет действительно счастлив. Если у человека проблемы со здоровьем или неважно идут дела в школе/на работе, или у него напряженные отношения с близкими и друзьями, или он не живет в ладу с самим собой - может ли такой человек чувствовать себя счастливым?</p>
<p style="text-indent: 20px">Более того, так ка все сферы тесно взаимосвязаны, то рано или поздно отставание в одной из них неизбежно негативно скажется и на других областях жизни. Проблемы со здоровьем неизбежно создадут трудности в учебе, проблемы с учебой повлияют на внутренне состояние, а это в свою очередь повлияет на отношения с окружающими. Именно поэтому<strong> необходимо стремиться к гармоничному развитию каждой сферы своей жизни.</p></strong>

<div class="wheel_of_life">
    <h2>Колесо жизни</h2>
    <form method="POST">{% csrf_token %}
        {{ form }}
        <button type="submit" class="save">Save</button>
    </form>

    
</div>
{% if path %}
<img src="/static/mainsite/images/wheeloflife/png/{{ path }}.png" alt="Здесь будет наглядно показан ваш прогресс">
{% endif %}
    <hr>
<font color="borwn">CЧАСТЬЕ - ЭТО ПОЛНОТА И ГАРМОНИЯ ЧЕТЫРЕХ СФЕР ЖИЗНИ</font>
<hr>
<p style="text-indent: 20px">Далее в книге (?) мы рассмотрим каждую из основных сфер по отдельности. И начнем мы со сферы "Внутренний мир". Вы скоро поймете, что эта составляющая вашей жизни является основополагающей. Поэтому на картинке выше она уравновешивает три другие сферы. Вы убедитесь, что сегодняшние неудачи в школе, проблемы в отношениях с окружающими или со здоровьем, все это вчера уже было в вашем внутреннем мире.</p>
</blockquote>

<button type="button" class="btn btn-secondary"><a href="{% url 'introduction_chapter_spheres_life_task' %}" class="top-menu"><span class="glyphicon glyphicon-arrow-right"></span>Домашнее задание</a></button>


{% endblock %}