{% extends 'mainsite/base.html' %}

{% block content %}


<article id="d3fb4a4e-2282-4e0c-a6d8-4d70101e44b6" class="page sans w-75 mx-auto mt-5" style="font-size: 18px">
    <header>
        <a href="{% url 'introduction_chapter_spheres_life' %}" target="_self" style="color: black; margin-right: 5em"><span
                class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
        <span class="text-muted">
            <a href="{% url 'tree' %}" target="_self" class="text-muted">Статьи</a> >
            <a href="{% url 'introduction' %}" target="_self" class="text-muted">Введение</a> >
            <a href="{% url 'introduction_chapter_spheres_life' %}" target="_self" class="text-muted">Сферы жизни</a> >
                Колесо жизни
        </span>
        <img class="page-cover-image mt-5" src="https://www.notion.so/images/page-cover/nasa_transonic_tunnel.jpg"
             style="object-position:center 51.21%; border-radius: 0"/>

    </header>
    <div class="page-body text-left w-75 mx-auto">
        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Иванов Иван</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>06.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='' style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='' style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='' style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='' style="background: black;width: 25px; height: 30px"></a>
        </div>
        <h1 class="">
            КОЛЕСО ЖИЗНИ
        </h1>
        <p id="52e88b55-6a1a-49ec-a1da-cf995b9e0272" class=""><em>Оцените насколько, с вашей точки зрения, успешна
            каждая из сфер вашей жизни по шкале от 1 до 10. Здесь не нужен детальный анализ, достаточно вашего первого,
            самого общего, ощущения. Возможен следующий внутренний диалог. Вопрос: как бы я в целом оценил свою учебу?
            Возможный ответ: Учусь я, вроде, неплохо, в основном на пятерки. Но, конечно же, есть многое, что можно
            улучшить. Моя оценка этой сферы 7 из 10. Здоровье? Да, здоровье запустил. Подтягиваюсь всего 3 раза, с
            трудом пробегаю стометровку. Постоянно не высыпаюсь. Пожалуй, 3 из 10. и так далее. разумеется. эти баллы
            очень приблизительные, основанные на вашей интуиции. Но они дают общую характеристику вашей жизни на данном
            этапе, так, как вы ее понимаете сами. Оформите эти оценки в виде следующей диаграммы, ее называют
            лепестковой. У вас получится примерно следующая картина, состоящая из четырех больших лепестков,
            своеобразное &quot;колесо&quot; вашей жизни.</em></p>
        <p id="75fdced2-4add-4ab4-9de9-05eab4916370" class=""><em> Область между вашими баллами и максимумом 10 образует
            потенциал будущего роста. А процесс приближения каждой из сфер жизни к максимальному значению и есть
            личностное развитие</em>.</p>
        <a class="d-flex justify-content-center">
            <img style="width:911px"
                 src="https://media.discordapp.net/attachments/745700277004402832/757432749610238003/221.png?width=723&height=671"/>
        </a>
    </div>
    <button class="header--change--btn">
        <a href="{% url 'introduction_chapter_spheres_life' %}" style="color: inherit">Вернуться к уроку</a>
    </button>

</article>

{% endblock %}