{% extends 'mainsite/base.html' %}

{% block content %}


<div class="introduction_chapter_circle_1">


<svg height="600" width="600">

  <circle cx="300" cy="300" r="220" stroke="black" stroke-width="3" fill="#00FF29" />
  <text fill="white" font-size="28" style="font-weight: bold;" font-family="Noto Serif SC" x="300" y="300" text-anchor='middle'><a href="{% url 'introduction_chapter_lider' %}" class="top-menu">Кто такой лидер</a></text>
</svg>
</div>

<svg height="600" width="600">

  <circle cx="300" cy="300" r="220" stroke="black" stroke-width="3" fill="#00FF29" />
  <text fill="white" font-size="28" style="font-weight: bold;" font-family="Noto Serif SC" x="300" y="300" text-anchor='middle'><a href="{% url 'introduction' %}" class="top-menu">Сферы жизни</a></text>
</svg>
</div>




</div>

{% endblock %}