.round {
  border-radius: 50%;
}

.back {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  color: black;
  margin-right: 68px;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white));
  background-image: linear-gradient(white);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #4B4B4B;
}

.stopka {
  margin-top: 70px; 
  margin-right: 20%; 
  margin-left: 10%;
}

.baner {
  display: grid;
  justify-content: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
  
.aboutus_text {
  display: grid;
  grid-row-gap: 5%;
  /**grid-auto-columns: 50%;*/
  grid-template-columns:  auto;
  padding: 10px;
}

.aboutus_text_view {
  display: grid;
  grid-row-gap: 5%;
  font-family: "Roboto";
  font-style: "Regular";
  font-size: 18px;
  line-height: 38px;
  line-height: 212%;
  align-content: center;
  vertical-align: top;
}
  
.aboutus_title{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 1000;
  font-size: 50px;
  line-height: 82px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 209px;
  margin-left: 109px;
}

.aboutus_fixing {
  margin-top: 49px;
  margin-left: 10%;
  width: 70%;
}

.aboutus_personaj {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 27.6352px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}

.aboutus_personaj_info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22.4536px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

.aboutus_two{
  display: grid;
  grid-template-columns: auto auto; 
  grid-column-gap: 20%;
}
  
.aboutus_three{
  display: grid;
  grid-template-columns: auto auto auto; 
  grid-column-gap: 20%;
}

.aboutus_group {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 1000;
  font-size: 40px;
  letter-spacing: 0.03em;
  color: #000000;
  padding-top: 70px;
  text-align: center;
}

.tree_text_view {
  font-family: "Roboto";
  font-style: "Regular";
  font-size: 18px;
  line-height: 38px;
  line-height: 212%;
  align-content: center;
  vertical-align: top;
}

.tree_title{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 1000;
  font-size: 50px;
  line-height: 82px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 209px;
}

.tree_vkladka {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin-top: 49px;
  margin-left: 10%;
  width: 70%;
}

.aboutus_group_ico {
  width: 30px;
  height: 30px;
  margin-top: -3pc;
}

.ico_of_aboutus {
  display: grid;
  justify-content: center;
}

