{% extends 'mainsite/base.html' %}

{% block content %}

<blockquote id="17063c95-bc4f-42a7-8401-1a873776830c" class="block-color-red">ДОМАШНЕЕ ЗАДАНИЕ</blockquote>
<ol id="08ca03db-dc30-4588-9373-b9ee257ce594" class="numbered-list" start="1">
    <li>На английском языке умение находить нестандартные решения часто называют «thinking outside the box» -
        мышление за пределами рамок. Вот один из примеров, которые позволят оценить вашу способность выходить за
        привычные шаблоны мышления. На этом изображении даны девять точек. Соедините их четырьмя линиями, не
        отрывая при этом руки от бумаги. (Ответ вы найдете в конце этой четверти на с. 157).
        <a>
            <img style="width:1080px"
                 src="https://media.discordapp.net/attachments/745700277004402832/756863626274406481/Untitled_2.png?width=723&height=671">
        </a>
    </li>
</ol>
<ol id="c49c662a-582f-43eb-9f1a-2f714558c93d" class="numbered-list" start="2">
    <li>К ближайшему празднику (Новый год, 8 марта, 23 февраля, 14 февраля, день рождения вашей семьи) или ко
        дню рождения кого- то из близких или друзей подготовьте им креативный подарок. Это может быть что
        угодно: рисунок, стихотворение, музыкальная композиция, танец, сценка, мини-спектакль, эссе, поделка
        своими руками, кулинарный шедевр..., дайте волю своей фантазии. Попробуйте использовать техники, о
        которых мы говорили на уроке, для того, чтобы включить свое воображение и вдохновение.
    </li>
</ol>

{% endblock %}

