{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}

<title>Урок 6: Мышление</title>

<article id="6c0ead54-f234-4750-9983-f5c67a1de9a3" class="page sans w-75 mx-auto"
         style="margin-top: 2em; font-size: 18px">
    <header>
        <div>
            <a href="{% url 'second' %}" target="_self" style="color: black; margin-right: 5em"><span
                    class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
            <span class="text-muted">
				<a href="{% url 'tree' %}" target="_self" class="text-muted">Древо развития</a> >
				<a href="{% url 'second' %}" target="_self" class="text-muted">Учеба и будующая карьера</a> >
				Урок 6: Мышление
			</span>
        </div>

    </header>
    <div class="page-body text-left w-75 mx-auto">

        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Top Skills</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>19.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
        </div>
        <h1 class="page-title">Урок 6: Мышление</h1>
        <p id="6f01adf3-de5f-418f-ba3d-d6da070555e5" class="">Человеческий мозг состоит из двух полушарий - левого и
            правого, между которыми существует своеобразная специализация. Современные исследования показывают, что
            левое полушарие отвечает за логическое, четко-аналитическое, мышление. Это тот самый <em>critical
                thinking</em>, который открывал приведенный в начале этой четверти перечень «жизненно важных навыков для
            современных подростков». Критическое, «левополушарное», мышление - это способность проанализировать и
            структурировать существующую информацию, применить известные знания и умения. Оно является последовательным
            и рациональным, оперирует словами и цифрами, раскладывает все по полочкам, разбивает крупную задачу на
            составные части.</p>
        <p id="fbc611a4-0b42-4d1e-abbd-d0b1865916c4" class="">Правое же полушарие человеческого мозга более связано с
            образным, интуитивным мышлением, в основе которого лежит <em>curiosity</em> and <em>imagination</em> -
            завершающий навык из «перечня жизненно важных навыков». Оно оперирует зрительными образами и способно к
            синтезу, т.е. собирает воедино различные части и формирует целое. Здесь же хранится наше чувство интуиции и
            способность к пространственной ориентации. Работа правого полушария лежит в основе творческого мышления -
            умения увидеть то, чего еще не существует, создания чего-то принципиально нового.</p>
        <p id="14b8437f-e8c9-4e50-ae67-eef7f778ced9" class="">У людей, как правило, преобладает тот или иной тип
            мышления. Вот простой тест, который позволит определить тип вашего мышления. В колонках ниже, из каждой пары
            утверждений вам нужно отметить то, которое больше относится к вам. При выборе ответа долго думать не надо,
            отмечайте то, что интуитивно кажется более соответсвующим вам.</p>
        <a class="d-flex justify-content-center mt-5">
            <img class="w-50"
                 src="https://media.discordapp.net/attachments/745700277004402832/756863628761628672/Untitled.png?width=448&height=671">
        </a>
        <div class="d-flex justify-content-center my-5">
            <a class="header--change--btn " href="/q/hemisphere/take/">Пройти тест</a>
        </div>
        <p id="3e5aa9cb-4472-4a9b-94d0-aedf1ccf378d" class="">Тест заимствован из книги Гарри Алдера «Практика
            эффективного использования времени».</p>
        <p id="129608c9-1b54-452d-8b59-2035abcc201b" class="">По окончании упражнения подсчитайте количество выбранных
            вами утверждений в каждой из колонок. Если в левом столбце вы набрали большее количество отметок, то у вас
            преобладает работа левого полу­шария головного мозга, или аналитическое мышление. Если отмеченных
            утверждений больше в правой колонке, то сильнее у вас правое, творчес­кое полушарие. Чем больше разница в
            ответах, тем более доминирую­щим у вас является тот или иной тип мышления. Очевидно, в этом тесте нет
            положительных или отрицательных результатов. Он важен лишь с точки зрения определения особенностей вашего
            мышления.</p>
        <p id="677276f4-9621-4d48-9c48-ee07b9a14899" class="">Гармоничная работа обоих полушарий мозга называется
            холистическим, или целостным, мышлением (от английского <em>whole</em> - весь, целый). Решение большинства
            серьезных задач, требует именно такого целостного подхода, независимо от того, в какой области вы будете
            работать.</p>
        <p id="5641bda7-5bab-4e14-ad14-92af253f746d" class="">Необходимость творческого мышления отнюдь не
            ограничивается привычными нам творческими видами деятельности (литература, живопись, музыка, дизайн, и
            т.д.). Например, будущие программисты будут разрабатывать не только новые коды, но и принципиально новые
            алгоритмы для компьютерных программ. Инженеру, внедряющему в производство уже известные технологии,
            наверное, достаточно критического мышления. Но разработка новой модели самолета, автомобиля, двигателя и
            т.д. уже совершенно невозможна без сильного творческого подхода. Менеджерам необходимо разрабатывать
            стратегии освоения новых рынков, привлечения клиентов, поиска и налаживания связей с партнерами. Все это,
            безусловно, требует творческого подхода. Более того, простой пример из жизни школьника - сочинение. Чтобы
            написать действительно хорошую работу, необходим не только логический анализ текста книги (критическое
            мышление, работа левого полушария), но и яркое, нестандартное раскрытие темы (творческий подход, работа
            правого полушария).</p>
        <p id="381e96e2-f11d-421b-b25b-982c0cbf94a0" class="">Теперь понятно, почему в школе важны все предметы.
            «Логичес­кие» предметы, такие как математика, физика, химия, биология, - тренируют ваше левое полушарие.
            Литература, языки, история и дру­гие «гуманитарные» предметы - больше развивают правое полушарие.</p>
        <p id="e2841498-bc39-490c-8a49-1f7ec526eae7" class="">С точки зрения психики человека критическое, или
            «левополу­шарное», мышление связано с работой собственно сознания. Творчес­кое, «правополушарное», мышление
            более проистекает из работы под­сознания. Интуиция, озарения, и другие проявления творческого мышления
            «живут» именно в подсознании. Как можно развить творчес­кое мышление? Вот что можно для этого делать.</p>
        <ol id="97a32adf-595d-4304-ac0f-99815badc000" class="numbered-list" start="1">
            <li>Читайте разнообразную художественную литературу, объемно представляйте себе героев и события, которые
                описываются в книгах.
            </li>
        </ol>
        <ol id="9d6c35fb-ce33-43a0-88ca-fa375bcfeb3f" class="numbered-list" start="2">
            <li>Изучайте и занимайтесь живописью, скульптурой, музыкой, танцами и т.д. Искусство - это способ постижения
                и описания окружающего мира через звуки, изображения и движения.
            </li>
        </ol>
        <ol id="7c442d3d-7862-46f4-be17-0976e7186515" class="numbered-list" start="3">
            <li>Литература и искусство позволят вам развить воображение, которое лежит в основе творческого мышления.
            </li>
        </ol>
        <ol id="ef7d2f37-7973-4a32-9aad-6c940179ef09" class="numbered-list" start="4">
            <li>Учитесь созерцать. Приучите себя наблюдать за природой, людьми и происходящими вокруг вас событиями.
                Время от времени смотрите на свою жизнь как бы с высоты птичьего полета, стараясь увидеть крупные
                временные отрезки своей жизни (например, весь учебный год) целиком.
            </li>
        </ol>
        <ol id="51eb164b-4fc8-4b04-8d14-c009a9c9cf41" class="numbered-list" start="5">
            <li>Старайтесь максимально насытить и разнообразить свою жизнь: новые места, впечатления, опыт и люди, все
                это также стимулирует наши творческие способности. Общайтесь с разными людьми и старайтесь понять то,
                как они видят мир. Все мы разные и каждый человек - это кладезь новых идей и восприятий!
            </li>
        </ol>
        <p id="a2849c8f-0496-40d0-8ba9-ab999e32156c" class="">
            <mark class="highlight-red">&quot;БЕЗ НЕСТАНДАРТНОГО МЫШЛЕНИЯ И НОВЫХ КОНЦЕПЦИЙ. ДВИЖЕНИЕ ВПЕРЕД НЕВОЗМОЖНО&quot;.</mark>
            <strong>
                <mark class="highlight-red">Эдвард де Боно</mark>
            </strong>
        </p>

        <a>
            <img src="https://media.discordapp.net/attachments/745700277004402832/756863631215427695/Untitled_1.png?width=830&height=671">
        </a>

        <p id="a7fc64d2-0a5c-4d6c-a178-09549e424fa2" class=""><strong>Можно ли активировать творческое мышление в
            конкретной ситуации?</strong> Наверное, у всех бывало такое: вы долго и безуспешно бьетесь в поисках решения
            той или иной задачи. Затем, уже после прекращения сознательных попыток, некоторое время спустя внезапно в
            голову приходит простое и элегантное решение. Про такие моменты говорят «меня осенило». Подобные озарения
            появляются из недр нашего подсознания, в котором творческое мышление продолжает обрабатывать информацию и
            искать решения.</p>
        <p id="6ea95b5c-413c-40fe-a53a-7589a6ca1506" class=""><em>Было бы здорово, если бы мы могли намеренно
            стимулировать подобные озарения, не так ли? Посмотрите видео под названием </em>«How to boost your
            creativity» («Как повысить вашу креативность»)<em>. В ролике представлены, несколько практических советов,
                как можно повысить свою креативность и стимулировать творческое мышление.</em></p>
        <div style="margin-bottom: 2rem; height: 22rem" class="d-inline-flex mt-4">
            <iframe class="h-100 w-75 mr-5" src="https://www.youtube.com/embed/_NHu6gM91aA" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <p id="24edf6cb-6a4a-457e-b18a-cbe2d9ed619c" class="">Есть и другие несложные приемы, которые призваны
            активизировать творческое мышление в конкретных ситуациях:</p>
        <ol id="3756b313-a3a7-4fa9-abc3-6724bae2f31f" class="numbered-list" start="1">
            <li><strong>Ясная визуализация результатов</strong>. Ясно вообразить желаемый результат - значит настроить
                не только свое сознание, но и подсознание на работу в нужном направлении. Представив в воображении
                конечный результат, мы формируем внутреннее чувство уверенности и вживания в образ - как будто речь идет
                о реальном чувственном опыте. К примеру, вы пытаетесь решить сложную задачу по алгебре, но никак не
                можете найти к ней ключ. Представьте, как будто вы уже решили задачу, как вы ее оформляете, пишете
                ответ, почувствуйте удовлетворение и радость от проделанной работы. Вполне возможно, что в процессе
                визуализации вас посетят творческие мысли и идеи, как именно достичь представляемую цель.
            </li>
        </ol>
        <ol id="d875b519-faba-47d4-8b5c-891b90a39975" class="numbered-list" start="2">
            <li><strong>«Отпустить» проблему на некоторое время.</strong> Если длительные сознательные усилия не
                приводят к решению задачи, то часто бывает полезно просто «отпустить» ее на некоторое время и вернуться
                к решению позднее. Есть даже выражение «переспать с проблемой». Для этого вы обдумываете проблему
                вечером, а затем переключаетесь на что-то другое и возвращаетесь к вопросу на следующее утро. Вполне
                возможно, что к этому времени ваше подсознание подготовит какое- нибудь решение, так как для рождения
                хорошей идеи необходим так называемый «инкубационный период». Неспроста и старая народная мудрость
                гласит «утро вечера мудренее». Вот яркий пример на эту тему, который приводит В. Пекелис в своей книге
                «Твои возможности, человек»: «Однажды Менделеев три дня и три ночи, не ложась спать, проработал у
                конторки, используя различные комбинации для мысленного построения таблицы, но все его попытки оказались
                тщетными. Наконец Менделеев лег спать и тотчас же заснул. Вот что он сообщил по пробуждении: “Вижу во
                сне таблицу, где элементы расставлены, как нужно. Проснулся, тотчас записал на клочке бумаги, только в
                одном месте впоследствии оказалось нужной поправка”». Так родилась знаменитая Периодическая система
                химических элементов Д.И. Менделеева.
            </li>
        </ol>
        <ol id="1e6f554d-bdf0-4c07-a778-cfc9a8a0b14e" class="numbered-list" start="3">
            <li>Вводите <strong>разнообразие</strong> в повседневность и старайтесь периодически <strong>менять
                привычные алгоритмы.</strong> К примеру, можно одеться в другом стиле, изменить ежедневный маршрут,
                сменить время /место обеда, начать действовать как-нибудь по-новому в привычной ситуации, сделать
                перестановку в комнате. Даже с помощью элементарной перестановки привычного порядка действий вы можете
                обострить восприятие и раскрыть новые ракурсы, которые могут подтолкнуть вас к свежим идеям по поводу
                текущих проблем.
            </li>
        </ol>
        <ol id="c02e696d-8f44-4091-a871-3b648e24f8ff" class="numbered-list" start="4">
            <li><strong>Выделяйте время для полного расслабления.</strong> В этом состоянии вы сможете не только
                полноценно отдохнуть физически и психически. Ваше творческое правое полушарие становится более
                раскованным и, как это ни странно, более продуктивным. Творческое мышление не терпит излишних
                напряжений.
            </li>
        </ol>
        <ol id="df7d2adc-9eef-4ddf-9629-5c41774d7a52" class="numbered-list" start="5">
            <li><strong>Смените рамки восприятия.</strong> Постарайтесь представить себе ситуацию с разных сторон. Как
                бы на нее посмотрел другой человек? Как бы вы оценили ее, будь вы в другом возрасте или месте? Порой мы
                не можем найти решение, потому что смотрим на проблему с привычного ракурса. Уметь видеть вещи в
                неожиданном свете и менять рамки восприятия, контексты - важный инструмент мышления, который нередко
                приводит к творческим прорывам.
            </li>
        </ol>
        <p id="faa5774d-0228-44c9-a0f9-4a17d0beec0e" class="">Существует ряд научных методик, которые призваны
            стимулиро­вать творческое мышление. Вот самые известные из них:</p>
        <ul id="6135a71c-a7a6-40d3-a19e-6f3594b66ac7" class="bulleted-list">
            <li>ТРИЗ (теория решения изобретательских задач);</li>
        </ul>
        <ul id="f0802d08-5cfb-4e09-bd7f-2589ecdf23c3" class="bulleted-list">
            <li>метод «6 шляп»;</li>
        </ul>
        <ul id="14887271-c7f2-4f7f-b1d6-80b6eddc79db" class="bulleted-list">
            <li>концепция латерального мышления;</li>
        </ul>
        <ul id="bf55a7c8-1f11-4049-9968-aff052fbd13f" class="bulleted-list">
            <li>теория этапов творческого мышления Грэхема Уоллеса;</li>
        </ul>
        <ul id="b3a66d4f-129f-4adc-9dad-1b216259d683" class="bulleted-list">
            <li>метод «Ментальных карт» Тони Бьюзена;</li>
        </ul>
        <ul id="2b8112a9-7ee8-428f-9f96-66d503e74cc2" class="bulleted-list">
            <li>коллективное творчество (мозговой штурм);</li>
        </ul>
        <ul id="1200ddba-aa81-4b9c-9140-d385c75a584a" class="bulleted-list">
            <li>техники НЛП (нейро-лингвистическое программирование).</li>
        </ul>
        <p id="d72f994d-8cdd-4adf-8df3-ac479327aecb" class="">Вы можете самостоятельно ознакомиться с этими методами по
            ссылкам, приведенным ниже.</p>
        <blockquote id="f67cb23a-3296-4630-bd10-0f00b0af401d" class="block-color-red">
            <mark class="highlight-red">ПОЛЕЗНЫЕ МАТЕРИАЛЫ</mark>
        </blockquote>
        <ol id="80f3dc9d-247e-4714-8c90-08de6c3df917" class="numbered-list" start="1">
            <li>
                <mark class="highlight-blue"><a href="http://4brain.ru/tvorcheskoe-myshlenie/">http://4brain.ru/tvorcheskoe-myshlenie/</a>
                </mark>
                - он-лайн-тренинг для развития творческого мышления.
            </li>
        </ol>
        <ol id="6a933358-5149-49db-9475-a471cc305a90" class="numbered-list" start="2">
            <li>
                <mark class="highlight-blue"><a
                        href="http://www.diy.ru/hub/handmade/">http://www.diy.ru/hub/handmade/</a></mark>
                <mark class="highlight-blue"></mark>
                - коллекция идей для креативных поделок своими руками.
            </li>
        </ol>
        <p id="d9dda1c7-94cb-437d-a040-6a40842d444f" class="">Книги:</p>
        <ul id="64d5eea0-b13f-49b9-9a97-4c78592781bd" class="bulleted-list">
            <li>Эдвард де Боно «Научите себя думать»,«Серьезное творческое мышление»,«Шесть шляп мышления».</li>
        </ul>
        <ul id="4d2c113e-c3e3-4741-bfb7-6eb35b720ccf" class="bulleted-list">
            <li>Джулия Кэмерон «Путь художника», «Золотая жила».</li>
        </ul>
        <ul id="0b506272-526a-4028-a0d1-4d90bdbcc680" class="bulleted-list">
            <li>Марк Леви «Гениальность на заказ».</li>
        </ul>
        <blockquote id="5b1eb16b-86ad-4887-89df-e1f5f2e4e18d" class="block-color-red">РЕЗЮМЕ УРОКА</blockquote>
        <ul id="bdc01610-7986-4b19-a6b3-d1be4c7d8363" class="bulleted-list">
            <li>Человеческий мозг состоит из двух полушарий. Левое полушарие отвечает за критическое, аналитическое
                мышление. Работа правого полушария лежит в основе образного, творческого мышления. Гармоничное сочетание
                работы обоих полушарий называется холистическим, целостным мышлением. Оно необходимо для решения
                большинства по- настоящему трудных задач в любых областях деятельности. Холистическим мышлением обладают
                немногие, и потому оно ценится особо.
            </li>
        </ul>
        <ul id="9f41f154-f89d-4c03-aa93-0ba2876ade4f" class="bulleted-list">
            <li>Каждый предмет в школе по-разному тренирует и развивает ваш интеллект. Естественные науки: математика,
                физика, химия, био­логия развивают критическое, левополушарное мышление, а гумани­тарные предметы
                (литература, музыка, языки, история) - больше тре­нируют образное мышление и ваше правое полушарие.
            </li>
        </ul>
        <ul id="6e1c0bd3-430f-4320-a237-bc1f3f2ab522" class="bulleted-list">
            <li>Кроме школьных предметов, творческое мышление развивается специальными приемами, представленными на этом
                уроке.
            </li>
        </ul>
        <span style="border-bottom: 3px solid blue" class="pb-4">
			<a href="{% url 'second_chapters_Thoughts_task' %}" class="d-inline-flex text-decoration-none">
				<h3 style="color: black;">Перейти к домашнему заданию</h3>
			</a>
			<span class="oi oi-arrow-right ml-2" style="font-size: 2rem"></span>
		</span>
    </div>
    <a href="#"><span class="oi oi-arrow-top float-right rounded-circle py-3 px-4"
                      style="color: black; border: 3px solid black; font-size: 2.5rem"></span></a>
    <div class="mt-5 w-100 justify-content-center d-inline-flex">
        <img src='{% static "img/images_for_tree/Yoga.svg" %}' alt="" class="rectang"/>
    </div>
</article>


{% endblock %}
