{% extends 'mainsite/base.html' %}

{% block content %}


<blockquote id="ee16a960-ef23-4a32-b280-f192dc95d0e6" class="block-color-red">
    <mark class="highlight-red">ДОМАШНЕЕ ЗАДАНИЕ</mark>
</blockquote>
<ul id="c19ee252-60ef-46bb-8ff8-98384ebd09eb" class="to-do-list">
    <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">При работе над сочинением по литературе и подготовке рефератов по другим предметам, постарайтесь использовать методы, описанные выше.</span>
    </li>
</ul>
<ul id="6dc43a35-ce2a-459a-a3d6-69dbd29eb499" class="to-do-list">
    <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Организуйте с друзьями дискуссионный клуб. Это прекрасный способ не только углубить ваши познания окружающего мира, но и отточить свои навыки публичного выступления, а также умение формулировать и задавать четкие вопросы и аргументы по теме обсуждения.</span>
    </li>
</ul>
<ul id="bbcf3e23-76a7-41c9-b0ad-57ba2be27c0c" class="to-do-list">
    <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Представьте, что вы создаете свой собственный блог. Напишите первый пост о себе. Задача текста - создать интерес у читателя к вам и вашим будущим статьям. Представьте себя так, чтобы читателю непременно захотелось с вами познакомиться и узнать о вас больше.</span>
    </li>
</ul>
<ul id="ba1c968a-923c-4b15-97d1-39ee2c7ca63c" class="to-do-list">
    <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Подумайте о предстоящих мероприятиях или праздниках. Это может быть школьное мероприятие или семейное торжество. Вызовитесь сделать выступление или сказать небольшую речь.
</span>
    </li>
</ul>


{% endblock %}