
{% extends 'mainsite/base.html' %}

{% block content %}


<hr id="afb2de93-2933-4044-8638-51648db4018e"/>
<p id="cab306b2-d599-4619-a271-65f6273bc25f" class="">
    <mark class="highlight-purple">ДОМАШНЕЕ ЗАДАНИЕ</mark>
</p>
<hr id="30906099-ef01-4c53-b871-5f45b161cf47"/>
<ul id="7ff45319-241a-4f10-ae22-1ff12d465a84" class="to-do-list">
    <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Еще раз повторите урок I.4 из первой четверти, посвященный методам формирования хороших привычек. С учетом этого поработайте над своей дисциплиной. Цель - принятые решения должны быть безотлагательно исполнены.</span>
    </li>
</ul>
<ul id="fcd37e41-cb74-4780-96d6-46be66220696" class="to-do-list">
    <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Выберите свое самое любимое занятие (любимый школьный предмет, чтение, рисование, занятие музыкой и т.д.), ощутите и осмыслите состояние потока. Это состояние полного единения с тем, что вы делаете. Постепенно расширяйте перечень дел, которые вы делаете в состоянии потока. Это состояние вашей наивысшей производительности.</span>
    </li>
</ul>
<ul id="0772b48d-b5bc-4eb7-99bd-505b9b65aed5" class="to-do-list">
    <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">При выполнении урока сделайте домашнее задание с ощущением его полной завершенности (решили все задачи по теме, хорошо и до конца написали сочинение и т.д.). Зафиксируйте это ощущение. Расширьте перечень дел, которые вы делаете законченно.</span>
    </li>
</ul>
<ul id="2ec1cdc5-eae0-4744-b87f-1af10786f378" class="to-do-list">
    <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Выберите одно дело, которому хотите посвятить все «бросовое» время. Идеально подходит изучение иностранного языка, но это может быть практически любой другой предмет. Приготовьте компактные материалы для работы «на ходу»: небольшие карточки с иностранными словами, которые помещаются на ладони, формулами математики, физики или химии, словарь на смартфоне, аудиоматериалы и т.д. Разработайте и реализуйте свою программу многозадачности для этого дела. Но еще раз - будьте внимательны с окружающим транспортом.</span>
    </li>
</ul>
<ul id="ef5f236c-64ca-4f60-9330-90fdfab7f3e4" class="to-do-list">
    <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Решите для себя, какой из навыков эффективности (компьютерные программы, скорочтение, слепая печать) вы будете осваивать в течение следующих трех месяцев. Займитесь этим, затем переключитесь на освоение следующего навыка.
</span>
    </li>
</ul>
<ul id="2b5329ca-f65a-4fcf-b734-211d9d7eb07e" class="to-do-list">
    <li>
        <div class="checkbox checkbox-off">
        </div>
        <span class="to-do-children-unchecked">Выделите пару часов свободного времени и приведите в порядок свою комнату или рабочее место. Наведите порядок и в своем компьютере, телефоне.</span>
    </li>
</ul>


{% endblock %}