{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}


<article id="0dd5884c-ca62-438f-8b48-ef7e9f4bbbb3" class="page sans w-75 mx-auto"
         style="margin-top: 2em; font-size: 18px">
    <header>
        <div>
            <a href="{% url 'second' %}" target="_self" style="color: black; margin-right: 5em"><span
                    class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
            <span class="text-muted">
				<a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
				<a href="{% url 'second' %}" target="_self" class="text-muted">Учеба и будующая карьера</a> >
				Урок 1: Смысл обучения в школе
			</span>
        </div>
        <img class="page-cover-image" src="https://www.notion.so/images/page-cover/woodcuts_13.jpg"
             style="object-position:center 100%; margin-top: 2em; border-radius: 0"/>
    </header>
    <div class="page-body text-left w-75 mx-auto">
        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Top Skills</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>19.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
        </div>
        <h1 class="page-title">
            <strong>Урок 1: Смысл обучения в школе</strong>
        </h1>
        <p id="67e6e69e-76e9-4a1e-b1d1-78ba1f8b73cf" class=""> Вы изучаете математику, физику, историю, географию, ...
            Эти же предметы изучали ваши родители. Спросите у них, что такое обрат­ная тригонометрическая функция или
            как рассчитывается фокусное расстояние линзы? Или спросите о причинах Полтавской битвы. Вряд ли вы получите
            ответы на эти и многие другие вопросы школьной про­граммы. Родители завершили образование много лет назад?
            Хорошо, задайте эти же вопросы старшей сестре или брату, они окончили шко­лу совсем недавно. Если только они
            не занимаются этими вопросами профессионально, они тоже не ответят. Так <strong>чему же учиться в шко­ле,
                если мы это все равно забываем?</strong> Означает ли это, что будуще­му физику не надо изучать
            географию, а будущему историку не нуж­на математика? Нет, математику, равно как и другие предметы, изу­чать
            надо и учить их нужно на совесть. Потому что кроме конкрет­ных знаний школьные науки великолепно тренируют
            ваш ум, учат мыслить, строить логические конструкции и художественные образы, анализировать окружающую жизнь
            и протекающие в ней процессы. И вот эта, неконкретная, общая, составляющая обучения на самом деле и является
            самым главным в вашем образовании.</p>
        <p id="2ee871e2-1cbd-4d2c-b0c0-4f5e20f018f7" class=""> По этому поводу есть замечательный афоризм, постарайтесь
            его осмыслить: <strong>«Подлинное образование — это то, что осталось у че­ловека после того, как он все
                забыл».</strong> Что остается после того, как забыты детали школьной программы? Тренированный мозг,
            умеющий анализировать проблемы и синтезировать их решения, характер, за­каленный упорным трудом, умение
            организовать свое время и на­строить себя на работу. И еще многое другое, на что большинство из вас не
            обращает внимания. Чем занят обычный ученик школы? Он зубрит законы Ньютона, теорему косинусов, в каком году
            родился имярек и т.д. Для многих из вас (будущих филологов, историков, юристов и т.д.) неважно чему равен
            косинус арксинуса, через год вы об этом забудете. Но математика все равно играет огромную роль в развитии
            вашего интеллекта.</p>
        <p id="1826abc5-ad3e-44ba-9267-7a29c5727733" class=""> Очевидно, основная задача школы - всесторонне подготовить
            вас к будущей «взрослой» жизни, заложить основы личной конкурентоспособности. Но что же
            <strong>конкретно</strong> должна дать школа ученику, что­бы будущая жизнь сложилась успешно? Вот, с нашей
            точки зрения, перечень основных итогов школьного образования:</p>
        <ul id="1920a988-66bd-4224-8ce9-de7961b86bd8" class="bulleted-list">
            <li><strong>физическое и нравственное здоровье</strong>. «Здоровье всему голо­ва», вряд ли кто будет
                оспаривать эту мудрость. Ваше физическое здоровье и умение его поддерживать, очевидно важны. Рав­но как
                и нравственное здоровье: уважение к старшим, любовь к родной земле, порядочность, верность данному слову
                ...;
            </li>
        </ul>
        <ul id="b17a5e55-d189-4478-b4e6-8d0743e237b1" class="bulleted-list">
            <li><strong>развитый интеллект и воображение.</strong> На протяжении тысячелетий основой личной
                конкурентоспособности человека была фи­зическая сила. Сегодня - это всесторонне развитый интеллект.
                Школьные предметы, каждый по своему, тренируют ваш интеллект и развивают воображение;
            </li>
        </ul>
        <ul id="9fac1ee8-8846-4eb7-a129-2b413b9565b8" class="bulleted-list">
            <li><strong>умение жить среди людей.</strong> Вы никогда не будете одни, в работе и просто в жизни вас
                всегда будут окружать люди. Уме­ние ладить с ними, работать в команде, слышать аргументы окружающих и
                убедительно, но корректно, формулировать свои - критически важные качества во «взрослой» жизни. Этому
                тоже нужно учиться;
            </li>
        </ul>
        <ul id="985be42d-df43-45eb-be01-50437a767e25" class="bulleted-list">
            <li><strong>устойчивая привычка к труду.</strong> Отношение к труду (а учеба - это труд, и еще какой!) не
                как к тяжкой обязанности, а как к увлекательнейшему занятию, благодаря которому вы со­здаете что-то
                новое, растете как личность.
            </li>
        </ul>
        <p id="e9d857de-2200-49ff-b38e-bcfe469714ad" class=""> Ну, и наконец, конечно же:</p>
        <ul id="b2474323-656b-4624-8bad-55701e9fe1ec" class="bulleted-list">
            <li>школа должна дать <strong>основы знаний</strong>: математики, родного языка, литературы, физики, истории
                и т.д.
            </li>
        </ul>
        <p id="b33bb5a4-9bea-403e-8a9f-4ac3dfcc0926" class="">
            <mark class="highlight-red">ЯСНАЯ ГОЛОВА, СИЛЬНОЕ ТЕЛО, ЧИСТАЯ ДУША, КРЕПКИЙ ХАРАКТЕР - ВОТ ПОДЛИННЫЙ
                РЕЗУЛЬТАТ ОБУЧЕНИЯ В ШКОЛЕ!
            </mark>
        </p>
        <p id="b60eeb84-8d65-47d4-9e30-601dd04489e4" class="">
        </p>

        <a>
            <img style="width:561px"
                 src="https://media.discordapp.net/attachments/745700277004402832/756858883791913090/foto1.png">
        </a>

        <p id="b33b3408-4eef-485c-8fd7-b3882ec92970" class=""> У нас много хороших школ и педагогов, которые именно так
            вас обучают и воспитывают. Но в целом, существующая система образо­вания худо-бедно справляется только с
            последней задачей. К сожале­нию, школа свелась к простому набору предметов, а главной ее целью стало
            «натаскивание» на сдачу ЕГЭ. Несомненно, знание конкретных наук и высокие баллы за единый экзамен важны. Но
            кто скажет, что другие четыре задачи менее важны?</p>
        <p id="e696d135-9550-4625-86a1-221c5c3851e9" class=""> Вы живете и развиваетесь в XXI веке, который радикально
            отличается от века предыдущего. Для того чтобы понять каким стал современный мир и к чему себя готовить в
            будущей жизни, посмотрите видео к уроку «<em>Известно ли вам</em>? (Did you know?)”. Ролику уже более 5 лет,
            но его ключевые выводы только усили­лись. Вот некоторые из них:</p>
        <ul id="e4b29cf5-a5c5-4ff3-9d91-766619867f1a" class="bulleted-list">
            <li><em>10 самых востребованных профессий в 2010 г. просто не существовали в 2004 г</em><em>.</em> Это важно
                понять: никто не знает, какие профессии будут самыми востребованными через 5 лет, когда вы будете
                оканчивать университет. Более того, скорее всего их се­годня вообще еще нет!
            </li>
        </ul>
        <ul id="60807d05-acf5-4740-94ae-28cda6d33361" class="bulleted-list">
            <li><em>Происходит невероятное ускорение внедрения в жизнь новых технологий</em><em>.</em> Если для создания
                аудитории в 50 млн чело­век для радио потребовалось 38 лет, то такую же аудиторию Интернет создал всего
                за 4 года, а Facebook превысил это значе­ние за 2 года. Темпы внедрения инноваций в жизнь возросли в
                десятки раз и продолжают расти.
            </li>
        </ul>
        <ul id="01d8eb13-e07b-436e-9155-3d7b895d4904" class="bulleted-list">
            <li><em>За один год человечество генерирует больше информа­ции, чем за все предыдущие годы вместе
                взятые.</em></li>
        </ul>
        <ul id="4d1cf979-d56c-4c67-98aa-48211e95f4ea" class="bulleted-list">
            <li><em>Количество новой технической информации удваивается каждые 2 года.</em> Следовательно, когда вы
                поступите в универси­тет, конкретные знания, которые вы получите за 4 года бакалав­риата, успеют
                устареть дважды.
            </li>
        </ul>
        <div style="margin-bottom: 2rem; height: 22rem" class="d-inline-flex mt-4">
            <iframe class="h-100 w-75 mr-5" src="https://www.youtube.com/embed/5NbVwt7kIj0" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <p id="b6e7f801-fe3c-4275-b214-c8155e739ecd" class=""> Мир действительно стал другим. Раньше смысл образования
            заключался в том, что старшее поколение учителей передавало знания следующему поколению учеников. Благодаря
            однажды полученным знаниям и навыкам можно было безбедно прожить всю жизнь. В современном мире
            образовательная парадиг­ма изменилась радикально: конкретные знания имеют незначительную ценность. Любую
            информацию вы найдете в Интер­нете за считанные минуты. В то же время резко возрастает роль глубокого,
            подлин­ного понимания основ наук. <strong>Есть огромное отличие между знанием предмета и его подлинным
                пониманием.</strong> Спросите любого десяти­классника, как формулируется, скажем, второй закон Ньютона.
            Боль­шинство уверенно ответит. Но если вы дадите даже простенькую за­дачу на применение этого закона,
            школьник, скорее всего, «поплы­вет», т.е. ученик закон знает, но не понимает. Так вот, проблема боль­шинства
            заключается в том, что обучение, нацеленное на оценки, дает знание предмета. В то время как ценность
            представляет только его подлинное понимание. Так чему же учиться в этом стремительно ме­няющемся мире?
            Именно подлинному пониманию основ наук. Какие бы инновации не меняли мир, они все равно будут основаны на
            фундаментальных законах природы и общества, которые вы изуча­ете в школе. Таким образом, качественное
            фундаментальное обра­зование - это основа вашего профессионального успеха. Независи­мо от того, какой
            технологический уклад на дворе.</p>
        <p id="e6e2f369-dc05-41b9-b435-22c80c2de383" class=""> Не менее важен второй вопрос: Какие компетенции нужно в
            себе развить, чтобы стать успешным в таком мире? Вот ясный перечень из «Семи жизненно важных навыков для
            современных подростков», признанный экспертами во всем мире. Приведем его на языке ориги­нала, заодно
            попрактикуете свой английский:</p>
        <ul id="268c1f19-6190-4ed6-92e5-65afe2794991" class="bulleted-list">
            <li><em>Critical</em> <em>thinking</em> <em>and</em> <em>problem</em>
                <em>-</em><em>solving</em> (критическое мышление и способность решать задачи).
            </li>
        </ul>
        <ul id="e1abe39d-30f8-4129-9226-7ff728012697" class="bulleted-list">
            <li><em>Collaboration</em> (сотрудничество).</li>
        </ul>
        <ul id="b3a86756-af4a-4b9c-88ca-398ab56f0797" class="bulleted-list">
            <li><em>Agility</em> <em>and</em> <em>adaptability</em> (гибкость и умение приспосабливаться).</li>
        </ul>
        <ul id="d8cf6715-4f26-4b8d-933a-dff106ba1ace" class="bulleted-list">
            <li>
                <em>Initiative</em> <em>and</em> <em>entrepreneurialism</em> (инициативность и предпринимательство).
            </li>
        </ul>
        <ul id="8cfea5c3-bf0e-403e-9608-a075522d8b1b" class="bulleted-list">
            <li><em>Effective oral and written communication</em> (эффективные устные и письменные коммуникации).</li>
        </ul>
        <ul id="4f8174b9-bed1-43d7-9d0d-6945cfd14a4e" class="bulleted-list">
            <li><em>Accessing and analyzing information</em> (поиск и анализ информации).</li>
        </ul>
        <ul id="55de6c0b-8181-4e78-a25b-3a55394adaea" class="bulleted-list">
            <li><em>Curiosity and imagination</em> (любопытство и воображение). «Seven Survival Skills for Teens Today»
                (Global Achievement Gap, 2008 by Tony Wagner).
            </li>
        </ul>
        <p id="0582cc80-b4fe-4a26-a0ea-9d5c197d0be3" class=""> Подумайте внимательно над этим списком. Качества,
            перечис­ленные в нем, действительно важны в современном мире. Не зря про них написано survival skills -
            навыки, необходимые для выживания. Изучая школьные предметы, подумайте, какие из перечисленных на­выков
            каждый из них у вас развивает.</p>
        <p id="d591f293-1351-4566-b5b9-bbb3a4d02c53" class=""> Как же тогда учиться в школе, чтобы соответствовать
            сказанному выше? Вот правильная, с нашей точки зрения, «образовательная стра­тегия».</p>
        <ol id="9e218bf4-12a8-4c19-9c4d-aff430c361ea" class="numbered-list" start="1">
            <li>В школе <strong>важны все предметы.</strong> Каждый из них по-разному обогащает и развивает вас. Даже
                если вы собираетесь стать, скажем, IT специалистом, не пожалейте времени на серьезное изучение
                лите­ратуры, истории,... Это не только обогатит вас как личность, но име­ет вполне практический смысл.
                Поясним простым примером. Мышцы рук и ног тренируются совершенно разными упражнениями, не так ли? Точно
                так же, есть «мышцы» интеллекта, которые могут быть развиты только при изучении математики, а есть и
                такие, которые развивает только история. Решение тригонометрического уравнения и анализ исторических
                процессов требуют разных подходов. Владея обоими, вы становитесь интеллектуально намного сильнее.
            </li>
        </ol>
        <ol id="6789ba0b-0eb7-4e65-a097-64764f76699e" class="numbered-list" start="2">
            <li>Будет замечательно, если при всем этом у вас будет <strong>предмет-лидер.</strong> Это пред­мет
                (математика, физика, литература,.), которым вы увлечены по-настоящему, ко­торому готовы уделять все
                свободное вре­мя и который знаете досконально. С этим предметом вы связываете свою будущую профессию.
                Читайте, изучайте дополнительные материалы, ставьте опыты дома, принимайте участие в олимпиадах,
                конкурсах, школь­ных конференциях. Теперь, мы надеемся, вы понимаете, что даже если вы станете
                филологом, <strong>подлинная</strong> глубина изучения математики (физики, химии, .) вам очень
                пригодится. В разные годы у вас мо­гут быть разные предметы-лидеры. Замечательно! Значит, ваша
                обра­зовательная база будет еще крепче.
            </li>
        </ol>
        <ol id="36284281-c781-42f9-a993-d556ae2dff36" class="numbered-list" start="3">
            <li>Да, неважных предметов в школе нет. Но смысл будет <strong>только</strong>, если вы их будете изучать
                по-настоящему, на совесть. Постарайтесь понять, что образование, которое вы получаете, только для того,
                что­бы сдать контрольную или экзамен, - бессмысленно. Оно не даст вам<strong> ничего</strong>! Вам с
                детства все говорят, что нужно хорошо учиться. И это правильно. Но постепенно задача «хорошо учиться»
                сводится к стрем­лению получать хорошие отметки. И высокие баллы становятся
                <strong>един­ственной</strong> целью обучения. В этом, пожалуй, главная проблема школь­ного образования.
                Учиться ради высоких отметок - глубочайшая ошиб­ка! Единственный смысл обучения - получение <strong>реальных</strong>
                знаний, <strong>действительное</strong> формирование важных для будущей жизни навыков. Мы ни в коем
                случае не против хороших отметок в школе. Но они не должны стать самоцелью! Учеба ради отметок в
                конечном счете све­дется к простой зубрежке и убьет истинную любознательность, удо­вольствие от
                получения новых знаний. Кроме выпускного класса, обучение ради высоких оценок бессмысленно! Вспомните,
                как ради этого вы зубрили уроки пару лет назад. Ну, вывели вам пятерку по этому предмету, и что? На что
                она повлияла, что изменила? Да, вы получили высший балл, но не получили подлинных знаний, в этом
                проблема. Поверьте, школьный предмет, изученный с подлинным ин­тересом, даст вам гораздо больше и
                обязательно приведет к наивыс­шим результатам. В реальной жизни вам будут помогать не ваши про­шлые
                пятерки, а только ваши действительные знания и умения.
            </li>
        </ol>
        <ol id="dcb1348d-d7a9-4a32-a32e-e37478d5856b" class="numbered-list" start="4">
            <li>Отсюда еще один совет - <strong>не жульничайте.</strong> Причина не только нравственная. Ваши знания и
                навыки не нужны никому, кроме вас самих. Вы можете списать контрольную или прогулять важный урок. Вполне
                воз­можно, вам это сойдет с рук. Но однаж­ды наступит момент, когда эти знания могли бы вас здорово
                выручить, но вы-то их не приобрели. Когда вы жульничаете в учебе, вы обманываете не родителей и
                учителей, вы обкрадываете самих себя. В этом все дело.
            </li>
        </ol>
        <ol id="1bb06243-a6b2-4c25-8839-58a4d6194a97" class="numbered-list" start="5">
            <li>А как же быть с <strong>ЕГЭ</strong>, спросите вы? Да, результаты единого экзамена жизненно важны для
                вас, и надо сделать все возможное для получения максимальных баллов. От этого зависит в какой
                универси­тет вы поступите и вся дальнейшая жизнь. Но как это согласуется со сказанным выше? Очень
                просто. Наивысших баллов по ЕГЭ вы добь­етесь, если... совсем забудете про экзамены до последнего
                полугодия. Надо не торопясь, на совесть, изучать раздел за разделом предмет, по которому вы будете
                сдавать экзамен. Еще раз: не ради сдачи экзаме­на, а ради получения подлинных знаний. И только в
                последнее полу­годие провести несколько тестовых испытаний в формате ЕГЭ, доско­нально разобраться со
                строением и особенностями экзаменационных заданий. Ученик, уверенно освоивший школьный курс математики
                (русского языка, истории…), всегда получит самые высокие баллы.
            </li>
        </ol>
        <ol id="b7afaa4c-7324-4a77-98d4-c53ac8c1a8a1" class="numbered-list" start="6">
            <li>К урокам физкультуры в школе, как правило, пренебрежи­тельное отношение. Зря. Более того, если только
                нет явных противо­показаний, нужно обязательно серьезно <strong>заниматься спортом</strong>. Хоро­шая
                физическая нагрузка, обязательно регулярная - один из краеугольных камней вашего здоровья и хорошего
                самочувствия. Кроме этого, спорт наилучшим образом закаливает характер. А крепкий ха­рактер, способность
                собрать все силы для победы и стойко переносить поражения вам очень пригодятся в жизни.
            </li>
        </ol>
        <ol id="0f594479-54d0-47f2-9efe-6950b374a8b2" class="numbered-list" start="7">
            <li>Замечательно, если вы еще получаете <strong>дополнительное обра­зование:</strong> музыкальная школа,
                художественная, технические кружки, литературные и т.д. Важно только, чтобы это было занятием «для души»
                и от души. Дополнительное образование тренирует другие «мышцы» вашего интеллекта, фор­мирует
                принципиально новые компетен­ции (умение создавать художественные образы, работать на токар­ном станке,
                исполнять музыкальные композиции и т.д.).
            </li>
        </ol>
        <p id="080ae443-71e1-4a06-8673-8a13901c5de6" class=""> Ого-го, как много получается! Разве можно все это успеть?
            Можно. Более того, можно легко. Есть простые, но эффективные техники повышения личной производительности. О
            них мы расска­жем в следующих уроках этой четверти. Но самый главный совет: надо просто понять, что
            получение новых знаний, формирование новых компетенций - процесс невероятно увлекательный. Благо­даря этому
            вы становитесь совершенно другим человеком, станови­тесь ЛИЧНОСТЬЮ. Постарайтесь развить в себе это
            ощущение. И тогда обучение из неприятной обязанности превратится в под­линное удовольствие. Есть очень
            правильный афоризм, он звучит так: <strong>«Полюбите то, что делаете. И вам не придется работать ни одного
                дня в жизни».</strong> Понятно, что это означает применительно к учебе?</p>
        <p id="7eacff1e-368c-4ef5-b97c-1d8c508608f6" class=""> Посмотрите запись выступления Стива Джобса, легендар­ного
            американского предпринимателя и одного из основателей компании Apple, на церемонии вручения дипломов в
            Стэндфордском Университете (США) в 2005 году. Джобс рассказывает три интересные истории из его жизни. Это
            важные уроки, которые научили его доверять своему любопытству и интуиции, сохра­нять веру и надежду в
            сложные времена и следовать своему сердцу и мечтам. В частности Джобс говорит о том, как важно любить то,
            что вы делаете. Это ключ к счастливой, приносящей удовлет­ворение жизни.</p>
        <div style="margin-bottom: 2rem; height: 22rem" class="d-inline-flex mt-4">
            <iframe class="h-100 w-75 mr-5" src="https://www.youtube.com/embed/I9vdM7Gg6N8" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <p id="239ce2b3-5652-4571-9627-d83873aa2283" class=""> Но даже перечисленное выше - еще не все, чему вы должны
            на­учиться в школе. Существует целый пласт важнейших для жизни на­выков, которые в современной школе
            практически не даются: вы дол­жны уметь четко формулировать свои цели, планировать время, орга­низовывать
            свое рабочее пространство, выработать правильные при­вычки, уметь ладить с окружающими вас людьми и т.д.
            Всему этому НАДО учиться, и - чем раньше, тем лучше.</p>
        <p id="e6367b70-d7c9-4d29-8cf6-50bf16ad36cf" class=""> И напоследок еще два важных утверждения.<strong>
            Образование – это всегда самообразование. </strong>У каждого предмета есть свои вершины. Задача учителя –
            показать вам путь и поддерживать вас в дороге. Но взбираться вы будете только сами. Это важно понять.</p>
        <p id="8091c1a5-5a2d-455d-8664-883361e82242" class=""> И второе. Современный мир становится все более
            конкурентным. Он меняется стремительно, предъявляя все новые требования к тем, кто хочет в нем преуспеть.
            Да, качественное фундаментальное образование и базовые компетенции, о которых мы говорили выше, это ваша
            мощная опора в жизни. Но вы также должны будете активно, в совершенстве, владеть текущими технологиями, а
            они будут быстро обновляться. По­этому <strong>важнейший навык лидера — привычка учиться всегда</strong>. В
            мире, в котором масштабные перемены происходят ежедневно, именно откры­тость к новому и готовность учиться
            отличает самых успешных людей.</p>
        <p id="495e307f-8f9d-4e2f-b775-950c1e92279d" class="">
            <mark class="highlight-orange">ПОЛЕЗНЫЕ МАТЕРИАЛЫ</mark>
        </p>
        <ol id="66e146b5-d28d-46f2-983e-bbdc4b0e81a7" class="numbered-list" start="1">
            <li><a href="http://4brain.ru/">http://4brain.ru</a> - открытый образовательный портал, на кото­ром
                размещено множество полезных тренингов для развития та­ких навыков, как хорошая память, скорочтение,
                устный счет, ораторское искусство и т.д.
            </li>
        </ol>
        <ol id="fcd8c244-01f3-40c1-a6b9-2ed022491fb3" class="numbered-list" start="2">
            <li><a href="http://www.dum-dum.ru/">http://www.dum-dum.ru</a> - на этом сайте представлены мини-игры,
                тренирующие скорость мышления, память, логику, внимательность.
            </li>
        </ol>
        <ol id="91cfea6b-2733-43ed-b8f0-c8a697d97543" class="numbered-list" start="3">
            <li><a href="http://boostbrain.ru/">http://boostbrain.ru</a> - сборник игр-тренажеров памяти, внима­ния и
                мышления.
            </li>
        </ol>
        <ol id="71a7fb0a-d398-45e1-a78c-31066df04ac1" class="numbered-list" start="4">
            <li><a href="https://www.coursera.org/">https://www.coursera.org</a> - сборник бесплатных он-лайн кур­сов
                лучших университетов мира. Вы можете пройти курс на лю­бую интересующую вас тему и получить сертификат о
                его завер­шении. Основная часть курсов преподается на английском языке и предназначена для студентов
                вузов, однако уже сейчас вы мо­жете взять себе на заметку этот ресурс.
            </li>
        </ol>
        <ol id="2e31bcc0-7d0a-4d26-9dde-1ad7bedac125" class="numbered-list" start="5">
            <li><a href="https://www.khanacademy.org/">https://www.khanacademy.org</a> - база бесплатных уроков по
                математике, истории искусств, информатике, криптографии, медицине для школьников на английском языке.
            </li>
        </ol>
        <ol id="80a42b3a-cb6b-4bc3-8970-7780d091328a" class="numbered-list" start="6">
            <li><a href="https://www.udacity.com/">https://www.udacity.com</a> - сборник бесплатных курсов в сфере ИТ от
                лучших университетов мира (ресурс на английском языке).
            </li>
        </ol>
        <ol id="94aeb5bf-e160-458e-b17b-47de86567fbb" class="numbered-list" start="7">
            <li><a href="http://universarium.org/">http://universarium.org</a> - российский аналог сайтов coursera и
            </li>
        </ol>
        <p id="05580356-70d9-4c23-a807-03f56a96d87f" class="">
            <mark class="highlight-purple">РЕЗЮМЕ УРОКА</mark>
        </p>
        <ul id="bb2cd25d-66f3-4442-9359-5629ab25d6c8" class="bulleted-list">
            <li>Основная задача школы заключается в том, чтобы всесторонне подготовить вас к успешной «взрослой» жизни.
                Ясная голова, силь­ное тело, чистая душа, крепкий характер - вот подлинный результат обучения в школе.
            </li>
        </ul>
        <ul id="65726366-b636-425a-9133-c78b3014be7f" class="bulleted-list">
            <li>Для того чтобы получить наилучшее образование, мы предлага­ем вам придерживаться следующей стратегии в
                обучении.
            </li>
        </ul>
        <ul id="c45a237e-534c-4700-8c31-e764084bbd71" class="bulleted-list">
            <li>Уделяйте время всем школьным предметам, это обеспечит раз­ностороннее развитие вашего интеллекта и
                воображения.
            </li>
        </ul>
        <ul id="267671f4-f281-4494-b134-291f0f5dfe0e" class="bulleted-list">
            <li>При этом можно выделить предмет-лидер, которым вы увлече­ны более всего и с которым связываете свою
                будущую профес­сию. Занимайтесь этим предметом дополнительно.
            </li>
        </ul>
        <ul id="6c80828d-1893-4cdf-acbc-d83bf762213a" class="bulleted-list">
            <li>Учитесь на совесть, вникая в суть предметов. Цель учебы - не оценки, а реальные знания и понимание
                изучаемых наук. Не жульничайте! Этим вы обманываете только себя.
            </li>
        </ul>
        <ul id="3041f97a-a4a9-410e-a101-67ce49f0236e" class="bulleted-list">
            <li>Занимайтесь спортом, регулярная физическая нагрузка залог вашего здоровья и хорошего самочувствия.</li>
        </ul>
        <ul id="c6c17121-8795-4b85-bca6-2c6cd9e0e878" class="bulleted-list">
            <li>Постарайтесь взглянуть на учебу по-новому. Это невероятно увлекательный процесс, ведь вы формируете
                себя, становитесь личностью. Полюбите учебу!
            </li>
        </ul>
      
        <span style="border-bottom: 3px solid blue" class="pb-4">
			<a href="{% url 'second_chapters_AimofLearning_task' %}" class="d-inline-flex text-decoration-none">
				<h3 style="color: black;">Перейти к домашнему заданию</h3>
			</a>
			<span class="oi oi-arrow-right ml-2" style="font-size: 2rem"></span>
		</span>
    </div>
    <a href="#"><span class="oi oi-arrow-top float-right rounded-circle py-3 px-4"
                      style="color: black; border: 3px solid black; font-size: 2.5rem"></span></a>
    <div class="mt-5 w-100 justify-content-center d-inline-flex">
        <img src='{% static "img/images_for_tree/Yoga.svg" %}' alt="" class="rectang"/>
    </div>
</article>

{% endblock %}
