{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}

<title>Урок 4: Эффективные коммуникации</title>

<article id="8a56fe9e-9fa7-4b39-a5f4-5c6e4597bc83" class="page sans w-75 mx-auto"
         style="margin-top: 2em; font-size: 18px">
    <header>
        <div>
            <a href="{% url 'second' %}" target="_self" style="color: black; margin-right: 5em"><span
                    class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
            <span class="text-muted">
				<a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
				<a href="{% url 'second' %}" target="_self" class="text-muted">Учеба и будующая карьера</a> >
				Урок 4: Эффективные коммуникации
			</span>
        </div>
        <img class="page-cover-image" src="https://www.notion.so/images/page-cover/gradients_8.png"
             style="object-position:center 70%; margin-top: 2em; border-radius: 0"/>

    </header>
    <div class="page-body text-left w-75 mx-auto">

        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Top Skills</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>19.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
        </div>
        <h1 class="page-title">Урок 4: Эффективные коммуникации
        </h1>
        <p id="bdde175f-4802-4e07-975a-bf2f9bbabb25" class="">XXI век - век коммуникаций. В современном мире, чем бы вы
            ни занимались, какую бы профессию ни выбрали - умение четко, ясно и убедительно излагать свои мысли как в
            письменной, так и в устной форме станет неотъемлемой составляющей вашего профессионального успеха. Почему
            это так важно? Потому, что во внешнем мире вы про­являете себя только через коммуникации. У вас могут быть
            самые блестящие идеи и проекты, но какова будет им цена, если вы не смо­жете их убедительно представить?Для
            внешнего мира, вы - это ваш внутренний потенциал, выраженный в устной либо в письменной фор­ме. Поэтому
            первое, что необходимо понять на этом уроке, - будуще­му лидеру не обойтись без уверенных навыков делового
            письма и публичных выступлений.</p>
        <p id="2a0bd1ea-520e-4f0c-bae8-6fbcf244ee3a" class="">Посмотрите ролик «<em>The power of words</em>» (Сила
            слов). Вы убедитесь: одна и та же мысль, но выраженная иными словами, дает совсем другой результат. В этом и
            заключается важность и сила правильно подобранных слов.</p>
        <div style="margin-bottom: 2rem; height: 22rem" class="d-inline-flex mt-4">
            <iframe class="h-100 w-75 mr-5" src="https://www.youtube.com/embed/Hzgzim5m7oU" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <p id="c153de7b-6e85-450b-b687-c33ae0f4ee3a" class="">Деловые коммуникации бывают множества разных видов. Их
            можно разделить на две большие группы: деловое письмо и публичное выступление. <strong>Деловое
                письмо</strong> - это не только собственно письма, адресованные коллегам, клиентам, в вышестоящие
            инстанции, но также школьные рефераты, курсовые и дипломные работы студентов, статьи в научных журналах, это
            ваше грамотно составленное резюме, служебные и аналитические записки начальству, заявки на конкурсы и т.д.,
            и т.п. И конечно, конкретно в вашем случае - школьные сочинения!</p>
        <p id="0fcd4f0c-1b20-4b86-ae3c-b6de739c1c31" class=""><strong>Публичное выступление</strong> - это не только
            презентации, официальные речи, доклады, но также выступления перед экзаменационной комиссией, ответы у доски
            перед своим классом, произнесение поздравлений на семейных мероприятиях, и т.д.</p>
        <p id="44e14ca0-c331-40a4-9c08-6e8c586cecb8" class="">Несмотря на многообразие форм коммуникаций, в их основе
            лежат одни и те же принципы, основанные на простом здравом смысле. Однако количество людей, которые не умеют
            ни писать, ни публично выступать, просто ужасает. Причина этому проста: в молодом возрасте они не овладели
            необходимыми навыками коммуникаций. Чтобы не оказаться в их числе, вам необходимо заложить основы этих
            навыков уже сейчас, в школьное время. Как это сделать? Вот три основы, на которых строятся все успешные
            коммуникации и которые вам необходимо развивать.</p>
        <ol id="f4910e64-4d47-44ca-9f1e-99607f3a53ae" class="numbered-list" start="1">
            <li><strong>Масштаб вашей личности.</strong> Успех ваших коммуникаций всегда будет прямо пропорционален
                масштабу вашей личности: богатству вашего внутреннего мира, широте кругозора, вашей самооценке и
                уверенности в себе. В том, что вы пишете и говорите, всегда будет проявляться ваш внутренний мир. Даже
                если это письмо на очень узкую тему, между строк будет «читаться» ваш общий уровень эрудиции и культуры.
                Поэтому, чтобы интересно и убедительно писать и говорить, в первую очередь работайте над собой и над
                своим кругозором.
            </li>
        </ol>
        <ol id="31c886a7-05fd-43d3-a767-4af253eb6795" class="numbered-list" start="2">
            <li><strong>Общее владение русским языком</strong>. Богатый словарный запас, умение красиво и грамотно
                формулировать свои мысли, чувство стиля - все это неотъемлемая часть успеха в коммуникациях. Мы уже
                упомянули, что у вас могут быть гениальные идеи, но если вы не можете их грамотно и убедительно
                выразить, то цена им невелика. Чтобы овладеть языком, особое внимание уделяйте урокам русского языка и
                литературы. Читайте качественные тексты. Пишите сами. Воспользуйтесь тем, что подростковый возраст
                естественный период попыток писать стихи. Не бойтесь и не стесняйтесь этого. Это прекрасная практика для
                развития словарного запаса, чувства стиля, умения кратко и метко выразить мысль и передать настроение.
            </li>
        </ol>
        <ol id="de8b5c4f-3cd0-4ce5-ad7c-937490501a6b" class="numbered-list" start="3">
            <li><strong>Технические навыки.</strong> Для каждой формы коммуникаций существуют свои определенные
                стандарты. Так, например, существуют общепринятые форматы для рефератов, курсовых и дипломных работ,
                конкурсных заявок, деловых писем, составления резюме и т.д. Со многими из этих форматов вы познакомитесь
                позднее в жизни. Однако, несмотря на все их многообразие, существует единый логический алгоритм работы,
                который лежит в основе создания любого качественного документа или же успешного выступления перед
                аудиторией. Далее мы поговорим подробнее об этих шагах. Путь к овладению этими принципами лежит через
                регулярную практику. Поэтому, чтобы научиться писать хорошие рефераты или сочинения, нужно много писать,
                а чтобы научится хорошо выступать, нужно много тренироваться в выступлениях!
            </li>
        </ol>
        <p id="70359334-2523-4ebe-a29d-f3d56e6ee0af" class="">Итак, представим себе, что вам необходимо создать
            какую-либо письменную работу или же подготовиться к устному выступлению. Не так важно, что это будет -
            сочинение, реферат, письмо, презентация перед классом. Принцип работы один и тот же. С чего начать?</p>
        <ol id="d2356c51-34c2-43e3-9b2c-88fbb8d9d018" class="numbered-list" start="1">
            <li><strong>Уверенное и доскональное владение материалом. </strong>Если вы собираетесь о чем-то писать или
                говорить, вы должны убедиться в том, что в первую очередь сами хорошо разобрались в этом предмете. Также
                важную роль играет ваша увлеченность этим вопросом. В публичном выступлении это будет видно сразу, но и
                между строк даже самого сухого отчета будет прочитываться ваше отношение к теме.
            </li>
        </ol>
        <ol id="f9c13834-bad4-443a-9687-08701a7124cc" class="numbered-list" start="2">
            <li><strong>Назначение документа</strong>. Далее предельно четко ответьте себе<strong> на следующие
                вопросы:</strong></li>
        </ol>
        <ul id="bf8b1b15-405f-450b-b8b8-cf2213782a7d" class="bulleted-list">
            <li><strong>ЧТО вы хотите сказать? </strong>Для форму­лировки главной мысли можно восполь­зоваться нехитрой
                уловкой - представьте себе, что у вас есть всего лишь 15 секунд, чтобы объяснить основное, что вы
                соби­раетесь написать/сказать. То, что вы вы­берете сказать в эти 15 секунд, скорее всего, и есть ваша
                главная мысль.
            </li>
        </ul>
        <ul id="dad76692-7b18-4cc8-96ee-781340373377" class="bulleted-list">
            <li><strong>КОМУ вы хотите это сказать? </strong>Ответ на этот вопрос задаст основные параметры вашего
                документа/выступления - стиль и тон сообщения, его длину, содержание и т.д. Постарайтесь понять основные
                характеристики своей аудитории и определите, каким должен быть текст/выступление, чтобы ей
                соответствовать. Вы также должны понимать, насколько хорошо информирован ваш читатель/слушатель о
                предмете работы. Типичная ошибка - писать о частном вопросе, которым вы занимаетесь много месяцев, как
                будто тот, к кому вы обращаетесь, тоже только этим и занимается. Надо быть понятым. Если
                человек/аудитория не понимает, что вы хотите сказать, то вы не просто не достигнете своей цели, но
                получите обратный результат - раздражение.
            </li>
        </ul>
        <ul id="94929448-d7d5-4597-8635-93b6e6026a81" class="bulleted-list">
            <li><strong>ЧЕГО вы хотите этим добиться? </strong>Определите, какова главная цель вашей работы?
                Проинформировать, убедить, побудить и т.д.? Весь последующий текст должен быть направлен на достижение
                этой основной цели.
            </li>
        </ul>
        <p id="36811172-1e33-4d34-82e3-44e87057a6ff" class="">Если у вас нет ответов на эти вопросы, как же вас поймут
            те, к кому вы обращаетесь?</p>
        <p id="71698830-bf0a-46e3-a385-306209518d5e" class="">3. <strong>План работы/выступления.</strong> Далее
            наметьте план своей работы. На этом этапе вполне достаточно записать ключевые слова и фразы и определиться с
            их логической последовательностью. Основная мысль должна быть четко сформулирована в начале документа и
            расшифрована, аргументирована в последующих частях. А в заключении необходимо еще раз ее повторить. Это
            называется методом сэндвича: сначала объявите, что вы собираетесь сказать, затем скажите это и в конце
            повторите то, что вы сказали.</p>
        <p id="9823f729-606d-4f12-9ccb-4c21ccfc3680" class="">4. <strong>Черновик.</strong> Далее по своему плану
            напишите черновой вариант текста/выступления. Излагайте свои мысли кратко, четко, по пунктам. Соблюдайте
            принцип «<em>KISS</em>» - «<em>Keep It Short and Simple</em>» или «коротко и просто». Не пытайтесь
            завуалировать вашу идею в множестве ненужных слов, попросту говоря «не лейте воду». Лучше написать/сказать
            меньше, но по делу. Представьте себе, что вы забиваете гвозди: первый аргумент - гвоздь, вторая мысль -
            второй гвоздь и т.д., четко и внятно. Не старайтесь сразу редактировать написанный абзац. Это замедлит вашу
            работу и собьет с основной нити документа. Пишите подряд, не останавливаясь, до конца.</p>
        <p id="cd777200-6922-4732-831a-a95f876c4bca" class="">5. <strong>Редактирование.</strong> Когда у вас будет
            черновой вариант всего текста, можно приступить к его редактированию. В первую очередь, прочитав текст,
            вернитесь к своей цели и ответьте на вопрос - текст достигает цели? Понятен ли он выбранной аудитории?
            Доработайте текст соответственно. Обязательно вычитайте текст на предмет орфографии и грамматики. Помогает
            чтение вслух, так как это заставит вас читать медленнее, и вы с большей вероятностью обнаружите недочеты.
            Если есть возможность, попросите кого-то другого просмотреть текст свежим взглядом и дать вам свои
            замечания.</p>
        <p id="34199444-791b-45d5-9759-4d7a367aecca" class="">6. <strong>Устное выступление</strong> имеет ряд
            дополнительных особенностей.</p>
        <ul id="73b0d99c-9612-4ee1-bf8c-e3e06419f01c" class="bulleted-list">
            <li><em>Репетируйте выступление.</em> Это можно сделать перед зеркалом или записать себя на видео, можно
                также пробно выступить перед родными или друзьями. Читать текст во время выступления не рекомендуется,
                желательно выучить его наизусть и лишь иногда подсматривать в записи (можно сделать вспомогательные
                карточки с тезисами или презентацию). Репетируйте свою речь, вплоть до пауз и жестов, столько раз,
                сколько потребуется, чтобы не сбиваться и чувствовать себя уверенно.
            </li>
        </ul>
        <ul id="4d6121b6-c830-4eba-8141-5768d8737b8c" class="bulleted-list">
            <li><em>Следите за аудиторией. </em>Человек на слух воспринимает информацию по-другому, нежели читая ее. Он
                быстрее теряет интерес, поэтому необходимо избегать монотонности в изложении. Сделайте выступление
                живым, разбавляя «тяжелые» для восприятия части более «легкими». Во время выступления внимательно
                следите за состоянием слушателей. Заранее подготовьте возможные вопросы для аудитории, интересные факты
                или истории, которые вы смогли бы умело вставить, если заметите, что аудитория начала скучать. Можно
                также воспользоваться приемом «создания интриги» и упомянуть в начале выступления о чем-то интересном,
                что вы раскроете только в конце.
            </li>
        </ul>
        <ul id="959882aa-90bc-40d8-b5ea-caae90e18492" class="bulleted-list">
            <li><em>Подготовьтесь к возможным вопросам.</em> Заранее продумайте возможные вопросы, которые вам могут
                задать слушатели. Подготовьте содержательные ответы на них и сформируйте резервные знания на тему
                выступления.
            </li>
        </ul>
        <p id="ed1b839d-8958-4948-b861-fd176ae3cc85" class="">7. <strong>Анализ и работа над ошибками!</strong> Это
            очень важная часть работы, которой часто пренебрегают. Обратная связь, анализ и работа с текстом - ядро
            развития ваших навыков! После того, как вы сдали свою работу или сделали выступление, обязательно
            проанализируйте их. По возможности попросите преподавателя или кого-то из опытных слушателей дать вам
            детальный комментарий. Постарайтесь четко осознать - что в работе было хорошо, что можно было бы улучшить?
            Учтите эти моменты в своих будущих работах.</p>
        <p id="1d051787-9c21-4cd8-8813-831ef86f5b58" class="">8. <strong>Практика.</strong> Единственный способ развить
            навыки письма и выступлений - это регулярная практика. В вашем случае - это школьные сочинения и рефераты,
            ответы у доски и выступления на школьных мероприятиях.</p>
        <p id="fe300cb0-152e-4cfe-b299-35de5093edbf" class="">
            <mark class="highlight-red">ПРАКТИКА ПРИВОДИТ К СОВЕРШЕНСТВУ</mark>
        </p>
        <p id="fc93d493-7207-4ad1-b3a7-d9dc5ee2193a" class="">
        </p>
        <a>
            <img style="width:640px"
                 src="https://media.discordapp.net/attachments/745700277004402832/756863565255933962/Untitled.png">
        </a>
        <p id="f7dcaf2c-c73c-448e-9e97-15beea84d05e" class="">Пользуйтесь любой возможностью выступать на людях,
            особенно если вы этого боитесь и испытываете дискомфорт. Только путем постоянных выступлений вы сможете
            побороть в себе этот страх и со временем научитесь импровизировать и успешно выступать без длительной
            подготовки. Больше читайте и пишите, анализируйте свои тексты. Чем больше вы будете писать и чем чаще
            выступать, тем естественный и легче вам это будет даваться.</p>
        <blockquote id="c4d2caea-979a-4f92-ab75-d34094a8e4f0" class="block-color-red">
            <mark class="highlight-red">ПОЛЕЗНЫЕ МАТЕРИАЛЫ</mark>
        </blockquote>
        <ol id="fa82d263-7a8f-48ed-bd61-18baf4a6062c" class="numbered-list" start="1">
            <li>
                <mark class="highlight-blue"><a href="http://gramma.ru/">http://gramma.ru</a></mark>
                - ресурс по популяризации русского языка, предоставляющий учебные и справочные материалы, рекомендации
                по подготовке к ЕГЭ, экзаменам по русскому языку и литературе; библиотека художественной литературы и
                критики; словари; методические материалы для учителей-словесников.
            </li>
        </ol>
        <ol id="640908a3-a0b5-40f2-91f8-9a4ea366cdf1" class="numbered-list" start="2">
            <li>
                <mark class="highlight-blue"><a href="http://4brain.ru/pismo/-">http://4brain.ru/pismo/</a></mark>
                <a href="http://4brain.ru/pismo/-">-</a> бесплатный тренинг писательского мастерства.
            </li>
        </ol>
        <ol id="747ff40d-a449-4f81-8c6f-9a83a7111310" class="numbered-list" start="3">
            <li>
                <mark class="highlight-blue"><a href="http://4brain.ru/oratorskoe-iskusstvo/-">http://4brain.ru/oratorskoe-iskusstvo/</a>
                </mark>
                <a href="http://4brain.ru/oratorskoe-iskusstvo/-">-</a> тренинг ораторского мастерства.
            </li>
        </ol>
        <ol id="154219a3-78d6-4f8c-ab1e-f4a3537782e5" class="numbered-list" start="4">
            <li>
                <mark class="highlight-blue"><a href="http://www.logoped12.narod.ru/article/articul.htm">http://www.logoped12.narod.ru/article/articul.htm</a>
                </mark>
                <mark class="highlight-blue"></mark>
                - упражнения для развития голоса и хорошей дикции.
            </li>
        </ol>
        <ol id="891a3445-0394-4c10-8061-6e1b9f144b6a" class="numbered-list" start="5">
            <li>
                <mark class="highlight-blue"><a href="http://www.mastergolosa.ru/">http://www.mastergolosa.ru</a></mark>
                <mark class="highlight-blue"></mark>
                - упражнения для развития голоса и хорошей дикции.
            </li>
        </ol>
        <ol id="a354074a-c8c2-405c-874b-7c8e94206bf5" class="numbered-list" start="6">
            <li>
                <mark class="highlight-blue"><a href="http://diktory.com/">http://diktory.com</a></mark>
                <mark class="highlight-blue"></mark>
                - упражнения для развития дикции.
            </li>
        </ol>
        <p id="b4c4483a-ebd8-4db0-923d-ec5bde28625a" class="">Книги:</p>
        <ul id="fe9be8d2-5712-454e-9e2a-413a91ee4589" class="bulleted-list">
            <li>Рой Питер Кларк «50 приемов письма» - книга известного журналиста, в которой содержатся советы по
                написанию сенсаци­онного текста.
            </li>
        </ul>
        <ul id="6c020310-3d8a-4bfd-a256-f8015af52c43" class="bulleted-list">
            <li>Дейл Карнеги «Как вырабатывать уверенность в себе и влиять на людей, выступая публично».</li>
        </ul>
        <ul id="519ad0fc-0f8b-4661-b65f-0a0e78b84b33" class="bulleted-list">
            <li>Поль Л. Сопер «Основы искусства речи».</li>
        </ul>
        <blockquote id="68f16bba-9c17-45e4-b263-5ac37b99b9ac" class="block-color-red">
            <mark class="highlight-red">РЕЗЮМЕ УРОКА</mark>
        </blockquote>
        <ul id="bf4e3819-a296-43d8-97c0-8cbea3703ba8" class="bulleted-list">
            <li>В современном мире крайне важно уверенно владеть навыками письма и публичного выступления, так как
                внешний мир воспринимает вас и ваши идеи только через эти коммуникации.
            </li>
        </ul>
        <ul id="ab1a8043-bd36-460a-a68a-05cc4d36fbf3" class="bulleted-list">
            <li>В основе успешных письменных и устных коммуникаций одни и те же принципы - масштаб вашей личности,
                владение языком общения и ряд технических навыков.
            </li>
        </ul>
        <ul id="b3310e78-d2c2-4a51-87e3-4aa20ce8170d" class="bulleted-list">
            <li>Для создания качественного письменного документа или подготовки устного выступления существует
                определенный алгоритм. Он включает в себя следующие шаги - уверенное владение материалом, четкое
                определение цели и аудитории, составление плана работы, написание черновика, правка и репетиция. После
                сдачи работы (выступления) - анализ и работа над ошибками. Только так вы будете учиться и с каждым разом
                совершенствовать свои навыки.
            </li>
        </ul>
        <span style="border-bottom: 3px solid blue" class="pb-4">
			<a href="{% url 'second_chapters_EfficientСommunications_task' %}" class="d-inline-flex text-decoration-none">
				<h3 style="color: black;">Перейти к домашнему заданию</h3>
			</a>
			<span class="oi oi-arrow-right ml-2" style="font-size: 2rem"></span>
		</span>
    </div>
    <a href="#"><span class="oi oi-arrow-top float-right rounded-circle py-3 px-4"
                      style="color: black; border: 3px solid black; font-size: 2.5rem"></span></a>
    <div class="mt-5 w-100 justify-content-center d-inline-flex">
        <img src='{% static "img/images_for_tree/Yoga.svg" %}' alt="" class="rectang"/>
    </div>
</article>

{% endblock %}