{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}


<article id="ac5b2e88-e4b0-42bc-bafb-c0ade3fd5dab" class="page sans w-75 mx-auto"
         style="margin-top: 2em; font-size: 18px">
    <header>
        <div>
            <a href="{% url 'second' %}" target="_self" style="color: black; margin-right: 5em"><span
                    class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
            <span class="text-muted">
				<a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
				<a href="{% url 'second' %}" target="_self" class="text-muted">Учеба и будующая карьера</a> >
				Смысл обучения в школе
			</span>
        </div>

    </header>
    <div class="page-body text-left w-75 mx-auto">

        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Top Skills</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>19.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
        </div>
        <div class="page-body">
            <h1 class="page-title">Урок 5: Иностранный язык</h1>
            <p id="0f98b470-2b7c-4768-ba2b-59d07715aea0" class=""> У многих школьников существует странное предубеждение
                к иностранному языку: они либо считают, что у них нет никаких языковых способностей, либо уверены, что
                он им не понадобится. Но один язык вам, скорее всего, придется выучить в любом случае. Этот язык -
                английский. Мир быстро глобализуется, становится все более интегрированным. Возьмите любую крупную
                компанию - она будет представлена не только в разных странах, но и на разных континентах. Компания может
                быть «прописана» в Европе или Америке, а ее основные производства локализованы в Китае, в Индии или,
                скажем, Вьетнаме. Так получилось, что на данном историческом этапе английский стал связующим языком для
                стремительно объединяющегося мира. И даже если вы не планируете выезжать за границу, английский вам все
                равно понадобится. Дело в том, что 80-90 % информации в современном мире дается именно на английском
                языке. Например, многие ссылки, которые мы приводим в этой книге, доступны только на английском
                (конечно, это делалось не специально). Без уверенного владения английским вам будет трудно стать
                успешным в большинстве современных профессий. Посмотрите любое объявление о приеме на хорошую работу.
                Практически везде будет написано «требуется владение английским языком». Таким образом, хорошее знание
                английского языка - универсальный фактор вашей личной конкурентоспособности, независимо от того, что вы
                будете делать дальше в жизни. Поэтому он попал на страницы этой книги.</p>
            <p id="11018a21-e78c-437d-9f41-47d064bfe374" class=""> Есть и хорошая новость. Специалистами признано, что
                английский является одним из наиболее простых языков для изучения. Тем не менее, несмотря на то, что
                иностранный язык изучается в наших школах 10 (!) лет, большинство выпускников не могут на нем хоть
                сколь-нибудь уверенно общаться. Попробуем разобраться в причинах этого и в том, как же лучше всего
                изучить английский. Сказанное далее относится к изучению любого языка и ни в коем случае не противоречит
                вашему основному курсу. Школьная программа иностранного языка - очень серьезная, ее полноценное освоение
                гарантирует вам уверенное владение языком. Ниже мы обсудим, как это сделать максимально эффективно.</p>
            <p id="eff118f0-3bfe-432c-afdd-8f21efa002e2" class=""> С нашей точки зрения существуют четыре причины низкой
                результативности изучения языка в школе.</p>
            <ul id="cc8578e8-1932-4f85-b5a8-1069d9706d8e" class="bulleted-list">
                <li>Первое, это конечно, мотивация. Ее недостаток у вас проявляется во множестве отговорок типа: «У меня
                    нет способностей к языкам!», «Мне уже поздно учить язык», «У меня нет возможности практиковать его с
                    носителями», «У меня плохая память», «Я стесняюсь делать ошибки» и т.д. Ни один из этих
                    псевдоаргументов не имеет под собой реальной основы, мы даже обсуждать не будем эти глупости. Да,
                    наверное, непросто освоить иностранный язык, чтобы потом на нем писать сонеты. Но выучить
                    «стандартный» язык, достаточный для комфортного общения на нем, - задача посильная абсолютно
                    каждому. Надо искать не отговорки, а раз и навсегда понять, что уверенное владение английским языком
                    - это один из краеугольных камней вашей личной конкурентоспособности. Кроме этого, с самыми первыми
                    реальными успехами в освоении языка, вы поймете, что это интереснейший и увлекательнейший процесс.
                    То, как вы начинаете понимать и говорить на другом языке, можно сравнить с чудом! Это важно
                    прочувствовать.
                </li>
            </ul>
            <ul id="11b74ae6-0732-436d-b0be-cdd0f1d0ab9c" class="bulleted-list">
                <li>Второе. Де факто, большинство учеников изучают язык лишь для того, чтобы сдать топик, написать
                    контрольную, получить хорошую отметку. Поэтому, как только контрольная сдана, все изученное ...
                    забывается. Потому что психологическая установка была: надо выучить, чтобы сдать тест. Ок, тест
                    сдан. Какую команду дает подсознание? Правильно: можно забыть. Ведь задачу вы решили, работа сдана.
                    В начале этого раздела мы говорили о смысле обучения в школе. Применительно к иностранному языку -
                    вы его изучаете для того, чтобы на нем общаться, а не для того, чтобы сдать зачет. Поэтому важно
                    поменять исходную установку на уровне подсознания. Она может быть следующей: «Английский язык - это
                    эффективный инструмент общения и работы, который я с удовольствием буду использовать всю оставшуюся
                    жизнь».
                </li>
            </ul>
            <ul id="7b88f376-8c7b-4ed4-8663-2da4db5eb77a" class="bulleted-list">
                <li>Третья причина - изученный материал не применяется в жизни. Иностранный язык и ваша жизнь никак не
                    связаны между собой. При таком подходе ваши начальные знания языка обязательно исчезнут вместе с
                    вашим старым дневником.
                </li>
            </ul>
            <ul id="71fc0ce8-6b6a-4647-8fda-4bf610ed92e8" class="bulleted-list">
                <li>Наконец, четвертая причина - большинство из вас стесняется своего несовершенного английского. Не
                    робейте! Не бойтесь делать ошибки, говорить и писать коряво! Даже те, кто сегодня в совершенстве
                    владеет иностранным языком, проходили через эту стадию ошибок.
                </li>
            </ul>
            <p id="be52ec70-5b7c-46c8-b4ef-513b8a63b442" class=""> Если вы разобрались с этими четырьмя причинами,
                иностранный язык вы освоите, это вопрос только времени. Теперь поговорим о том, как это сделать
                максимально эффективно.</p>
            <p id="e1f706d6-c998-4cea-9e20-818ba47d487c" class=""> Что это значит - знать иностранный язык? Это
                означает, что вы на этом языке умеете: 1) говорить, 2) понимать говорящего, 3) читать и 4) писать.</p>
            <p id="c65d1e7b-c790-4d37-9ea1-78372a7ae4f7" class=""> В принципе, не все четыре составляющие могут
                понадобиться вам в будущей работе. Многие достаточно уверенно говорят и понимают устную речь, хотя пишут
                гораздо хуже. Но в школе у вас есть все возможности изучить язык во всех его четырех аспектах. Это вам,
                точно, не помешает.</p>
            <p id="384db148-a470-4a4b-afe1-caa01a3f6185" class=""> Исследования лингвистов показывают, что знание
                примерно 70 % слов позволяет следовать за общим ходом иностранного текста, а знание 90 % - обеспечивает
                его уверенное, полноценное, восприятие. Оставшиеся слова легко понимаются из контекста. С другой
                стороны, подсчитано, что 90 % художественного текста на английском языке состоит из примерно 3000
                наиболее употребительных слов. Дальнейшее увеличение словарного запаса большого смысла не имеет,
                поскольку если вы выучите 5000 наиболее употребительных слов, то они составят менее 94 % текста, т.е.
                дополнительно выученные 2000 слов дают прирост понимания всего лишь на 4 %. Таким образом, знание трех
                тысяч слов и оборотов составляет основу уверенного владения английским. Трудно ли это? Если каждый день
                осваивать хотя бы по 10 новых слов, то необходимую базу можно создать менее чем за год!</p>
            <p id="907237aa-1c8d-4ac3-aeac-cbb6721331a2" class=""> Так как же все-таки организовать максимально
                эффективное изучение языка? С нашей точки зрения, вот четыре составляющие вашего будущего
                результата.</p>
            <ol id="a776b7ff-cd5a-4896-afbe-6bc62ea653ec" class="numbered-list" start="1">
                <li>Первое - конечно же, качественное усвоение школьных уроков. Здесь вы систематически формируете всю
                    необходимую языковую базу: лексика, грамматика, фонетика.
                </li>
            </ol>
            <ol id="66ef9d77-5a95-4087-b127-c20c385882b0" class="numbered-list" start="2">
                <li>Прекрасным дополнением к этому может послужить метод, который мы назовем «методом Шлимана». Генрих
                    Шлиман - выдающийся немецкий археолог, прославившийся раскопками и исследованием истории древней
                    Трои. Он был полиглотом, уверенно владел 14 языками. Его метод заключался в следующем. Шлиман выучил
                    наизусть книгу на родном языке (кстати, в детстве он страдал плохой памятью. Но, благодаря
                    тренировкам, она у него стала феноменальной. Это - к вашим возможным отговоркам). И каждый раз,
                    приступая к изучению нового языка, Шлиман запасался переводом этой книги на этом языке и внимательно
                    ее изучал. В современных условиях этот метод можно значительно усилить. Выберите одну из своих
                    любимых книг. Это может быть «Три мушкетера», «Дети капитана Гранта» или любая другая книга, которую
                    вы с удовольствием готовы перечитывать. Далее, найдите эту книги на английском языке. В Интернете
                    это можно сделать без труда. Внимательно читайте главу за главой, переводите незнакомые слова и
                    обороты, в трудных местах обращайтесь к русскоязычному варианту. Более того, найдите в Интернете
                    аудиовариант книги. Это позволит вам научиться воспринимать язык на слух. Читайте вместе с диктором,
                    так вы поставите свое произношение. Наконец, вы можете найти фильм на английском языке по этой
                    книге. Это позволит вам полностью погрузиться в англоязычную среду. И, конечно же, каждую главу
                    книги нужно обсуждать со своими друзьями по английскому. Таким образом, вы не без удовольствия
                    (книга-то - любимая!) значительно продвинетесь в трех из четырех направлений изучения языка:
                    слушать, говорить и читать на английском языке.
                </li>
            </ol>
            <p id="afbdbb33-5d2b-496f-98f9-bedd1eb0c57a" class=""> Как это работает? Перед посадкой на пароход,
                отплывающий к месту новой службы в Венесуэле, Шлиман обещал друзьям, что будет говорить на совершенно
                незнакомом для него испанском, когда высадится там. Результат вы знаете... Кстати, таким же способом он
                за 6 недель выучил и очень трудный для иностранцев русский язык. Ваш вариант «метода Шлимана»,
                дополненный аудио- и видеоприложениями, гораздо более сильный. Так что - <em>go ahead</em>!</p>
            <ol id="36bd281f-047a-4dc7-bea2-c3694313726d" class="numbered-list" start="1">
                <li>Как максимально эффективно тренировать четвертую составляющую знания языка - умение грамотно писать?
                    Вот прекрасный метод, который в свое время очень помог старшему по возрасту автору этой книги. В
                    школе, как у многих сверстников, преподавали немецкий. Однако по научным делам довольно скоро
                    пришлось самостоятельно освоить английский, прежде всего для изложения научных трудов. Метод назовем
                    «методом обратного перевода». Вот его суть. Возьмите любой текст, написанный носителем языка на
                    хорошем английском (отметим, далеко не все пишут хорошо на родном языке). В подборе текста вам может
                    помочь ваш учитель. Это может быть и просто часть книги из предыдущего пункта. Важно, чтобы этот
                    текст был посильным для вас и интересным по содержанию (биография любимого актера, описание места,
                    где вы мечтаете побывать, и т.д.). Тщательно, максимально качественно, <strong>письменно</strong>
                    переведите текст на русский язык. Выделите и выучите все незнакомые слова и обороты. Отложите и
                    забудьте этот материал на несколько дней. Где-то через неделю возьмите свой русскоязычный перевод и,
                    не заглядывая в исходный текст, переведите его <strong>письменно</strong> назад на английский.
                    Сравните свой обратный перевод с оригиналом. Выделите все ошибки. Будьте спокойны, их будет много.
                    Это нормально. Тщательно осмыслите допущенные ошибки, внимательно разберите каждую из них. Это самое
                    главное, в этот момент происходит ваш подлинный рост в освоении языка. Через неделю повторите
                    «обратный» перевод с русского на английский еще раз. Опять сравните с исходным англоязычным
                    оригиналом. Опять выделите ошибки, их уже будет меньше. Снова тщательный анализ допущенных ошибок.
                    На 3-5 раз вы будете писать этот текст практически без ошибок. Делайте это упражнение каждую
                    четверть с новым текстом. Старые записи сохраните, возвращайтесь к ним время от времени, это
                    закрепит ваши знания. Через год вы будете уверенно писать любые тексты на английском.
                </li>
            </ol>
            <p id="84b2325f-2c63-45dc-aaa4-6c87faa57dbd" class=""> Как это работает? Благодаря таким упражнениям старший
                автор этой книги написал более сотни статей и две монографии на английском. К качеству языка претензий
                не было...</p>
            <ol id="6bd5b412-28f7-4729-a063-b8c8f348337c" class="numbered-list" start="1">
                <li>Создайте небольшую группу друзей по изучению языка. Договоритесь между собой общаться (говорить и
                    писать) ТОЛЬКО на английском. Введите систему «штрафов» за использование каждого русского слова.
                    Собранные по одному рублю штрафы, вы можете в конце недели с удовольствием потратить в кафе,
                    общаясь… на английском. Вы сами не заметите, как скоро начнете свободно общаться (понимать,
                    говорить, читать и писать) на иностранном языке.
                </li>
            </ol>
            <p id="3519ddf2-374f-41c1-ab85-e01f56d26d97" class=""> Вот еще перечень советов, которые дают все, успешно
                освоившие иностранный язык.</p>
            <ol id="17a14296-da73-4eb4-992f-3bd9e5841155" class="numbered-list" start="1">
                <li>Крайне важна регулярность занятий. Каждый день по полчаса даст гораздо больший результат, чем 2 раза
                    по 2 часа. Пока язык будет у вас в стадии активного изучения, четко зафиксируйте время занятий.
                    Например, каждый день с 6:00 до 6:30 утра. Или любое другое время, но это должно быть <strong>одно и
                        то же время, каждый день.</strong> Эта маленькая хитрость очень поможет вам на начальной, самой
                    трудной, стадии изучения языка.
                </li>
            </ol>
            <ol id="0f68e3bd-5a0c-4e29-bf5b-e2140c79b842" class="numbered-list" start="2">
                <li>Окружите себя языковой средой, поживите в ней, пока ваш английский не станет уверенным: книги,
                    фильмы, передачи, англоязычные сайты Интернета, видео на youtube, ... Все, всех, всегда спрашивайте,
                    задавая вопросы на изучаемом языке, старайтесь как можно больше общаться с теми, кто знает язык и
                    может вам помочь. Существует множество приложений для смартфонов и планшетов для изучения языков
                    (игры, словари и т.д.), загрузите и освойте их (некоторые из них мы рекомендуем в конце урока). Еще
                    раз: ни в коем случае не стесняйтесь своего, пока еще, несовершенного английского.
                </li>
            </ol>
            <p id="1d735e62-e116-44f7-9033-6dc1e415c942" class="">
                <mark class="highlight-red">МИР СТРЕМИТЕЛЬНО ГЛОБАЛИЗУЕТСЯ. ЕДИНЫМ ЯЗЫКОМ ОБЩЕНИЯ СТАЛ АНГЛИЙСКИЙ</mark>
            </p>
            <p id="2f3dca50-c328-40f2-bbb5-d9f9cbdb1718" class="">
            </p>
            <a>
                <img style="width:379px"
                     src="https://media.discordapp.net/attachments/745700277004402832/756863585115963392/Untitled.png">
            </a>
            <p id="c69fb898-e0c9-446d-9d0a-a0ddbf0a5c61" class=""> 3. Слова лучше учить вместе с контекстом их
                использования. Вообще, заучивайте как можно больше, особенно типичные диалоги.</p>
            <p id="9e123209-67a8-4dc4-b2fe-2cec538a2469" class=""> 4. Как можно больше читайте. Это не только
                существенно пополнит ваш словарный запас, но выработает ощущение правильного английского.</p>
            <p id="55658fbd-9bb5-42a4-be9c-0cedf4293b84" class=""> 5. До автоматизма выучите ходовые выражения (не
                забудьте при этом отработать произношение!), типа: I think, really?, well, right, excuse me, let me see,
                let’s go, .... Эти слова часто повторяются в разговорном английском, они могут стать вашими «островками
                комфорта» при общении с «реальным» иностранцем.</p>
            <p id="985a4c5d-02e2-44ad-881e-f5fadb5a8572" class=""> 6. Всегда имейте под рукой компактно записанные
                материалы: слова и словосочетания, грамматические обороты, фрагмент «обратного перевода», и др.
                Современные гаджеты позволяют легко организовать ваше личное хранилище языка.</p>
            <p id="07226e5e-02dc-455f-83f7-4503ed787647" class=""> 7. Максимально используйте для изучения языка
                «бросовое» время: ожидание в очереди, поездка на транспорте. Старший автор этой книги именно так и
                выучил английский.</p>
            <p id="d62dd8a4-dd23-4242-b12f-c529560b4abd" class=""> Последний, возможно, самый главный совет.
                Постарайтесь полюбить процесс изучения языка, пусть это станет вашим хобби. Помните? «Полюбите то, что
                вам нужно делать. Тогда вам не потребуется работать ни одного дня в жизни». Изучение языка - реально
                увлекательнейший процесс, который колоссально вас обогатит. Не верите? Тогда посмотрите видео о
                необычном американском подростке, самом юном полиглоте в мире, Тиме Донере.</p>
            <p id="33407b24-99dd-4fe3-a073-3b1a0412ac57" class=""> Тим освоил 20 языков за короткий срок в 4 года. В
                этом видео он рассказывает о своем интересном увлечении, а также демонстрирует свои умения. Практически
                все языки Тим осваивает самостоятельно с помощью ресурсов, доступных в Интернете. Как вы думаете, почему
                у него это так хорошо и легко получается? Он действительно любит это дело!</p>
            <div style="margin-bottom: 2rem; height: 22rem" class="d-inline-flex mt-4">
                <iframe class="h-100 w-75 mr-5" src="https://www.youtube.com/embed/qajO_jvL1pg" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <p id="a9340e95-aab1-42d4-959b-0906b316b788" class=""> Следуя этим или подобным рекомендациям, вы
                обязательно освоите язык на любом желаемом уровне совершенства. Это серьезное достижение. Но есть еще
                один, не менее важный, бонус. Преодолев многочисленные «не могу», «не хочу», вы одержите личную победу.
                А этот опыт дорогого стоит... <em>So, come on, just do it!</em></p>
            <hr id="9554851f-d421-41c5-b33d-d42f7864f29c"/>
            <p id="7f79f643-2c91-4508-82c3-01cf05854175" class="">
                <mark class="highlight-orange">ПОЛЕЗНЫЕ МАТЕРИАЛЫ</mark>
            </p>
            <hr id="9acbe0cc-eec6-472f-a0b4-0eca9112357e"/>
            <ol id="061f5b45-5b7e-43ee-9694-97e1d330e656" class="numbered-list" start="1">
                <li><a href="http://lingualeo.com/ru">http://lingualeo.com/r\u</a> - сайт с множеством материалов для
                    изучения английского языка.
                </li>
            </ol>
            <ol id="f6143fe9-d203-4a4c-9c0e-9f5f2e6bee9e" class="numbered-list" start="2">
                <li><a href="http://sharedtalk.com/">http://sharedtalk.com</a> - социальная сеть, которая может помочь
                    найти собеседника для языкового обмена.
                </li>
            </ol>
            <ol id="2067263c-b2d9-4e49-b6dc-11cc1beff5de" class="numbered-list" start="3">
                <li><a href="http://slovoych.ru/">http://slovoych.ru</a> - пользователи могут создать неограниченное
                    количество словарей для разных языков. Изучение происходит в процессе чтения текстов— либо тех,
                    которые предложены на сайте, либо своих, которые легко загрузить на сайт. На любое слово в тексте
                    можно нажать— появится его перевод, который автоматически попадет в созданный пользователем словарь.
                </li>
            </ol>
            <ol id="397aa0a8-48fe-4e7f-9bcd-be6b04b03433" class="numbered-list" start="4">
                <li><a href="http://www.bbc.co.uk/russian/learning_english">http://www.bbc.co.uk/russian/learning_english</a>
                    - разнообразные интересные материалы для изучения современного, живого языка.
                </li>
            </ol>
            <ol id="057068ec-6362-4e0a-9f73-6945aa9f4b4f" class="numbered-list" start="5">
                <li><a href="http://www.lingvo-online.ru/ru">http://www.lingvo-online.ru/ru</a> - он-лайн словарь.</li>
            </ol>
            <ol id="e95593e1-0a1b-4697-be41-cb0ef3613778" class="numbered-list" start="6">
                <li><a href="http://www.multitran.ru/">http://www.multitran.ru</a> - он-лайн словарь.</li>
            </ol>
            <ol id="43788e63-81c7-4619-b4ca-1f3d7dba973c" class="numbered-list" start="7">
                <li>Приложения для телефона: Easyten, Lingualeo, FLASHCARDS.</li>
            </ol>
            <hr id="94a31449-893d-4b68-82f0-bc5b3435e231"/>
            <p id="58b3c8f0-1449-44b7-857c-12a08c7f6e5e" class="">
                <mark class="highlight-blue">РЕЗЮМЕ УРОКА</mark>
            </p>
            <hr id="40854357-14f6-45ec-a263-8f6a6b31f191"/>
            <ul id="11ae79b5-dd8e-4408-85a1-8ba7e0d3d6c1" class="bulleted-list">
                <li>Независимо от того, чем вы будете заниматься в жизни, вам, скорее всего, понадобится уверенное
                    владение английским языком. Поэтому сейчас, пока у вас есть время и возможность, выучите его!
                </li>
            </ul>
            <ul id="d5166f12-dee4-4d61-8427-4d2bc1fbcdc8" class="bulleted-list">
                <li>Чтобы освоить язык, необходимо научиться на нем говорить, понимать говорящего, читать и писать. Как
                    это сделать наиболее эффективно?
                </li>
            </ul>
            <ul id="72503051-899b-4e0b-9507-ead49cef3775" class="bulleted-list">
                <li>Качественно, на совесть, изучить школьную программу.</li>
            </ul>
            <ul id="055bdff2-53bc-4baa-910e-c06fa2afed27" class="bulleted-list">
                <li>Дополнить школьную программу самостоятельными занятиями: можно использовать описанные выше «метод
                    Шлимана», «метод обратного перевода», объединиться в языковые группы, читать английскую литературу,
                    смотреть фильмы в оригинале, слушать аудиокниги и передачи.
                </li>
            </ul>
            <ul id="f70bb4f9-e90a-43c2-95c8-277a0b05f52d" class="bulleted-list">
                <li>И ни в коем случае не стесняться своего несовершенного иностранного языка, практиковаться при любой
                    возможности!
                </li>
            </ul>

        </div>
        <span style="border-bottom: 3px solid blue" class="pb-4">
			<a href=# class="d-inline-flex text-decoration-none">
				<h3 style="color: black;">Перейти к домашнему заданию</h3>
			</a>
			<span class="oi oi-arrow-right ml-2" style="font-size: 2rem"></span>
		</span>
    </div>
    <a href="#"><span class="oi oi-arrow-top float-right rounded-circle py-3 px-4"
                      style="color: black; border: 3px solid black; font-size: 2.5rem"></span></a>
    <div class="mt-5 w-100 justify-content-center d-inline-flex">
        <img src='{% static "img/images_for_tree/Yoga.svg" %}' alt="" class="rectang"/>
    </div>
</article>


{% endblock %}