{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}


<article id="f543bb75-9a18-4718-87e7-5e387a272eac" class="page sans w-75 mx-auto"
         style="margin-top: 2em; font-size: 18px">
    <header>
        <div>
            <a href="{% url 'second' %}" target="_self" style="color: black; margin-right: 5em"><span
                    class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
            <span class="text-muted">
				<a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
				<a href="{% url 'second' %}" target="_self" class="text-muted">Учеба и будующая карьера</a> >
				Урок 3: Управление временем: эффективность
			</span>
        </div>
            <img class="page-cover-image" src="https://www.notion.so/images/page-cover/solid_beige.png"
                 style="object-position:center 40%; margin-top: 2em; border-radius: 0"/>

        </header>
        <div class="page-body text-left w-75 mx-auto">
            <div class="d-inline-flex justify-content-between align-items-baseline my-5">
                <span class="oi oi-person mr-2"></span>
                <span>Top Skills</span>
                <span class="oi oi-calendar ml-4 mr-2"></span>
                <span>19.02.2020</span>
                <span class="oi oi-eye ml-4 mr-2"></span>
                <span>15000</span>
                <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
                <span>1800</span>
            </div>
            <div class="float-right align-top mt-5">
                <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}'
                                              style="background: black;width: 25px; height: 30px"></a>
                <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}'
                                              style="background: black;width: 25px; height: 30px"></a>
                <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}'
                                              style="background: black;width: 25px; height: 30px"></a>
                <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}'
                                              style="background: black;width: 25px; height: 30px"></a>
            </div>
            <h1 class="page-title">Урок 3: Управление временем: эффективность</h1>
            <p id="cf279f2a-d6c8-43b5-92fb-1528c32ee74c" class="">
            </p>
            <p id="16df4576-c6b0-4ac0-9472-0dd99a25c87f" class=""> На предыдущем уроке мы научились правильно
                планировать
                свое время. Теперь о второй важнейшей составляющей управления временем: как эффективно использовать
                каждый
                запланированный час. Под эффективностью мы понимаем максимальное количество дел, сделанных с наивысшим
                качеством за минимальное время.</p>
            <p id="82545151-c700-463b-8bfb-23048fb9c976" class=""><strong>  Дисциплина.</strong> К сожалению, часто
                бывает,
                что у человека есть хорошо и правильно разработанный план, но реально он живет другой жизнью. Исполнение
                намеченных дел, даже важных, многие люди раз за разом откладывают. «Со следующего понедельника я начну
                делать зарядку, изучать иностранный язык, и т.д.». Понедельник наступает, но ... ничего не происходит.
                Откладывание важных дел «на потом» стало особенно распространенным в последние годы и получило особое
                название «прокрастинация». Прокрастинация - злейший враг эффективности. Как с ним бороться? Здесь
                приведем
                другую цитату из книги Якокки: <em>«Еще в детстве я приучил себя выполнять домашние задания сразу после
                    школы, чтобы потом спокойно поиграть. Поэтому, когда я поступил в университет, я уже умел
                    сосредоточиться и усердно трудиться, выключив радио и не давая себя ничем отвлечь. Я обычно твердил
                    себе: “В течение трех часов я работаю изо всех сил. И только потом - отдыхаю”».</em> Ключевая мысль
                здесь: <strong>«еще в детстве я приучил себя».</strong> Откладывание важных дел или их незамедлительное
                исполнение - это привычка. И она формируется именно в школьные годы. Приучите себя к исполнению принятых
                решений, и вам будет гораздо легче жить и работать всю оставшуюся жизнь. При развитии важнейшего навыка
                делать все вовремя применимы те же принципы формирования полезных привычек, о которых мы говорили на
                уроке
                I.4.</p>
            <p id="c5d859d5-c948-489a-bdb5-1218f34c027e" class="">Суть одного из подходов заключается в следующем. Если
                вы,
                скажем, решили дополнительно заниматься с 7 до 8 вечера математикой, нужно это делать обязательно и без
                раскачки. «Завтра, потом, позже» - это почти всегда означает «никогда»! Всякий раз, когда вами начинает
                овладевать лень, скажите себе простую фразу: «Работай!», «Возвращайся к работе!» или «Сделай это
                сейчас!»,
                «Просто сделай это!» и т.д. У каждого человека есть СВОИ слова и интонации, которые он воспринимает
                лучше
                всего. Поначалу вам будет непросто «пробить» эту вязкую лень, но затем это станет привычкой, которая
                будет
                помогать вам всю жизнь. А ваша фраза станет спусковым механизмом для ее запуска. Обратите внимание, как
                настраивал себя на работу Якокка в приведенной выше цитате: <em>«... Я обычно твердил себе: ...».</em>
            </p>
            <p id="c32cf442-8925-49d4-840e-4ec6b1162c12" class="">
                <mark class="highlight-red">ВАШУ МЕЧТУ И ЕЕ ВОПЛОЩЕНИЕ РАЗДЕЛЯЕТ МНОЖЕСТВО ПРЕГРАД. ЧЕРЕЗ ЭТИ ПРЕГРАДЫ
                    ЕСТЬ
                    ТОЛЬКО ОДИН МОСТ. ИМЯ ЕМУ – ДИСЦИПЛИНА
                </mark>
            </p>
            <p id="b1a63bf8-395f-4d89-892c-8c10d1f8bb55" class="">
            </p>

            <a>
                <img style="width:558px"
                     src="https://media.discordapp.net/attachments/745700277004402832/756863535287369758/Untitled.png">
            </a>

            <p id="124d3df8-1d80-4cd2-812c-43e45e2ff572" class=""><strong> Сосредоточенность.</strong> Вы начали что-то
                делать: домашнее задание, писать реферат, сочинение. Посвятите этому все выделенное время. Полностью
                погрузитесь в работу. Выключите телевизор, оставьте телефон в другой комнате, отключитесь от Интернета,
                если
                работаете за компьютером. Охраняйте время своей работы как зеницу ока. Нейрофизиологи доказали, что при
                полном погружении в интересную для него работу у человека возникает особое состояние, которое называется
                состоянием потока. Это полное единение с тем, что вы делаете. В этом состоянии время как бы вообще
                исчезает.
                Результативность работы при этом возрастает многократно. За час работы в состоянии потока вы можете
                сделать
                работу, которую в обычном состоянии будете делать много часов. И самое главное - сделаете с максимальным
                качеством. Чтобы войти в это состояние полной сосредоточенности нужно 10-15 минут. Теперь представьте,
                что в
                процессе работы вы отвлеклись буквально на несколько секунд, чтобы посмотреть пришедший смс. Вы потеряли
                не
                5-7 секунд на чтение. Вы потеряли 15 мин, чтобы снова по-настоящему «войти» в работу. Пара таких
                отвлечений
                и вы отработали час не более чем с половинной эффективностью. Многие неосознанно решают проблему
                сосредоточенности, смещая график своей работы на ночь. Причина простая - ночью гораздо меньше отвлечений
                и
                легче войти в состояние потока. Но это неправильно. В третьей четверти мы покажем, что раннее утро
                гораздо
                лучше.</p>
            <p id="a47ad39f-3832-4ef0-ba40-a9874c5d0c06" class=""> Кроме максимальной эффективности, в состоянии потока
                гармонизируются ваши внутренние физиологические процессы. Поработав в этом состоянии даже долгое время,
                человек выходит из него не уставшим, а отдохнувшим! Вот такой парадокс. Умение работать сосредоточенно,
                без
                отвлечений - ценнейшее качество. И оно тоже закладывается в школьные годы. Конечно, не всякая работа
                может
                вызвать это состояние, а ваша «любимая». Постарайтесь пережить и ощутить это состояние потока. Потом вам
                будет гораздо легче вызывать его «по заказу». Эти усилия окупятся тысячекратно: <strong>состояние потока
                    —
                    это состояние наивысшей производительности.</strong></p>
            <p id="3b83eeed-8c35-4984-84c3-8327f65e3182" class=""> Теперь посмотрите, как вы проводите время в школе с
                точки
                зрения сосредоточенности на том, что делаете. Урок в школе длится 45 мин, и в вашем дневнике времени,
                он,
                конечно, будет отмечен как проведенный полезно. Ну, а если вы большую часть урока болтали с соседом по
                парте, рисовали каракули или просто смотрели в окно? Какую часть урока вы реально работаете? Это тоже
                нужно
                фиксировать в дневнике времени и понимать, что 45 минут урока это вовсе не 45 минут вашей работы. Если
                приучите себя работать во время урока максимально собранно, вам потребуется гораздо меньше времени на
                домашнее задание, а результаты будут гораздо лучше.</p>
            <p id="3d91745d-2f8e-42a9-b19d-6a64d0b94ac4" class=""> Старайтесь работать <strong>законченно.</strong> В
                любой
                работе есть свои, пусть даже промежуточные, итоги: вы решили все задачи по теме, дописали сочинение или
                один
                из его разделов, полностью разобрали грамматическое правило и т.д. Это ощущение полноты, завершенности
                сделанной работы очень важно. Оно дает особое чувство удовлетворения и стимулирует вашу дальнейшую
                работу.
            </p>
            <p id="cbb4bf66-3704-4603-8aad-d7b924190f7f" class=""> Здесь еще раз напомним важную мысль из первого урока
                этой
                четверти. Постарайтесь полюбить процесс получения знаний. Это нетрудно, ведь обучение в вашем возрасте
                заложено самой природой. Человек практически не устает, когда занимается интересным ему делом. Усталость
                и
                дальнейшее снижение результативности вызывается не столько самой работой, сколько неудовлетворенностью,
                невыполнением планов. Утомляет работа, которую вы делали, но так и не сделали.</p>
            <p id="f1e9f89f-529b-4910-8f89-615601c48a74" class=""><strong>Интервалы работы.</strong> Для сосредоточенной
                работы без всяких отвлечений необходимо выделять определенные интервалы времени. У вас они составляют 45
                минут - длительность урока. Это тот интервал, в течение которого можно (и нужно!) сохранить предельную
                концентрацию. Со временем, когда вы поступите в университет и далее начнете работать, эти интервалы
                можно
                удлинить до 60-90 мин. В пределах этих временных блоков делайте только то, на чем сосредоточены. Никаких
                отвлечений! Теперь вы понимаете, что цена потери сосредоточенности - это потеря половины рабочего
                времени.
                После каждого такого интервала работы вам необходим перерыв на 5-15 минут и дальше вы начинаете новый
                интервал сосредоточенной работы. Для поддержания высокой работоспособности важно делать перерыв, чуть
                упреждая реальную усталость. Постепенно вы научитесь предчувствовать эти моменты. Наилучший способ
                переключения при умственной работе - энергичное движение, лучше на свежем воздухе. Наклоны туловища,
                взмахи
                руками, приседания - разработайте свой 5-минутный комплекс оперативной тонизации.</p>
            <p id="eef5fec7-786b-4696-bef8-1eeeca17e90a" class=""> Кроме этого, если у вас много домашних заданий,
                чередуйте
                их выполнение по принципу «трудно» - «легко». Организация времени по принципу «работа-отдых»,
                «трудно-легко»
                позволит вам поддерживать высокую работоспособность в течение долгого времени.</p>
            <p id="aa856321-713b-4ac1-94ec-c644ba3b0aea" class=""> Для хорошего самочувствия и высокой работоспособности
                важен дневной свет. Через глаза происходит тонизация участков головного мозга, отвечающих за настроение
                человека. Поэтому нужно проводить на улице достаточно времени, особенно зимой, когда дни короткие. Это
                обеспечит вас не только свежим воздухом, но и солнечным светом.</p>
            <p id="bd3e53e2-58fe-4cfa-af2e-6b43f41299ba" class=""><strong>Многозадачность.</strong> Максимальная
                концентрация необходима при выполнении важных и трудных дел. Но у вас есть много видов активности,
                которые
                вы делаете «на автопилоте». Для этих дел можно и нужно использовать принцип многозадачности. Вы едете до
                школы 20-30 минут? Или стоите в очереди куда-то? Отлично. Это время можно потратить на изучение
                иностранного
                языка. Если вы сидите, можно проработать грамматику, если стоите, заучивать слова или слушать
                аудиозаписи.
                Вы ходите в школу пешком? Хорошо, слушайте на ходу аудиоуроки. Сегодня они доступны практически по любой
                теме. Только будьте внимательны с окружающим транспортом, это серьезно. В течение дня у вас будет много
                такого «бросового» времени, которое просто теряется. Заведите привычку использовать это время, и вы
                ежедневно получите час-полтора дополнительного времени для своего развития.</p>
            <p id="80d2bd6b-d434-4b62-aec7-fb87c6af93b3" class=""> Более того, нужно понять, что даже 3-5 минут - это
                значительный промежуток времени. Не верите? Включите на своем телефоне таймер на 180 секунд и смотрите
                на
                него, пока это время не закончится. Этот интервал покажется вам вечностью. Как выкроить и использовать
                эти
                малые промежутки? Прикрепите к зеркалу стикер с новым словом на иностранном языке, и вы его можете
                выучить,
                пока чистите зубы. Казалось бы, ерунда. Но за год это даст вам 365 новых слов, а это уже немало. Всего
                лишь
                за 3-5 минут можно сделать хорошую разминку, прочитать параграф книги, разобрать и запомнить
                тригонометрическую формулу и т.д. Только не суетитесь: 3 минуты - одно слово или одна формула. В течение
                дня
                у вас будет много таких интервалов, умножьте это на 365 дней года и у вас появляется гигантское
                количество
                дополнительного времени для работы над собой. Вы поразитесь тому, сколько можно сделать, если
                использовать
                это «бросовое» время. Разумеется, принцип многозадачности можно применять только для ваших «простых»
                дел, не
                требующих сосредоточения (транспорт, ожидание и др.).</p>
            <p id="3ca6644d-ba9c-4e55-8563-f2fa6d979db4" class=""><strong>Рабочее пространство.</strong> Необходимо
                упорядочить и свое физическое окружение. Такие мелочи, как порядок или беспорядок в вашем портфеле, в
                компьютере, на столе или в комнате могут сильно влиять на вашу продуктивность. Простые исследования
                показывают, что до 30% рабочего времени может уходить на то, чтобы найти потерянную в беспорядке бумагу
                или
                файл. Чтобы избежать этого, достаточно один раз создать простую систему хранения файлов и вещей, а затем
                возвращать их на нужное место, чтобы больше никогда не терять время на поиски необходимого.</p>
            <p id="d8073959-5b8f-4db8-81fb-5b5896b1bbe8" class=""> Рассортируйте предметы и найдите для каждого удобное
                место хранения. Избавьтесь от ненужного хлама и вещей, которыми вы давно не пользуетесь. Продумайте
                систему
                хранения вещей по группам, чтобы вам было удобно их доставать именно в том месте, где вы ими обычно
                пользуетесь. Для каждой вещи обозначьте свой «дом» и учитесь возвращать их на свое место после
                использования. Для хранения мелких однотипных вещей удобно использовать контейнеры.</p>
            <p id="99b4e773-463c-4ff3-b82a-e1a39eb714b0" class=""> Наведите порядок и в своем компьютере, телефоне.
                Отсортируйте файлы по папкам (музыка, фильмы, книги, фотографии и т.д.), ненужное удалите. Создайте
                отдельную папку с аудио- и электронными книгами, журналами, которые вам интересно было бы прочитать. В
                следующий раз, когда будете ехать в транспорте или стоять в очереди, попробуйте занять себя чтением или
                прослушиванием этих материалов.</p>
            <p id="bc7d5a0e-8362-464e-88bf-4bef7fa7aea4" class=""><strong>Навыки.</strong> Есть особые навыки, способные
                значительно повысить эффективность использования вашего времени. Основной среди них - умение быстро
                находить
                и обрабатывать информацию. Если еще лет 30 назад основной проблемой было нахождение нужной информации,
                сегодня проблема стала диаметрально противоположной - ее колоссальный переизбыток.</p>
            <p id="6cbdfb8d-9d9e-482a-9712-67922c079b76" class=""> Как быть с этим? Основной источник знаний для вас -
                школьные учебники, практически все они высокого качества. В них даются основы всех необходимых для вас
                знаний. Кроме этого, в Интернете есть все и этим, конечно же, надо пользоваться. Научитесь уверенно
                пользоваться браузером, правильно формулировать запросы. Это минимизирует количество информационного
                «шума»,
                который вы получите в ответ на свой запрос. К сожалению, в Интернете много не только бесполезной, но
                откровенно лживой информации. Сформируйте свой перечень сайтов, которым вы доверяете, и берите
                информацию в
                основном оттуда.</p>
            <p id="5c535eec-7c5c-4725-a702-9dd6c33d15ca" class=""> Работая с любой информацией, в первую очередь
                анализируйте ее. Всегда спрашивайте себя - верна ли она? Логичны ли эти доводы, утверждения? Какие цели
                автор преследует, излагая информацию? Используйте свой опыт, имеющиеся знания и интуицию, чтобы оценить
                данные и сделать правильный вывод относительно их верности. Напомним, в начале этой четверти мы привели
                перечень навыков, необходимых для вашего «выживания» в современном мире. Первым в перечне стоит <em>critical
                    thinking</em> - критическое мышление.</p>
            <p id="3240a026-94d2-4db0-86a1-6c79920b8243" class=""> Если вы хотите сделать следующий шаг в эффективности,
                то
                можно освоить <strong>техники скорочтения.</strong> В основе большинства методик по скорочтению лежат
                упражнения, направленные на устранение факторов, которые замедляют наше чтение, а именно внутреннее
                проговаривание читаемого текста, перечитывание слов и предложений. Также они развивают поле зрительного
                восприятия, периферийное зрение и концентрацию внимания. Если вы заинтересуетесь развитием навыка
                скорочтения, то рекомендуем вам ознакомиться с несколькими методическими пособиями в разделе «полезные
                материалы» этого урока. Вы вполне можете самостоятельно освоить этот навык, однако будьте готовы к тому,
                что
                это займет время и потребует регулярных тренировок.</p>
            <p id="be0c3848-8eec-462d-96ea-ce141caaaedc" class=""> Еще один незаменимый навык эффективности современного
                человека - <strong>печатать вслепую всеми десятью пальцами.</strong> Это чисто технический навык,
                который
                сводится к тренировке мышечной памяти пальцев. Тренируясь несколько раз в неделю в течение 2-3 месяцев,
                вы
                можете научиться печатать, не глядя на клавиатуру компьютера, практически со скоростью разговора. Это
                сэкономит вам массу времени, которая бы тратилась на рутинный набор текста. Существует множество
                программ-тренажеров, которые можно установить на компьютер. Полезные ресурсы представлены в конце урока.
            </p>
            <p id="c7aee558-10ff-4bbd-887a-7d731586d39f" class=""> Мы также настоятельно рекомендуем уверенно освоить
                базовые компьютерные программы, позволяющие работать с текстами, электронными таблицами и слайдовыми
                презентациями. Это программы типа WORD, EXCEL и PowerPoint. Имейте в виду, что большинство пользователей
                используют не более 10-20 % возможностей этих программ. Более глубокое знание их возможностей позволит
                вам
                не только сэкономить время, но сделать работу более качественно. В Интернете есть много самоучителей,
                которые помогут вам познакомиться с основными функциями данных программ. На некоторые из них мы дадим
                ссылки
                в разделе «полезные материалы».</p>
            <p id="9169033a-6a81-4604-a6ac-1e1c217a5988" class=""> Посмотрите ролик «6 советов продуктивности» от
                известного
                канадского автора Брайана Трейси. Трейси специализируется на вопросах эффективности, самореализации и
                лидерства. В этом видео он рассказывает о способах повысить свою продуктивность и успевать больше в
                течение
                дня. Его основные советы - заранее планировать свой день, вставать и начинать рано, организовать рабочее
                пространство, планировать работу на основе своих биологических часов и с пользой использовать время,
                проводимое в дороге.</p>
            <div style="margin-bottom: 2rem; height: 22rem" class="d-inline-flex mt-4">
                <iframe class="h-100 w-75 mr-5" src="https://www.youtube.com/embed/3KafgR2WEgY" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <hr id="81e27626-7548-4fc0-9fc6-d555d5021ba0"/>
            <p id="806bbd18-4eb3-4823-8977-3f79ce8d29c3" class="">
                <mark class="highlight-orange">ПОЛЕЗНЫЕ МАТЕРИАЛЫ</mark>
            </p>
            <hr id="1ecd8d66-a3c6-4997-bf61-dfc7cccc3778"/>
            <ol id="bf052353-c0e5-4a47-bf62-222d36616c31" class="numbered-list" start="1">
                <li><a href="https://www.focusboosterapp.com">https://www.focusboosterapp.com</a> - небольшая программа,
                    основанная на методике управления временем Pomodoro («Помидор»). Это простой удобный таймер со
                    звуковым
                    сигналом, который можно использовать при выполнении какой-либо конкретной задачи. О времени, а после
                    сигнала о его завершении вы сможете сделать небольшой перерыв.
                </li>
            </ol>
            <ol id="14a05dd5-31e1-476f-bf09-9227eb3ad93f" class="numbered-list" start="2">
                <li><a href="http://vse10.ru/">http://vse10.ru/</a>- онлайн тренажер, который дает возможность бесплатно
                    научиться набирать текст на клавиатуре вслепую, используя все 10 пальцев. В отличие от программных
                    аналогов, которые необходимо устанавливать на компьютер, этот ресурс позволяет проходить все
                    упражнения
                    в окне браузера. На сайте ведется ваша статистика, а также рейтинг успеваемости пользователей,
                    многие из
                    которых печатают с невероятной скоростью.
                </li>
            </ol>
            <ol id="eb2d2368-b03e-40aa-81bf-618dd2c7f583" class="numbered-list" start="3">
                <li><a href="http://www.teachvideo.ru">http://www.teachvideo.ru</a> - на сайте представлены доступные
                    видеоуроки по основам использования популярных PC программ (WORD, EXCEL, PowerPoint).
                </li>
            </ol>
            <ol id="2cff505f-e09a-4a11-9883-5f8dcbdc3cd5" class="numbered-list" start="4">
                <li><a href="http://bestofapps.ru">http://bestofapps.ru</a> - это проводник по самым полезным и
                    интересным
                    приложениям для iPhone и iPad. Бонус - любопытные новости из мира i-гаджетов. Ваш iPhone умеет
                    гораздо
                    больше, чем вы думаете.
                </li>
            </ol>
            <ol id="373742cc-4e9e-4fa9-aed3-0e3d410f5eed" class="numbered-list" start="5">
                <li><a href="http://lifehacker.com/tag/how-i-work">http://lifehacker.com/tag/how-i-work</a> - серия
                    статей о
                    том, как работают известные люди. Они делятся своими хитростями продуктивности, рекомендуют
                    приложения и
                    гаджеты, которые помогают им быть на пике работоспособности. Все статьи на английском языке.
                </li>
            </ol>
            <ol id="f8e8d91d-0891-42b2-8b47-cde4bf9a553f" class="numbered-list" start="6">
                <li><a href="http://k-mechte.ru/articles/20/">http://k-mechte.ru/articles/20/</a> - бесплатные тренинги
                    по
                    скорочтению.
                </li>
            </ol>
            <ol id="0e099b58-2881-498f-8080-1a8c0bf54d20" class="numbered-list" start="7">
                <li><a href="http://4brain.ru/skorochtenie/">http://4brain.ru/skorochtenie/</a>- он-лайн тренинг по
                    скорочтению.
                </li>
            </ol>
            <p id="af54a2b9-f0d3-4ad6-8180-a98a4a81b489" class="">Книги:</p>
            <ul id="d6aa2752-5a16-4774-b9a2-675e3426d92a" class="bulleted-list">
                <li>Тони Бьюзен «Учебник быстрого чтения».</li>
            </ul>
            <ul id="dcded5ae-cded-4a4f-83d8-49acb3dc79d4" class="bulleted-list">
                <li>Беннет Джозеф «Скорочтение со скоростью света».</li>
            </ul>
            <ul id="cf09b846-5daf-4e80-861b-72f70f0df98f" class="bulleted-list">
                <li>Лиу «Как научиться быстро читать».</li>
            </ul>
            <ul id="f4fd7549-d8a0-4dcb-a406-0a19fa342fcc" class="bulleted-list">
                <li>Дайна Халперн «Психология критического мышления».</li>
            </ul>
            <ul id="88fd1e7b-a179-44bc-bf04-d990065b1dd8" class="bulleted-list">
                <li>Ричард Поль «Критическое мышление: Что необходимо каждому для выживания в быстро меняющемся мире».
                </li>
            </ul>
            <hr id="6c86d3ef-f16a-486f-bd7e-b28a9a845b2e"/>
            <p id="9a32d100-466d-4509-a249-aed209fb84c5" class="">
                <mark class="highlight-purple">РЕЗЮМЕ УРОКА</mark>
            </p>
            <hr id="5816cf37-ba1b-4cb7-b204-ef2f0368ec98"/>
            <ul id="fd6dcb56-629d-46dd-acca-e0d0c77e2cc9" class="bulleted-list">
                <li>Эффективность - способность делать качественно максимум работы за минимальное время. Эффективность
                    складывается из дисциплины, умения работать сосредоточенно и законченно, оптимального чередования
                    работы
                    и перерывов, использования принципа многозадачности, а также умения быстро находить и обрабатывать
                    информацию.
                </li>
            </ul>
            <ul id="30a24e06-cd87-4dbb-8d5c-0fa330c6c63f" class="bulleted-list">
                <li>Вашу личную эффективность могут значительно повысить уверенное владение браузером Интернета,
                    базовыми
                    компьютерными программами, навыками скорочтения и слепой десятипальцевой печати.
                </li>
            </ul>
            <ul id="d4060bc5-bd7f-407b-b4f4-f1955648b9b9" class="bulleted-list">
                <li>Суть управления временем в ее «технической» части заключается в следующем: свести к минимуму
                    «мусорную»
                    активность (просмотр сериалов, «висение» в социальных сетях и т.д.), оставшиеся дела выстроить по
                    приоритетам и выполнять их один за другим, сосредоточенно и без проволочек. Приоритетность
                    определяется
                    просто - дела тем более важные, чем ближе они к вашим главным целям.
                </li>
            </ul>
            <ul id="4239e54b-b252-467a-9676-7d54e0f5562c" class="bulleted-list">
                <li>Управление временем - это управление вашей «внешней» жизнью. Что, в каком порядке и как я делаю. Это
                    критически зависит от вашего внутреннего мира. Едва ли у вас будет подлинный порядок в ваших
                    «внешних»
                    делах, если нет порядка во внутреннем мире.
                </li>
            </ul>
            
            <span style="border-bottom: 3px solid blue" class="pb-4">
			<a href="{% url 'second_chapters_ControlofTimeEfficiency_task' %}" class="d-inline-flex text-decoration-none">
				<h3 style="color: black;">Перейти к домашнему заданию</h3>
			</a>
			<span class="oi oi-arrow-right ml-2" style="font-size: 2rem"></span>
		</span>
        </div>
        <a href="#"><span class="oi oi-arrow-top float-right rounded-circle py-3 px-4"
                          style="color: black; border: 3px solid black; font-size: 2.5rem"></span></a>
        <div class="mt-5 w-100 justify-content-center d-inline-flex">
            <img src='{% static "img/images_for_tree/Yoga.svg" %}' alt="" class="rectang"/>
        </div>
</article>


{% endblock %}
