{% extends 'mainsite/base.html' %}

{% block content %}

<p id="001b88f7-a614-498b-a893-908ea21f30b1" class="">
    <mark class="highlight-red">ДОМАШНЕЕ ЗАДАНИЕ</mark>
</p>
<p id="d170e61e-70d2-4044-8a98-de4a57f44c0d" class="">1. Есть крылатая фраза: «Время - деньги». Мы предлагаем
    другую, более сильную, версию этого утверждения: «Время - больше, чем деньги». Докажите истинность
    этого.</p>
<p id="164a786b-1822-4e4c-8429-2f27f2d87521" class="">2. Проведите хронометраж ваших дел в течение недели и
    проанализируйте, как это было описано выше, на что уходит ваше время.</p>
<p id="e23d9330-bfc3-4592-90e4-27c98102c5fc" class="">3. На основе изложенных в уроке принципов, разработайте
    свой (сбалансированный!) распорядок дня.</p>
<p id="8af932f4-1ec5-476e-9282-89231627c707" class="">4. Следуйте принятому распорядку.
</p>


{% endblock %}