{% extends 'mainsite/base.html' %}

{% block content %}

<div class=" w-75 mx-auto mt-5" style="font-size: 18px">
    <header>
        <a href="{% url 'second_chapters_AimofLearning' %}" target="_self" style="color: black; margin-right: 5em"><span
                class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
        <span class="text-muted">
            <a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
            <a href="{% url 'second' %}" target="_self" class="text-muted">Учеба и будующая карьера</a> >
            <a href="{% url 'second_chapters_AimofLearning' %}" target="_self" class="text-muted">Управление временем: планирование</a> >
                Домашнее задание
        </span>
    </header>
    <div class="my-5 w-75 mx-auto">
        <div class="d-flex justify-content-center">
            <h1>ДОМАШНЕЕ ЗАДАНИЕ</h1>
        </div>
        <p id="d170e61e-70d2-4044-8a98-de4a57f44c0d" class="">1. Есть крылатая фраза: «Время - деньги». Мы предлагаем
            другую, более сильную, версию этого утверждения: «Время - больше, чем деньги». Докажите истинность
            этого.</p>
        <p id="164a786b-1822-4e4c-8429-2f27f2d87521" class="">2. Проведите хронометраж ваших дел в течение недели и
            проанализируйте, как это было описано выше, на что уходит ваше время.</p>
        <p id="e23d9330-bfc3-4592-90e4-27c98102c5fc" class="">3. На основе изложенных в уроке принципов, разработайте
            свой (сбалансированный!) распорядок дня.</p>
        <p id="8af932f4-1ec5-476e-9282-89231627c707" class="">4. Следуйте принятому распорядку.
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <button class="header--change--btn ">
            <a href="{% url 'second' %}" style="color: inherit" class="h-100 w-100">Вернуться к разделу</a>
        </button>
    </div>
</div>

{% endblock %}