{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}

<title>Урок 5: Цели в жизни</title>

<article id="efc44ff4-bed1-4e45-831b-0b9f4b358e75" class="page sans w-75 mx-auto"
         style="margin-top: 2em; font-size: 18px">
    <header>
        <div>
            <a href="{% url 'first' %}" target="_self" style="color: black; margin-right: 5em"><span
                    class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
            <span class="text-muted">
				<a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
				<a href="{% url 'first' %}" target="_self" class="text-muted">Внутренний мир</a> >
				Урок 5: Цели в жизни
			</span>
        </div>
        <img class="page-cover-image" src="https://www.vitamarg.com/images/img8/tsel-zhizni-kak-dobitsya-tseli.jpg"
             style="object-position:center 42.11%; margin-top: 2em; border-radius: 0"/>
    </header>
    <div class="page-body text-left w-75 mx-auto">
        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Top Skills</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>19.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
        </div>
        <h1 class="page-title">Урок 5: Цели в жизни</h1>
        <p id="dedef104-8714-46c4-8fd2-c89c4849071e" class=""> Строительство успешной жизни в некотором смысле похоже на
            строительство дома. В первую очередь, вам нужен крепкий фундамент - надежная основа, на которой дом простоит
            много лет. В вашем личностном развитии этот фундамент - позитивный и сильный внутренний мир, о нем мы
            подробно говорили в начале этой четверти. Далее, вам понадобятся инструменты, с помощью которых вы кирпичик
            за кирпичиком будете возводить ваше здание. В жизни этот инструмент - самодисциплина. Используя ее, вы
            сможете действовать и достигать желаемого. Об этом мы говорили на предыдущем уроке. На этом уроке мы
            поговорим о еще одном важнейшем элементе создания успешной жизни. Перед тем как построить дом, вы должны
            себе его четко, до мельчайших деталей, представить. Иначе как вы будете знать, что же вам строить? Для
            строительства успешной полноценной жизни вам также нужен план. Вы должны четко понимать, какой вы хотите
            видеть свою жизнь. Для чего вы живете? К чему стремитесь? Ответом на эти вопросы являются ваши ЦЕЛИ.</p>
        <p id="e1b0816f-f2d6-424b-8e9a-54a02662247d" class=""><strong>Что такое цели?</strong> У всех людей есть смутные
            желания и стремления. Так устроен человек - мы все чего-то хотим. Однако между целью и желанием существует
            огромная разница. <strong>Цель — это осмысленное и четко сформулированное желание, для реализации которого
                вы готовы действовать.</strong> Цель ВСЕГДА предполагает обязательство по ее достижению. В этом ее
            ключевое отличие от простого желания. Например: «хорошо бы похудеть» - это смутное желание, а «весить 55 кг
            к Новому году», подкрепленное готовностью действовать, - уже цель.</p>
        <p id="e6570455-4486-4841-8b82-e5aa382ea2d8" class=""><strong>Для чего нужны цели?</strong> Пока вы четко не
            поймете, чего хотите, вы не будете знать, что вам нужно делать. А пока вы не знаете, что нужно делать, вы
            будете либо заниматься не тем, что нужно, либо вообще ничего не будете делать. А пока вы ничего не делаете,
            не будет и результата. Поэтому формулировать цели нужно для того, чтобы ПОЛУЧИТЬ ТО, ЧЕГО ВЫ ХОТИТЕ. Закон
            жизни таков: желания остаются желаниями, а реальностью становятся цели. Более того, у каждого человека есть
            глубинная потребность в ощущении смысла жизни. Выдающийся австрийский психолог Виктор Франкл доказал, что
            большинство психических и нервных заболеваний у людей возникают именно из-за отсутствия смысла жизни,
            сопровождающееся подсознательным ощущением бессмысленности и пустоты существования. Наличие же конкретных
            целей дает человеку ориентиры и стимул для развития.</p>
        <p id="e9ce16c4-a45e-4ad1-8b91-33784438f9be" class=""><strong>Как сформулировать свои цели? </strong>Несмотря на
            все различия, всех людей объединяет единая универсальная система ключевых жизненных целей. Мы назвали ее
            «Пирамида целей» (см. рисунок). Во Введении к книге мы разобрались, что каждый человек, независимо от того,
            осознает он это или нет, в конечном счете, стремится к одному - быть счастливым. Поэтому счастье - <strong>высшая
                цель</strong> и она располагается на вершине пирамиды. Счастье многогранно и для его обретения
            необходимо благополучие в основных сферах жизни, в вашем случае это - внутренний мир, учеба, здоровье и
            отношения. Поэтому, сильный внутренний мир, успешная учеба, надежное здоровье и добрые отношения - это
            <strong>главные цели</strong>, они напрямую связаны с обретением счастья. Далее, каждая главная цель
            разбивается на несколько <strong>подцелей</strong> - это более конкретные цели, направленные на ее
            реализацию. Например, подцели для обретения крепкого здоровья - сбалансированное питание, физическая
            активность, полноценный отдых, устойчивость к стрессам и профилактика болезней. Подцели для достижения
            успешной учебы - получение реальных знаний в школе, развитие необходимых для будущей профессии навыков,
            поступление в выбранный вуз. Подцели для обретения позитивного внутреннего мира - высокая самооценка,
            позитивный жизненный настрой. Таким образом формируется пирамида, во главе которой главное желание вашей
            жизни - счастье, а на последующих уровнях - различные цели, достижение которых его обеспечит. Если вы
            присмотритесь к кирпичикам этой «пирамиды», то заметите их прямое совпадение с оглавлением этой книги. Это
            не случайно, ведь каждая четверть этой книги представляет ключевую главную цель жизни подростка. А каждый
            урок в разделе является подцелью, направленной на ее достижение. А все они в совокупности направлены на то,
            чтобы вы были УСПЕШНЫ и СЧАСТЛИВЫ. У «пирамиды целей» есть еще один важный уровень - ее основание. В нем
            представлены <strong>задачи</strong> - это конкретные действия, которые вам необходимо предпринять, чтобы
            реализовать ваши подцели, а впоследствии главные цели и в итоге - высшую цель. Если первые три уровня
            пирамиды отвечают на вопрос - «ЧЕГО я хочу?», то задачи в ее основании отвечают на вопрос «КАК я этого
            достигну?». Например, для успешного достижения подцели «поступить в вуз» вам необходимо выполнить ряд задач
            - подготовиться и успешно сдать ЕГЭ, принять участие в олимпиаде, оформить и подать документы и т.д. Для
            достижения подцели «физическая активность» - необходимо решить конкретные задачи: делать зарядку, пробежки и
            т.д.</p>
        <p id="bacf8c37-c767-478f-9a68-c2e0d47f6dec" class=""> Конечно, приведенный пример «пирамиды» - это только
            ориентир. Ваша личная «пирамида целей» может и будет отличаться, особенно в основании. В ней могут появиться
            дополнительные главные цели. В зависимости от вашего личного осмысления главных целей могут отличаться
            подцели и, соответственно, перечень задач для их достижения. Очень важно, чтобы все цели в вашей пирамиде
            были именно ВАШИМИ, а не навязанными родителями, школой или скопированные из книги. Почему? Потому что в
            долгосрочной перспективе вы будете действовать и реально прикладывать усилия только на достижение, того,
            чего хотите ИМЕННО ВЫ. Как понять, что цель ВАША? На уровне ощущений ваши истинные цели будут вызывать у вас
            вдохновение, реальный интерес, вы будете получать удовольствие как от ее обдумывания, так и от работы над
            ней.</p>
        <a class="d-flex justify-content-center">
            <img style="width:539px; transform: rotate(90deg)"
                 src="https://media.discordapp.net/attachments/745700277004402832/757963763046547608/Untitled.png?width=408&height=669"/>
        </a>
        <p id="7848f84c-d49f-430e-a375-9904520a4c29" class=""> Сила этого подхода в том, что сформулировав свою
            пирамиду, вы будете четко осознавать, почему важна и необходима каждая поставленная вами задача. Вы будете
            ясно представлять себе цепочку связи между каждым действием и вашей высшей целью. Например, вы поставили
            себе задачу делать зарядку. Благодаря работе над своей пирамидой целей, вы будете ясно видеть связь «зарядка
            → здоровье → счастье». И вы будете делать зарядку не потому что родители велели или так написано в умной
            книге, а потому что это ВАШЕ решение. Вы понимаете, как оно встроено в иерархию ВАШИХ целей и как это
            помогает вам двигаться к вашей высшей цели.</p>
        <p id="4f165b58-bd3a-404a-920b-d9101057e111" class=""> В домашнем задании к этому уроку мы предложим вам
            составить свою собственную пирамиду целей, и она станет вашим личным «планом» строительства успешной жизни.
            Обязательно зафиксируйте ее, повесьте где-то на видном месте или запишите в дневник. Регулярно возвращайтесь
            к ней, просматривайте, корректируйте свои цели, сверяйтесь, действуете ли в соответствии с ними. На одном из
            предыдущих уроков мы говорили, что вы становитесь тем, о чем думаете большую часть времени. Этот тезис
            можно перефразировать так: «вы получаете то, о чем думаете большую часть времени». О чем же тогда большую
            часть времени думают лидеры? Они думают о будущем, о том, к чему они идут и что в состоянии сделать, чтобы
            достичь цели.</p>
        <p id="21230cf5-45cf-4a78-a88f-8a9d6b252d25" class="">
            <mark class="">ЛЮБАЯ ЦЕЛЬ РЕАЛЬНА - НО ВЫ ДОЛЖНЫ БЫТЬ ГОТОВЫ ХОРОШО ПОРАБОТАТЬ РАДИ ЕЕ
                ДОСТИЖЕНИЯ
            </mark>
        </p>
        <p id="743a1264-3cbf-4f9a-99cf-2c85c3bd2040" class="">
        </p>

        <a>
            <img style="width:3000px"
                 src="https://media.discordapp.net/attachments/745700277004402832/757963800434704514/Untitled_1.png?width=1005&height=670"/>
        </a>

        <p id="9641936e-092c-4b22-bbbb-e8332f4688ac" class=""> И еще. Не робейте и не стесняйтесь амбициозных целей. При
            постановке целей крайне важно верить в свои силы и высоко себя оценивать. Нетрудно представить, какие цели
            может поставить человек, в глубине души считающий себя никчемным. И каковы его шансы на достижение
            сколь-нибудь значительной цели.</p>
        <p id="23c2d713-4819-4d67-a5ee-9b3669a9cf42" class=""> Ставьте перед собой трудные, большие задачи. Любую, даже
            самую смелую идею, можно реализовать. Доказательством этому служат множество невероятных историй успеха.
            Вопрос только в том, насколько вы готовы делать все необходимое для этого, потратить необходимое количество
            времени и усилий, терпеть столько ограничений, сколько надо, чтобы достичь желанной цели. Если вы
            действительно готовы, вас ничто не сможет остановить.</p>
        <p id="4f2f4657-44ef-43ca-9377-c841016f2e95" class=""><strong>Как это работает?</strong> Высшая и главные цели
            задают общее направление нашей жизни. И их сложно охарактеризовать количественно. Как правило, они не имеют
            конечной точки, момента, когда можно сказать - все, эту цель я достиг полностью. К счастью, успеху, крепкому
            здоровью, добрым отношениям мы стремимся на протяжении всей своей жизни. Однако для их достижения
            формулируются конкретные задачи, прогресс в решении которых можно отслеживать гораздо четче. В английском
            языке есть удобная подсказка - набор из пяти критериев, характеризующих правильно поставленную задачу. Они
            объединены в акроним <strong>SMART</strong> (в переводе «умный») и расшифровываются как - <strong>S</strong>pecific,
            <strong>M</strong>easurable, <strong>A</strong>chievable, <strong>R</strong>elevant, <strong>T</strong>ime-
            bound. Таким образом, правильно сформулированная <strong>задача — конкретна, измерима, достижима, актуальна
                и ограничена во времени.</strong></p>
        <p id="3f282950-9275-4764-bed6-c1f01d57d95b" class=""> Итак, предположим, что ваша текущая подцель - поступить в
            какой-то конкретный вуз. Вы знаете, что проходной балл по ЕГЭ в прошлом году был равен, скажем, 220, а
            необходимые предметы для выбранной специальности - математика, русский язык и физика. Соответственно, вы
            ставите себе следующие задачи - сдать эти предметы минимум на 75 баллов. В общей сложности вы должны набрать
            225 баллов, чтобы с запасом пройти конкурс на поступление. В зависимости от ваших успехов по конкретным
            дисциплинам конкретные баллы, конечно, могут быть другими. Важно набрать необходимую сумму в 225. Идем
            дальше. Что вам нужно сделать, чтобы точно набрать эти баллы? Предположим, с русским у вас все хорошо и
            школьных занятий должно быть достаточно. А вот физика с математикой отстают и необходимы дополнительные
            занятия. Вы ставите себе следующую задачу - 6 раз в неделю по 1,5 часа до конца учебного года вы будете
            дополнительно заниматься этими двумя предметами (например, 3 раза математикой и 3 раза физикой, или 2 и 4
            раза, в зависимости от необходимости в вашем конкретном случае). Для занятий вы отводите фиксированное
            время, например каждый день после школы с 15:00 до 16:30 и конкретное место (дома, в школе, в библиотеке, у
            репетитора и т.д.). Вы также продумываете план занятий (репетитор или самостоятельно, какие учебники будете
            использовать, возможно, посоветоваться с преподавателем, чтобы составить программу занятий и т.д.). Это -
            примеры «умных» задач, они конкретны - вы точно знаете, что и когда будете делать, они измеримы - вы
            определили время и количество занятий, а также - желаемый результат в баллах, они достижимы - задачи
            соответствуют вашим возможностям, актуальны - эти задачи четко вписываются в вашу иерархию целей и наконец,
            они ограничены во времени - вы точно установили период выполнения данных задач.</p>
        <p id="d7a0514e-36de-4280-804e-ebf2961cbd96" class=""> Таким образом, вы детально продумываете и записываете все
            свои задачи. Если вы сформулировали ваши «умные» задачи правильно, то у вас не должно остаться никаких
            сомнений и вопросов по поводу того, что и когда вам необходимо делать. И тогда наступает заключительный этап
            процесса достижения целей - РЕШЕНИЕ ваших задач. Вы можете составить великолепную пирамиду целей, четко
            расставить свои главные цели, разбить их на подцели и сформулировать конкретные задачи, но если после всей
            этой работы вы не будете ДЕЙСТВОВАТЬ согласно намеченным шагам, то естественно вы не достигнете желаемого
            результата. <strong>Как же быть? Как обеспечить решение своих задач?</strong></p>
        <ol id="8c47a311-0d8d-4cf8-9062-f4fb7bed11fc" class="numbered-list" start="1">
            <li>СДЕЛАЙТЕ ПЕРВЫЙ ШАГ. Сформулировав задачу, незамедлительно приступайте к шагу номер один. Сделайте хотя
                бы одно из намеченных действий. В приведенном нами примере вы можете сразу же договориться с
                преподавателем о дополнительных занятиях, обсудить план подготовки.
            </li>
        </ol>
        <ol id="6142cd78-bf84-494a-9517-a1d00ddc1dfa" class="numbered-list" start="2">
            <li>САМОДИСЦИПЛИНА. Вспомните про принципы самодисциплины, о которых мы говорили на прошлом уроке. Начиная
                работать над новой задачей, на первых этапах вам действительно придется использовать силу воли, чтобы
                следовать своему плану. Однако со временем ваши действия неизбежно войдут в привычку, станут
                естественным ритмом, и вам больше не придется себя заставлять!
            </li>
        </ol>
        <ol id="dc11728b-099e-4b49-ae14-82540884a858" class="numbered-list" start="3">
            <li>ПОЛУЧАЙТЕ УДОВОЛЬСТВИЕ ОТ РАБОТЫ. Конечно же, при этом не нужно превращать свою жизнь в «казарму», где
                весь ваш день разбит на множество задач, которые вы обязаны выполнить во что бы то ни стало. Полюбите
                процесс работы над собой. Заставлять себя что-то делать можно и даже часто нужно. Но это лишь временное
                решение! Из предыдущего урока мы знаем, что сила воли нужна лишь на начальный период работы над
                какой-либо задачей. Далее эстафету перенимает удовлетворение от выполнения действий, мотивация получить
                желаемый результат. Альтернативы этому нет. Именно поэтому важно, чтобы цели и задачи были искренне
                ВАШИМИ, чтобы вы четко понимали, для чего вы все это делаете. Чтобы испытывая трудности, вы всегда могли
                представить себе желаемый вами окончательный результат.
            </li>
        </ol>
        <ol id="1c29fbc5-d4f8-4168-80d0-197088adf228" class="numbered-list" start="4">
            <li>ТЕРПЕНИЕ. Очень важно правильно настраивать свои ожидания. Не нужно ждать, что у вас все сразу будет
                получаться. Возможно пройдет месяц или два, пока вы не почувствуете прогресс в работе над задачей.
                Главное помнить - рано или поздно это неизбежно произойдет, самое главное идти вперед и не
                останавливаться.
            </li>
        </ol>
        <ol id="554679b7-5777-41e8-8fe9-2ba576c246b1" class="numbered-list" start="5">
            <li>ПОДПИТКА МОТИВАЦИИ. Без постоянной подпитки, начальный энтузиазм неизбежно ослабнет, и с какого-то
                момента вам станет гораздо тяжелее работать над вашей задачей. Поэтому важно осознанно поддерживать свою
                мотивацию и держать фокус на поставленной цели. Пользуйтесь любыми способами - умело вставляйте в
                процесс работы промежуточные награды или штрафы, регулярно напоминайте себе о желаемом результате.
                Создавайте мотивирующую вас среду, окружение. Смотрите мотивирующие ролики, слушайте вдохновляющие
                программы, читайте соответствующие тексты, общайтесь с единомышленниками. Вырезайте из журналов и газет
                фотографии, иллюстрирующие ваши цели и стремления. Развешивайте их повсюду, чтобы они всегда были у вас
                перед глазами. Смотрите на них как можно чаще, обсуждайте их, постоянно держите их в памяти. Непременно
                пользуйтесь техниками аффирмаций и визуализации своих целей (из урока 1.2). Пусть ваша жизнь станет
                непрерывным процессом положительного визуализирования, рисования идеального будущего и желанных целей.
                Это упражнение, как никакое другое, поможет реализовать весь заложенный в вас потенциал. Еще один
                прекрасный способ мотивировать себя – ведение дневника. В нем вы можете не только записывать свои цели,
                но и отслеживать прогресс, записывать новые мысли, наблюдения и идеи, коллекционировать мотивирующие вас
                цитаты и т.д.
            </li>
        </ol>
        <p id="e82d7024-8421-48a0-85df-5a1abe9c4d59" class=""> Робин ШАРМА - канадский писатель, один из известнейших в
            мире специалистов по вопросам мотивации, лидерства и развитию личности. В этих видео он рассказывает о
            пользе ежедневного ведения дневника как одном из способов отслеживать свой прогресс, запоминать свои
            озарения, быть благодарным и всегда пребывать в хорошем настроении. Робин также покажет одну из собственных
            записей, которые он делает каждое утро.</p>
        <div style="margin-bottom: 2rem; height: 22rem" class="d-inline-flex mt-4">
            <iframe class="h-100 w-75 mr-5" src="https://www.youtube.com/embed/osX0lNALZVs" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <p id="2d167a45-0da1-40be-b285-a93ebdec0703" class=""> 6. ФИКСИРУЙТЕ ПРОГРЕСС. Очень важно регулярно отслеживать
            свой прогресс и сверяться с намеченным планом. Каждую неделю просматривайте список своих задач, фиксируйте
            проделанную работу, оценивайте промежуточный результат. При необходимости вносите коррективы.</p>
        <p id="32fcba83-0ad2-4010-80bb-8366785d0ef9" class=""> Умение ставить и достигать цели - бесценный навык для
            человека, стремящегося стать лидером. Он сочетает в себе и силу воли, и самодисциплину, и терпение, и
            оптимизм, а также изобретательность. Поначалу может казаться, что добиваться своих целей очень сложно.
            Однако, как любой навык, это умение можно и нужно тренировать. И тогда со временем у вас это будет
            получаться намного лучше и легче. Если вы никогда до этого не ставили себе конкретных задач, попробуйте
            начать с малого. Возьмитесь за небольшой проект, сформулируйте задачу и обязательно выполните все намеченные
            шаги. Заранее подумайте, как вы будете мотивировать себя в течение всего процесса.</p>
        <p id="e7233144-f4d2-4350-8145-9cd7833b0324" class=""> Если вы действительно дойдете до конца, вы не просто
            добьетесь своей цели, но также поймете одну очень важную вещь - если ставить цель и идти до конца,
            положительный результат неизбежен. Вы непременно добьетесь желаемого!</p>
        <h2 style="margin-bottom: 2rem;">РЕЗЮМЕ УРОКА</h2>
        <ul id="5834a0d6-a94a-45bb-ab4e-265694e5a2ad" class="bulleted-list">
            <li>Цель - осмысленное и четко сформулированное желание, для реализации которого вы готовы действовать.
                Целеполагание - важный инструмент, с помощью которого вы можете получать в жизни то, что хотите.
            </li>
        </ul>
        <ul id="d157665f-dc09-43e8-84a3-7633cf9e116c" class="bulleted-list">
            <li>Всех людей объединяет универсальная система ключевых жизненных стремлений - «пирамида целей». Во главе ее -
                высшая цель каждого человека - быть счастливым. На следующем уровне - главные цели: благополучие в каждой их
                основных сфер жизни (внутренний мир, учеба, здоровье и отношения). Далее идут подцели - более конкретные цели и
                четкие задачи. Последовательное решение задач приводит к достижению сначала ваших подцелей, затем главных целей
                и в конечном итоге обеспечивает достижение высшей цели.
            </li>
        </ul>
        <ul id="f11e0b7e-98dd-4f3c-8382-54379d8aeebc" class="bulleted-list">
            <li>Для того чтобы вы могли успешно решать задачи, которые вы перед собой ставите, они должны быть в первую очередь
                правильно сформулированы. «Умная» задача - конкретна, измерима, достижима, актуальна и ограничена во времени.
            </li>
        </ul>
        <ul id="1cd9e20b-d639-4857-8268-4b0806c1dc7c" class="bulleted-list">
            <li>Определив задачу, вы должны начать действовать. Для этого:</li>
        </ul>
        <ul id="6398dfa7-6f16-4276-8bfb-aa4a63c8a09e" class="bulleted-list">
            <li>сразу же сделайте первый шаг и создайте положительный импульс для дальнейшей работы;</li>
        </ul>
        <ul id="4ab31786-ac6a-4910-9317-df74103cae2c" class="bulleted-list">
            <li>используйте самодисциплину на начальных этапах работы над задачей;</li>
        </ul>
        <ul id="d5e22313-7640-4940-b905-9fbc8f7b5cb3" class="bulleted-list">
            <li>учитесь получать удовольствие от работы, так как вы не сможете долго себя заставлять;</li>
        </ul>
        <ul id="d2c52b17-8a51-4c8f-8a52-50764d0ee666" class="bulleted-list">
            <li>запаситесь терпением и формируйте адекватные реалистичные ожидания результатов;</li>
        </ul>
        <ul id="ff451dbc-7d1d-422f-8030-37eca9d92ee2" class="bulleted-list">
            <li>подпитывайте свою мотивацию;</li>
        </ul>
        <ul id="65555954-4e0e-4a8f-a411-11d5e935f378" class="bulleted-list">
            <li>фиксируйте свой прогресс.</li>
        </ul>
        <h2 style="margin-bottom: 2rem;">ПОЛЕЗНЫЕ МАТЕРИАЛЫ</h2>
        <ol id="af914246-0238-406e-8c48-be6b3ea3cd42" class="numbered-list" start="1">
            <li><a href="http://www.robinsharma.com/blog/">http://www.robinsharma.com/blog/</a> - англоязычный блог
                канадского писателя и гуру личностного развития Робина Шарма. На сайте вы сможете найти набор статей, а
                также аудиопрограммы о лидерстве, успехе и личностном росте.
            </li>
        </ol>
        <ol id="ba2d7ccd-3508-4613-9be9-1a2e6dfcdf5e" class="numbered-list" start="2">
            <li>Вик Джонсон «52 понедельника: Как за год добиться любых целей»</li>
        </ol>
        <ol id="c1b5bd05-8e01-4aa4-878d-280f0dbc0198" class="numbered-list" start="3">
            <li>Брайан Трейси «Достижение цели»</li>
        </ol>
        <ol id="adb089ba-c9db-4073-ac29-67850a95f712" class="numbered-list" start="4">
            <li>Лес Хьюитт, Джек Кэнфилд и Марк Виктор Хансен «Цельная жизнь»</li>
        </ol>
        <ol id="1305c809-805e-41f9-81ec-0169ae47a14a" class="numbered-list" start="5">
            <li>Барбара Шер «Мечтать не вредно»</li>
        </ol>
            <span style="border-bottom: 3px solid blue" class="pb-4">
			<a href="{% url 'first_chapters_self_aims_in_life_list' %}" class="d-inline-flex text-decoration-none">
				<h3 style="color: black;">Перейти к домашнему заданию</h3>
			</a>
			<span class="oi oi-arrow-right ml-2" style="font-size: 2rem"></span>
		</span>
    </div>
    <a href="#"><span class="oi oi-arrow-top float-right rounded-circle py-3 px-4"
                      style="color: black; border: 3px solid black; font-size: 2.5rem"></span></a>
    <div class="mt-5 w-100 justify-content-center d-inline-flex">
        <img src='{% static "img/images_for_tree/Yoga.svg" %}' alt="" class="rectang"/>
    </div>
</article>


{% endblock %}
