{% extends 'mainsite/base.html' %}

{% block content %}

<div class=" w-75 mx-auto mt-5" style="font-size: 18px">
    <header>
        <a href="{% url 'first_chapters_what_is_it' %}" target="_self" style="color: black; margin-right: 5em"><span
                class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
        <span class="text-muted">
            <a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
            <a href="{% url 'first' %}" target="_self" class="text-muted">Внутренний мир</a> >
            <a href="{% url 'first_chapters_what_is_it' %}" target="_self" class="text-muted">Что это такое?</a> >
                Домашнее задание
        </span>
    </header>
    <div class="my-5 w-75 mx-auto">
        <div class="d-flex justify-content-center">
            <h1>ДОМАШНЕЕ ЗАДАНИЕ</h1>
        </div>
        <div class="d-flex flex-column justify-content-center mt-5">
            <div class="d-flex align-items-center my-2">
                <input type="checkbox">
                <p class="mx-5">
                    Составьте и запишите СВОЙ собственный список возможных негативных и позитивных установок
                    человека. В качестве ориентира возьмите те, что были представлены выше на этом уроке. Выше список должен быть
                    минимум в два раза больше.
                </p>
            </div>
            <div class="d-flex align-items-center my-2">
                <input type="checkbox">
                <p class="mx-5">
                    Сосредоточьтесь и определите установки, которые управляют вашей жизнью. Учтите, что многие
                    установки находятся в глубинах вашего подсознания и не осознаются в повседневной жизни. Их надо постараться
                    вывести из подсознания на сознательный уровень. Определите, какие из них - ограничивающие. Осознание - первый и
                    самый важный шаг на пути их изменения.
                </p>
            </div>
            <div class="d-flex align-items-center my-2">
                <input type="checkbox">
                <p class="mx-5">
                    Придумайте свой девиз жизни, вживитесь в него. Возможные примеры: "Дорогу осилит идущий",
                    "Бороться, искать, найти и не сдаваться!", "Тяжело в ученье - легко в бою", и т.д. Еще лучше, если вы придумаете
                    свой, личный, девиз.
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button class="header--change--btn ">
            <a href="{% url 'first' %}" style="color: inherit" class="h-100 w-100">Вернуться к разделу</a>
        </button>
    </div>
</div>
{% endblock %}