{% extends 'mainsite/base.html' %} 

{% block content %}






<div class="template">


	
<hr>
<p><font color="violet">РЕЗЮМЕ УРОКА</font></p>
<hr>
<ul>
	<li>Человек состоит из физического тела, которое материально и нематериальной составляющей - психики. психика человека формирует свой собственный образ внешнего мира. Каждый из нас живет в этом СВОЕМ, внутреннем, мире. И для нас важен только он. внешний мир, и события в нем протекающие, сами по себе нейтральны.</li>
	<li>В свою очередь, психика состоит из сознания и подсознания. На подсознательном уровне хранится весь жизненный опыт человека, все его представления об окружающем мире и о своем месте в нем. Из этих представлений вытекают программы поведения человека в любый ситуациях. Сознательный уровень - это та часть психики, которая анализирует, критикует, строит логические конструкции, принимает решения.</li>
	<li>Мысли, идеи или представления, которые закрепились в подсознании, называются установками. Человек в любой ситуации будет действовать ( или бездействовать) именно в соответствии с ними. Установки могут быть развивающими, либо ограничивающими. Именно они управляют вашей жизнью. Каковы установки сегодня - такова жизнь завтра. Набор установок в подсознании - это программа, по которой будет разворачиваться ваш жизненный сценарий.</li>
	<li>В большинстве случаев подсознательные установки оказываются ограничивающими: "это не для тебя", "ты слаб" и т.д. Это связано с тем, что подсознанием избыточно страхует, потому что идет от инстинктов самосохранения. Оно создает и охраняет зону физического и психического комфорта человека. НО комфорта короткого, текущего. оно не понимает, что через какое-то время текущий комфорт может привести к большим проблемам.</li>
	<li>Для успеха в жизни крайне важно применять ограничивающие установки на развивающие: <i>" Все зависит только от меня самого", " У меня все получится", "Я управляю своей жизнью".</i> Ваши будущие достижения НИКОГДА не превысят уровня сегодняшних установок. </li>
	<li>Правильные мысли крайне важны не только для успеха в жизни. Наши глубинные убеждения оказывают ПРЯМОЕ влияние и на наше физическое здоровье. Исследованиями  надежно доказано, что позитивное мышление делает человека реально здоровее и продлевает жизнь.</li>
</ul>
<p style="text-indent: 20px"><i><strong>Ели ваши установки правильные - у вас в жизни получится все. Да, будут неудачи, падения. Да, придется много работать. Но вы всегда будете двигаться вперед и обязательно дойдете до всех намеченных вершин.</strong></i>
<hr>
<p><font color="violet">ДОМАШНЕЕ ЗАДАНИЕ</font></p>
<hr>
<p><input type="checkbox">Составьте и запишите СВОЙ собственный список возможных негативных и позитивных установок человека. В качестве ориентира возьмите те, что были представлены выше на этом уроке. Выше список должен быть минимум в два раза больше. </p>
<p><input type="checkbox">Сосредоточьтесь и определите установки, которые управляют вашей жизнью. Учтите, что многие установки находятся в глубинах вашего подсознания и не осознаются в повседневной жизни. Их надо постараться вывести из подсознания на сознательный уровень. Определите, какие из них - ограничивающие. Осознание - первый и самый важный шаг на пути их изменения.</p>
<p><input type="checkbox">Придумайте свой девиз жизни, вживитесь в него. Возможные примеры: "Дорогу осилит идущий", "Бороться, искать, найти и не сдаваться!", "Тяжело в ученье - легко в бою", и т.д. Еще лучше, если вы придумаете свой, личный, девиз.</p>
</div>



{% endblock %}