{% extends 'mainsite/base.html' %}

{% block content %}

<title>Урок 2: Домашнее задание</title>

<div class=" w-75 mx-auto mt-5" style="font-size: 18px">
    <header>
        <a href="{% url 'first_chapters_edit' %}" target="_self" style="color: black; margin-right: 5em"><span
                class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
        <span class="text-muted">
            <a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
            <a href="{% url 'first' %}" target="_self" class="text-muted">Внутренний мир</a> >
            <a href="{% url 'first_chapters_edit' %}" target="_self" class="text-muted">Урок 2: Изменение</a> >
                Домашнее задание
        </span>
    </header>
    <div class="my-5 w-75 mx-auto">
        <div class="d-flex justify-content-center">
            <h1>ДОМАШНЕЕ ЗАДАНИЕ</h1>
        </div>
        <div class="d-flex flex-column justify-content-center mt-5">
            <div class="d-flex align-items-center my-2">
                <input type="checkbox">
                <p class="mx-5">  Выявите свои ограничивающие установки. Проанализируйте, в каких ситуациях вы испытываете необоснованное беспокойство, страх, волнение? С чем это может быть связано? Будьте предельно честны с собой. От того, насколько глубоко вы осознаете ограничивающую установку, зависит, сможете ли вы ее побороть или нет.
                </p>
            </div>
            <div class="d-flex align-items-center my-2">
                <input type="checkbox">
                <p class="mx-5">Определив негативную установку, составьте текст аффирмаций, который поможет ее  изменить. Напишите новые убеждения так, чтобы они были мощными, положительными, вызывали сильный эмоциональный отклик в вашей душе.
                </p>
            </div>
            <div class="d-flex align-items-center my-2">
                <input type="checkbox">
                <p class="mx-5"> Проговаривайте новые установки каждый день перед сном и сразу после пробуждения в течение как минимум 60 дней. Подкрепляйте их визуализацией – мысленно представляйте себе то, что вы проговариваете. Через месяц, посмотрите на результат. Есть ли улучшения? Стали ли вы испытывать меньше трудностей или меньше беспокоиться? Возможно, с первого раза будет сложно найти правильные слова и образы. Не страшно экспериментируйте, меняйте формулировки, пробуйте новые образы – прочувствуйте, что именно вызывает наибольший отклик в вашем подсознании и обязательно продолжайте упражнения.
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button class="header--change--btn ">
            <a href="{% url 'tree' %}" style="color: inherit">Вернуться к дереву</a>
        </button>
    </div>
</div>


{% endblock %}