{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}


<article id="df10ca5e-934d-4c22-9ec5-abfb66a82bcc" class="page sans w-75 mx-auto"
         style="margin-top: 2em; font-size: 18px">
    <header>
        <div>
            <a href="{% url 'first' %}" target="_self" style="color: black; margin-right: 5em"><span
                    class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
            <span class="text-muted">
				<a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
				<a href="{% url 'first' %}" target="_self" class="text-muted">Внутренний мир</a> >
				Изменение
			</span>
        </div>
        <img class="page-cover-image"
             src="https://images.unsplash.com/photo-1587582757960-68cfe838715d?ixlib=rb-1.2.1&amp;q=85&amp;fm=jpg&amp;crop=entropy&amp;cs=srgb&amp;ixid=eyJhcHBfaWQiOjYzOTIxfQ"
             style="object-position:center 50%; margin-top: 2em; border-radius: 0"/>
    </header>
    <div class="page-body text-left w-75 mx-auto">
        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Top Skills</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>19.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
        </div>
        <h1 class="page-title">
            Урок 2: Внутренний мир, изменение
        </h1>
        <p id="b47f3b04-79ee-4e11-b252-8e6f8ee4ab29" class=""> На прошлом уроке мы сделали вывод фундаментальной
            важности: ваша будущая жизнь – это материализация во времени ваших сегодняшних подсознательных
            установок. Говоря просто: чем сегодня заполнен ваш внутренний мир («<em>жизнь прекрасна</em>»
            или «<em>у меня не получится</em>»), то завтра воплотится в вашей внешней жизни (успех, карьера, деньги,
            здоровье или их отсутствие). В подавляющем большинстве случаев люди не осознают свои установки и они
            формируются стихийно. Плохая новость в том, что в этом случае голова человека забита негативными,
            ограничивающими установками: «<em>я не смогу</em>», «<em>я недостаточно умный, красивый, способный</em>», и
            т.д. Эти установки примитивно охраняют вас, призывая «сидеть в пещере и не высовываться», то есть не
            рисковать, не выходить из зоны комфорта. Есть великий гипнотизер, который ежечасно внушает вам свои
            установки. Это – социум, или группы людей, которые вас окружают: родители, родственники, друзья,
            одноклассники, и на более глобальном уровне – социальные сети, телевидение, журналы и т.д. Они активно
            внушают вам «будь таким, носи это, веди себя так, круто иметь вот это, модно быть менеджером (экономистом,
            банкиром)». Несомненно, свое окружение надо уважать и прислушиваться к его мнению. Но важно понять, что ваша
            жизнь – это ВАША жизнь. И ваши установки должны помогать добиваться ВАШИХ целей, а не увеличивать доходы
            многочисленных «продавцов грез».</p>
        <p id="a7d3374b-0ade-4297-86b2-80b0870c54f4" class=""> Подсознательные установки в конечном в конечном итоге
            определяют вашу судьбу. Стоит подсознанию воспринять какие-то убеждения или идеи и вы будете действовать или
            бездействовать именно в соответствии с этими установками. В этом их определяющая сила.</p>
        <p id="218f605a-f480-4f2e-805c-184bdc72c570" class=""> Но есть и хорошая новость. Негативные установки
            можно менять. Более того, можно осознанно и целенаправленно сформировать систему установок, которая
            позволит вам достичь любых, даже самых высоких, целей. Вы хотите успешной карьеры, финансового благополучия,
            хотите иметь надежное здоровье, счастливые, крепкие отношения? Развивайте сознание, основанное на
            уверенности в себе, в своих силах, искренности, доброте. В этом и заключается подлинный ключ к успеху в
            жизни – ПОМЕНЯТЬ НАВЯЗАННЫЕ ВНЕШНИМ МИРОМ, ОГРАНИЧИВАЮЩИЕ ВАС УСТАНОВКИ, НА СОБСТВЕННЫЕ ВНУТРЕННИЕ
            ПРОГРАММЫ, СООТВЕТСТВУЮЩИЕ ВАШИМ МЕЧТАМ.</p>
        <p id="4c2c55a2-4eea-49c8-bfbe-ea9f5cbde408" class="">
        </p>
        <p id="c1b16a6c-97e0-4979-a0e9-e01cbf5ef519" class="">
            <mark class="">ВЗЛЕТИШЬ ЛИ ТЫ ИЛИ БУДЕШЬ ПОЛЗАТЬ, ЗАВИСИТ ТОЛЬКО ОТ ТЕБЯ САМОГО</mark>
        </p>
        <p id="5bac50d5-cf57-4a4c-9722-fed8d7fbb8dd" class="">
        </p>
        <p id="354f397b-94c8-43dd-8869-7fa0bbbf026a" class=""> О том, как сформировать у себя эту систему новых,
            развивающих установок, мы поговорим на этом уроке. В этой работе мы выделим четыре важных этапа.</p>
        <p id="2943df25-50c8-4c33-b53f-519a93e8c05f" class=""><strong>I. ОСОЗНАНИЕ.</strong></p>
        <p id="6c7a8f7d-1290-4a6e-b524-4b4b8fcc6550" class=""> Из материалов предыдущего урока мы выяснили, что внутри
            человека постоянно происходит борьба. Чтобы развиваться в любом направлении, человеку необходимо покидать
            зону комфорта. Об этом говорит «инноватор» - сознание. Умом мы ясно понимаем, что надо делать зарядку, учить
            иностранный язык, не опаздывать, все держать в порядке. Но «консерватор» подсознание упорно охраняет зону
            нашего комфорта, оставляя сидеть на диване вместо пробежки, английский – «со следующего понедельника». И…
            подсознание практически всегда побеждает. Получается, подсознание сильнее? К сожалению, да. Если бы это было
            не так, мир был бы полон здоровых людей, которые все делают правильно и вовремя. Но это далеко не так. Да,
            подсознание действительно сильнее сознание. Но сильнее тактически. Поясним. Если у вас укоренилась установка
            «я это не смогу», «это не для меня», то вы и не сможете, терпеть мы это понимаем. НО (!) стратегически
            сознание сильнее. За счет силы разума установку можно поменять на диаметрально противоположную
            – «я смогу». И вы действительно сможете. Почему? Потому что так решило ваше подсознание. Оно опять победило!
            Но перед этим вы его переиграли, СОЗНАТЕЛЬНО поменяв установку. Замысловато? Но в этом крайне важно
            разобраться.</p>
        <p id="ac5b0f42-363f-4d99-a5d2-8bf1b6ddb04f" class=""> Самый первый шаг на пути к успешной жизни – осознание
            установок,
            которые управляют вашей жизнью. Это, особенно поначалу, будет непросто. Многие установки живут в самых
            глубинах подсознания и их непросто распознать. Самый первый инструмент для вскрытия негативных установок –
            рассмотреть проблемы, которые у вас есть. У вас трудности с английским, с математикой? У вас мало друзей? Вы
            боитесь отношений с противоположным полом? Вы излишне волнуетесь, когда вас вызывают к доске? В основе
            каждой из этих проблем лежит какая-то ограничивающая вас установка: «у меня плохая память», «я не могу
            мыслить логически», «я толстая», «я худой», «надо мной будут смеяться», и т.д. и т.п.</p>
        <p id="3930434a-506e-4e0b-80f9-a837212c3c09" class=""> Даже простое осознание и осмысление своих ограничивающих
            установок – уже неплохой результат. Поскольку, если вы осознали негативные убеждения как таящие угрозы для
            вашего будущего, подсознание «услышит» это и будет направлять вас в нужную сторону. Но революционное решение
            заключается в смене установок: «у меня не получится» → «я смогу», «я волнуюсь» → «я абсолютно спокоен», «я
            толстый» → «правильное питание и спорт приведут меня в полный порядок», и т.д.</p>
        <p id="841bc46c-57ff-4b60-9218-6a01de4f6b57" class="">Изменение установок. Да, глубинные
            установки можно менять. Но, оговоримся сразу – это очень непростая задача. Подлинные изменения происходят в
            лучшем случае у одного из пяти пытающихся. Но у кого это получается, жизнь радикально меняется в лучшую
            сторону. Главная причина неудач – старые представления слишком глубоко пустили корни в подсознании человека
            и их очень непросто оттуда выкорчевать. Ваше огромное преимущество в том, что вы еще очень молоды и,
            соответственно, ваши установки – тоже.</p>
        <p id="6d9865b6-822b-4fd6-94a6-193288b41a46" class=""> Для того чтобы понять, как изменить установки, давайте
            вспомним первый урок. Мы говорили о том, что сами по себе, установки закрепляются в подсознании через
            эмоции, прежде всего через эмоцию страха. Это основано на фундаментальном свойстве подсознания отвечать за
            нашу безопасность. Эту особенность можно использовать для формирования новых установок. Вот конкретный
            пример, показывающий, как это работает. Отец старшего автора этой книги, прошедший всю Великую Отечественную
            войну, начал курить еще на фронте и курил в течение десятилетий. Все многочисленные попытки бросить курить
            заканчивались провалом. В конце концов, начались проблемы с легкими и отец попал в больницу. После
            проведения всех анализов, хирург, тоже бывший фронтовик, отложив в сторону рентгеновский снимок, сказал
            коротко: «Уговаривать не буду, ты прошел войну. Но если не бросишь курить, через полгода умрешь». Пожал руку
            отцу и вышел из палаты. После этого разговора, за многие годы, отец ни разу не прикоснулся к сигаретам.
            Когда старая установка становится серьезной угрозой для безопасности, и человек это осознает в полной мере,
            на этой сильнейшей эмоции новая установка «все, пора бросать» мгновенно побеждает. Но такие примеры –
            редкость. Да и зачем доводить дело до реальных угроз жизни?</p>
        <p id="d1fe22ec-d947-4432-8b97-f309bcf3ba0c" class=""> Есть еще один, реально работающий, способ изменения
            подсознательных установок. Он основан на законе психологии, который гласит: состояние, испытываемое
            человеком регулярно и многократно, превращается в черту его личности. Например, через
            многократное повторение становятся привычными определенные модели поведения. Если повторить какое-либо
            действие достаточное количество раз, оно станет привычным и неосознанным. Именно на этом принципе основаны
            наши привычки. То же самое касается и наших мыслей. Подсознание не выбирает и не оценивает мысли, которые
            появляются в нашей голове. Поэтому те мысли и образы, которые часто повторяются и воспринимаются
            подсознанием, со временем там осядут и станут вашими незыблемыми убеждениями.</p>
        <p id="41cb3a1e-bf1e-42e5-8724-a5a683c31102" class=""> Таким образом, суть второго подхода заключается в
            СОЗНАТЕЛЬНОМ внушении себе новых состояний, пока они не станут неотъемлемой частью вашего
            характера. Практически они реализуются в виде словесных или образных самовнушений. Есть много
            вариантов словесных самовнушений и у разных авторов они называются по-разному: настрои, самоубеждение,
            самопрограммирование, самогипноз, формулы воли. В психологии они получили особое название – аффирмации (от
            лат. <em>affirmation</em> – подтверждение). Этот метод мы рассмотри подробнее.</p>
        <p id="3ae70619-d97e-46a0-98e6-36575c8bc575" class=""><strong>II. АФФИРМАЦИИ.</strong></p>
        <p id="20887223-4260-46f3-bae9-22b61bc4c6fe" class=""> Суть подхода проста: вы составляете короткую, яркую фразу
            – утверждение, в которой будет максимально четко и емко сформулировано ваше желание. Такое утверждение,
            имеющее конечной целью сознание новой установки, и называется аффирмацией.</p>
        <p id="ce712aa5-2042-40ae-b38b-a38e22776bbf" class=""> Затем повторяете ее несколько раз каждый день в особом,
            расслабленном, состоянии (об этом – далее) в течение одного-трех месяцев. Со временем эти фразы прочно
            «осядут» в вашем подсознании в качестве новых убеждений, т.е. станут вашими новыми установками. Как
            правильно составить аффирмацию? Для того чтобы аффирмация имела максимальное воздействие, ее
            необходимо правильно сформулировать. Вот основные тезисы:</p>
        <ul id="2ece93a1-3de4-4af1-a7f6-7826e97a9c27" class="bulleted-list">
            <li>ваша аффирмация должна быть в утвердительной форме и в настоящем
                времени. Например, если вы хотите, чтобы волнение не сковывало вас в ответственные моменты, не
                следует утверждать: «<em>Я не буду волноваться</em>». Во-первых, подсознание не понимает, что значит НЕ
                волноваться и поэтому запоминает и фиксирует указание «волноваться». Во-вторых, аффирмация будет намного
                эффективнее, если она сформулирована как факт, в настоящем времени. Таким образом, вы убеждаете
                подсознание в том, что желаемый результат у вас уже есть. Поэтому ваше утверждение может звучать так:
                «<em>Я спокоен и уверен в себе</em>»;
            </li>
        </ul>
        <ul id="ca5783cf-a567-49a4-af0c-c30d31bd57e7" class="bulleted-list">
            <li><strong>слова – суть. </strong>Аффирмация максимально убедительно, кратко и точно формулирует суть новой
                желаемой установки. В вышеприведенном примере проблема была в избыточном волнении. Суть желаемого
                убеждения – в словах «<em>спокоен и уверен</em>»;
            </li>
        </ul>
        <ul id="8d2691b2-44aa-4264-a51f-4aa363e04021" class="bulleted-list">
            <li><strong>слова – усилители. </strong>Суть утверждения можно усилить, используя такие слова, как «<em>абсолютно</em>»,
                «<em>несокрушимо</em>», «<em>неколебимо</em>», … т.е. вместо «<em>я спокоен</em>» - «<em>я абсолютно
                    спокоен</em>», вместо «<em>я здоров</em>» - можно внушать «<em>я абсолютно здоров</em>», и т.д.
                Слова – усилители позволяют подключить эмоциональную составляющую. При этом важно, чтобы слова
                были «вашими», личными, должны дойти до глубин вашего подсознания и вызвать сильный
                положительный эмоциональный отклик;
            </li>
        </ul>
        <ul id="1a1f5f24-2130-4ec8-91b4-2801b563d72d" class="bulleted-list">
            <li><strong>концентрация.</strong> Очень важно предельно сконцентрироваться на том, что говоришь. Одна из
                причин неудач многих пытающихся заключается в том, что они говорят одно, а мысли в это время НА САМОМ
                ДЕЛЕ заняты другим.
            </li>
        </ul>
        <p id="b32fc18f-0328-480a-a3ad-8d506e7a2dcf" class="">
        </p>
        <p id="44fc9adf-ad0c-413c-8bbe-38d96f2dd3b2" class=""> Придумывать аффирмации самостоятельно может быть довольно
            трудно, особенно если у вас закрепились негативные или обреченные на провал шаблоны мышления. Для начала вы
            можете использовать примеры некоторых сильных аффирмаций на успех для различных целей. Затем
            поэкспериментируйте с разными формулировками, до тех пор пока не найдете именно те, которые вызовут
            максимальный резонанс в вашем подсознании. Вот некоторые примеры:</p>
        <p id="add91887-6111-4522-bbbb-f4e086d39f29" class=""> - изменение отношение к учебе: «<em>я с огромным
            удовольствием хожу в школу и постигаю новое</em>», «<em>учиться невероятно интересно и мне это очень
            нравится</em>»;</p>
        <p id="61cf8f1d-8f20-464d-85ef-895e41c1115f" class=""> - обретение здоровья: «<em>Я с удовольствием каждое утро
            делаю зарядку, и мое тело становится крепким и полным сил</em>», «<em>я становлюсь несокрушимо здоровым</em>»;
        </p>
        <p id="108b0415-e5df-4406-8030-4c78dbb82b26" class=""> - обретение уверенности и достижения успеха: «<em>Я
            абсолютно уверен в себе</em>», «<em>я могу справиться с любой задачей</em>», «<em>я собран, абсолютно
            спокоен</em>», «<em>с каждым днем у меня все лучше и лучше получается…</em>»</p>
        <p id="17248283-85f1-4eb9-8227-d82dc726aefa" class=""> Перечисленное выше – всего лишь ориентиры. У каждого
            человека язык подсознания неповторим и очень важно найти «свои» слова, которые оно воспримет. Необходимо
            вжиться и прочувствовать каждое произносимое слово, прожить его.</p>
        <p id="f080346e-e3a5-4661-abc9-7fbeb5757cf1" class=""><strong>III. ВИЗУАЛИЗАЦИЯ.</strong></p>
        <p id="9f6dd102-5f2e-4f76-a74f-eae3e7f3554f" class=""> Другой способ воздействия на подсознание – через
            зрительные образы. На этом основана техника визуализации. Ее суть заключается в ярком зрительном
            представлении желаемых положительных образов и событий, как будто они происходят с вами на самом
            деле.</p>
        <p id="ff324a54-b16e-43ec-90f0-d5bd9dfcec32" class=""> Например, вам не хватает уверенности при общении с
            людьми. В своем воображении вы можете представить (визуализировать), как свободно и раскованно вы себя
            чувствуете при общении с ними. Или у вас слабое тело. Конечно, чтобы его укрепить визуализировать себя с
            прямой осанкой, расправленными широкими плечами, эффект от упражнений будет гораздо больший. Дело в том, что
            подсознание не знает разницы между тем, что происходит в вашем воображении, и в реальности. Для него это
            одно и то же. Важно, чтобы вы сами в это верили и представили максимально ярко. Подсознание все это будет
            воспринимать как реалии жизни и позволит вам создать нужные нейронные связи в мозге. А они, в свою очередь,
            будут перестраивать вполне материальные процессы в вашей физиологи.</p>
        <p id="0a6a29da-76ab-4020-8a14-4f3e2d82f8d3" class=""><strong>Как правильно визуализировать?</strong></p>
        <ol id="7f296cad-399d-43b5-b895-b2d791207233" class="numbered-list" start="1">
            <li>Решите, чего именно вы хотите добиться: сдать экзамен, успешно выступить, выиграть в конкурсе,
                подружиться с симпатичным парнем или девушкой, приобрести новые качества – уверенность в себе, умение
                выступать на публике и т.д.
            </li>
        </ol>
        <ol id="e2776add-33c2-43de-8f8c-3ad666734946" class="numbered-list" start="2">
            <li>Используя особые состояния расслабления (об этом – далее по тексту), каждый день в течение 5-10 минут
                мысленно представляйте себе желаемое максимально детально, ярко, так, как будто все это происходит с
                вами на самом деле и прямо сейчас. Сделайте это реальностью в своем сознании.
            </li>
        </ol>
        <ol id="b46bd279-4c7b-4c7a-9a1e-23e34e282300" class="numbered-list" start="3">
            <li>Также как с аффирмациями, визуализируйте последовательно, прорабатывая за один период только одну
                цель.
            </li>
        </ol>
        <p id="7c22c9d5-f9c9-46f6-9a73-f9b7aa2ce6ae" class=""> Цель визуализация – увидеть свои цели достигнутыми,
            увидеть себя нового. Если вы, раз за разом, максимально ярко и убедительно, «видите» и ощущаете себя
            успешным, здоровым, обаятельным, волевым, организованным, сильным, то при многократных визуализациях
            эти состояния станут вашей сутью.</p>
        <div style="margin-bottom: 2rem; height: 22rem" class="d-inline-flex mt-4">
            <iframe class="h-100 w-75 mr-5" src="https://www.youtube.com/embed/Htw780vHH0o" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <p id="76ecb45f-8861-4966-82a8-072781aafa8d" class=""> Многие успешные люди пользуются техникой визуализации для
            достижения своих целей. Вот типичный пример. Майкл Фелпс, легендарный американский пловец, единственный в
            истории спорта 18 (!) – кратный олимпийский чемпион. В своем интервью он рассказывает, что пользовался
            визуализацией с раннего возраста. Его тренер научил его смотреть мысленную «видеокассету» - визуализацию
            идеального заплыва. И каждый день перед сном он лежал с закрытыми глазами и «смотрел» все соревнование, в
            мельчайших деталях, снова и снова, пока он не знал каждую секунду наизусть. Когда у Майкла спрашивали, что
            происходит у него в голове перед заплывом, он отвечал, что он ни о чем и не думает. Он просто ставил рекорд
            за рекордом, следуя заложенной в его голове программе.</p>
        <p id="5fce9dd4-8ddc-4367-af83-da15ff2723fc" class=""> Мы познакомились с двумя техниками ПРЯМОГО влияния на
            свои подсознательные установки. Аффирмация – способ, основанный на проговаривании и использующий вашу
            способность слышать. Визуализация основана на мысленном представлении идеального события или состояния.
            Способ, основанный на другой нашей способности – видеть и чувствовать. По сути, между ними нет разницы. Эти
            два способа используют для достижения одной и той же цели разные каналы восприятия. Теперь мы сделаем
            следующий шаг. Объединим оба подхода в один и назовем метод визуализированными аффирмациями.</p>
        <p id="18792811-9048-4246-9ad0-5423f409abaa" class=""> Как это делать? Используйте обе техники одновременно,
            т.е. максимально ярко визуализируйте смысл своих словесных аффирмаций, в то время как вы их
            проговариваете. Это обеспечит вам одновременное воздействие на подсознание одного и того же
            послания сразу с двух сторон, через слух и через зрительные образы. И эффект будет намного сильнее.
            Например, вы внушаете себе «<em>спокоен, абсолютно уверен в себе</em>» и при этом максимально ярко
            представляете себя спокойного, раскрепощенного, уверенно выполняющего желаемые действия. Подсознания
            принимает как истину любую многократно повторенную мысль или образ, если они подкрепляются убежденностью и
            исключают сомнения. Внушаемая установка выходит за пределы сознания и прочно «оседает» в подсознании.</p>
        <p id="5b499087-d05f-4edc-b55b-ae3fe33d422c" class=""> Возможно, поначалу, некоторые из вас отнесутся к этим
            подходам с недоверием и скепсисом. Зря. Дело в том, что верите вы в визуализированные аффирмации или нет, вы
            в любом случае ими регулярно занимаетесь. Не верите? Хорошо, вот простое доказательство. Многие из вас,
            сразу после пробуждения думают: «ну вот, опять нужно идти в эту дурацкую школу» и представляют себе «нудные
            уроки», «строгих учителей», «кучи домашки» и т.д. Не подозревая о силе этих мыслей и образов, вы закачиваете
            в свое подсознание кучу мешающих вам установок. Все это и есть не что иное, как визуализированные
            аффирмации.</p>
        <p id="0cc85db7-abb2-4cec-ac85-5d3df7c18570" class="">Ключевая идея этой книги заключается в том, чтобы
            хаотические, в абсолютном большинстве случаев негативные, внушения самовнушения заменить на осознанные,
            развивающие вас в соответствии с вашими целями.</p>
        <p id="46816b88-0946-4348-88eb-9ace18a2bdb1" class=""><strong>IV. СОСТОЯНИЕ РЕЛАКСАЦИИ. </strong></p>
        <p id="752ebcee-0409-4663-bae8-b6a94e4e6db9" class=""> Из прочитанного выше может сложиться впечатление, что все
            это очень просто. Сформулируй правильные тексты и образы себя успешного, здорового, повнушай и
            повизуализируй немного и станешь совсем другим человеком. Но, конечно, не все так просто. Вот простой
            пример. Когда вам не спится попробуйте приказать себе «засни». Будете говорить до утра. В случае подсознания
            ситуация еще сложнее. Подсознание, как место, где располагается стержень всей вашей жизни, ограждено
            высокими барьерами и ваши старые убеждения хранятся там под семью замками. Иначе и быть не может. Вы можете
            представить, что бы случилось, если бы глубинные представления человека могли бы легко меняться? Сегодня
            человек такой, завтра – другой, а послезавтра – совсем третий? Природа устроена так, что консервативная
            часть человека тщательно охраняется и меняется чрезвычайно тяжело.</p>
        <p id="4ccc275c-d8fc-4bad-8474-369f688e50d0" class=""> Но природа и здесь оставила лазейку. Дело в том, что у
            нас есть особые состояния, когда барьеры подсознания резко снижаются. Это – состояние глубокого
            расслабления, или, как говорят психологи, глубокой релаксации. Давайте разберемся. Для этого
            сначала рассмотрим, как работает человеческий мозг. С материальной точки зрения, деятельность мозга – это
            передача электрических импульсов по нервным каналам, и ученые научились эти импульсы регистрировать. Есть
            четыре ритма активности мозга: первый, так называемый бета-ритм, в котором мы пребываем, когда бодрствуем. В
            этом состоянии мозг пульсирует с максимальной для себя частотой12-30 циклов в секунду. Кроме этого, есть два
            ритма сна: тета-ритм – состояние неглубокого сна и дельта-ритм – состояние глубокого сна, когда
            электрическая активность уменьшается до минимума и составляет 1-4 цикла в секунду. С точки зрения нашей
            книги самое интересное и важное состояние – это альфа-состояние мозга. Оно является
            промежуточным между сном и бодрствованием. Это и есть состояние глубокой релаксации, или попросту –
            глубокого расслабления. В этом состоянии мозг еще не заснул, но уже и не бодрствует, и
            функционирует в интервале 7-12 циклов в секунду.</p>
        <p id="574de412-96f6-44fd-808b-0ce96f700242" class=""> Чем интересно альфа-состояние мозга? Двумя очень важными
            моментами. Во-первых, доказано, что в этом состоянии происходит глубинное уравновешивание
            психических и физиологических процессов человека. Это – состояние целебной саморегуляции и
            «заживления» организма, когда все механизмы саморегуляции: нервные, иммунные и гормональные – переключаются
            на качественно более высокий уровень эффективности. Особая ценность этого состояния была понята давно, и
            люди разработали специальные техники его достижения: медитация, релаксация, аутогенная тренировка,
            дыхательные практики, йога. Кстати, научно доказано, что в это же состояние переводит человека и искренняя
            молитва.</p>
        <p id="512ec18d-5b4e-488c-b595-cad0e3ad467c" class=""> Вторая важнейшая особенность альфа-состояния мозга – оно
            является так называемым гипнотическим фазовым. В этом состоянии за счет значительного снижения охранительных
            барьеров подсознания мозг особенно восприимчив для внушений и… САМОВНУШЕНИЙ.</p>
        <p id="4f0f3888-5e1d-4f04-acb9-a5f1f1001510" class=""> Мы здесь не будем говорить о техниках достижения глубокой
            релаксации, это – отдельная большая тема. Настоятельно рекомендуем вам со временем освоить одну из техник,
            некоторые ссылки приведены в конце урока. Активное владение методами релаксации – самый надежный инструмент
            сохранения здоровья в этом динамичном, полном стрессов мире. Ли Куан Ю, легендарный лидер Сингапура, недавно
            ушедший из жизни в возрасте 92 лет, регулярно практиковал медитацию и считал, что «…<em>медитации надо учить
                в школах. Это убережет людей от многочисленных походов к врачам</em>». (Ли Куан Ю, «Суровые истины во
            имя движения Сингапура вперед»). Отметим, что в практиках, пришедшим к нам с Востока (йога, медитация), на
            самом деле нет ничего мистического, и они с успехом прижились и в западной цивилизации.</p>
        <p id="d0a3e109-956d-4628-9237-15f23f020920" class=""> Для нас здесь важно, что помимо специальных методов,
            состояние альфа-ритма у каждого человека встречаются по крайней мере дважды в день естественным образом:
            непосредственно перед засыпанием и сразу после пробуждения. Эти, так называемые просоночные, состояния, в
            которых мозг уже не бодрствует, и еще не спит. Именно эти состояния, когда барьеры подсознания естественным
            образом снижены, мы можем использовать для изменения глубинных установок.</p>
        <p id="8552cce5-b95d-4ad3-b677-0448c2a4c4ed" class="">Как правильно применять визуализированные
            аффирмации? Правильно составленная аффирмация – это первый шаг к формированию новых позитивных
            установок. Однако, чтобы она сработала, ее необходимо правильно применить. Вот некоторые советы.</p>
        <ol id="4f52ffd9-4cfb-4b9c-acd7-db7bcb30452a" class="numbered-list" start="1">
            <li>Избегите соблазна заняться сразу всеми своими ограничивающими установками. На первый курс самовнушения
                (два-три месяца) выберете только одну аффирмацию, которую на данный момент вы считаете самой важной для
                себя. В последующем, когда вы обретет опыт, можно будет работать одновременно с несколькими
                утверждениями.
            </li>
        </ol>
        <ol id="8dc115fe-92f9-444c-961d-7d35a6012ea8" class="numbered-list" start="2">
            <li>Используйте свои естественные периоды, когда барьеры подсознания снижены и они особо чувствительно к
                самовнушению. Это – периоды сразу после пробуждения и непосредственно перед засыпанием. Поэтому
                запланируйте 5-10 с утра и перед сном на выполнение упражнение.
            </li>
        </ol>
        <ol id="642336ce-4fc5-4db5-94f1-4925512e0b14" class="numbered-list" start="3">
            <li>Закройте глаза, мысленно отстранитесь от внешнего мира, полностью погрузитесь в смысл произносимых слов.
                В противном случае произнося «<em>я спокоен</em>», на самом деле вы концентрируетесь и усиливаете свое
                беспокойство, утверждая «<em>я здоров</em>», вы будете усиливать свои недуги. Повторите сформулированную
                фразу 15-20 раз шепотом либо про себя. Не торопитесь, говорите спокойно и уверенно.
            </li>
        </ol>
        <ol id="2f62c3ae-0939-496e-b931-ced8ce549258" class="numbered-list" start="4">
            <li>Одно из важнейших условий действия аффирмации – полное спокойствие и расслабленность. Не нужно прилагать
                особых усилий, не нужно форсировать новое убеждение. Этим вы только вызовете отторжение в подсознании, и
                усилия будут напрасны. Только в состоянии максимального покоя и расслабленная идея, запечатленная в
                утверждении, действительно будет принята подсознанием. Таким образом, чтобы аффирмации сработали,
                необходима максимальная концентрация при полном расслаблении.
            </li>
        </ol>
        <ol id="e75b66b1-b04c-46f4-aa16-ace668d775fb" class="numbered-list" start="5">
            <li>Упражняйтесь регулярно, КАЖДЫЙ день, и будьте терпеливы. Здесь действует накопительный эффект и один
                пропущенный день может отбросить вас на неделю назад. Поэтому не допускайте пропусков, 10 минут в день
                можно найти всегда.
            </li>
        </ol>
        <ol id="a6410944-a3d0-4196-b956-32bd8e7b917c" class="numbered-list" start="6">
            <li>Запишите свои аффирмации на маленьких карточках из плотной бумаги и всегда имейте при себе. Внимательно
                перечитывайте их при первой возможности (поездка в транспорте, ожидание в очереди). Вы должны
                    окружить себя новым убеждением 24 часа в сутки.</li>
        </ol>
        <p id="e2f1381d-beee-4b9e-8181-3ba96b4c2155" class="">
        </p>
        <p id="cd342260-4100-4817-98a6-e26175fb3512" class=""> Конечно, сама по себе установка не поменяет вашу жизнь и
            не обеспечит результат. Результат обеспечивают только действия. Вы можете внушить себе, что вам очень
            нравится заниматься физкультурой. Но здоровым вас сделает только ежедневная зарядка. Секрет в том, что
            используя аффирмации, вы сформируете установки, которые будут помогать вам ДЕЙСТВОВАТЬ в нужном
            направлении.</p>
        <p id="bfbec1c8-e834-4b7c-86a9-391b66f272f3" class="">И напоследок. Многие люди пробуют техники
            самовнушения, но быстро забрасывают. Почему? В вашем подсознании уже живут старые установки. Они
            формировались годами. Поэтому не стоит ожидать, что вы с легкостью замените их на новые за пару недель.
            Работа над своим внутренним миром – очень тонкое и непростое искусство. Для получения первых реальных
            результатов необходима регулярная и усердная практика. В какой-то момент у вас обязательно возникнут
            сомнения, что перемены происходят. Это нормально, и бывает с каждым занимающимся. Не обращайте внимания на
            эти мысли, а просто терпеливо продолжайте занятия. У разных людей по-разному, но в среднем, заметные
            результаты появляются через два-три месяца ЕЖЕДНЕВНЫХ занятий. Эти практики реально работают, и это доказано
            опытом множества людей. Но нужно соблюдать все условия – использовать расслабление, максимально точно
            формулировать слова, максимально ярко представлять образы и самое главное – регулярно, терпеливо и усердно
            работать!</p>
        <p id="e858480d-5b73-4ba3-ab51-ba6e61da20cf" class=""> Помимо результата, способного перевернуть вашу жизнь, от
            этих занятий есть еще дополнительные бонусы:</p>
        <p id="87613102-9b78-43fb-ade0-1d7933a5d7ac" class="">1) выполняя их регулярно и до получения нужного
            результата, вы значительно укрепите силу воли и разовьете самодисциплину. А эти навыки стоят очень дорого в
            современной жизни;</p>
        <p id="a2beb72f-003b-433a-844a-4489ca0eecc5" class="">2) вы живете, обращаясь только во внешний мир. Но
            внутренний мир каждого человека – это целая вселенная и его тоже важно знать. Работа над собой, описанная
            выше, это есть не что иное, как постижение этой внутренней вселенной;</p>
        <p id="78965462-6469-4783-8f1a-20c51e40ca10" class="">3) визуализируя максимально ярко и образно, вы развиваете
            свое воображение – основной инструмент личной конкурентоспособности в XXI веке.</p>
        <blockquote id="a29661c2-031e-49ef-95c6-1fe77731e465" class="block-color-red">
            <mark class="highlight-red">ПОЛЕЗНЫЕ ССЫЛКИ</mark>
        </blockquote>
        <p id="347d89bd-e4ad-4ca3-87ea-651501ac001b" class=""> Материалов (книг, статей, DVD дисков, он-лайн курсов) по
            различным техникам релаксации огромное множество, на любой вкус. Вот некоторые книги, выдержавшие испытание
            временем:</p>
        <ol id="2e5d4ed2-f973-4466-9e0d-f38ec4dfb6f3" class="numbered-list" start="1">
            <li>В. Леви «Искусство быть собой».</li>
        </ol>
        <ol id="3501835b-b978-4cbc-b015-f089dfea7237" class="numbered-list" start="2">
            <li>Х. Линдеман «Аутогенная тренировка».</li>
        </ol>
        <ol id="3b33d6a2-906b-4243-9cf9-4b2c6b6c4aac" class="numbered-list" start="3">
            <li>Г. Бенсон «Чудо релаксации».</li>
        </ol>
        <p id="173f810d-a278-4b2d-a7d9-377deedef180" class=""> А вот ссылка на небольшую статью, показывающую медитацию
            как абсолютно нормальную практику, доступную любому человеку с европейским мышлением:</p>
        <ol id="b7994c2a-e8be-44cf-a0cc-91a38a3df46d" class="numbered-list" start="1">
            <li>
                <mark class="highlight-blue"><a href="http://nperov.ru/meditaciya/kak-nauchitsya-meditacii/">http://nperov.ru/meditaciya/kak-nauchitsya-meditacii/</a>
                </mark>
            </li>
        </ol>
        <ol id="dee9a159-665b-4b5c-b4c3-6a869c4f6d8d" class="numbered-list" start="2">
            <li>
                <mark class="highlight-blue"><a href="http://www.yourfreedom.ru/">http://www.yourfreedom.ru</a></mark>
                – сайт о личностном росте, активности, счастье, свободе, успехе в жизни.
            </li>
        </ol>
        <ol id="45bdb626-670c-497a-a496-a7ea1500d666" class="numbered-list" start="3">
            <li>
                <mark class="highlight-blue"><a href="http://improve-me.ru/">http://improve-me.ru</a></mark>
                – блог, где рассматриваются такие вопросы, как постановка целей и их достижение, саморазвитие и
                личностный рост. Также есть отдельные рубрики, посвященные техникам аффирмации и визуализации.
            </li>
        </ol>
        <ol id="11a629c2-ff69-4084-82a7-fefc45cbe0ac" class="numbered-list" start="4">
            <li>
                <mark class="highlight-blue"><a href="http://selfgrowth.ru/">http://selfgrowth.ru</a></mark>
                – на сайте публикуются разные материалы об успехе и личной эффективности, проводятся образовательные
                программы и тренинги, направленные на формирование необходимых универсальных навыков.
            </li>
        </ol>
        <span style="border-bottom: 3px solid blue" class="pb-4">
			<a href="{% url 'first_chapters_EditTask' %}" class="d-inline-flex text-decoration-none">
				<h3 style="color: black;">Перейти к домашнему заданию</h3>
			</a>
			<span class="oi oi-arrow-right ml-2" style="font-size: 2rem"></span>
		</span>
    </div>
    <a href="#"><span class="oi oi-arrow-top float-right rounded-circle py-3 px-4"
                      style="color: black; border: 3px solid black; font-size: 2.5rem"></span></a>
    <div class="mt-5 w-100 justify-content-center d-inline-flex">
        <img src='{% static "img/images_for_tree/Yoga.svg" %}' alt="" class="rectang"/>
    </div>
</article>


{% endblock %}

