{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}

<article id="61b3f548-0d4c-435c-be64-0b4c6e9cccd8" class="page sans w-75 mx-auto"
         style="margin-top: 2em; font-size: 18px">
    <header>
        <div>
            <a href="{% url 'first' %}" target="_self" style="color: black; margin-right: 5em"><span
                    class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
            <span class="text-muted">
				<a href="{% url 'tree' %}" target="_self" class="text-muted">Статьи</a> >
				<a href="{% url 'first' %}" target="_self" class="text-muted">Внутренний мир</a> >
				Самооценка
			</span>
        </div>
        <img class="page-cover-image" src="https://www.notion.so/images/page-cover/rijksmuseum_jansz_1637.jpg"
             style="object-position:center 100%; margin-top: 2em; border-radius: 0"/>
    </header>
    <div class="page-body w-75 mx-auto">
        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Иванов Иван</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>06.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
        </div>
        <h1 class="page-title">Урок 3: Самооценка
        </h1>
        <p id="a2583db9-febf-40df-8fa9-7513de1555c0" class=""> На предыдущих уроках мы говорили про определяющую роль
            подсознательных установок в жизни любого человека. Их можно разделить на две большие группы. Первая -
            установки об окружающем мире: «жизнь прекрасна (противна)», «все покупается за деньги», «собаки - опасно»,
            «везде микробы», «люди добрые (злые)», и т.д. И вторая группа - это установки о себе самом: «я сильный
            (слабый)», «я неспособный», «я толстый (худой)», «я могу все (у меня не получится)», «это не для меня», и
            т.д. Все установки влияют на нашу жизнь, но вторая группа является КРИТИЧЕСКИ важной. Теперь мы понимаем,
            что именно от этих установок зависит наша карьера, здоровье, успехи в жизни и счастье в целом. Согласитесь,
            одно дело, когда вы живете с убеждением «собаки - это опасно» и совсем другое, когда в глубине души вы
            думаете «я ни на что не пригоден». Поэтому этот вид установок мы рассмотрим на этом уроке отдельно.</p>
        <p id="ae1db97b-c00b-451a-bceb-9fa3389cfb21" class=""> Задумайтесь на минуту - что вы НА САМОМ ДЕЛЕ, в глубине
            души, думаете о себе? Считаете ли вы себя способным, талантливым, ценным? Как вы воспринимаете критику со
            стороны окружающих? Чувствуете ли вы себя уверенно и легко в любой ситуации или вас сковывает стеснение?
            Часто ли вы ставите под сомнение собственные силы и способности? Совокупность глубинных представлений о
            самом себе образуют вашу самооценку.</p>
        <p id="62159690-4dcd-4f3d-90d7-1357ca1568a8" class=""> Ниже приведен тест на определение уровня самооценки. Его
            разработала доктор Мэрилин Соренсен, основатель Института Самооценки (США), которая более 35 лет занимается
            изучением этого вопроса. Отвечайте на вопросы честно. Отметьте каждое утверждение, которое считаете
            соответствующим вам. В конце теста подсчитайте количество отмеченных ответов и прочитайте толкование.</p>
        <p id="af27b6a9-fb7c-4e3a-8575-3873d0186709" class="">
            <mark class="">ТЕСТИРОВАНИЕ САМООЦЕНКИ</mark>
        </p>
        <p id="eb7a02d5-b827-409d-a624-52e4172f63fe" class=""> Проанализируйте результаты своего тестирования.
            Попробуйте выделить закономерность - в каких областях вы чувствуете себя наименее уверенно? Внешность,
            учеба, способности, общение? Если по итогам теста у вас получился балл, свидетельствующий о невысокой
            самооценке, не расстраивайтесь. Результаты этого теста никоим образом не говорят о том, что вы недостойный
            или нехороший человек. Они лишь показывают ваше собственное отношение к себе, то, как ВЫ САМИ себя
            оцениваете.</p>
        <p id="8ad4f748-98ce-4acf-af0b-1966f61b4bc9" class=""> Но над повышением самооценки работать нужно обязательно.
            Из предыдущих уроков мы знаем, что уровень ваших успехов в жизни никогда не превысит уровня вашей
            самооценки. Есть еще один важный аргумент в пользу высокой самооценки. Постарайтесь осознать, что вы сами по
            себе, вне зависимости от вашей внешности, текущих успехов и достижений, человек УНИКАЛЬНЫЙ И НЕПОВТОРИМЫЙ!
            Другого такого же на земле никогда не было, нет и не будет. Вы это уже слышали? И не очень-то верите?</p>
        <p id="aa42b11b-5b19-45bc-9d9e-bf9c81d84a2a" class=""> Хорошо. Посмотрите внимательно, как устроен КАЖДЫЙ
            человек. Он состоит из множества сложнейших систем: кровеносной, нервной, гормональной, костной, мышечной,
            лимфатической и т.д. и т.д., которые сложнейшим образом непрерывно взаимодействуют между собой. Общая
            протяженность сосудистой системы человека превышает сто тысяч километров, а общее число капилляров (это
            самые мелкие сосудики) - превышает сто миллиардов! И все это живет и согласованно работает внутри вас.</p>
        <p id="0f31cf1b-05c1-47f7-9367-4e5fe68cd0be" class=""> А как устроена целая вселенная - человеческий мозг?
            Задумайтесь над тем, как зарождается человек, как он растет в утробе матери, как развивается его интеллект,
            формируется личность. Неужели кто-то всерьез считает, что это чудо из чудес, именуемое человеком,
            обречено прозябать и чахнуть? Только потому, что в него кто-то не может вдохнуть чуть-чуть настоящей
            жизни?!
        </p>
        <p id="c4d65f07-43b3-4e39-a4c7-f7ad1c9520c8" class=""> Поэтому ваша самооценка, уже по факту обладания
            совершеннейшим и сложнейшим телом, обязана быть высокой: <em>«да, придется много поработать, но я смогу
                все», «да, я еще в начале своего развития, но у меня все получится», «я буду успешен, богат,
                здоров»</em>, ... Если вы это осознали и приняли, то ваша начальная точка в жизни и начальный уровень
            самооценки неважны. Вы будете расти и неизбежно окажетесь там, где мечтаете.</p>
        <p id="57d1130d-a17e-447e-b921-ae491b2af4f9" class=""> Заниженная самооценка строится не просто на негативных
            убеждениях о себе, но еще и на безнадежности, на уверенности в том, что человек не может измениться, стать
            лучше.<em> «Я неспособный и таким буду всегда&quot;</em>. ЭТО НЕПРАВДА. Посмотрите вокруг. Каждый день,
            такие же люди, как и вы учат новые языки, осваивают науки, худеют, набирают мышечную массу, развивают новые
            привычки, избавляются от вредных привычек, учатся выступать, танцевать, кататься и т.д. Они МЕНЯЮТСЯ в
            лучшую сторону. Значит, это можете сделать и вы.</p>
        <p id="fe077dba-bda8-46ed-abf2-7f084fcb254d" class=""> Жизнь полна примеров людей, которые вопреки своему
            происхождению, мнению окружающих, несмотря на все трудности и совершенные ошибки, благодаря лишь собственной
            вере в себя смогли добиться невероятных успехов. Немного перефразируя великого Марка Твена можно сказать:
            «Если ты думаешь, что сможешь, то ты прав. Ты это сделаешь. Если же ты думаешь, что не сможешь, ты
            тоже прав. Ты это не сделаешь».Понимаете? В конечном счете, вся ваша сила - в ваших
            убеждениях. Вот только один замечательный пример - история Валентина Ивановича Дикуля, воздушного гимнаста,
            который еще подростком, после тяжелейшего перелома позвоночника, на годы оказался прикованным к инвалидному
            креслу. Врачи единогласно решили, что ходить он не будет никогда. Однако, вопреки всем обстоятельствам, он
            не просто встал на ноги, но и стал известным силовым жонглером, поднимающим на сцене цирка автомобиль и
            проносящим на руках брыкающуюся лошадь. Прочитайте внимательно, осознайте, что говорит этот легендарный
            человек:</p>
        <p id="cfff52a8-d37b-4e36-92ab-78fdc44d1a2d" class=""><em>«Каждый человек может сделать все, что в человеческих
            силах. Абсолютно все. Только поверьте в себя. И доведите до конца начатое, как бы тяжело вам ни было. И вы
            победите. Обязательно.»</em></p>
        <p id="84a1de9a-159f-4da7-876b-fe867c4d3446" class=""><strong>В. Дикуль </strong></p>
        <p id="7ac295da-3a23-4466-8c74-82e0649cd217" class=""> «КАЖДЫЙ ЧЕЛОВЕК МОЖЕТ СДЕЛАТЬ ВСЕ», ВЫ можете сделать все
            - это понятно?</p>
        <p id="603a822c-2529-4239-846a-ce1afed12892" class="">Как это работает? А теперь давайте еще
            раз на конкретных примерах посмотрим, как можно менять ограничивающие вас установки, лежащие в основе вашей
            низкой самооценки. Предположим, для вас общение - та сфера, в которой вы чувствуете себя наименее уверенно.
            Это значит, что где-то в глубине души сидят коварные установки, которые говорят вам: <em>«ты не умеешь
                общаться», «ты неинтересен», «над тобой будут смеяться»</em> и т.д. В результате, когда вы в реальности
            сталкиваетесь с необходимостью общаться, эти установки автоматически включаются, и вы действительно
            начинаете стесняться, чувствовать дискомфорт, напряжение и беспокойство. Чтобы это остановить, необходимо
            переписать старую программу, создать новые шаблоны поведения. Для этого используйте технику
            визуализированной аффирмации, которую мы описали на предыдущем уроке. Учитывая важность, давайте повторим по
            шагам. </p>
        <p id="4f3b0bb6-6cae-4a05-9513-900f70cda0ae" class=""> 1. Вы подбираете сильные, мотивирующие утверждения,
            которые вызывают у вас положительный эмоциональный отклик. Вот несколько возможных формулировок:<em> «я
                всегда чувствую себя спокойно и уверенно», «я свободно и непринужденно общаюсь с новыми людьми», «я
                спокойно и уверенно высказываю свое мнение», «меня окружают доброжелательные и интересные люди», «я
                излучаю радость и оптимизм», «я интересный, внимательный собеседник», </em>и т.д. Перефразируйте эти или
            придумайте новые установки так, чтобы они вас «брали за душу». Запишите их.</p>
        <p id="a108a120-df04-4617-9a34-ac8641f59922" class=""> 2. Далее вы отводите определенное время для упражнений
            так, чтобы вы могли делать их каждый день и вас никто не беспокоил. Как было показано на предыдущем уроке,
            лучшее время - 5-7 минут сразу после пробуждения и непосредственно перед сном, когда ваше подсознание
            естественным образом наиболее восприимчиво. Вы проговариваете свои новые установки и мысленно представляете
            себя максимально ярко с желаемыми качествами в разных ситуациях. Например:<em> «я свободно и непринужденно
                общаюсь с новыми людьми»</em> и представляете, как вы в незнакомой компании оживленно беседуете,
            смеетесь, обсуждаете что-то. Вы в прекрасной форме, излучаете уверенность и силу. Вам комфортно и интересно.
            Вы получаете удовольствие от общения. Вы интересны своим собеседникам, с вами хотят общаться.</p>
        <p id="8f23f226-cdd0-4c19-a595-884096c28ceb" class=""> 3. Делайте упражнения каждый день и постарайтесь
            действительно проникнуться в утверждения и поверить в те образы, которые вы вызываете в своем воображении.
            Через определенное время вы на самом деле станете именно таким. На прошлом уроке мы выяснили, что мозгу без
            разницы, были вы успешным наяву или в своих мысленных визуализациях. Важно только, чтобы ваше подсознание
            «приняло» вашу визуализированную аффирмацию. Процессы внутри одинаковые в обоих случаях. Таким образом,
            новая (мысленная, визуализированная) модель поведения вытесняет старую и становится привычной. Формирование
            новых установок по этим подходам напоминает формирование физического тела: если вы регулярно делаете
            правильные упражнения, вы непременно добьетесь результата.</p>
        <p id="7e7bba7b-172c-4b54-8b1a-7d6d3e330295" class=""> Окружающая нас среда, люди и личный опыт, безусловно,
            имеют большое значение в формировании самооценки. Но не решающее. Решающим фактором по-прежнему остаетесь вы
            сами, ваши собственные мысли и мнение.</p>
        <p id="2c8ae0a8-88f1-49e4-b082-74ff57ecb1a5" class=""> В жизни любого человека встречаются трудности. И любой
            человек время от времени терпит неудачу. И это то, что может критически повлиять на вашу самооценку. Вы
            провалили контрольную по английскому, не смогли очаровать N, и ваши подсознательные установки<em> «у меня
                нет способностей к языкам», «я неинтересен» </em>укрепились еще больше. А знаете ли вы, что успешные
            люди терпят неудачи гораздо больше, чем неуспешные?</p>
        <p id="8b2a10d9-94d1-40b1-96e4-636bfd88af17" class="">Как относиться к трудностям и неудачам?
            Японская мудрость гласит: <em>«если у молодого человека в жизни нет трудностей, то ему их надо купить за
                деньги».</em> Парадокс? Нет. Казалось бы, зачем нужны трудности? Дело в том, что как личность человек
            растет, ТОЛЬКО преодолевая трудности. Подобно тому, как мышцы начинают расти, когда вы подходите к пределу
            своих физических возможностей, ваш личностный рост возможен только через преодоление. И величина роста прямо
            пропорциональна преодоленной трудности. Вы провалились в жизни, в чем-то потерпели неудачу? Отлично! Вот вам
            другое высказывание: «человек растет, когда встает после падения и продолжает свое дело». Каждая ошибка,
            каждый промах - это возможность научиться чему-то, стать лучше, опытнее. НО(!), только если вы поднимаетесь
            и идете дальше.</p>
        <p id="1f9e6e43-8109-43b1-bcab-523efadbf0f4" class=""> Знайте, потерпев неудачу, вы ВЫИГРАЛИ в любом
            случае: если что-то не получилось, вы приобрели ценный опыт. А он дорогого стоит. Важно только не опускать
            руки, извлечь правильные уроки и идти дальше. Сказанное прекрасно иллюстрирует видео ниже,
            посмотрите его обязательно.</p>
        <div style="margin-bottom: 2rem; height: 22rem" class="d-inline-flex mt-4">
            <iframe class="h-100 w-75 mr-5" src="https://www.youtube.com/embed/UkrfXWa09_8" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <p id="4837b4b5-a504-46de-9981-c4fb5e8d7e6a" class=""> Посмотрите ролик «Провал» с Майклом Джорданом в главной
            роли. Майкл Джордан (род. 17 февраля 1963, США) - один из самых известных и успешных в современной истории
            профессиональных спортсменов, пять раз признавался самым ценным игроком Национальной баскетбольной
            ассоциации. В ролике спортсмен перечисляет все неудачи, которые он потерпел в течение своей спортивной
            карьеры и говорит, что именно благодаря им он преуспел.</p>
        <p id="26bd2507-6887-407b-b370-22365046fb04" class="">
            <mark class="highlight-orange">ПОЛЕЗНЫЕ ССЫЛКИ</mark>
        </p>
        <ol id="52d0daa2-22d0-4027-abd5-5f2c7a8d4a18" class="numbered-list" start="1">
            <li> http://100grp.ru - на этом сайте вы можете познакомиться с биографиями «100 великих людей, изменивших
                мир», возможно некоторые из них послужат вам примером.
            </li>
        </ol>
        <ol id="3596e610-c202-4294-a544-c200dcb3ebd1" class="numbered-list" start="2">
            <li>http://www.biografguru.ru - еще одни ресурс с биографиями выдающихся людей.</li>
        </ol>
        <ol id="005379c4-e297-410c-8e00-84b3004c586f" class="numbered-list" start="3">
            <li>http://www.yourfreedom.ru - успех в жизни, блог о личностном росте, активности, счастье, свободе, смысле
                жизни и т.д
            </li>
        </ol>
        <ol id="ea882967-56a0-42c8-b902-8282476ba212" class="numbered-list" start="4">
            <li>http://improve-me.ru - постановка целей и их достижение, саморазвитие и личностный рост. Также есть
                отдельные рубрики, посвященные техникам аффирмации и визуализации.
            </li>
        </ol>
        <ol id="8e1df848-d76f-4319-8f01-56623d641c6f" class="numbered-list" start="5">
            <li>http://selfgrowth.ru - для людей, стремящихся к постоянному личному и профессиональному росту. На сайте
                публикуются материалы об успехе и личной эффективности, предлагаются соответствующие образовательные
                программы и тренинги.
            </li>
        </ol>
        <div class="mt-5">
            <a class="header--change--btn" href="/q/self-assessment/take/"  >Пройти тест</a>
        </div>
        <span style="border-bottom: 3px solid blue" class="pb-4">
			<a href="{% url 'first_chapters_self_assessment_list' %}" class="d-inline-flex text-decoration-none">
				<h3 style="color: black;">Перейти к домашнему заданию</h3>
			</a>
			<span class="oi oi-arrow-right ml-2" style="font-size: 2rem"></span>
		</span>
    </div>
    <a href="#"><span class="oi oi-arrow-top float-right rounded-circle py-3 px-4"
                      style="color: black; border: 3px solid black; font-size: 2.5rem"></span></a>
    <div class="mt-5 w-100 justify-content-center d-inline-flex">
        <img src='{% static "img/images_for_tree/Yoga.svg" %}' alt="" class="rectang"/>
    </div>
</article>


{% endblock %}
