{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}

<title>Урок 4: Самодисциплина</title>

<article id="d1d5ced2-d9b7-4b71-9844-22edeaadadbb" class="page sans w-75 mx-auto"
         style="margin-top: 2em; font-size: 18px">
    <header>
        <div>
            <a href="{% url 'first' %}" target="_self" style="color: black; margin-right: 5em"><span
                    class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
            <span class="text-muted">
				<a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
				<a href="{% url 'first' %}" target="_self" class="text-muted">Внутренний мир</a> >
				Урок 4: Самодисциплина
			</span>
        </div>
        <img class="page-cover-image" src="https://www.notion.so/images/page-cover/gradients_5.png"
             style="object-position:center 40%;  margin-top: 2em; border-radius: 0"/>
    </header>
    <div class="page-body w-75 mx-auto">
        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Top Skills</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>19.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
        </div>
        <h1 class="page-title">Урок 4: Самодисциплина
        </h1>
        <p id="0f68fd4a-3b3c-413d-b87e-d3327bf96b9d" class=""> На предыдущих уроках мы много говорили
            о внутреннем мире. Мы убедились, что сильный внутренний мир, наполненный позитивными мыслями и высокой
            самооценкой - надежный фундамент для успешной и счастливой жизни. Однако, чтобы построить такую жизнь,
            только
            правильных установок недостаточно. Да, они определяют направление вашей жизни, но, чтобы взобраться на ее
            вершины, нужно идти. Результат в жизни приносят только действия, активные и регулярные, предпринятые в
            правильном направлении. Все люди чего-то хотят, и о чем-то мечтают, но лишь немногие реально добиваются и
            реализуют свои мечты. Все люди что-то начинают, но большинство бросает на полпути, и лишь единицы доводят
            начатое
            до конца. Почему так происходит? Успешных людей отличает еще одно важнейшее качество, которое позволяет им
            делать необходимое, оставаться верными своим приоритетами добиваться результатов. Это качество можно
            называть
            по-разному - упорство, настойчивость, решимость, трудолюбие, организованность. Мы назовем его
            самодисциплиной и
            посвятим ему этот урок. Для начала, прочитайте внимательно цитату ниже, она убедительно формулирует роль
            этих
            составляющих в жизни человека:</p>
        <p id="6d675186-5b10-4ec3-9da8-d28474125503" class=""><em>Ничто в мире не заменит настойчивости. Талант не
            сможет: нет ничего более распространенного, чем талантливые люди, не добившиеся успеха. Гений не сможет:
            &quot;непризнанный гений&quot; - почти поговорка. Образование не сможет: мир полон дипломированных
            специалистов, которые ни на что не годятся. Настойчивость и воля к победе - два главных фактора успеха</em>
        </p>
        <p id="d7421562-03d7-428d-bc83-c8086dd8aa09" class="">К. Кулидж, 30-й президент США</p>
        <p id="c2ca481a-2c33-464b-97e4-797707415c27" class=""><strong>Самодисциплина</strong> - это способность
            действовать независимо от нашего эмоционального и физического состояния. На практике это означает
            способность доводить до конца принятые решения, независимо от своей лени, внешних условий и сиюминутных
            капризов. Вот простые примеры. Вы приняли решение делать по утрам зарядку (дополнительно заниматься
            английским, математикой). Или наоборот, вы приняли решение не наедаться на ночь (не засиживаться перед
            телевизором, в Интернете). Возможно, вы приступите к исполнению задуманного. Но через какое-то время у вас
            обязательно возникает желание отложить исполнение задуманного (на улице плохая погода, не выспался, ...).
            Человек говорит себе: &quot;ничего страшного, сегодня пропущу, завтра наверстаю&quot;. Завтра наступает, но
            находится новая &quot;причина&quot; не делать задуманное. И скоро данное себе обещание просто забывается.
            Знакомо? Именно для того чтобы доводить принятые решения до результата, необходима
            самодисциплина.</p>
        <p id="6a674b4f-9e9b-4893-8a1b-93eff3ec2f6e" class=""> Как ее развить? Давайте разбираться. У самодисциплины
            есть два уровня: сила воли и правильные привычки. Сила воли как способность заставить себя делать
            необходимое, несомненно, лежит в основе самодисциплины. В свою очередь, она может проявляться в трех
            плоскостях.</p>
        <p id="e410894b-54b6-40a9-9265-73ff9026ed69" class=""> Первая - сила &quot;я буду&quot;. Это ваша способность
            заставить себя делать то, что необходимо, невзирая на внутренние или внешние препятствия. У всех бывают
            моменты, когда просто не хочется вставать рано утром, заканчивать скучные задания, делать домашние дела,
            выполнять свои обязательства. Так уж устроен человек - наше настроение не всегда стабильно, мы испытываем
            как эмоциональные подъемы, так и спады. Умение преодолеть свое плохое настроение, лень и сказать: &quot;я
            это сделаю&quot; и есть ваша сила &quot;я буду&quot;. Когда вы встаете пораньше в воскресенье и делаете
            зарядку, вы пользуетесь своей силой &quot;я буду&quot;.</p>
        <p id="3150a45a-2f8e-4344-8523-6e85418704c6" class=""> Вторая плоскость - сила &quot;я не буду&quot;. Это умение
            отказываться от соблазнов, преодолевать свои слабости. Когда вы говорите себе &quot;я не буду сидеть часами
            за компьютерными играми&quot; и реально делаете это, то вы пользуетесь своей силой &quot;я не
            буду&quot;.</p>
        <p id="baa5cec5-9b22-401b-9589-17ffaf0e0ee8" class=""> Третья плоскость - сила &quot;я хочу&quot;. Часто в нас
            одновременно борются два противоречащих друг другу порыва - желание сиюминутное и долгосрочная цель.
            Например, потусоваться с друзьями или подготовиться к контрольной, чтобы успешно завершить полугодие. В этой
            плоскости, сила воли проявляется в умении сделать выбор в пользу более важного для вас, а не того, что проще
            и быстрее получить. И если вместо того, чтобы встретиться с друзьями, вы остаетесь дома заниматься, то вы
            воспользовались силой &quot;я хочу&quot;.</p>
        <p id="d13c37fc-1115-4a94-9567-5d1f3d12a83a" class=""> Каждая из этих &quot;сил&quot; важна. Первая помогает вам
            выполнять необходимое, вторая сила остерегает вас от ненужного и вредного, третья помогает помнить и
            оставаться верными своим истинным приоритетам. И чем сильнее ваши способности в каждый из этих плоскостей,
            тем крепче ваша сила воли.</p>
        <p id="c3039795-9b45-4e49-955b-7f2a0cab299a" class="">Как развить силу воли? Наша сила воли
            удивительным образом похожа на мышцу. И, как любую мышцу, ее можно укрепить путем регулярных тренировок.
            Выберите для себя какое-то задание, которое будет достаточно сложным, но выполнимым для вас. Честно оцените
            свой текущий уровень силы воли. Какая из трех ее проявлений требует наибольшего внимания: &quot;я буду&quot;,
            &quot;я не буду&quot; или &quot;я хочу&quot;? Лучше не подвергать себя нескольким испытаниям сразу.
            Начинайте с чего-то малого и постепенно, опираясь на небольшой прогресс, шаг за шагом, продвигайтесь вперед.
            Регулярность тренировок так же важна, как и сами испытания. Если вы прервете занятия, то вернетесь на
            прежний уровень. Сила воли всегда должна находиться в тонусе, а это значит не давать себе поблажек и не
            пропускать ни дня!</p>
        <p id="eff8f856-5138-4d8b-8247-d6a5959c5587" class="">Как это работает? Предположим, вы решили
            укрепить силу &quot;я буду&quot; и выбрали в качестве задания делать каждый день утреннюю зарядку. Начните с
            малого, например, для начала просто делайте 20 приседаний, но делайте их КАЖДОЕ утро. Через некоторое время
            добавьте отжимания от пола, затем упражнения на пресс и т.д. Если вы сразу начнете с полноценной зарядки,
            вероятнее всего, вы продержитесь недолго. НО если вы начнете с чего-то простого и будете постепенно
            увеличивать нагрузку, вы почувствуете и поверите в свою силу, увидите реальный результат своих усилий, и со
            временем у вас откроется &quot;второе дыхание&quot;. Чем дольше вы следуете выбранному испытанию, тем легче
            вам будет исполнять другие принятые решения. Ведь с каждым днем у вас копится успешный опыт и &quot;мышцы&quot;
            вашей воли крепнут. И наоборот. Бездействие подобно снежному кому: чем дольше пропуск, тем сложнее вернуться
            обратно в ритм.</p>
        <p id="8c57dbe2-7fa4-4b0c-87a8-6e7597603bc3" class="" style="">
            <mark class="" style="padding: 16px 16px 16px 12px;
            display: flex;
            width: 100%;
            border-radius: 3px;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            background: rgba(235, 236, 237, 0.3);">САМОДИСЦИПЛИНА ПОДОБНА МЫШЦЕ. ЕЕ МОЖНО И НУЖНО РАЗРАБАТЫВАТЬ РЕГУЛЯРНЫМИ
                ТРЕНИРОВКАМИ.
            </mark>
        </p>
        <p id="595324c8-dde1-4476-bcf1-2a4a52e0384c" class="">Что еще влияет на нашу силу воли?
            Новейшие исследования показывают, что на нашу способность управлять собой существенно влияют такие факторы,
            как сон, усталость, голод, стресс. Если вы не выспались, испытываете голод или сильный стресс, то много сил
            вашего организма будут направлены на преодоление этих факторов, в то время как сила воли снижается. И
            наоборот, если физиологические условия оптимальны, то сила воли крепче. Поэтому при работе над укреплением
            силы воли, сначала обеспечьте свой организм достаточным сном, правильным питанием, а также научитесь
            расслабляться и успокаиваться в стрессовых ситуациях. Об этом мы подробно поговорим в третьей четверти.</p>
        <p id="c54d6c9e-76a9-43ed-88be-5606f9603f63" class=""> Хорошо, с силой воли более-менее понятно. Тренировать,
            напрягаться преодолевать себя, бороться со слабостями. Скорее всего, у вас возник важный вопрос - неужели всю
            жизнь придется себя превозмогать? Да, для новых, непривычных начинаний, действительно необходима сила воли.
            НО! Для привычных действий, она не нужна! Если человек привык выполнять те или иные действия, то ему не
            нужно каждый раз преодолевать себя, чтобы это сделать. Вы ведь не заставляете себя каждый день умываться по
            утрам? Природа человека такова, что мы постоянно создаем привычные шаблоны поведения. Согласно результатам
            исследований, привычки формируются потому, что мозг стремится максимально экономить усилия и потому
            превращает в привычки большинство повторяющихся действий. Ведь сэкономленную умственную энергию можно
            направить на изобретение колеса, мельницы, самолетов, смартфонов, наконец.</p>
        <p id="4edf6ba1-8626-49fd-8843-24bb1864057d" class=""> Эта наша особенность может играть как против нас, так и
            быть очень серьезным помощником. Если вы разовьете дурные привычки, то будете всю жизнь мучиться. Если же
            заведете правильные, нужные вам привычки, то вам не придется все время прибегать к силе воли. Вы будете
            делать необходимое легко и непринужденно. Это и есть главный секрет самодисциплины: мобилизовав
            вначале силу воли, важные и нужные действия сделать привычными! Таким образом, успешный человек
            не просто обладает силой воли, он имеет большой набор привычек, которые ему помогают. Рано ложиться спать и
            рано вставать - привычка, позволяющая выспаться и накопить силы. Доводить начатое дело до конца - привычка,
            позволяющая достигать поставленных целей. Сначала думать, а потом делать - привычка, позволяющая принимать
            взвешенные решения. Это примеры хороших привычек. Люди, которые ими обладают, не мучаются, ежедневно пытаясь
            рано вставать, заставляя себя заканчивать намеченные дела или тщательно обдумывая предстоящее решение.
            Отнюдь, для них было бы труднее действовать иначе! Здорово?</p>
        <p id="00363764-fe5b-42bb-a73a-9b61a4d3a373" class=""> А теперь другие примеры. Вечно опаздывать - привычка.
            Часами валяться на диване перед телевизором или &quot;висеть&quot; в Интернете - привычка &quot;заедать&quot;
            стресс - тоже привычка. Давать обещания и не выполнять их - привычка. Постоянно ныть и жаловаться на
            окружающую жизнь - привычка. Очевидно, эти привычки надо беспощадно искоренять.</p>
        <p id="8d563527-86b7-4944-a6e0-616f2a80c930" class=""> Исследования показывают, что до половины ежедневных
            действий людей - это не реальные решения, а результат привычек. Поэтому, в известном смысле, любой
            человек - это набор его привычек. Если вы хотите знать, где пролегает различие между успешными
            и не успешными людьми, ответ прост: успешные люди - это люди с хорошими привычками, а не успешные - с
            плохими. И подростковый возраст как раз самое благоприятное время, чтобы сформировать свой великолепный
            набор полезных привычек.</p>
        <p id="4b7a15ba-8fb9-4e63-be10-f377b2f79b4b" class=""><strong>Как сформировать привычку? </strong>Естественно,
            прежде всего необходимо определиться с тем, какую привычку вы хотели бы сформировать. Вот возможный перечень
            хороших привычек:</p>
        <ul id="216659a8-0ab8-409e-b8ae-b8fef9d1db86" class="bulleted-list">
            <li>ранний подъем;</li>
        </ul>
        <ul id="4b05cf1f-5793-4760-b47e-aecf2ea1fefe" class="bulleted-list">
            <li>контрастный душ каждое утро;</li>
        </ul>
        <ul id="3f0ffd47-4435-439d-a643-6ea03177cd3b" class="bulleted-list">
            <li>ежедневная зарядка/прогулка/пробежка/растяжка;</li>
        </ul>
        <ul id="35eed153-8e93-40b9-97da-419753ff118d" class="bulleted-list">
            <li>ежедневная медитация/ведение дневника/записей/блога;</li>
        </ul>
        <ul id="42fbe6f8-0bfb-45ce-8438-82a2b24be4b7" class="bulleted-list">
            <li>ежедневное чтение в течение получаса развивающих книг;</li>
        </ul>
        <ul id="4892571c-b401-487f-8614-becc53ed79ba" class="bulleted-list">
            <li>ежевечернее составление списка дел на предстоящий день;</li>
        </ul>
        <ul id="02635bc4-d2eb-4c0e-8adc-08d3e1258d39" class="bulleted-list">
            <li>каждый день делать кому-нибудь искренний комплимент;</li>
        </ul>
        <ul id="723034bb-8287-4e47-9e13-fb76118f229c" class="bulleted-list">
            <li>каждый день учить 10 новых иностранных слов;</li>
        </ul>
        <ul id="c02a5391-9f28-4942-880b-4acc56ee5f1a" class="bulleted-list">
            <li>приходить всегда вовремя;</li>
        </ul>
        <ul id="622ef2c4-7b00-494e-8ab7-37f0154e34e8" class="bulleted-list">
            <li>делать все своевременно;</li>
        </ul>
        <ul id="edf309a8-b918-4b8f-b119-44d17fb4f78b" class="bulleted-list">
            <li>...</li>
        </ul>
        <p id="b6e1e803-01c4-4c84-8c26-ea28a61dd00d" class=""> Для формирования новых привычек есть интересный способ.
            Назовем его &quot;методом испытательного срока&quot;. Вы выбираете привычку, которую хотите выработать.
            Продумайте конкретное действие для ее развития и выполняйте его ЕЖЕДНЕВНО в течение следующего месяца. Лучше
            всего, если вы определите заранее конкретное время, когда будете это делать. Это не даст вам лазейки
            оттягивать до последнего момента и увеличит шансы на успех. Так же как и с испытаниями силы воли, действие
            должно быть посильным, выполнимым. Не забывайте, что вам придется выполнять его КАЖДЫЙ ДЕНЬ в течение
            следующих 30 дней. Возьмите обязательство дойти до конца эксперимента и не делать преждевременных выводов.
            По истечении испытательного срока вы можете отказаться от привычки, если по каким-либо причинам она вам не
            нравится. </p>
        <p id="7526ba94-71e5-4e24-b5d1-4bcef4ed9545" class=""> Почему именно 30 дней? Невозможно заранее сказать, через
            какое время действие укоренится и станет привычкой. Это зависит от психики конкретного человека, силы его
            прежних привычек, настроя и мотивации, сложности самого действия и т.д. Некоторые психологи говорят, что для
            развития привычки достаточно трех недель. Другие считают, что нужно не менее 30, 60 и даже 90 дней. Для
            определенности, мы выберем срок в один месяц. За это время вы точно укрепите силу воли и если не сформируете
            привычку окончательно, то заложите ее основы. Если после 30 дней вы решите закрепить привычку, то просто
            продолжайте ежедневно выполнять задуманное действие дальше.
        <div class="">
            <p id="00c210de-a922-41a8-9695-3d97717b56a6" class=""> Почему важно выполнять действие
                КАЖДЫЙ день? На первых этапах вам неизбежно придется пользоваться силой воли, так как действие для вас
                новое
                и непривычное. Вспомните про свойства силы воли, пропуски ослабляют ее, отбрасывают вас назад. И
                наоборот,
                каждое новое повторение дается легче, так как укрепляется психологический шаблон конкретного поведения,
                т.е.
                сама привычка. Плюс эмоциональный подъем от мысли, что вы реально управляете собой! Если все же пропуск
                произошел, то начинайте отчет заново.</p>
            <p id="9a8bdadd-ac40-4062-aeb2-094a2d916549" class=""> Это правило может стать хорошим стимулом, особенно на
                29 день! Обязательно фиксируйте результаты, отмечайте каждый выполненный день. Чем больше их будет
                становиться, тем проще вам будет идти вперед. Когда привычка сформируется окончательно, через месяц или
                два, вы сможете позволить себе небольшие пропуски и без проблем восстановите прежний ритм ее
                исполнения.</p>
            <p id="d55375c0-24f3-4d7b-bc19-54ae761a4508" class=""> &quot;Метод испытательного срока&quot; можно
                использовать не только для создания новый, но и для искоренения плохих привычек. Вот
                возможный перечень плохих действий, ставших привычными:</p>
            <ul id="8473cde8-e39b-442c-83bf-9587330427e4" class="bulleted-list">
                <li>подолгу сидеть перед телевизором;</li>
            </ul>
            <ul id="5673f743-d4f5-4d62-96f4-4eee1fadc2c3" class="bulleted-list">
                <li>&quot;висеть&quot; в Интернете;</li>
            </ul>
            <ul id="6a3e1077-d6f2-4232-a986-540430815056" class="bulleted-list">
                <li>болтать по телефону;</li>
            </ul>
            <ul id="896f7c6c-fad8-4990-af7b-b9192ef5462f" class="bulleted-list">
                <li>наедаться на ночь;</li>
            </ul>
            <ul id="86e8ca8d-8e16-40e6-9516-200adc125604" class="bulleted-list">
                <li>откладывать дела &quot;до последнего&quot;;</li>
            </ul>
            <ul id="18183f77-88a5-4b22-8895-acf7212736a9" class="bulleted-list">
                <li>опаздывать;</li>
            </ul>
            <ul id="53ac340f-691b-4833-aae1-ab813f390faf" class="bulleted-list">
                <li>грызть ногти;</li>
            </ul>
            <ul id="6bad24d7-4810-402f-93d1-7141f0af7a5d" class="bulleted-list">
                <li>абсолютно вредные привычки: курение, алкоголь, наркотики;</li>
            </ul>
            <ul id="4707e7cb-eb37-4979-b3d0-5e9961602f0d" class="bulleted-list">
                <li>...</li>
            </ul>
            <p id="99dd8c47-463c-4a56-bed5-fa4fff650ac8" class=""> Для того чтобы избавиться от плохих привычек, важно
                понять механизм их действия. Ученые утверждают, что привычка работает в виде трехэтапного процесса:
                &quot;триггер→действие→награда&quot;. Триггер - это ситуация или чувство, которое &quot;запускает&quot;
                у вас желание действовать определенным образом. Наталкиваясь на него, вы автоматически выполняете это
                действие, в результате чего получаете некую награду, к которой подсознательно стремитесь. Например, у
                вас сформировалась привычка наедаться на ночь. Вы это делаете, потому что этим удовлетворяется какая-то
                ваша потребность (но не голод, незадолго до этого вы поужинали и не можете быть голодным). Скорее всего,
                это стремление снять накопившееся за день напряжение, расслабиться. Есть даже специальный термин -
                &quot;заесть&quot; стресс. После принятия пищи кровь отливает к желудку, и мозг расслабляется.
                Подсознание фиксирует, как &quot;награду&quot; и при первой возможности будет подталкивать вас к
                получению ее снова и снова. В качестве триггера может выступить все что угодно: вид домашнего
                холодильника, вкусные запахи из соседней квартиры, наконец, просто головная боль и память, что еда может
                ее снять. После многократных повторений &quot;триггер→действие→награда&quot;, &quot;триггер→действие→награда&quot;,
                ..., эта триада становится все более автоматической. С точки зрения нейрофизиологии это означает, что в
                нашем мозге сформировались устойчивые нейронные связи, которые запускаются триггером, и вся цепочка
                связей реализуется автоматически. И проблема в том, что мозг не отличает плохие привычки от хороших.</p>
            <p id="85fdf759-13ec-4d1d-a431-d2deebfcad5f" class=""> Искоренение плохих привычек на самом деле - задача
                очень непростая, особенно если они формировались и закреплялись годами. Спросите об этом у любого
                взрослого, кто, скажем, пытался бросить курить. Поэтому, наилучшее решение - просто не допускать
                образования плохих привычек. Ведь они тоже формируются не в одночасье. Если следить за собой, их
                развитие можно &quot;перехватить&quot;. Но, если они уже сформировались, есть &quot;секрет&quot; из двух
                шагов, который поможет от них избавиться. Прежде всего, необходимо предельно ясно осознать привычку как
                вредную и принять твердое решение от нее избавиться. В вышеприведенном примере, почему привычка
                наедаться плохая? Потому что это непосредственно влияет на ваше здоровье, кратчайшим путем ведет к
                ожирению, на следующее утро вы просыпаетесь с тяжелой головой, и т.д. Поэтому ничего кроме вреда в этой
                привычке нет. Это нужно совершенно ясно понять. Второе. Мы говорили, что благодаря &quot;плохой&quot;
                привычке удовлетворяется какая-то потребность человека. Допустим, вы наедаетесь на ночь, чтобы
                расслабить уставший за день мозг. Поэтому &quot;секрет&quot; заключается в том, чтобы придумать другой
                способ получения той же &quot;награды&quot; - расслабления. Альтернативой может быть поход в тренажерный
                зал, вечерняя прогулка с друзьями, хорошая книга, медитация, или что-то другое. Таким образом, старую
                привычку вы заменяете новой, создаете новую нейронную цепочку привычных действий. Вместо ежевечернего
                поедания пищи - ежевечернее чтение любимой книги, например. Без этой замены старая привычка обязательно
                вернется, это вопрос времени.</p>
            <p id="0d439b43-57ff-417f-abee-7ad80086ce9b" class=""> Открытие механизма работы привычек в виде триады:
                &quot;триггер→действие→награда&quot; позволяет существенно упростить формирование хороших привычек.
                Секрет заключается в том, чтобы сфокусироваться на &quot;награде&quot;. Например, что может быть
                наградой за ежедневную утреннюю зарядку? Более крепкое здоровье - раз. Сильное, красивое, стройное тело
                - два. Прекрасный тонус в течение всего дня - три. Более высокая работоспособность - четыре. Четкое
                осознание, что вы управляете собой - пять. Список можно продолжить, но разве сказанное не стоит 15-20
                минут потения по утрам?! Сосредоточьтесь на этих наградах, это очень облегчит формирование хорошей
                привычки. Триггером для утренней зарядки может быть спортивная одежда, кроссовки, коврик, гантели,
                приготовленные на видном месте с вечера. Через 30-90 дней утренняя разминка станет хорошей привычкой,
                которую будет труднее пропустить, чем сделать. </p>
            <p id="fc10f02f-b0bf-44bc-a5a0-03d11ff2ce03" class=""> Многочисленные исследования людей, сбросивших
                килограммы лишнего веса, показывают, что именно желание получить награду - стройную фигуру, вытесняло
                очень сильный соблазн бросить все и вернуться к старому образу жизни. Страстное желание, которое
                проистекает от ясного осознания преимуществ &quot;награды&quot; - вот что формирует
                привычки. Крайне важно это желание, или выражаясь научным языком - мотивацию, поддерживать.
                Как правило, не так сложно начать какое-то хорошее дело. Гораздо сложнее продолжить. Первоначальный
                энтузиазм со временем тает, и человек бросает начатое. Всячески подпитывайте свой энтузиазм. Еще и еще
                раз ясно представляйте себе. что вы обретете, когда дойдете до конца (красивая фигура, более
                организованный день, надежное здоровье, больше успевать, отличный тонус и т.д.). Кроме этого,
                дополнительной мотивацией могут быть чтение соответствующих книг, прослушивание аудиопрограмм, поддержка
                близких, напарник по привычке, и т.д., - ищите! Найдите свою самую действенную мотивацию, которая
                придаст вам сил двигаться дальше и поддержит в минуты слабости. Вспоминайте о ней каждый раз, когда вы
                испытываете искушение или готовы сдаться. Исследования показывают, что постоянное &quot;подкармливание&quot;
                мотивации позитивными материалами позволяет сохранить ее неограниченно долго!</p>
            <p id="211bb5dc-8476-4798-b313-8a750477be3b" class=""> И, наконец, самое главное. У вас есть сильнейшее
                оружие в любой работе над собой. Это - визуализированные аффирмации, о которых мы говорили на предыдущих
                уроках. Как это может помочь вам в укреплении силы воли и формировании хороших привычек? Возьмем пример
                с той же зарядкой. Ваше самовнушение на предстоящие месяц-два может быть таким: <em>&quot;Я каждое утро,
                    с 6 до 6:30, делаю зарядку. Я получаю огромное удовольствие от того, что мое тело с каждым днем
                    становится более сильным и стройным, а мое здоровье - несокрушимо крепким&quot;</em>. Такие же
                аффирмации можно составить на любую другую желаемую привычку. Только не забывайте о принципах
                самовнушения, которые мы описали во втором уроке этой четверти. Визуализированные аффирмации - это
                &quot;оружие прямого действия&quot;, кратчайший способ создания и закрепления на самых глубинных уровнях
                подсознания нужных установок.</p>
            <p id="3342014a-9728-438d-bca4-5fc750a88264" class=""> Еще раз напомним, что практически любое ваше действие
                - это результат либо внушения, либо самовнушения, принятого вашим подсознанием. Допустим, вы недавно
                решили сесть на диету. Это означает, что какое-то внешнее событие, совет друзей или близких, привело вас
                к этому решению. В любом случае новое действие сначала сформировалось в вашем подсознании в качестве
                новой установки - &quot;мне нужно похудеть&quot;. Просто вы этого не осознаете. То, что предлагается в
                этой книге - то же самое, но только делать это осознанно, самому выстраивая свою жизнь. Мы предлагаем
                вам самостоятельно выбирать свои установки, осознанно развивать необходимые и полезные привычки. В таком
                случае и результат у вас будет гораздо быстрее и лучше. Понимаете?</p>
            <p id="0f61b958-939d-4cd3-a8a7-d1d8f5199e95" class=""> Самое замечательное в развитие правильных привычек
                это то, что в отличие от многих других областей жизни, в этом деле результат на 100% в ваших руках.
                Единственное, что может вас остановить, - только вы сами. При правильном настрое, терпеливом подходе и
                регулярности абсолютно реально развить в себе любую привычку, какой бы сложной она вам ни казалась на
                данный момент.</p>
            <div style="margin-bottom: 2rem; height: 22rem" class="d-inline-flex mt-4">
                <iframe class="h-100 w-75 mr-5" src="https://www.youtube.com/embed/Les9GTYpm30" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <p id="91f29065-a7d5-4073-baac-9e00d1b195e5" class=""> Посмотрите ролик от компании Nike &quot;Судьба&quot;.
                Он прекрасно демонстрирует главную идею этого урока - человек сам формирует свою судьбу, путем
                ежедневного кропотливого труда и усилий над собой.</p>
            <p id="c86b76de-d92f-4e0d-8c3e-5301474fd282" class=""> В заключение, проанализируйте внимательно
                представленные ниже результаты исследований привычек богатых и бедных людей, проведенных журналом Forbes
                в 2013 году.</p>
            <p id="5c8fe9b3-6261-4ac7-aa2e-0e0fe6f0a595" class=""><strong>Составление списков дел:</strong> богатые -
                81%, бедные - 9%.</p>
            <p id="cb886398-bc75-4a19-819a-acf6dd1cb4e8" class=""><strong>Просыпаются за 3 и более часа до
                работы:</strong> богатые - 44%, бедные - 3%.</p>
            <p id="9640c4de-4989-4507-bd91-9e754d8e69c6" class=""><strong>Слушают аудиокниги, когда есть свободное время
                между делами:</strong> богатые - 63%, бедные - 5%.</p>
            <p id="097ebc80-9736-4c2c-826e-31d2741cd313" class=""><strong>Читают каждый день полчаса и больше:</strong>
                богатые - 88%, бедные - 2%.</p>
            <p id="2cde784c-9649-45d1-9deb-010aff4cd500" class=""><strong>Занимаются физическими упражнениями 4 раза в
                неделю:</strong> богатые - 76%, бедные - 23%.</p>
            <p id="a25af84b-fb8c-4407-bc8b-8a8d7c5138b0" class=""><strong>Просмотр реалити-шоу на телевидении:</strong>
                богатые - не более 5%, бедные - более 75%.</p>
            <p id="176cd507-33a2-431c-a80b-4524a50de250" class="">Воспитание детей.</p>
            <p id="f36008ff-62b5-403f-b6f8-f5853324c804" class=""><strong>Учат своих детей хорошим привычкам, которые
                приводят к успеху:</strong> богатые - 74%, бедные - 1%.</p>
            <p id="2699a0cb-6bd4-448d-a433-61e4a20b2ef2" class=""><strong>Дети работают в качестве волонтером 10 и более
                часов в неделю:</strong> богатые - 70%, бедные - 3%. </p>
            <p id="6661a347-e76a-45a5-ab2c-18aee01b3bca" class=""><strong>Поощряют прочтение детьми двух и более
                развивающих книг в месяц:</strong> богатые - 63%, бедные - 3%.</p>
            <p id="2e8e8d6f-1fad-4ed6-881b-bcae09f67939" class=""><strong>Записывают свои цели:</strong> богатые - 67%,
                бедные - 17%.</p>
            <p id="6633a800-5c94-4cf7-a26d-7a5408cc8fe7" class=""><strong>Концентрируются на достижении конкретных
                целей:</strong> богатые - 80%, бедные - 12%.</p>
            <p id="3666be0f-38ed-416b-a370-ed6a5e47acf0" class=""><strong>Верят в то, что правильные привычки помогают в
                жизни:</strong> богатые - 84%, бедные - 4%.</p>
            <p id="012a2230-d85f-49fa-a7c0-6b9be6e1f17c" class=""><strong>Верят в то, что плохие привычки имеют
                негативные привычки имеют негативное влияние:</strong> богатые - 76%, бедные - 9%.</p>
            <p id="8d505f92-78e6-46e5-bfcb-4c287ae35b31" class=""> Если просуммировать одной фразой представленные
                результаты, то итог будет следующим: богатые люди постоянно работают над собой, в то время как
                бедные - пассивно следует течению своей жизни. Кстати, согласно этому журналу, самым
                богатым
                человеком в мире в 2013 г. был признан Карлос Слим, мексиканский бизнесмен арабского происхождения,
                состояние которого превысило 73 млрд. долларов. Другой знаменитый миллиардер, основатель Microsoft Билл
                Гейтс, с состоянием 67 млрд. долларов, оказался на втором месте. Ну, и наконец, согласно тому же Forbse,
                почти 300 из 400 американцев, которые попали в список самых богатых людей мира, самостоятельно
                заработали
                свое богатство, а не получили его по наследству.</p>
            <p id="70da8cbb-f50e-44c3-9ece-79e02d7b9af4" class=""> Таковы факты, выводы делайте сами.</p>
        <h2 class="my-4">РЕЗЮМЕ УРОКА</h2>
        <ul id="4578b675-bf37-46db-bc3f-cd7e31540b62" class="bulleted-list">
            <li>Самодисциплина - способность человека управлять своим поведением вне зависимости от внутренних или внешних
                условий. Именно это качество отличает людей, которые реально добиваются результатов, от простых мечтателей.
            </li>
        </ul>
        <ul id="a2d00509-68e0-4431-ae19-7c0ea408f002" class="bulleted-list">
            <li>Самодисциплина складывается из двух составляющих - крепкой силы воли и правильных привычек.</li>
        </ul>
        <ul id="552a9693-9404-4a69-9556-21fb7590e96c" class="bulleted-list">
            <li>Сила воли - способность человека сделать правильный выбор и следовать ему, несмотря ни на что. Она
                проявляется в трех формах - &quot;я буду&quot;, &quot;я не буду&quot;, &quot;я хочу&quot;. Сила воли подобна
                мышце. С помощью РЕГУЛЯРНОЙ и ПРАВИЛЬНОЙ нагрузки, ее можно увеличить.
            </li>
        </ul>
        <ul id="ae793cd8-261a-4e4a-86a0-99754ae822fe" class="bulleted-list">
            <li>Сила воли необходима для новых, непривычных, действий. Но для привычных не нужна! Поэтому &quot;секрет&quot;
                заключается в том, чтобы нужные вам действия превратить привычки.
            </li>
        </ul>
        <ul id="bfedbc36-b246-4d20-a9be-fb59f335f9a4" class="bulleted-list">
            <li>Человек - это набор его привычек. Поэтому успешные люди - это люди с &quot;правильными&quot; привычками, а
                не успешные - с плохими.
            </li>
        </ul>
        <ul id="dc696b31-71eb-444a-b3b7-cbf535d4b478" class="bulleted-list">
            <li>Для того чтобы сформировать привычку, можно воспользоваться &quot;методом испытательного срока&quot;. Вы
                выбираете определенное действие и в течение месяца выполняете его каждый день, без исключения. По окончании
                срока вы оцениваете результат и решаете оставлять привычку или нет.
            </li>
        </ul>
        <ul id="b7657139-86ad-451f-a5df-40005af8898d" class="bulleted-list">
            <li>Обязательно поддерживайте себя ежедневной визуализированной аффирмацией! Это кратчайший путь глубинных
                изменений к лучшему.
            </li>
        </ul>
        <h2 class="my-4">ПОЛЕЗНЫЕ ССЫЛКИ</h2>
            <ol id="ce240be4-ad4c-4b05-a210-20d46637aed8" class="numbered-list" start="1">
                <li>Келли Макгонигал &quot;Сила воли. Как развить и укрепить&quot;.</li>
            </ol>
            <ol id="2bc46174-ccfc-4f58-8b72-bf5c438c47d8" class="numbered-list" start="2">
                <li>Чарльз Дахигг &quot;Силы привычки&quot;.</li>
            </ol>
            <ol id="b4c1751a-2e06-4fa7-9275-cb92eb18a9ef" class="numbered-list" start="3">
                <li>Брайн Трейси &quot;Привычки на миллион долларов&quot;.</li>
            </ol>
            <ol id="2cf7e7ae-3b1c-4475-89e4-b67702e037f7" class="numbered-list" start="4">
                <li>
                    <mark class="highlight-blue"><a href="http://lifehacker.ru/2014/07/13/12-ploxix-privychek/">http://lifehacker.ru/2014/07/13/12-ploxix-privychek/</a>
                    </mark>
                    - статья о популярных вредных привычках, от которых стоит избавиться незамедлительно. На этом сайте
                    есть
                    также несколько других статей на тему силы воли и привычек, рекомендуем ознакомиться.
                </li>
            </ol>
            <ol id="fd8c291f-be13-4ca5-a544-f5004740ecff" class="numbered-list" start="5">
                <li><a href="http://www.allstevepavlina.ru/self-discipline">
                    <mark class="highlight-blue">http://www.allstevepavlina.ru/self-discipline</mark>
                </a> - перевод статьи Стива Павлины о самодисциплине.
                </li>
            </ol>
            <ol id="e9e09a01-37df-4b25-bd44-d2726453a269" class="numbered-list" start="6">
                <li>
                    <mark class="highlight-blue"><a href="http://www.allstevepavlina.ru/30-days-to-success">http://www.allstevepavlina.ru/30-days-to-success</a>
                    </mark>
                    <mark class="highlight-blue"> -</mark>
                    перевод статьи Стива Павлины о развитии привычек.
                </li>
            </ol>
            <span style="border-bottom: 3px solid blue" class="pb-4">
			    <a href="{% url 'first_chapters_self_discipline_list' %}" class="d-inline-flex text-decoration-none">
				    <h3 style="color: black;">Перейти к домашнему заданию</h3>
			    </a>
			    <span class="oi oi-arrow-right ml-2" style="font-size: 2rem"></span>
		    </span>
        </div>
        <a href="#"><span class="oi oi-arrow-top float-right rounded-circle py-3 px-4"
                          style="color: black; border: 3px solid black; font-size: 2.5rem"></span></a>
        <div class="mt-5 w-100 justify-content-center d-inline-flex">
            <img src='{% static "img/images_for_tree/Yoga.svg" %}' alt="" class="rectang"/>
        </div>
    </div>
</article>

{% endblock %}
