{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,">
    <link rel="shortcut icon"   type="image/x-icon"  href="{% static '/mainsite/images/base/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'mainsite/mobile/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'mainsite/mobile/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'mainsite/mobile/css/open-iconic-bootstrap.css' %}">


    
    
    <title>Mobile TS</title>
  </head>
  <body>
<header>
  <nav class='header-nav row'>
    <div class="header-logo">
      <p class="logo-main-txt">TopSkills</p>
      <p class="logo-secondary-txt">Фабрика твоих успехов</p>
    </div>
    <button class="menu-button">
    </button>
  </nav>
  
    <nav class='header-menu'>
      <a href="#" class='header-menu-a header-menu-a-first'>Навигация по сайту</a>
      <!-- <a href="#" class='header-menu-a'>Войти</a> -->




      <a href="#" class='header-menu-a'>Настройки</a>
      <a href="#" class='header-menu-a'>Главная</a>
      <a href="#" class='header-menu-a'>Новости</a>
      <a href="#" class='header-menu-a'>О нас </a>
      <a href="#" class='header-menu-a'>Задать вопрос</a>
      <a href="#" class='header-menu-a'>Контакты</a>

      <p class='header-menu-txt'>2020 TopSkills, все права защищены
        Логотип компании является товарным знаком компании TopSkills</p>
    </nav>
  
  <div class="header-container">
  <p class="header-hi-txt">Приветствтуем тебя :) <br>
    С чего начнем?</p>
    <div class="header-blue-line"></div>
    <div class="header-buttons">
      <!-- <button class="header-btn header-btn-enter"> -->
        {% if user.is_authenticated %}
        
          <button type="sumbit" onclick="location.href='{% url 'logout' %}'" class='header-btn header-btn-enter'>Выход</button>
        {% else %}
          
          <button type="sumbit" onclick="location.href='{% url 'login' %}'" class='header-btn header-btn-enter'>
            <img src="../../static/mainsite/mobile/img/user.png" width='35%' alt="">
            <img src="../../static/mainsite/mobile/img/enter.png" width='85%'class='header-btn-txt' alt="">
          </button>
          <!-- <button type="sumbit" onclick="location.href='{% url 'signup' %}'" class='header-btn header-btn-enter'>Регистрация</button> -->
        {% endif %}
        
        
      <!-- </button> -->
      <button class="header-btn header-btn-changeLanguage">
        <img src="../../static/mainsite/mobile/img/changeLanguage.png" width='35%' class='header-btn-changeLanguage-img' alt="">
        <img src="../../static/mainsite/mobile/img/change.png"width='85%' class='header-btn-txt' alt="">
      </button>
      <button class="header-btn header-theme">
        <img src="../../static/mainsite/mobile/img/moon.png" width='35%' alt="">
        <img src="../../static/mainsite/mobile/img/themp.png" width='85%' class='header-btn-txt'alt="">
      </button>
    </div>
    <button class='header-arrow'>
      <img src="../../static/mainsite/mobile/img/Group 204.png" alt="">
    </button>
  </div>
</header>
<section id='whatWeDo'>
  <p class="whatWeDo-title">Кто мы и что делаем?</p>
 <img class="whatWeDo-vector"src="../../static/mainsite/mobile/img/blueVectors.png" alt="">
  <p class="whatWeDo-txt">Весь проект создается по книге Гильмутдинова А.Х и  Гильмутдиновой А.А “Уроки лидерства: Курс личносного развития”. 
    Мы команда специалистов в разных областях, наша задача напрявлять людей на важные дела, помогая им в трудной ситуации и поддерживая их на всем пути. Сейчас мы занимаемся геймификацией этой книге в удобной для полльзователей среде. </p>
</section>
<section id='whyWe'>
  <p class="whyWeTitle">Почему именно мы?</p>
  <img src="../../static/mainsite/mobile/img/girl.png" class='whyWe-img'alt="">
  <p class="whyWeTxt">Все просто! Наша команда старается помогать людям, которые сбились
    с колеи жизни, кому нужна мотивация творить чудеса. 
    Нам не важны препятствия и невзгоды, нам нужны победы и только победы! Мы ценим наших друзей и помогаем им во всем!</p>
</section>
<section id='forWho'>
  <p class="forWho-title">Для кого это?</p>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        
          <img src="../../static/mainsite/mobile/img/man.png" class='slider-img slider-img-man'alt="">
          <p class='slider-txt slider-txt-man'>Для тех, кому надоела рутинная жизнь
            и повседневные заботы.Кто хочет измениться в жизни
            и стать тем, кем мечтал стать
            всю жизнь!
          </p>
        
      </div>
      <div class="carousel-item">
        
        <img src="../../static/mainsite/mobile/img/cosmonaut.png" class='slider-img slider-cosmonaut' alt="">
        <p class='slider-txt slider-txt-cosmonaut'>
          Для тех, кому надоела рутинная жизнь
и повседневные заботы.Кто хочет измениться в жизни
и стать тем, кем мечтал стать
всю жизнь!
        </p>
        
      </div>
      <div class="carousel-item">
        
        <img src="../../static/mainsite/mobile/img/women.png"class='slider-img slider-img-women' alt="">
        <p class='slider-txt slider-txt-women'>Для людей, которые не определились
          в жизни и хотят изменить все
          в своей жизни, наладить отношения
          в обществе, выбрать профессию
          и тд.</p>
       
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <img class='slider-prev'src="../../static/mainsite/mobile/img/slider-arrow.png" alt="">
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <img src="../../static/mainsite/mobile/img/slider-arrow.png" alt="">
    </a>
  </div>
</section>
<section id='question'>
  <p class="question-title">Есть вопросы?</p>
  <p class="question-txt">Не стесняйся задавать нам свои вопросы,
    и наш сотрудник,Барсик обязательно ответит 
    на ваши вопросы.</p>
    <button class='question-btn'>Задать вопрос</button>
    <img src="../../static/mainsite/mobile/img/cat.png" alt="">
</section>
<footer id='footer'>
  <div class="footer-grid">
    <div class="footer-grid-col">
      <p class="footer-grid-title">Информация</p>
      <a href="{% url 'aboutus' %}" class='footer-a'>О нас
      </a>
      <a href="#" class='footer-a'>Карьера</a>
      <a href="#" class='footer-a'>Контакт</a> <br>
      <a href="#" class='footer-a'>Блог</a>
    </div>
    <div class="footer-grid-col">
      <p class="footer-grid-title">Информация</p>
      <a href="#" class='footer-a'>О нас
      </a>
      <a href="#" class='footer-a'>Карьера</a>
      <a href="#" class='footer-a'>Контакт</a><br>
      <a href="#" class='footer-a'>Блог</a>
    </div>
  </div>
  <p class='footer-txt'>2020 TopSkills, все права защищены
    Логотип компании является товарным знаком компании TopSkills</p>
</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src='{% static "mainsite/mobile/script/bootstrap.min.js" %}'></script>
    <script src='{% static "mainsite/mobile/script/script.js" %}'></script>
    <script src='{% static "mainsite/mobile/script/script.js" %}'></script>
    <!-- {% static 'mainsite/js/move.js' %} -->
    <!--FONTS-->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </body>
</html> 