{% extends 'mainsite/base.html' %}  {% block content %}
{% load static %}



<div>
	<div class="stopka">
		<a href="/" class="back"><-Назад</a>
		<a  class="info">Главная> О нас</a>
	</div>

	<div class="baner" style="">
		<img src='{% static "img/images_for_aboutus/Rectangle.jpg" %}' alt="" class="rectang" />
	</div>
	<div class="aboutus_text">
  		<div class="aboutus_text_view">
      		<p class="aboutus_title">Кто мы и что делаем?</p>
      		<p class="aboutus_fixing">Все просто! Наша команда старается помогать людям, которые сбились с колеи жизни, а также тем, кому нужна мотивация творить чудеса. С нами ты поймешь, как найти дело своей жизни и максимально реализовать заложенный в человеке огромный потенциал: интеллектуальный, физический и духовный. Мы предоставим тебе много интерактивных инструментов, которые мы не просто добавили в наш проект, основываясь на наших знаниях, но и проверили их эффективность. И мы готовы этим поделиться.
      		</p>
    	</div>
  		<div class="aboutus_text_view">
      		<p class="aboutus_title">Почему именно мы <span>?</span></p>
        	<p class="aboutus_fixing">Все просто! Наша команда старается помогать людям, которые сбились с колеи жизни, а также тем, кому нужна мотивация творить чудеса. С нами ты поймешь, как найти дело своей жизни и максимально реализовать заложенный в человеке огромный потенциал: интеллектуальный, физический и духовный. Мы предоставим тебе много интерактивных инструментов, которые мы не просто добавили в наш проект, основываясь на наших знаниях, но и проверили их эффективность. И мы готовы этим поделиться.</p>
   		</div>
   		<div class="aboutus_text_view">
     		<p class="aboutus_title"> Почему мы создали сайт/приложение по книге? </p>
     		<p class="aboutus_fixing">Мы  решили сделать процесс чтения  намного интереснее. Также выполняя различные задания, вы развиваете себя как личность. Наша команда во главе с автором книги «Уроки лидерства» А.Х.Гильмутдиновым решила передать эти бесценные знания и опыт, которые вы получите после прохождения всего пути.  </p>
   		</div>
</div>
 <div>
 	<p class="aboutus_title" style="padding-top: 70px;text-align: center;"> Наша команда  </p>
 	<div>
	 	<p class="aboutus_group"> Авторы книги </p> <img src="{% static "img/images_for_aboutus/book.jpg" %}" alt="2"> 
	 		<div class="aboutus_two">
	 			<div>
		 			<a href="">
		  				<img src="{% static "img/images_for_aboutus/Ellipse01.svg" %}" alt="2">
		 			</a>
		 			<div>
		 			<p class="aboutus_personaj">Альберт Гильмутдинов </p> <p class="aboutus_personaj_info">Автор книги и идейный вдохновитель</p> </div>
	 			</div>
	 			<div>
		 			<a href="">
		 				<img src="{% static "img/images_for_aboutus/Ellipse02.svg" %}" alt="5">
		 			</a>
		 			<p class="aboutus_personaj"> Алина Гильмутдинова </p> <p class="aboutus_personaj_info">Соавтор книги</p>
				</div>
			</div>
	</div>
	<div>
	 	<p class="aboutus_group"> Менторы </p> <img src="{% static "img/images_for_aboutus/win.jpg" %}" alt="2"> 
			<div class="aboutus_three">
				<div>
			 		<a href="">
			  			<img src="{% static "img/images_for_aboutus/Ellipse03.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Дмитрий Седелков </p> <p class="aboutus_personaj_info">Какой-то текст</p>
			 	</div>
			 	<div>	
			 		<a href="">
			  			<img src="{% static "img/images_for_aboutus/Ellipse04.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Павел Борисович</p> <p class="aboutus_personaj_info">Какой-то текст</p>
			 	</div>
			 	<div>	
			 		<a href="">
			      		<img src="{% static "img/images_for_aboutus/Ellipse05.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Алина Салихова</p> <p class="aboutus_personaj_info">Какой-то текст</p>
			 	</div>
			</div> 		
	</div>
	<div>
		<p class="aboutus_group"> Руководители </p><img src="{% static "img/images_for_aboutus/clapperboard.jpg" %}" alt="2"> 
			<div class="aboutus_two">	
				<div>	
					<a href="">
			  			<img src="{% static "img/images_for_aboutus/Ellipse06.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Азат Нургалиев</p> <p class="aboutus_personaj_info">Главный руководитель</p>
			 	</div>
			 	<div>
			 		<a href="">
			 			 <img src="{% static "img/images_for_aboutus/Ellipse07.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Эльдар Муратов</p>  <p class="aboutus_personaj_info">Зам руководителя/Разработчик</p>
		 		</div>
		 	</div>	
	</div>
	<div>
	 	<p class="aboutus_group"> Разработчики </p><img src="{% static "img/images_for_aboutus/web-development.jpg" %}" alt="2"> 
			<div class="aboutus_three">
				<div>
			 		<a href="">
			  			<img src="{% static "img/images_for_aboutus/Ellipse08.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Нодир Расулов</p> <p class="aboutus_personaj_info"> 20-лет, холостяк</p>
			 	</div>
			 	<div>
			 		<a href="">
			  			<img src="{% static "img/images_for_aboutus/Ellipse09.svg" %}" alt="2">
			 		</a>
			  		<p class="aboutus_personaj">Аяз Губадин</p> <p class="aboutus_personaj_info"> Какой-то текст</p>
			 	</div>
			 	<div>	
			 		<a href="">
			 			<img src="{% static "img/images_for_aboutus/Ellipse10.svg" %}" alt="2">
					 </a>
			 		<p class="aboutus_personaj">Андрей Фамилия</p> <p class="aboutus_personaj_info">Какой-то текст</p>
			 	</div>
			</div> 		
	</div>
	<div>
		<p class="aboutus_group"> Дизайнеры </p><img src="{% static "img/images_for_aboutus/vector.jpg" %}" alt="2"> 
			<div class="aboutus_two">	
				<div>	
					<a href="">
			 			<img src="{% static "img/images_for_aboutus/Ellipse11.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Андрей Грудцин</p> <p class="aboutus_personaj_info">какой-то текст</p>
			 	</div>
			 	<div>
			 		<a href="">
			 			<img src="{% static "img/images_for_aboutus/Ellipse12.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Милена Мингазова</p> <p class="aboutus_personaj_info">какой-то текст</p>
			 	</div>
			</div> 		
	</div>
	<div>
		<p class="aboutus_group"> Контентмейкеры </p><img src="{% static "img/images_for_aboutus/poet.jpg" %}" alt="2"> 
			<div class="aboutus_two">	
				<div>
					<a href="">
			 			<img src="{% static "img/images_for_aboutus/Ellipse13.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Дмитрий Ьашан</p> <p class="aboutus_personaj_info">какой-то текст</p>
			 	</div>
			 	<div>
			 		<a href="">
			  			<img src="{% static "img/images_for_aboutus/Ellipse14.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Алёна Кузнецова</p> <p class="aboutus_personaj_info">какой-то текст</p>
			 	</div>	
			</div>
	</div>
</div>

{% endblock %}