{% extends 'mainsite/base.html' %}  {% block content %}
{% load static %}

<title>О нас</title>

<div>
	<div class="stopka">
		<a href="/" class="back">
	    <img href="/" src='{% static "img/images_for_aboutus/arrow_left-short.svg" %}' alt="2"/> 
	    Назад 
		</a>
		<a  class="info">Главная> О нас</a>
	</div>

	<div class="baner">
		<img src='{% static "img/images_for_aboutus/Rectangle.jpg" %}' alt="" class="rectang" />
	</div>
	<!--div class="aboutus_text">
  		<div class="aboutus_text_view">
      		<p class="aboutus_title">Кто мы и что делаем?</p>
      		<p class="aboutus_fixing">Все просто! Наша команда старается помогать людям, которые сбились с колеи жизни, а также тем, кому нужна мотивация творить чудеса. С нами ты поймешь, как найти дело своей жизни и максимально реализовать заложенный в человеке огромный потенциал: интеллектуальный, физический и духовный. Мы предоставим тебе много интерактивных инструментов, которые мы не просто добавили в наш проект, основываясь на наших знаниях, но и проверили их эффективность. И мы готовы этим поделиться.
      		</p>
    	</div>
  		<div class="aboutus_text_view">
      		<p class="aboutus_title">Почему именно мы <span>?</span></p>
        	<p class="aboutus_fixing">Все просто! Наша команда старается помогать людям, которые сбились с колеи жизни, а также тем, кому нужна мотивация творить чудеса. С нами ты поймешь, как найти дело своей жизни и максимально реализовать заложенный в человеке огромный потенциал: интеллектуальный, физический и духовный. Мы предоставим тебе много интерактивных инструментов, которые мы не просто добавили в наш проект, основываясь на наших знаниях, но и проверили их эффективность. И мы готовы этим поделиться.</p>
   		</div>
   		<div class="aboutus_text_view">
     		<p class="aboutus_title"> Почему мы создали сайт/приложение по книге? </p>
     		<p class="aboutus_fixing">Мы  решили сделать процесс чтения  намного интереснее. Также выполняя различные задания, вы развиваете себя как личность. Наша команда во главе с автором книги «Уроки лидерства» А.Х.Гильмутдиновым решила передать эти бесценные знания и опыт, которые вы получите после прохождения всего пути.  </p>
   		</div>
	</div-->
 	<div class="aboutus_text">
 		<div class="aboutus_text_view">
 			<p class="aboutus_title aboutus_fixing--center" >Кто мы ? </p>
 			<p class="aboutus_fixing--niz aboutus_niliz"> Мы не просто команда,мы движение по личностному развитию </p>
      	</div>
 	</div>
	<div class="aboutus_text">
  		<div class="aboutus_text_view">
      		<p class="aboutus_fixing">
      			Мы — специалисты в разных областях. Нас объединило желание структурировать процесс внутреннего 	развития.
   			</p>
   			<p style="margin-left: 10%; width: 70%;">
      			С нами ты поймешь, как найти дело своей жизни и максимально реализовать заложенный в человеке огромный потенциал: интеллектуальный, физический и духовный. Мы предоставим тебе много инструментов, которые мы добавили в проект, основываясь на наших знаниях и проверив их эффективность на собственном опыте.
      		</p>
    	</div>
    </div>	

 	<div>
 		<div>
 			<p class="aboutus_title" style="padding-top: 70px;text-align: center;"> Наша миссия  </p>
 			<p class="aboutus_fixing" style="font-size: 25px; text-indent: 10px;"> Показать все способы и предоставить все интсрументы для того, чтобы ты взял свою жизнь в свои руки и сам привел себя к счастью. </p>
 		</div>
 	<div>
 		<p class="aboutus--text-center"> Команда </p>
 	</div>	
 	<div>
	 	<p class="aboutus_group"> Авторы книги <img class="aboutus_group_ico"  src="{% static "img/images_for_aboutus/book.jpg" %}" alt="2"> </p> 
	 		<div class="aboutus_two">
	 			<div>
		 			<a class="ico_of_aboutus">
		  				<img src="{% static "img/images_for_aboutus/Ellipse01.svg" %}" alt="2">
		 			</a>
		 			<div>
		 			<p class="aboutus_personaj">Альберт Гильмутдинов </p> <p class="aboutus_personaj_info">Автор книги и идейный вдохновитель</p> </div>
	 			</div>
	 			<div>
		 			<a class="ico_of_aboutus">
		 				<img src="{% static "img/images_for_aboutus/Ellipse02.svg" %}" alt="5">
		 			</a>

		 			<p class="aboutus_personaj"> Алина Гильмутдинова </p> <p class="aboutus_personaj_info">Соавтор книги</p>

				</div>
			</div>
	</div>
	<div>
	 	<p class="aboutus_group"> Менторы <img  class="aboutus_group_ico" src="{% static "img/images_for_aboutus/win.jpg" %}" alt="2"> </p>  
			<div class="aboutus_three">
				<div>
			 		<a class="ico_of_aboutus">
			  			<img src="{% static "img/images_for_aboutus/Ellipse03.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Дмитрий Седелков </p> <p class="aboutus_personaj_info">Ментор</p>
			 	</div>
			 	<div>	
			 		<a class="ico_of_aboutus">
			  			<img src="{% static "img/images_for_aboutus/Ellipse04.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Павел Борисович</p> <p class="aboutus_personaj_info">Ментор</p>
			 	</div>
			 	<div>	
			 		<a class="ico_of_aboutus">
			      		<img src="{% static "img/images_for_aboutus/Ellipse05.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Алина Салихова</p> <p class="aboutus_personaj_info">Ментор</p>
			 	</div>
			</div> 		
	</div>
	<div>
		<p class="aboutus_group"> Руководители <img  class="aboutus_group_ico"  src="{% static "img/images_for_aboutus/clapperboard.jpg" %}" alt="2">  </p>
			<div class="aboutus_two">	
				<div>	
					<a class="ico_of_aboutus">
			  			<img src="{% static "img/images_for_aboutus/Ellipse06.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Азат Нургалиев</p> <p class="aboutus_personaj_info">Главный руководитель проекта TopSkills</p>
			 	</div>
			 	<div>
			 		<a class="ico_of_aboutus">
			 			 <img src="{% static "img/images_for_aboutus/Ellipse07.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Эльдар Муратов</p>  <p class="aboutus_personaj_info">Зам руководителя/разработка</p>
		 		</div>
		 	</div>	
	</div>
	<div>
	 	<p class="aboutus_group"> Разработчики <img class="aboutus_group_ico" src="{% static "img/images_for_aboutus/web-development.jpg" %}" alt="2"> </p>
			<div class="aboutus_three">
				<div>
			 		<a class="ico_of_aboutus">
			  			<img src="{% static "img/images_for_aboutus/Ellipse08.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Нодир Расулов</p> <p class="aboutus_personaj_info"> 20-лет, холостяк разработка</p>
			 	</div>
			 	<div>
			 		<a class="ico_of_aboutus">
			  			<img src="{% static "img/images_for_aboutus/Ellipse09.svg" %}" alt="2">
			 		</a>
			  		<p class="aboutus_personaj">Аяз Гибадуллин</p> <p class="aboutus_personaj_info"> разработка</p>
			 	</div>
			 	<div>	
			 		<a class="ico_of_aboutus">
			 			<img src="{% static "img/images_for_aboutus/Ellipse10.svg" %}" alt="2">
					 </a>
			 		<p class="aboutus_personaj">Андрей Копанёв</p> <p class="aboutus_personaj_info">разработка</p>
			 	</div>
			</div> 		
	</div>
	<div>
		<p class="aboutus_group"> Дизайнеры <img class="aboutus_group_ico" src="{% static "img/images_for_aboutus/vector.jpg" %}" alt="2">  </p>
			<div class="aboutus_two">	
				<div>	
					<a class="ico_of_aboutus">
			 			<img src="{% static "img/images_for_aboutus/Ellipse11.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Андрей Грудцин</p> <p class="aboutus_personaj_info">дизайнер</p>
			 	</div>
			 	<div>
			 		<a class="ico_of_aboutus">
			 			<img src="{% static "img/images_for_aboutus/Ellipse12.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Милена Мингазова</p> <p class="aboutus_personaj_info">дизайнер</p>
			 	</div>
			</div> 		
	</div>
	<div>
		<p class="aboutus_group"> Контентмейкеры <img  class="aboutus_group_ico"  src="{% static "img/images_for_aboutus/poet.jpg" %}" alt="2">  </p>
			<div class="aboutus_two">	
				<div>
					<a class="ico_of_aboutus">
			 			<img src="{% static "img/images_for_aboutus/Ellipse13.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Дмитрий Башан</p> <p class="aboutus_personaj_info">контент</p>
			 	</div>
			 	<div>
			 		<a class="ico_of_aboutus">
			  			<img src="{% static "img/images_for_aboutus/Ellipse14.svg" %}" alt="2">
			 		</a>
			 		<p class="aboutus_personaj">Алёна Кузнецова</p> <p class="aboutus_personaj_info">контент</p>
			 	</div>	
			</div>
	</div>
	<!--div class="aboutus_text">
  		<div class="aboutus_text_view">
      		<p class="aboutus_title">Кто мы и зачем это делаем ?</p>
      		<p class="aboutus_fixing" style="padding: 0.002rem 0 1rem 3rem; border-left: 5px solid black;">Мы существуем, чтобы внедрить успех в твою жизнь, предоставляя все необходимые инструменты для саморазвития. Наш проект основывается на книге Гильмутдинова А.Х. и Гильмутдиновой А.А. «Уроки лидерства: Курс личностного развития». Мы - команда специалистов в разных областях, наша задача: «Показать все способы и предоставить все инструменты для того, чтобы ты взял свою жизнь в свои руки и сам привел себя к абсолютному успеху». Сейчас мы занимаемся геймификацией этой книги в удобной для пользователей среде.
      		</p>
    	</div>
  		<div class="aboutus_text_view">
      		<p class="aboutus_title">Почему именно мы ?</p>
        	<p class="aboutus_fixing" style="padding: 0.002rem 0 1rem 3rem; border-left: 5px solid black;     margin-bottom: 50px;">Все просто! Наша команда старается помогать людям, которые сбились с колеи жизни, а также тем, кому нужна мотивация творить чудеса. С нами ты поймешь, как найти дело своей жизни и максимально реализовать заложенный в человеке огромный потенциал: интеллектуальный, физический и духовный. Мы предоставим тебе много интерактивных инструментов, которые мы не просто добавили в наш проект, основываясь на наших знаниях, но и проверили их эффективность. И мы готовы этим поделиться.</p>
   		</div>
	</div-->
</div>

{% endblock %}