{% load static %}

<!doctype html>
<html lang="ru">

  <head>

      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
      <script src='{% static "mainsite/js/bootstrap.min.js" %}'></script>

      <!-- Style sheets -->
      <link rel="stylesheet" href="{% static 'mainsite/css/main.css' %}">
      <link rel="stylesheet" href="{% static 'mainsite/css/profile.css' %}">
      <link rel="stylesheet" href="{% static 'mainsite/css/bootstrap.css' %}">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

      <!--FONTS-->
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">      
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap" rel="stylesheet">
      

      <!-- <title>TopSkills</title> -->

  </head>

  <body>
    <header id='header'>
      <div class="logoContainer">      
        <a href="{% url 'logout' %}" class="name">TopSkills</a>
        <p class="nameDescripton">Фабрика твоих успехов</p>
      </div>

      <nav class='menu'>
        <a href="{% url 'home_page' %}" class="header-a">Главная</a>
        <a href="#" class="header-a">Новости</a>
        <a href="{% url 'aboutus' %}" class="header-a">О нас</a>
        <a href="#" class="header-a">Разработчикам</a>
      </nav>
    
      {% if user.is_authenticated %}
        <button type="sumbit" onclick="location.href='{% url 'logout' %}'" class='headerExit'>Выход</button>
        <button type="sumbit" onclick="location.href='{% url 'user_page' %}'" class='headerBtn headerBtnUser'></button>
        <button type="sumbit" onclick="location.href='{% url 'tree' %}'" class='headerBtn headerBtnMenu'></button>
        <button class='headerBtn headerBtnTimer'></button>
      {% else %}
        <button type="sumbit" onclick="location.href='{% url 'login' %}'" class='headerEnter'>Войти</button>
        <!--button type="sumbit" onclick="location.href='{% url 'signup' %}'" class='headerRegister'>Регистрация</button!-->
      {% endif %}


      <!-- Old code -->

      <!-- 
        <div class="logo">
            <a href="/">
            <img src="https://media.discordapp.net/attachments/698260986880065546/744777298011619378/2.jpg" style="width: 60;" alt="Topskills">
                <span style="color: #f6d4d2; font-size: 25px; font-weight: 550;">
                TopSkills
                </span>
            </a>    
        </div>


        {% if user.is_authenticated %}
        <ul class="nav-ul">
            <li class="left-li"> <button type="button" class="btn btn-secondary"><a href="{% url 'home_page' %}" class="top-menu"><span class="glyphicon glyphicon-home"></span>Главная</a></button></li>
            <li class="left-li"><button type="button" class="btn btn-secondary"><a href="{% url 'user_page' %}" class="top-menu"><span class="glyphicon glyphicon-user"></span>Профиль</a></button></li>
            <li></li>
            <li class="right-li"><button type="button" class="btn btn-secondary"><a href="{% url 'tree' %}" class="top-menu"><span class="glyphicon glyphicon-comment"></span>Древо развития</a></button></li>
            <li class="right-li"><button type="button" class="btn btn-secondary"><a href="{% url 'skills' %}" class="top-menu"><span class="glyphicon glyphicon-star"></span>Навыки</a></button></li>
            <li class="right-li"><button type="button" class="btn btn-secondary"><a href="{% url 'achivements' %}" class="top-menu"><span class="glyphicon glyphicon-star"></span>Достижения</a></button></li>
            <li class="right-li"><button type="button" class="btn btn-secondary">Привет {{ user.username }} <a href="{% url 'logout' %}">Выход</a></button></li>
        </ul>
       <div class="btn-group " role="group" aria-label="Basic example">
       </div>
        {% endif %}
      </nav>
    

        <div class="page-header">
            {% if user.is_authenticated %}
            <div class="activated">
            </div>
            {% else %}
            <div class="item1">
                <div>
                    <img src="https://cdn.discordapp.com/attachments/650954813550624778/659785442111127582/lis-lisa-doroga-les-iolki-gory-zakat-rassvet-nebo-zvezdy.jpg"  alt="Your Future" width="100%" height="600">
                </div> 
            </div> 
             <div class="item2"> 
            <div clas="main-page-n-login" style="padding: 50% 55px; width: 100%;">
                <form method="post" action="/accounts/login/" class="login-tables">
                        {% csrf_token %}
                        <table>
                        <tbody><tr class="login">
                            <td><label for="id_username">Логин:</label></td>
                            <td><input type="text" name="username" autofocus="" required="" id="id_username"></td>
                        </tr>
                        <tr class="password">
                            <td><label for="id_password">Пароль:</label></td>
                            <td><input type="password" name="password" required="" id="id_password"></td>
                        </tr>
                    </tbody></table>
                        <input  type="submit" class="button1" value="Вход" >
                        <input type="hidden" name="next" value="">
                </form>
                {% if form.errors %}

                <p>Your username and password didn't match. Please try again.</p>
                {% endif %} -->

            <!-- Переход в Регистрацию 

                    <a href="{% url 'signup' %}" class="button2"> Регистрация </a>
                {% endif %}
            </div> -->

    </header>

        <!-- </div>
        <div class="content-container" style="width: 100%;">
            <div class="row">
                <div class="col-md-8" style="padding: 0 55px; width: 100%;"> -->

                    {% block content %}
                        <!-- Try to delete invisible column-->
                    {% endblock %}
  
                <!-- </div>
            </div>
        </div> -->

    <footer id='footer'>

      <div class="footerGrid">
        
        <div class="footerCol">
          <p class="footerPhone">+7 (777) 777-77-77</p>
          <img class='footerLogo'src='{% static "img/logo.png" %}' alt="">

          <div class="row footerFirstRow">
            <a href="#" class='footerSocial'><img src='{% static "img/vk.png" %}' alt=""></a>
            <a href="#" class='footerSocial'><img src='{% static "img/instagram.png" %}' alt=""></a>
            <a href="#" class='footerSocial'><img src='{% static "img/facebook.png" %}' alt=""></a>
            <a href="#" class='footerSocial'><img src='{% static "img/youtube.png" %}' alt=""></a>
            <a href="#" class='footerSocial'><img src='{% static "img/google.png" %}' alt=""></a>
          </div>

          <p class="footerSupport">При поддержке КНИТУ-КАИ</p>
          <img src='{% static "img/kaiLogo.png" %}' alt="" class="footerKaiIcon">
        </div>

        <div class="footerCol">
          <p class="footerColTitle">ОБУЧЕНИЕ</p>
          <a href="#" class='footera'>Процесс</a>
          <a href="#" class='footera'>Игры</a>
          <a href="#" class='footera'>Вопрос-ответ</a>
          <a href="#" class='footera'>Другие услуги</a>
        </div>

        <div class="footerCol footerColSupport">
          <p class="footerColTitle">ПОДДЕРЖКА</p>
          <a href="#" class='footera'>Процесс</a>
          <a href="#"class='footera'>Игры</a>
          <a href="#" class='footera'>Вопрос-ответ</a>
          <a href="#" cla
          ss='footera'>Другие услуги</a>
        </div>
        
        <div class="footerCol footerColProducts">
          <p class="footerColTitle">ПРОДУКТЫ</p>
          <a href="#" class='footera'>Процесс</a>
          <a href="#" class='footera'>Игры</a>
          <a href="#" class='footera'>Вопрос-ответ</a>
          <a href="#" class='footera'>Другие услуги</a>
        </div>

        <div class="footerCol footerColContact">
          <p class="footerColTitle">КОНТАКТЫ</p>
          <a href="#" class='footera'>Процесс</a>
          <a href="#" class='footera'>Игры</a>
          <a href="#" class='footera'>Вопрос-ответ</a>
          <a href="#"class='footera'>Другие услуги</a>
        </div>

      </div>

      <div class="footerLine"></div>

      <div class="row footerSecondRow">
        <p class="footerAllRights">Соглашение о конфидециальности Договор-оферта
          бла бла бла бла бла бла Все права защищены</p>
        <p class="footerAllRights  footerAllRights2 ">Соглашение о конфидециальности Договор-оферта
          бла бла бла бла бла бла Все права защищены</p>
        <p class="conf">Соглашение о конфидециальности</p>
      </div>

      </footer>

  </body>
</html>