{% load static %}

<!doctype html>
<html lang="ru">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Adaptability -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,rink-to-fit=no ">
    <!--SEO-->
    <!--Brief description of the page-->
    <meta name="discription" content="Наш проект про самый сложный и важный процесс — личностное развитие.
    Саморазвитие — это огромный шаг к улучшению самого себя. И мы рады, что ты на него решился. И решил сделать это вместе с нами.
    Приготовься! Наш ждет увлекательный, но не простой путь.Это платформа для изучения основных методов личностного развития.
    Современный мир требует цифровых решений для передачи информации. Сегодня наиболее популярными форматами являются онлайн-ресурсы, как Coursera, YouTube и Instagram. Мы хотим не отставать от трендов.
    В основе проекта — книга “Уроки лидерства” А.Х. Гильмутдинова и А.А. Гильмутдиновой. Мы перенесли ее в доступный виртуальный формат с удобным интерфейсом и дополнили интерактивными сервисами. Все это в единой форме поможет каждому выстроить грамотную траекторию саморазвития.">
    <!--Key words on page-->
    <meta name="keywords" content=" личностное развитие, шаг к улучшению самого себя, Саморазвитие, личностного развития, Уроки лидерства, онлайн-ресурсы">
    <!--Managing search engine access to the page -->
    <!--Preventing the page from being indexed in its entirety-->
    <meta name="robots" content="none">
    <!--Author of the platform-->
    <meta name="Author" content="TopSkillsGroup">
    <!--Copyright-->
    <meta name="Copyright" content="TopSkillsGroup">
    <!--author's address -->
    <meta name="Address" content="KAI, discort, TelegramOfAzat">

    <!--redirect (reload) the page-->
    <!--the delay in seconds; -->
    <!--<meta http-equiv="refresh" content="10; url=/"-->   

    <!--website localisation for the Russian-language website RU-->
    <meta property="og:locale" content="ru_RU">
    <meta property="og:type" content="article">

    <!--Title for websites(Twitter)-->
    <meta property="og:title" content="TopSkills Начни меняться сейчас!">
    <!--Page description-->
    <meta property="og:description" content="Саморазвитие — это огромный шаг к улучшению самого себя. ">
    <!--link to the image to be published in the entry-->
    <meta property="og:image" content="https://topskills.herokuapp.com/static/mainsite/images/landing/manWithVr.png">
    <!--link to current page-->
    <meta property="og:url" content="https://topskills.herokuapp.com">
    <!--website name-->
    <meta property="og:site_name" content="TopSkills">
    
    
		<!-- Map type, default is twitter-->
		<meta name="twitter:card" content="TopSkills">
		<!-- Author's name/login -->
		<meta name="twitter:site" content="Autor">
		<!--Title of the page -->
		<meta name="twitter:title" content="TopSkills">
		<!--Page description -->
		<meta name="twitter:description" content="Саморазвитие — это огромный шаг к улучшению самого себя. ">
		<!-- link to current page -->
		<meta name="twitter:image" content="https://topskills.herokuapp.com/static/mainsite/images/landing/manWithVr.png">


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src='{% static "mainsite/js/bootstrap.min.js" %}'></script>
    <!-- script for showing help block-->
    <script src="../../static/mainsite/js/showHelpBlock.js" defer></script>
      

    <!-- script for showing password-->
    <script src='{% static "mainsite/js/registration/show_hide_password.min.js" %}'></script>
    <script src="{% static 'mainsite/js/registration/show_hide_password.js' %}"></script>
    <script src='{% static "mainsite/js/registration/steps.js" %}'></script>

    <!-- Style sheets -->
    <link rel="shortcut icon"   type="image/x-icon"  href="{% static '/mainsite/images/base/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'mainsite/css/registration.css' %}">
    <link rel="stylesheet" href="{% static 'mainsite/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'mainsite/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'mainsite/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'mainsite/css/landing.css' %}">
    <link rel="stylesheet" href="{% static 'mainsite/css/aboutUs.css' %}">
    <link rel="stylesheet" href="{% static 'mainsite/css/evaluation.css' %}">
    <link rel="stylesheet" href="{% static 'mainsite/css/collectErrors.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">      
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mainsite/css/open-iconic-bootstrap.css' %}">  
      

    <!-- <title>TopSkills</title> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HGYMW002HM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-HGYMW002HM'); 
    </script> 
  </head>

  <body>
    <header id='header'>
      <div class="header--container"> 
        <div class="header--flex">  
          <div class="header--logo">   
            <img src="../../static/mainsite/images/base/Logo.png" alt="">
            <a href="{% url 'home_page' %}" class="name">TopSkills</a>
          </div>


        <nav class='menu'>
          {% if user.is_authenticated %}
          <a href="{% url 'home_page' %}" class="header-a">Главная</a>
          <a href="{% url 'user_page' username=user.username %}" class="header-a">Профиль</a>
          <a href="{% url 'post_list' %}" class="header-a">Блог</a>
          <a href="{% url 'tree' %}" class="header-a">Дерево развития</a>
          <a href="{% url 'tree_old' %}" class="header-a">Старое дерево развития</a>
          {% else %}
          <a href="{% url 'home_page' %}" class="header-a">Главная</a>
          <a href="{% url 'aboutus' %}" class="header-a">О нас</a>
          {% endif %}
        </nav>

       
        <div class="header--btns">
          {% if user.is_authenticated %}
             <button type="sumbit" onclick="location.href='{% url 'logout' %}'" class='header--change--btn headerExit'>Выход</button>
          {% else %}
          <button type="sumbit" onclick="location.href='{% url 'login' %}'" class='header--change--btn headerEnter'>Войти</button>
          <button type="sumbit" onclick="location.href='{% url 'signup'%}'" class='header--change--btn headerRegister'>Регистрация</button>
          {% endif %}

        </div>
        </div>
      </div>

    </header>
          {% block content %}
                        <!-- Try to delete invisible column-->
          {% endblock %}         
        <div class="feedback--error--block">
          <div class="feedback--error-links ">
            <div class="feedback--error-title">Меню</div>
            <button id='set--feedback-btn' class='feedback--error-link-item'><img src="../../static/mainsite/images/profile/flag.png" alt=""><p>Нашли ошибку</p> </button>
            <button id='set--bug-btn'class='feedback--error-link-item'><img src="../../static/mainsite/images/profile/heart.png" alt=""><p>Оцените нас</p> </button>
          </div> 
            <button class='feedback--error-btn'><img src="../../static/mainsite/images/profile/question.png" alt=""></button>
        </div>

    <footer id='footer'>
      <div class="footer--container">
        <div class="footer--flex">
          
          <div class="footerCol footer--first--col">
            <p class="footerPhone">+7 (777) 777-77-77</p>
            <p class="footerLogo">TopSkills</p>

            <div class="row footerFirstRow">
              <a href="#" class='footerSocial'><img src='../../static/mainsite/images/base/vk.png' alt=""></a>
              <a href="#" class='footerSocial'><img src='../../static/mainsite/images/base/instagram.png' alt=""></a>
              <a href="#" class='footerSocial'><img src='../../static/mainsite/images/base/facebook.png' alt=""></a>
              <a href="#" class='footerSocial'><img src='../../static/mainsite/images/base/youtube.png' alt=""></a>
              <a href="#" class='footerSocial'><img src='../../static/mainsite/images/base/google.png' alt=""></a>
            </div>

            <p class="footerSupport">При поддержке КНИТУ-КАИ</p>
            
            <img src='../../static/mainsite/images/base/kaiLogo.png' alt="" class="footerKaiIcon">
          </div>

          <div class="footerCol footerEducationCol">
            <p class="footerColTitle">ОБУЧЕНИЕ</p>
            <a href="#" class='footer--link'>Книга</a>
            <a href="#" class='footer--link'>Игры</a>
            <a href="/q" class='footer--link'>Тесты</a>
            <a href="#" class='footer--link'>Задания</a>
          </div>

          <div class="footerCol footerColSupport">
            <p class="footerColTitle">ПОДДЕРЖКА</p>
            <a href="#" class='footer--link'>Чат-бот</a>
            <a href="#" class='footer--link'>Звонок в поддержку</a>
            <a href="#" class='footer--link'>Вопрос-ответ</a>
            <a href="#" class='footer--link'>Часы работы</a>
          </div>
          
          <div class="footerCol footerColProducts">
            <p class="footerColTitle">ПРОДУКТЫ</p>
            <a href="#" class='footer--link'>Платформа</a>
            <a href="#" class='footer--link'>Приложения</a>
            <a href="#" class='footer--link'>Интеграции</a>
            <a href="#" class='footer--link'>Партнерство</a>
          </div>

          <div class="footerCol footerColContact">
            <p class="footerColTitle">КОНТАКТЫ</p>
            <a href="{% url 'home_page' %}" class='footer--link'>Главная</a>
            <a href="{% url 'aboutus' %}" class='footer--link'>О нас</a>
            <a href="#" class='footer--link'>Задать вопрос</a>
            <a href="#"class='footer--link'>Помочь проекту</a>
          </div>


        </div>

        <div class="footerLine footer--container">
          <p class="footerRights">© “TopSkills”, 2020-2021, все права защищены</p>
          <div class="footer--link-col">
            <a href="" class="footer--bottom--link">Дизайн</a>
            <a href="" class="footer--bottom--link">Вопрос-ответ</a>
            <a href="" class="footer--bottom--link">Политика конфидециальности</a>
          </div>
        </div>
      </div>

      </footer>
      
  </body>
</html>
