<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/mainsite/css/collectErrors.css">
</head>
<body>
    <div class="wrapper">
        <div class="collectErrors--block">
            <button><img src="../../static/mainsite/images/errors/close.png" alt=""></button>
            <div class="collectErrors--container">
                <div class="collectErrors--header">
                    <h1 class="collectErrors--title">Вы нашли ошибку в нашей системе?</h1>
                    <p class="collectErrors--hint">Если вы случайно нажали на клавиши, пожалуйста нажмите на крестик, чтобы выйти из этого меню</p>
                </div>
                <div class="collectErrors--errorInfo">
                    <h2 class="errorInfo--title">Где вы обнаружили ошибку?</h2>
                    <textarea name="" id="" cols="30" rows="10" class="error--textarea"></textarea>
                    <div class="dropError--img">
                        <div class="dropError--info">
                            <h2 class="dropError--title"><img src="../../static/mainsite/images/errors/upload.png" alt="">
                                Выберите изображение</h2>
                            <p class="dropError--txt">Размер изображения не более 10 мб</p>
                        </div>
                    </div>
                    <button class='send--error'><img src="../../static/mainsite/images/errors/check.png" alt="">Добавить</button>
                    <button class='close--error'><img src="../../static/mainsite/images/errors/close2.png" alt="">Отмена</button>
                </div>
            </div>
        </div>
    </div>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</body>
</html>