{% extends 'mainsite/base.html' %}

{% block content %}
{% load static %}

<title>TopSkills</title>

    <section id='header-slogan'>
        <div class="header-slider" style="margin-top: 40px;">
            <div class="header--slider--item slider--1item">
                <div class="header--container">
                    <p class="header--slogan--title">Начни меняться 
                        сейчас!</p>
                </div>
            </div>
            <div class="header--slider--item slider--2item">
                <div class="header--container">
                    <p class="header--slogan--title">Познавай вместе 
                        с нами!</p>
                </div>
            </div>
            <div class="header--slider--item slider--3item">
                <div class="header--container">
                    <p class="header--slogan--title">Исследуй вместе
                        с нами!</p>
                </div>
            </div>
            <!--
            <div class="header--slider--btns">
                <button class="header--slider--btn header--slider--prev">
                    <img src="../../static/mainsite/images/landing/prev--arrow.png" alt="">
                </button>
                <button class="header--slider--btn header--slider--next">
                    <img src="../../static/mainsite/images/landing/next--arrow.png" alt="">
                </button>
            </div>
        -->
        </div>
    </section>
    <section id='welcome'>
        <div class="content--container">
            <p class="welcome--title">Добро пожаловать!</p>
            <p class="welcome--txt">
                <span>Наш проект про самый сложный и важный курс - личностное развитие. <br> </span>
                Мы рады приветствовать тебя на корабле, который направляется по верному пути твоей жизни!
                Ты здесь не просто так, мы в этом уверены. И очень рады этому! Ведь саморазвитие - 
                это огромный шаг к улучшению самого себя. Поэтому, приготовься. Наш ждет увлекательный,
                но не простой путь.
            </p>
        </div>
    </section>
    <section id='aboutPlatform'>
        <div class="content--container">
            <p class="aboutPlatform--title">Просто текст</p>
            <div class="aboutPlatform--flex">
                <div class="aboutPlatform--col aboutPlatform--col-first">
                    <div class="aboutPlatform--col--texts">
                        <p class="aboutPlatform--col--title">Прокачай свою жизнь</p>
                        <p class="aboutPlatform--col--txt">
                            Уроки по самым важным и базовым знаниям в жизни, которым не учат в 
                            школе и университете - о личностном развитии
                        </p>
                    </div>
                    <img src="../../static/mainsite/images/landing/manWithLaptop.png" alt="" class="aboutPlatform--col--img">
                </div>
                <div class="aboutPlatform--col">
                    <img src="../../static/mainsite/images/landing/manWithVr.png" alt="" class="aboutPlatform--col--img">
                    <div class="aboutPlatform--col--texts">
                        <p class="aboutPlatform--col--title">О сложном простым языком</p>
                        <p class="aboutPlatform--col--txt">
                            Использование самых современных технологии в обучении с использованием 
                            удобной онлайн платформы и подходов геймификации
                        </p>
                    </div>
                </div>
                <div class="aboutPlatform--col">
                    <div class="aboutPlatform--col--texts">
                        <p class="aboutPlatform--col--title">Развивай личность в команде</p>
                        <p class="aboutPlatform--col--txt">
                            На протяжении всего обучения рядом с тобой будет наша команда,
                            а также команда твоих единомышленников.
                            </p>
                        </div>    
                    <img src="../../static/mainsite/images/landing/mp3.png" alt="" class="aboutPlatform--col--img">
                </div>
                <img src="../../static/mainsite/images/landing/aboutPlatformLine.png" class='aboutPlatform-bg-line' alt="">
            </div>
        </div>
    </section>
    <section id='noName'> 
        <p class="noName--title">Просто текст</p>
        <img src="../../static/mainsite/images/landing/1-elipse.png" alt="" class="noNameEllipses-1">
        <img src="../../static/mainsite/images/landing/2-ellipse.png" alt="" class="noNameEllipses-2">
        <img src="../../static/mainsite/images/landing/3-ellipse.png" alt="" class="noNameEllipses-3">
    </section>
    <section id='aboutUs'> 
        <div class="content--container">
            <div class="aboutUs--flex">
                <div class="aboutUs--text--content">
                    <p class="aboutUs--title">Кто мы и что делаем?</p>
                    <p class="aboutUs--txt">
                        Весь проект создается по книге Гильмутдинова А.Х и  Гильмутдиновой А.А
                        Мы команда специалистов в разных областях, наша задача направлять людей на важные дела, помогая 
                        им в трудной ситуации и поддерживая их на всем пути. Сейчас мы занимаемся геймификацией
                         этой книги в удобной для пользователей среде. 
                    </p>
                    <a href="#" class="aboutUs--link">Подробнее о нас <img src="../../static/mainsite/images/landing/linkArrow.png" alt=""></a>
                </div>
                <img src="../../static/mainsite/images/landing/book.png" alt="" class="aboutUs--book">
            </div>
        </div>
        <img src="../../static/mainsite/images/landing/aboutUs-1-ellipse.png" alt="" class="aboutUs-1-ellipse">
        <img src="../../static/mainsite/images/landing/aboutUs-2-ellipse.png" alt="" class="aboutUs-2-ellipse">
        <img src="../../static/mainsite/images/landing/aboutUs-3-ellipse.png" alt="" class="aboutUs-3-ellipse">
        <a href="" class="aboutUs--regisrationBtn">Большая кнопка регистрации</a>
    </section>
    <section id="question">
        <div class="content--container">
            <div class="question--flex">
                <div class="question--text--content">
                    <p class="question--title">Есть вопросы?</p>
                    <p class="question--txt">Не стесняйся задавать нам свои вопросы, и наш сотрудник,Барсик обязательно ответит на ваши вопросы.</p>
                    <a href="#" class="question--btn">Задать нам вопрос <img src="../../static/mainsite/images/landing/linkArrow.png" alt=""> </a>
                </div>
                <img src="../../static/mainsite/images/landing/questionList.png" alt="" class="question--img">
            </div>
        </div>
    </section>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<script src="{% static 'mainsite/js/landingScripts/jquery.min.js' %}"></script>
<script src="{% static 'mainsite/js/landingScripts/slick.min.js' %}"></script>
<script src="{% static 'mainsite/js/landingScripts/slider.js' %}"></script>

{% endblock %}