{% extends 'mainsite/base.html' %}

{% block content %}
<title>Блог</title>
    <div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
        {% endif %}
    </div>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                Опубликовано: {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <a>Просмотры: {{ post.views }}</a>
            <br><a href="{% url 'post_detail' pk=post.pk %}">Комментарии: {{ post.approved_comments.count }}</a></br>
            <a href="{% url 'add_like' pk=post.pk %}">Лайки: {{ post.likes }}</a>
        </div>
        <hr>
    {% endfor %}
{% endblock content %}