{% extends 'mainsite/base.html' %}

{% block content %}
<title>Блог</title>
    <div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
        {% endif %}
    </div>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                Опубликовано: {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'add_post_like' pk=post.pk %}">Лайки: {{ post.likes }}</a>
            <p><a>Просмотры: {{ post.views }}</a></p>
            <a>Комментарии: {{ post.approved_comments.count }}</a>
            <p></p>
            <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Добавить комментарий</a>
            {% for comment in post.comments.all %}
            <p></p>
                {% if user.is_authenticated or comment.approved_comment %}
                <div class="comment">
                    <div class="date">
                        {{ comment.created_date }}
                        {% if not comment.approved_comment %}
                            <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                            <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                        {% endif %}
                    </div>
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.text|linebreaks }}</p>
                    <a href="{% url 'add_comm_like' pk=post.pk %}">Лайки: {{ comment.likes }}</a>
                </div>
                {% endif %}
            {% empty %}
                <p></p>
                <p>Здесь пока никаких комментариев :(</p>
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
{% endblock content %}