{% extends 'mainsite/base.html' %}

{% block content %}
<title>Блог</title>
<hr>
<div class="post">
    {% if post.published_date %}
        <div class="date">
            Опубликовано: {{ post.published_date }}
        </div>
    {% else %}
        <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Опубликовать</a>
    {% endif %}
    {% if post.author == request.user %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <h4>Автор: {{ post.author }}</h4>
    <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endblock %}