{% extends 'mainsite/base.html' %} 

{% block content %}

{% load static%}

<div class="introduction">
     <a href="{% url 'introduction' %}" target="_self">
        <img src="{% static "mainsite/introductions.svg" %}" alt="2">
    </a>
</div>    
<div class="chapters">    
	<a href="{% url 'first' %}" target="_self">
		<img src="{% static "mainsite/inner_world.svg" %}" alt="2">
	</a>
	<a href="{% url 'second' %}" target="_self">
		<img src="{% static "mainsite/learning_and_future.svg" %}" alt="2">
	</a>
	<a href="{% url 'third' %}" target="_self">
		<img src="{% static "mainsite/health.svg" %}" alt="2">
	</a>
	<a href="{% url 'fourth' %}" target="_self">
		<img src="{% static "mainsite/relationship.svg" %}" alt="2">
	</a>
</div>	
<div class="chapters"></div>
	


{% endblock %}