{% extends 'mainsite/base.html' %} 

{% block content %}

{% load static%}
<link rel="stylesheet" href="../../static/mainsite/css/tree/tree.css">
<div class="tree--container">
	<div class="tree--crown">
		<div class="tree--crown--flex">
				
			<div class="crown--left--branches">
				<div class="tree--crown--item--test tree--crown--item-left test--disabled">
					<div class="tree--crown--item-line tree--crown--item-line-left"></div>
					<a href="#"  class="tree--crown--test--link ">Тест 1</a>
				</div>
				<div class="tree--crown--item tree--crown--item-left">
					<div class="tree--crown--item-line tree--crown--item-line-left"></div>
					<button  class="tree--crown--item--btn"></button>
					<form action="" class='tree-sphere--form tree-sphere--form-2'>
						<select class='tree-crown-sphere'>
							<option class='sphere--name' disabled selected>Выберите сферу</option>
							<option class='sphere--name' value="">Внутренний мир</option>
							<option class='sphere--name'label='Учеба'  value="">Учеба и будущая карьера</option>
							<option class='sphere--name' value="">Здоровье</option>
							<option class='sphere--name' value="">Отношение</option>
						</select>
					</form>
				</div>

				<div class="tree--crown--item--test tree--crown--item-left test--disabled">
					<div class="tree--crown--item-line tree--crown--item-line-left"></div>
					<a href="#"  class="tree--crown--test--link tree--crown--test--link-disabled">Тест 3</a>
				</div>

				<div class="tree--crown--item tree--crown--item-left">
					<div class="tree--crown--item-line tree--crown--item-line-left"></div>
					<button  class="tree--crown--item--btn"></button>
					<form action="" class='tree-sphere--form tree-sphere--form-4'>
						<select class='tree-crown-sphere'>
							<option class='sphere--name' disabled selected>Выберите сферу</option>
							<option class='sphere--name' value="">Внутренний мир</option>
							<option class='sphere--name' label='Учеба' value="">Учеба и будущая карьера</option>
							<option class='sphere--name' value="">Здоровье</option>
							<option class='sphere--name' value="">Отношение</option>
						</select>
					</form>
				</div>
			</div>	

			<div class="tree--crown--main--line"></div>

			<div class="crown--right--branches">
				<div class="tree--crown--item tree--crown--item-right">
					<div class="tree--crown--item-line"></div>
					<button  class="tree--crown--item--btn"></button>
					<form action="" class='tree-sphere--form tree-sphere--form-1'>
						<select  class='tree-crown-sphere'>
							<option class='sphere--name' disabled selected>Выберите сферу</option>
							<option class='sphere--name' value="">Внутренний мир</option>
							<option class='sphere--name' label='Учеба'  value="">Учеба и будущая карьера</option>
							<option class='sphere--name' value="">Здоровье</option>
							<option class='sphere--name' value="">Отношение</option>
						</select>
					</form>

					<!-- all branches-->
					<div class="tree--crown--item--branch tree--crown--item--branch--disabled tree--crown--item--branch-1"
					>
						<img src="../../static/mainsite/images/tree/lesson1-branch.png" alt=""
						class='tree--crown--item--branch--img'>
						<a   href='#'class="tree--branch--lesson tree--branch--lesson-1">
							<div dir='rtl' class="tree--branch--lesson--border">
								Sphere-1
							</div>	
						</a>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-2">
							<div class="tree--branch--lesson--border">
								2
							</div>
						</a>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-3">
							<div class="tree--branch--lesson--border">
								3
							</div>
						</a>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-4">
							<div class="tree--branch--lesson--border">
								4
							</div>
						</a>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-5">
							<div class="tree--branch--lesson--border">
								5
							</div>
						</a>
					</div>
					<div  class="tree--crown--item--branch tree--crown--item--branch--disabled tree--crown--item--branch-2">
						<img src="../../static/mainsite/images/tree/lesson2-branch.png" alt=""
						class='tree--crown--item--branch--img'>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-1">
							<div class="tree--branch--lesson--border">
								Sphere-2
							</div>
						</a>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-2">
							<div class="tree--branch--lesson--border">
								2
							</div>
						</a>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-3">
							<div class="tree--branch--lesson--border">
								3
							</div>
						</a>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-4">
							<div class="tree--branch--lesson--border">
								4
							</div>
						</a>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-5">
							<div class="tree--branch--lesson--border">
								5
							</div>
						</a>
					</div>
					<div class="tree--crown--item--branch tree--crown--item--branch--disabled tree--crown--item--branch-3">
						<img src="../../static/mainsite/images/tree/lesson3-branch.png" alt=""
						class='tree--crown--item--branch--img'>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-1">
							<div class="tree--branch--lesson--border">
								Sphere-3
							</div>
						</a>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-2">
							<div class="tree--branch--lesson--border">
								2
							</div>
						</a>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-3">
							<div class="tree--branch--lesson--border">
								3
							</div>
						</a>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-4">
							<div class="tree--branch--lesson--border">
								4
							</div>
						</a>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-5">
							<div class="tree--branch--lesson--border">
								5
							</div>
						</a>
					</div>
					<div class="tree--crown--item--branch tree--crown--item--branch--disabled tree--crown--item--branch-4">
						<img src="../../static/mainsite/images/tree/lesson4-branch.png" alt=""
						class='tree--crown--item--branch--img'>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-1">
							<div class="tree--branch--lesson--border">
								Sphere-4
							</div>
						</a>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-2">
							<div class="tree--branch--lesson--border">
								2
							</div>
						</a>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-3">
							<div class="tree--branch--lesson--border">
								3
							</div>
						</a>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-4">
							<div class="tree--branch--lesson--border">
								4
							</div>
						</a>
						<a  href='#'class="tree--branch--lesson tree--branch--lesson-5">
							<div class="tree--branch--lesson--border">
								5
							</div>
						</a>
					</div>
				</div>

				<div class="tree--crown--item--test tree--crown--item-right test--disabled">
					<div class="tree--crown--item-line"></div>
					<a href="#"  class="tree--crown--test--link ">Тест 2</a>
				</div>

				<div class="tree--crown--item tree--crown--item-right">
					<div class="tree--crown--item-line"></div>
					<button  class="tree--crown--item--btn"></button>
					<form action="" class='tree-sphere--form tree-sphere--form-3'>
						<select class='tree-crown-sphere'>
							<option class='sphere--name' disabled selected>Выберите сферу</option>
							<option class='sphere--name'  value="0">Внутренний мир</option>
							<option class='sphere--name' label='Учеба' value="1">Учеба и будущая карьера</option>
							<option class='sphere--name'  value="2">Здоровье</option>
							<option class='sphere--name'  value="3">Отношение</option>
						</select>
					</form>
				</div>	
				
				<div class="tree--crown--item--test tree--crown--item-right test--disabled">
					<div class="tree--crown--item-line"></div>
					<a href="#"  class="tree--crown--test--link tree--crown--test--link-disabled">Тест 4</a>
				</div>

			</div>
		</div>
	</div>
	<div class="tree--root">
		<div class="tree--flex">
			<img src="../../static/mainsite/images/tree/introduction--lists.png" class='tree--root--lists' alt="">
			<div class="tree--lesson tree--root--lesson">
				<div class="tree--lesson-border ">
					<p class="tree--lesson--txt">Лидер</p>
				</div>
			</div>
			<a href="{% url 'introduction' %}" class="tree--sphere tree--sphere-introduction">
				Введение
			</a>
			<div class="tree--lesson tree--root--lesson">
				<div class="tree--lesson-border ">
					<p class="tree--lesson--txt">Сферы жизни</p>
				</div>
			</div>
			<img src="../../static/mainsite/images/tree/root.png" class='tree--root-img'alt="">
		</div>
	</div>	
</div>
<script src='../../static/mainsite/js/tree.js'></script>
<!-- OLD CODE-->
<!--
<div class="introduction">
     <a href="{% url 'introduction' %}" target="_self">
        <img src="{% static "mainsite/introductions.svg" %}" alt="2">
    </a>
</div>    
<div class="chapters">    
	<a href="{% url 'first' %}" target="_self">
		<img src="{% static "mainsite/inner_world.svg" %}" alt="2">
	</a>
	<a href="{% url 'second' %}" target="_self">
		<img src="{% static "mainsite/learning_and_future.svg" %}" alt="2">
	</a>
	<a href="{% url 'third' %}" target="_self">
		<img src="{% static "mainsite/health.svg" %}" alt="2">
	</a>
	<a href="{% url 'fourth' %}" target="_self">
		<img src="{% static "mainsite/relationship.svg" %}" alt="2">
	</a>
</div>	
<div class="chapters"></div>
-->


{% endblock %}