{% extends 'mainsite/base.html' %}{% block content %}
<div class="user-page">


    <div class="right-table">


        {% for user in userskills %}
        <div>


            <p>user : {{ userskill.user }} </p>
            <p>Name of the skill: {{ userskill.skill_name }}</p>
            <p>lvl : {{ userskill.level }}</p>

        </div>

        <div>
            <h2>skills</h2>
            <p>Name of the skill : {{ skill.skill_name }} </p>
            <p>Description of the skill: {{ skill.skill_description }}</p>

        </div>

        <div>
            <p>author: {{ post.author }} </p>
            <p>published: {{ post.created_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}