{% extends 'mainsite/base.html' %}{% block content %}
<div class="user-page">
    <div class="container">
        <h1>Profile</h1>
        <p>Username: {{ user }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
    </div>
    <div class="skills">
        {% for userskill in userskills %}
        <p>Name of the skill : {{ skill.skill.skill_name }} </p>
        <p>Description of the skill: {{ skill.skill.skill_description }}</p>
        <p>Level : {{ skill.level }} </p>
        {% endfor %}
    </div>



    <div class="right-table">


        {% for user in userskills %}

        <div>


            <p>user : {{ userskill.user }} </p>
            <p>Name of the skill: {{ userskill.skill_name }}</p>
            <p>lvl : {{ userskill.level }}</p>

        </div>

    </div>
</div>

{% endblock %}