
.header-nav {
margin-top: 10%;
display: flex;
flex-direction: row;
align-items: center;
transition: 0.2s;
width: 100%;
}
.header-nav-fixed{
    width: 100%;
    position: fixed;
    top:0;
    background: #FFFFFF;
    z-index: 10;
    overflow: hidden;
    box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.17);
    transition: 0.2s;
    margin-top: 15%;
}
.header-logo {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-left: 40%;
}
.menu-button {
    position: absolute;
    margin-top: -3%;
  right:3%;
  background: none;
  border:none;
}
.menu-button {
    background: url(../img/landing/menu_open.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    transition: 0.5s;
}
.menu-button-close {
    background: url(../img/menu_close.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}
.header-menu {
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;
    position: fixed;
    /*visibility: hidden;*/
    display: none;
    display: none;
    background: white;
    position: fixed; 
    top: 8%;
}
.header-menu-show {
    display: block;
    display: flex;
    flex-direction: column;
    /*visibility: visible;*/
    align-items: center;
  
}

.header-menu-a {
    margin-top: 3%;
    font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.03em;
color: #2B2B2B;
}
.header-menu-a-first {
    margin-top: 10%;
    }
.header-menu-txt {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 7px;
    line-height: 155.69%;
    /* or 11px */
    width: 75%;
    text-align: center;
    letter-spacing: 0.03em;
    z-index: 6;
    color: #5F5F5F;
    position: absolute;
    bottom:20%;
    
}

.logo-main-txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    
    color: #2F87FF;
    
    }
.logo-secondary-txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bolder;
    font-size: 8.5px;
    line-height: 10px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #000000;
    margin-top: -15px;
}
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.header-hi-txt {
    font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
color: #000000;
margin-top: 35%;
}
.header-blue-line {
    border: 2.5px solid #2F87FF;
    background-color: #2F87FF;
    width: 40%;
    margin-top: 43px;
    margin-bottom: 43px;
}
.header-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.header-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 83px;
    background-color: white;
    border:none;
}
.header-btn:focus {
    border: 2px solid #2F87FF;
}
.header-btn-txt {
    margin-top: 13px;
}
.header-btn-changeLanguage-img {
    margin-left: 3%;
   
}
/*.header-btn {
width: 100%;
}*/
.header-btn-changeLanguage {
 margin-left: 5%;
 margin-right: 3%;  
}
.header-arrow {
    background: none;
    border:none;
    margin-top: 53px;
}
.header-arrow:focus{
    outline:none;
}
.scrollNone {
    overflow: hidden;
}
/* 

whatWeDo

*/
#whatWeDo {
    margin-top: 83px;
    display: flex;
    flex-direction: column;
    align-items:center;
    /*background: url(../img/blueVectors.png);
    background-size: contain;
    background-repeat: no-repeat;
    */
}
.whatWeDo-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
letter-spacing: 0.03em;

color: #171717;

z-index: 1;
margin-top: -1%;
}
.whatWeDo-vector {
    z-index:-10;
    position: absolute;
    margin-top: -8%;
    width: 100%;
   
}
.whatWeDo-txt {
    
    z-index: 1;
    width: 83%;
    font-family: 'Roboto';
font-style:bolder;
font-weight: 500;
font-size: 10px;
line-height: 194.19%;
/* or 19px */

letter-spacing: 0.03em;
margin-top: 20%;
color: #FFFFFF;
    /*margin-top: 25%;*/
}
 /*
 
 whyWe

 */
 #whyWe {
     display: flex;
     flex-direction: column;
     align-items:center;
     margin-top: 40%;
 }
 .whyWeTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    
    color: #000000;
 }
 .whyWe-img {
     margin-top: -20%;
     width: 100%;
 }
 .whyWeTxt {
    width: 83%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bolder;
    font-size: 10px;
    line-height: 187.69%;
    /* or 19px */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #000000;
    margin-top: -10%;
 }
 /*
 
 for Who

 */
 #forWho {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 5%;
    margin-bottom: 38px;
 }
 .forWho-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
 }
 .slider-prev {
    transform: matrix(-1, 0, 0, 1, 0, 0);
 }
 .carousel {
    background: #FFFFFF;
    box-shadow: 0px 0px 41px rgba(93, 161, 251, 0.27);
    border-radius: 11px;
    width: 65%;
    height: 389px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .sliderBox {
    
    
 }
 .carousel-control-prev {
     position: absolute;
     margin-left: -15%;
 }
 .carousel-control-next {
    position: absolute;
    margin-right: -15%;
 }
 
 .carousel-item {
    width: 80%;
    height:389px;
    display: flex;
    
    align-items: flex-end;
    justify-content:center;}
 .slider-txt {
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bolder;
    font-size: 10px;
    line-height: 144.69%;
    /* or 14px */
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
    width: 90%;
    margin-left: 5%;
    /*margin-bottom: 30%;*/
}
.slider-img-man {
    width: 70%;
    margin-top: 5%;
    margin-left: 13%;
}

.slider-img-women {
    width: 80%;
    margin-left: 10%;
    
}
.slider-txt-women {
margin-top: 8%;
}
.slider-img {
    margin-bottom: 20%;
}
.slider-cosmonaut {   
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
}
/* 

question

*/
#question {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question-title {
    
font-family: 'Roboto';
font-style: normal;
font-weight: bolder;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.03em;

color: #000000;
}
.question-txt {
    font-family: 'Roboto';
font-style: normal;
font-weight: bolder;
font-size: 16px;
line-height: 157.19%;
/* or 25px */

letter-spacing: 0.03em;
width: 83%;
color: #000000;
margin-top: 10%;
margin-bottom: 10%;
}
.question-btn {
    width: 189px;
    height: 45px;
    
background: #5DA2FF;
border-radius: 6px;
font-family: 'Roboto';
font-style: normal;
font-weight: bolder;
font-size: 20px;
line-height: 144.69%;
/* or 29px */

text-align: center;
letter-spacing: 0.03em;
border:none;
color: #FFFFFF;
margin-bottom: 10%;
} 
/*

footer grid

*/
#footer {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.footer-grid {
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(2,23%);
    gap: 30%;
}
.footer-grid-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: bolder;
font-size: 16px;
line-height: 179.69%;
/* or 29px */

letter-spacing: 0.03em;

color: #000000;
margin-bottom: -2%;
}
.footer-a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 179.69%;
    /* or 29px */
    
    letter-spacing: 0.03em;
    
    color: #616161;
    margin-top: 2%;
}
.footer-txt {
    font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 7px;
line-height: 155.69%;
/* or 11px */
width: 75%;
text-align: center;
letter-spacing: 0.03em;
margin-top: 10%;
color: #5F5F5F;
}