{% extends 'mainsite/base.html' %} {% block content %} {% if form.errors %}


<p>Your username and password didn't match. Please try again.</p>
{% endif %}



{% load static %}

<script>
  function show_hide_password(target){
  var input = document.getElementById('id_password');
  if (input.getAttribute('type') == 'password') {
    target.classList.add('view');
    input.setAttribute('type', 'text');
  } else {
    target.classList.remove('view');
    input.setAttribute('type', 'password');
  }
  return false;
}
</script>    
<div class="conteiner">
   <div class="login-tables"> 
        <img class="DFL" src="../../static/mainsite/images/login_signup/sign_in.jpg">
            <form method="post" action="{% url 'login' %}">
{% csrf_token %}
                <table class="login-form" class="DSS">
                    <h1 class="lws">Приветствуем тебя!</h1>
                        <div> 
                          <img class="login-form::before" style="width: 30px; position: absolute;font-size: 30px;padding: 10px 0 0 7px; color: #2c536c;" src="{% static "mainsite/person.svg" %}" alt="2">{{ form.username }}
                        </div>
                        <div>
                          <img class="login-form::before" style="width: 30px;position: absolute;font-size: 30px;padding: 10px 0 0 7px;color: #2c536c;" src="{% static "mainsite/lock.svg" %}" alt="2">
                          <img href="#" class="password-control" onclick="return show_hide_password(this);"></img>{{ form.password }}
                        </div> 
                </table>               
    <div class="dws">
        <label class="" for="" tabindex="25">   
            <input class="DMT" type="checkbox" name="saveauth" checked="checked">&nbsp;Запомнить меня</label>
        <a href="/" class="DRT"> Я забыл пароль </a>
    </div>
        <input class="dws_submit" type="submit" value="Вход" />
    <div class="dws">
       <strong> <a> Впервые тут?</a> </strong>
        <a class="DLT" href="/signup/" >Регистрация</a>
    </div>
        </form>
  </div>  
</div>


{% endblock %}
