{% extends 'mainsite/base.html' %} {% block content %} {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<h1 class="login-header">TopSkills</h1>

<form method="post" action="{% url 'login' %}" class="login-tables">
    {% csrf_token %}
    <table>
        <tr class="login">
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr class="password">
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>



{% endblock %}