{% extends 'mainsite/base.html' %} 

{% block content %}

<title>Регистрация</title>

<script>
    invitation_code = prompt('Введите код приглашения:',)
    if (invitation_code != 'welcome2topskills')
    {
      //alert('helow');
      while (invitation_code != 'welcome2topskills'){
          invitation_code = prompt('Введите код приглашения:')  
        }
    }
    else { 
    }
</script>

<!--------------------------------------------------------------------
  
{% load static %}



<div class="conteiner">
   <div class="login-tables"> 
      <form id="regForm" method="post">
                <div style="text-align:center;margin-top:26px; border-image-width: 50px; ">
                    <span class="step active"></span>
                    <span class="step"></span>
                    <span class="step"> </span>
                 {% csrf_token %}   
                    <p class="tab" style="display: block;">
                      <img class="DFL" src="../../static/mainsite/images/login_signup/part(1).jpg">
                        <label for="id_username">Имя пользователя:</label><br> {{ form.username }}
                        <small style="color: grey">  </small>  
                    </p>
                
                    <p class="tab">
                      <img class="DFL" src="../../static/mainsite/images/login_signup/part(2).jpg">
                        <label for="id_email">Email:</label><br> {{ form.email }} 
                        <small style="color: grey">  </small>  
                    </p>
                
                    <p class="tab">
                       <img class="DFL" src="../../static/mainsite/images/login_signup/part(3).jpg">
                        <label for="id_password1">Пароль:</label><br><img href="#" class="password-control" onclick="return show_hide_password(this);"></img>
                      {{ form.password1 }}
                        <small style="color: grey">  </small>  
                    </p>
                    <p class="tab">
                         <img class="DFL" src="../../static/mainsite/images/login_signup/Finish.jpg">
                        <label for="id_password1"> Поздравляем </label>
                    </p>
                    <p class="tab">
                        {{ field.label_tag }}<br> {{ field }} {% if field.help_text %}
                        <small style="color: grey">  </small> {% endif %} {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                     </div>
                <div class="next">
                    <button type="button submit" id="nextBtn" onclick="nextPrev(1)">Дальше</button>
                </div>
                    <button type="button submit" id="prevBtn" onclick="nextPrev(-1)" style="display:none;">Назад</button>
        </form>
    </div>
</div>
 


<style>
.textofname {
  text-align: left;
  width: 318px;
  height: 38px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #4D4D4D;
}
#nextBtn {
  width: 384px;
  height: 69px;
  background: #5DA1FB;
  border-radius: 7px;
}
label {
  width: 350px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.03em;
}
}
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
             /* margin: 100px auto; */
  font-family: Raleway;
  padding: 40px;
             /* width: 70%; */
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

            /* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

            /* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  width: 384px;
  height: 69px;
  background: #5DA1FB;
  border-radius: 7px;
  margin-top: 20px;
}

 /* Make circles that indicate the steps of the form: */
.step {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #E5E5E5;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

   /* Mark the steps that are finished and valid: */
.step.finish {
 background-color: #000000;
 }

input[type="text"], input[type="password"]{
  width:441px;
  height:44px;
  font-size: 18px;
  margin-bottom: 25px;
  padding-left: 40px; 
  border: 2px solid #5EA2FF;
  box-sizing: border-box;
  border-radius: 7px;

}
</style>
-----old--version--of--registation--------------------------------------------------->

<style>
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  width: 100%; 
  height: 100vh; 
  background-image: url(../../static/mainsite/images/registration/BackgroudOfLogin.jpg); 
  background-size: cover;
  background-position: center; 
  position: relative; 
  overflow: hidden;
}
section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step{
  display: none;
}
.step.active{
  display: block;
}

.form-group{
  width: 100%;
  margin-top: 20px;
} 

header{
  display: none;
}
footer{
  display: none;
}
.next-btn, .submit-btn {
  margin: 50px; font-size: 25px;
  color: #8D8D8D;
  width: 370px;
  height: 55px;
  border-style: ridge;
  background: white;
  border-radius: 30px;
  cursor: pointer;
}
.progressbar{
  text-align:center;
  margin-top:26px; 
  border-image-width: 50px; 
}
.progress-bar-step{
  height: 8px;
  width: 30px;
  margin: 0 2px;
  background-color: grey;
  border: none;  
  border-radius: 30%;
  display: inline-block;
  
}

</style>


<div>
  <section style="width: 50%; height: 50vh;"> 
    <div>

      <div style="padding: 0 500px 50px 0;">
        <a href="/" target="_self" style="color: white; margin-right: 5em"><span class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
      </div>

      <div style="width:500px; background-color:white; margin: 0 auto; padding: 30px; border-radius: 8px; text-align: center;">
        <div>
        
          <form id="regForm" method="post">

            <div class="step step-1 index active">
              <div class="progressbar"> 
                <p class="progress-bar-step" style="background-color: black;"></p>
                <p class="progress-bar-step"></p>
                <p class="progress-bar-step"></p>
                <p class="progress-bar-step"></p>
              </div>

              <div class="form-group">
                <img class="DFL" src="../../static/mainsite/images/login_signup/part(1).jpg">
                <label class="DFL" style="font-size: 25px; text-align: center;" for="id_username">Придумайте себе новый логин:</label>
                <p class="DFL">Чтобы другие могли вас узнать
                Ваши друзья смогут вас найти по этому логину</p>
                <br> 
                <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" placeholder="Введите логин">
                <small style="color: grey"> </small>
              </div> 

              <button type="button" class="next-btn">Далее</button>
            </div>

            <div class="step step-2">
              <div class="progressbar"> 
                <p class="progress-bar-step" style="background-color: black;"></p>
                <p class="progress-bar-step" style="background-color: black;"></p>
                <p class="progress-bar-step"></p>
                <p class="progress-bar-step"></p>
              </div>

              <div class="form-group">
                <img class="DFL" src="../../static/mainsite/images/login_signup/part(2).jpg">
                <label class="DFL" for="id_email" style="font-size: 25px; text-align: center;" >Введи свою почту</label> 
                <p class="DFL">Чтобы ты смог узнавать о последних новостях проекта</p> 
                <br> 
                <input type="email" name="email" maxlength="150" required="" id="id_email" placeholder="Введите почту">
                <small style="color: grey">  </small>  
              </div>

              <button type="button" class="next-btn">Далее</button>
            </div>

            <div class="step step-3">
              <div class="progressbar"> 
                <p class="progress-bar-step" style="background-color: black;"></p>
                <p class="progress-bar-step" style="background-color: black;"></p>
                <p class="progress-bar-step" style="background-color: black;"></p>
                <p class="progress-bar-step"></p>
              </div>

              <div class="form-group">
                <img class="DFL" src="../../static/mainsite/images/login_signup/part(3).jpg">
                <label for="id_password1" class="DFL" style="font-size: 25px; text-align: center;">Введи свой пароль</label>
                <p class="DFL">Чтобы обезопасить свой аккаунт</p> 
                <br>
                <img href="#" class="password-control" onclick="return show_hide_password(this);"></img>
                <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" placeholder="Введите пароль">
                <small style="color: grey">  </small> 
              </div>

              <button type="button" class="next-btn">Далее</button>
            </div>

            <div class="step step-4">
              <div class="progressbar"> 
                <p class="progress-bar-step" style="background-color: black;"></p>
                <p class="progress-bar-step" style="background-color: black;"></p>
                <p class="progress-bar-step" style="background-color: black;"></p>
                <p class="progress-bar-step" style="background-color: black;"></p>
              </div>

              <div class="form-group">
                <img class="DFL" src="../../static/mainsite/images/login_signup/Finish.jpg">
                <label for="id_password1" style="font-size: 25px; text-align: center;" class="DFL"> Поздравляем </label>
              </div>
            
              <button type="button submit" class="submit-btn">Закончить</button>
            </div>
          </form> 

        </div> 

      </div>

    </div>

  </section>

<!--------new--JS--for--change--steps-->
<script>
const steps = Array.from(document.querySelectorAll('form .step'));
const nextBtn = document.querySelectorAll('form .next-btn');
const prevBtn = document.querySelectorAll('form .previous-btn');
const form = document.querySelector('form' );

nextBtn.forEach(button => {
  button.addEventListener('click', () => {
    changeStep('next');
  })
});
prevBtn.forEach( button => {
  button.addEventListener('click', () => {
    changeStep('prev');
  })
})

form.addEventListener('submit', (e) => {
  e.preventDefault();
  const inputs = [];
  form.querySelectorAll('input').forEach(input => {
    const { name, value } = input;
    inputs.push({name , value})
  });
  console.log(inputs)
  form.reset();
  let index = 0;
  const active = document.querySelector('.active');
  index = steps.indexOf(active);
  steps[index].classList.remove('active');
  steps[0].classList.add('active');
})


function changeStep(btn){
  let index = 0;
  const active = document.querySelector('.active');
  index = steps.indexOf(active);
  steps[index].classList.remove('active');
  if(btn === 'next'){
    index++;
  }else if(btn === 'prev'){
    index --;
  }
  steps[index].classList.add('active');
}
</script>

<!-----Show--hide--password----------->
<script>
  function show_hide_password(target){
  var input = document.getElementById('id_password1', 'id_password2',);
  if (input.getAttribute('type') == 'password') {
    target.classList.add('view');
    input.setAttribute('type', 'text');
  } else {
    target.classList.remove('view');
    input.setAttribute('type', 'password');
  }
  return false;
}
</script>

<!-------old--version--change--steps---------------------------------------------------------
<script>
  var currentTab = 0; // Current tab is set to be the first tab (0)
  showTab(currentTab); // Display the crurrent tab

  function showTab(n) {
    // This function will display the specified tab of the form...
    var x = document.getElementsByClassName("tab");
    x[n].style.display = "block";
    //... and fix the Previous/Next buttons:
    if (n == 0) {
      document.getElementById("prevBtn").style.display = "none";
    } else if ( n == 3) {
      document.getElementById("prevBtn").style.display = "none";
    }
     else {
      document.getElementById("prevBtn").style.display = "inline";
    }
    if (n == (x.length - 1)) {
      document.getElementById("nextBtn").innerHTML = "Зарегистрироваться";

    } else if ( n == 3) {
      document.getElementById("nextBtn").innerHTML = "Закончить";  
    } else {
      document.getElementById("nextBtn").innerHTML = "Далее";
    }

    //... and run a function that will display the correct step indicator:
    fixStepIndicator(n)
  }

  function nextPrev(n) {
    // This function will figure out which tab to display
    var x = document.getElementsByClassName("tab");
    // Exit the function if any field in the current tab is invalid:
    if (n == 1 && !validateForm()) return false;
    // Hide the current tab:
    x[currentTab].style.display = "none";
    // Increase or decrease the current tab by 1:
    currentTab = currentTab + n;
    // if you have reached the end of the form...
    if (currentTab >= x.length) {
      // ... the form gets submitted:
      document.getElementById("regForm").submit();
      return false;
    }
    // Otherwise, display the correct tab:
    showTab(currentTab);
  }

  function validateForm() {
    // This function deals with validation of the form fields
    var x, y, i, valid = true;
    x = document.getElementsByClassName("tab");
    y = x[currentTab].getElementsByTagName("input");
    // A loop that checks every input field in the current tab:
    for (i = 0; i < y.length; i++) {
      // If a field is empty...
      if (y[i].value == "") {
        // add an "invalid" class to the field:
        y[i].className += " invalid";
        // and set the current valid status to false
        valid = false;
      }
    }
    // If the valid status is true, mark the step as finished and valid:
    if (valid) {
      document.getElementsByClassName("step")[currentTab].className += " finish";
    }
    return valid; // return the valid status
  }

  function fixStepIndicator(n) {
    // This function removes the "active" class of all steps...
    var i, x = document.getElementsByClassName("step");
    for (i = 0; i < x.length; i++) {
      x[i].className = x[i].className.replace(" active", "");
    }
    //... and adds the "active" class on the current step:
    x[n].className += " active";
  }
</script>
-------------------------------------------------------------------------------->
</div>


{% endblock %} 




