{% extends 'mainsite/base.html' %} 

{% block content %}

<title>Регистрация</title>

<form>
 <p>
        <label for="id_first_name">Имя:</label><br> <input type="text" name="first_name" maxlength="100" required="" id="id_first_name"> 
        <small style="color: grey">Last Name</small>  
    </p>

    <p>
        <label for="id_last_name">Фимилия:</label><br> <input type="text" name="last_name" maxlength="100" required="" id="id_last_name"> 
        <small style="color: grey">Last Name</small>  
    </p>

    <p>
        <label for="id_email">Почта:</label><br> <input type="email" name="email" maxlength="150" required="" id="id_email"> 
        <small style="color: grey">Email</small>  
    </p>

    <p>
        <label for="id_password1">Пароль:</label><br> <input type="password" name="password1" required="" id="id_password1"> 
        <small style="color: grey"></small></p>

        <ul><li><small style="color: grey">Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</small></li><li><small style="color: grey">Ваш пароль должен содержать как минимум 8 символов.</small></li><li><small style="color: grey">Ваш пароль не может быть одним из широко распространённых паролей.</small></li><li><small style="color: grey">Ваш пароль не может состоять только из цифр.</small></li></ul>

        <p></p>

        <p>
        <label for="id_password2">Подтверждение пароля:</label><br> <input type="password" name="password2" required="" id="id_password2"> 
        <small style="color: grey">Для подтверждения введите, пожалуйста, пароль ещё раз.</small>  
    </p>

    <input type="hidden" name="next" value="">
    <button type="submit" class="button button1">Зарегистрироваться</button>


</form>





{% endblock %} 
 
