{% extends 'mainsite/base.html' %} 

{% block content %}
<script>
    invitation_code = prompt('Введите код приглашения:', [100])
    if (invitation_code != 'kill')
    {
    	//alert('helow');
    	while (invitation_code != 'kill'){
        	invitation_code = prompt('Введите код приглашения:')	
        }
    }
    else { 
    }
</script>
<h2>Регистрация</h2>
<form method="post">
    {% csrf_token %} {% for field in form %}
    <p>
        {{ field.label_tag }}<br> {{ field }} {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small> {% endif %} {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>
    {% endfor %}
    <button type="submit" class="button button1">Sign up</button>
</form>

{% endblock %} 
 
