{% extends 'mainsite/base.html' %} 

{% block content %}

{%  load static %}
<title>Регистрация</title>

<!----
<style>
.textofname {
  text-align: left;
  width: 318px;
  height: 38px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #4D4D4D;
}
#nextBtn {
  width: 384px;
  height: 69px;
  background: #5DA1FB;
  border-radius: 7px;
}
label {
  width: 350px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.03em;
}
}
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
             /* margin: 100px auto; */
  font-family: Raleway;
  padding: 40px;
             /* width: 70%; */
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

            /* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

            /* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  width: 384px;
  height: 69px;
  background: #5DA1FB;
  border-radius: 7px;
  margin-top: 20px;
}

 /* Make circles that indicate the steps of the form: */
.step {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #E5E5E5;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

   /* Mark the steps that are finished and valid: */
.step.finish {
 background-color: #000000;
 }

input[type="text"], input[type="password"]{
  width:441px;
  height:44px;
  font-size: 18px;
  margin-bottom: 25px;
  padding-left: 40px; 
  border: 2px solid #5EA2FF;
  box-sizing: border-box;
  border-radius: 7px;

}
</style>
-----old--version--of--registation--------------------------------------------------->

<!--style>
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  width: 100%; 
  height: 100vh; 
  background-image: url(../../static/mainsite/images/registration/BackgroudOfLogin.jpg); 
  background-size: cover;
  background-position: center; 
  position: relative; 
  overflow: hidden;
}
section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step{
  display: none;
}
.step.active{
  display: block;
}

.form-group{
  width: 100%;
  margin-top: 20px;
} 

header{
  display: none;
}
footer{
  display: none;
}
.next-btn, .submit-btn {
  margin: 50px; font-size: 25px;
  color: #8D8D8D;
  width: 370px;
  height: 55px;
  border-style: ridge;
  background: white;
  border-radius: 30px;
  cursor: pointer;
}
.progressbar{
  text-align:center;
  margin-top:26px; 
  border-image-width: 50px; 
}
.progress-bar-step{
  height: 8px;
  width: 30px;
  margin: 0 2px;
  background-color: grey;
  border: none;  
  border-radius: 30%;
  display: inline-block;
  
}

</style>


<div>
  <section style="width: 50%; height: 50vh;"> 
    <div>

      <div style="padding: 0 500px 50px 0;">
        <a href="/" target="_self" style="color: white; margin-right: 5em"><span class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
      </div>

      <div style="width:500px; background-color:white; margin: 0 auto; padding: 30px; border-radius: 8px; text-align: center;">
        <div>
        
          <form id="regForm" method="post">

            <div class="step step-1 index active">
              <div class="progressbar"> 
                <p class="progress-bar-step" style="background-color: black;"></p>
                <p class="progress-bar-step"></p>
                <p class="progress-bar-step"></p>
                <p class="progress-bar-step"></p>
              </div>

              <div class="form-group">
                <img class="DFL" src="../../static/mainsite/images/login_signup/part(1).jpg">
                <label class="DFL" style="font-size: 25px; text-align: center;" for="id_username">Придумайте себе новый логин:</label>
                <p class="DFL">Чтобы другие могли вас узнать
                Ваши друзья смогут вас найти по этому логину</p>
                <br> 
                <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" placeholder="Введите логин">
                <small style="color: grey"> </small>
              </div> 

              <button type="button" class="next-btn">Далее</button>
            </div>

            <div class="step step-2">
              <div class="progressbar"> 
                <p class="progress-bar-step" style="background-color: black;"></p>
                <p class="progress-bar-step" style="background-color: black;"></p>
                <p class="progress-bar-step"></p>
                <p class="progress-bar-step"></p>
              </div>

              <div class="form-group">
                <img class="DFL" src="../../static/mainsite/images/login_signup/part(2).jpg">
                <label class="DFL" for="id_email" style="font-size: 25px; text-align: center;" >Введи свою почту</label> 
                <p class="DFL">Чтобы ты смог узнавать о последних новостях проекта</p> 
                <br> 
                <input type="email" name="email" maxlength="150" required="" id="id_email" placeholder="Введите почту">
                <small style="color: grey">  </small>  
              </div>

              <button type="button" class="next-btn">Далее</button>
            </div>

            <div class="step step-3">
              <div class="progressbar"> 
                <p class="progress-bar-step" style="background-color: black;"></p>
                <p class="progress-bar-step" style="background-color: black;"></p>
                <p class="progress-bar-step" style="background-color: black;"></p>
                <p class="progress-bar-step"></p>
              </div>

              <div class="form-group">
                <img class="DFL" src="../../static/mainsite/images/login_signup/part(3).jpg">
                <label for="id_password1" class="DFL" style="font-size: 25px; text-align: center;">Введи свой пароль</label>
                <p class="DFL">Чтобы обезопасить свой аккаунт</p> 
                <br>
                <img href="#" class="password-control" onclick="return show_hide_password(this);"></img>
                <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" placeholder="Введите пароль">
                <small style="color: grey">  </small> 
              </div>

              <button type="button" class="next-btn">Далее</button>
            </div>

            <div class="step step-4">
              <div class="progressbar"> 
                <p class="progress-bar-step" style="background-color: black;"></p>
                <p class="progress-bar-step" style="background-color: black;"></p>
                <p class="progress-bar-step" style="background-color: black;"></p>
                <p class="progress-bar-step" style="background-color: black;"></p>
              </div>

              <div class="form-group">
                <img class="DFL" src="../../static/mainsite/images/login_signup/Finish.jpg">
                <label for="id_password1" style="font-size: 25px; text-align: center;" class="DFL"> Поздравляем </label>
              </div>
            
              <button type="button submit" class="submit-btn">Закончить</button>
            </div>
          </form> 

        </div> 

      </div>

    </div>

  </section>

<!--------new--JS--for--change--steps-->


<div style="padding: 0 500px 150px 100px; position: absolute;">
  
  <a href="/" target="_self" style="color: white; margin-right: 5em">
    <span class="oi oi-arrow-left">

    </span> 
    <strong>Назад</strong>
  </a>

</div>

  <div class="content container">
    {% csrf_token %}
    <form id="Form1" method="POST">

      <div class="form-group">

        <img class="DFL" src="../../static/mainsite/images/registration/pincode.jpg">

        <label class="DFL" style="font-size: 25px; text-align: center;" for="id_username">
          Введите код приглашения
        </label>

        <p class="DFL">
          Для входа в нашу систему требуется код, он необходим, для тестирования нашего проекта
        </p>

        <br> 

        <input type="text" name=" invitation_code" id=" invitation_code">
        
      </div>
      <div class="btn-box">

        <button type="button" id="Next1" > далее </button>
      
      </div>


    </form>

    <form id="Form2" method="POST">

      <div class="form-group">

        <img class="DFL" src="../../static/mainsite/images/login_signup/part(1).jpg">

        <label class="DFL" style="font-size: 25px; text-align: center;" for="id_username">
          Придумайте себе новый логин:
        </label>

        <p class="DFL">
          Чтобы другие могли вас узнать
        Ваши друзья смогут вас найти по этому логину
        </p>

        <br> 

        <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" placeholder="Введите логин">
        <small style="color: grey"> </small>

      </div> 

      <div class="btn-box">

        <button type="button" id="Back1">назад</button>
        <button type="button" id="Next2" > далее </button>

      </div>

    </form>

    <form id="Form3" style="display: grid; grid-template-columns: auto; grid-template-rows: auto 100px;" method="POST">

      <div class="form-group">

        <img class="DFL" src="../../static/mainsite/images/login_signup/part(2).jpg">

        <label class="DFL" for="id_email" style="font-size: 25px; text-align: center;" >Введи свою почту</label> 

        <p class="DFL">Чтобы ты смог узнавать о последних новостях проекта</p> 
        <br> 

        <input type="email" name="email" maxlength="150" required="" id="id_email" placeholder="Введите почту">

        <small style="color: grey">  </small>  

      </div>

      <div class="btn-box">

        <button type="button" id="Back2">назад</button>
        <button type="button" id="Next3">далее</button>

      </div>

    </form>

    
    <form id="Form4" method="POST">

      <div class="form-group">

        <img class="DFL" src="../../static/mainsite/images/login_signup/part(3).jpg">

        <label for="id_password1" class="DFL" style="font-size: 25px; text-align: center;">Введи свой пароль</label>

        <p class="DFL">Чтобы обезопасить свой аккаунт</p> 
        <br>

        <img href="#" class="password-control" onclick="return show_hide_password(this);"></img>

        <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" placeholder="Введите пароль">

        <small style="color: grey">  </small> 

      </div>

      <div class="btn-box">

        <button type="button" id="Back3"> назад </button>
        <button type="button" id="Next4">далее</button>

      </div>

    </form>

    <form id="Form5" method="POST">

      <div class="form-group">

        <img class="DFL" src="../../static/mainsite/images/login_signup/Finish.jpg">

        <label for="id_password1" style="font-size: 25px; text-align: center;" class="DFL"> Поздравляем </label>

      </div>

      <div class="btn-box">

        <button type="button" id="Back4"> назад </button>
        <button type="button submit" class="submit-btn">Закончить</button>

      </div>

    </form> 

  </div>
  
<!----------------------------------------------------------------
<style>
.pincode { 
	text-align: center;
/*	padding: 20px 0;*/
}
.pincode input[type="number"] {
	display: inline-block;
	width: 100px;
	height: 70px;
	line-height: 50px;
	text-align: center;
	border: 2px solid #5a5a5a;
	color: #000;
	padding: 16px 0px;
	margin: 0 10px;
	font-size: 50px;
	font-weight: 700;
	outline: none;
	background-color: #fff;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.pincode input[type="number"]::-webkit-outer-spin-button,
.pincode input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.pincode input[type="number"]:focus {
	border: 2px solid #1dd216;
}
</style>

<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>


<script>
$('input').keydown(function(e){
	$(this).val('');
});

$('input').keyup(function(e){
	var $wrap = $(this).closest('.pincode');
	var $inputs = $wrap.find('input[type="number"]');	
	var val = $(this).val();
	
	// Ввод только цифр
	if(val == val.replace(/[0-9]/, '')) {
		$(this).val('');
		return false;
	}
	
	// Передача фокуса следующему innput
	$inputs.eq($inputs.index(this) + 1).focus();

	// Заполнение input hidden
	var fullval = '';
	$inputs.each(function(){
		fullval = fullval + (parseInt($(this).val()) || '0');
	});
	$wrap.find('input[type="hidden"]').val(fullval);
});
</script>
---------------------------------------------------------------->

<script>

if (invitation_code != 'welcome2topskills')
  {
     
  }
else { 
    }

</script>

<link rel="stylesheet" href="{% static 'mainsite/css/step.css' %}">
<script src='{% static "mainsite/js/registration/steps.js" %}'></script>



{% endblock %} 




