{% extends 'mainsite/base.html' %}

{% block content %}

{% load static%}


<div class="fourth_chapters">
    <a href="{% url 'fourth_chapters_AbilitytoCommunicate' %}" target="_self">
        <img src="{% static "mainsite/AbilitytoCommunicate.svg" %}" alt="2">
    </a>
    <a href="{% url 'fourth_chapters_Conflicts' %}" target="_self">
        <img src="{% static "mainsite/Conflicts.svg" %}" alt="2">
    </a>
    <a href="{% url 'fourth_chapters_RelationshipsintheFamily' %}" target="_self">
        <img src="{% static "mainsite/RelationshipsintheFamily.svg" %}" alt="2">
    </a>
    <a href="{% url 'fourth_chapters_Friends' %}" target="_self">
        <img src="{% static "mainsite/Friends.svg" %}" alt="2">
    </a>
</div>


{% endblock %}