{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}

<title>Урок 2: Конфликты</title>

<article id="704ec94f-be2c-4b19-9ea8-3c08dbb01361" class="page sans w-75 mx-auto"
         style="margin-top: 2em; font-size: 18px">
    <header>
        <div>
            <a href="{% url 'fourth' %}" target="_self" style="color: black; margin-right: 5em"><span
                    class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
            <span class="text-muted">
				<a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
				<a href="{% url 'fourth' %}" target="_self" class="text-muted">Отношения</a> >
				Урок 2: Конфликты
			</span>
        </div>
    </header>
    <div class="page-body text-left w-75 mx-auto">
        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Top Skills</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>19.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
        </div>
        <div class="page-body">
            <h1 class="page-title">Урок 2: Конфликты</h1>
            <p id="cef99b53-6b3d-4dc2-8f85-23388762ff7a" class="">В начале главы мы отметили, что все люди очень разные
                и
                под­черкнули, что в этом многообразии заключается большое богатство. Именно благодаря тому, что люди
                когда-то научились сотрудничать, успешно объединяя свои разнообразные умения и знания, человече­ство
                достигло впечатляющего уровня развития. Но у этой медали есть и оборотная сторона. В создании и
                укреплении
                отношений вы неиз­бежно столкнетесь и с трудностями. Когда наши убеждения и жела­ния сталкиваются с
                отличающимися стремлениями других людей, возникают разногласия. Они неизбежны, но сами по себе не так
                страш­ны. Однако разногласия могут превращаться в конфликты.</p>
            <p id="11d584a0-0944-4ce9-9bf4-53fe15cbfae6" class="">Психологи определяют конфликт как острое разногласие,
                сопро­вождающееся переживанием негативных эмоций или недовольства. Иногда они могут достигать таких
                масштабов, что превращаются в кровавые войны, которые разрушают жизни миллионов людей. Но и на личном
                уровне, даже самые мелкие ссоры, способны сильно отра­вить нашу жизнь.</p>
            <p id="aa9ae53f-3430-460d-b8aa-801899e4e20c" class="">Почему же разногласия превращаются в конфликты? Одна
                из
                причин заключается в том, что многие люди при возникновении раз­ногласий действуют по схеме
                «выиграл-проиграл». Это внутреннее убеждение в том, что «кто-то выигрывает ТОЛЬКО за счет того, что я
                проиграл». И наоборот, «чтобы выиграть мне, обязательно кто-то другой должен проиграть». Поэтому они
                всеми
                силами пытаются на­стоять на своем, доказать свою правоту, защитить собственные инте­ресы. Это вполне
                естественно, так как никто не любит и не хочет проигрывать. Однако, если все время действовать по такому
                принци­пу, вы рискуете быстро испортить отношения с окружающими. В дол­госрочной перспективе намного
                эффективнее строить отношения, основанные на уважении и соблюдении интересов обеих сторон.</p>
            <p id="a79367ef-6e02-451f-89ce-db25413ffd73" class="">Нужно понимать, что позиция «выиграл-проиграл» - это
                всего
                лишь убеждение и оно неэффективно. Дело в том, что за такой вашей «победой» остается крайне
                неудовлетворенный человек, который за­таил на вас глубокую обиду. Не исключено, что вам придется с ним
                пересечься в жизни еще не раз, и нетрудно представить себе его на­строй на этих встречах. Но, даже если
                вы
                больше никогда не увиди­тесь, этот человек будет давать вам негативную характеристику, ко­торая может
                серьезно испортить вашу репутацию. Единичный слу­чай, может, и не так критичен. Но если
                «выиграл-проиграл» -
                это позиция, применяемая ко всем, то вы рискуете нажить себе множе­ство недоброжелателей и это только
                вопрос
                времени, когда у вас начнутся в жизни серьезные проблемы. Как вы думаете, кому комфортнее жить, и у кого
                больше шансов на успех в жизни? Тому, у кого 30 недоброжелателей, которые при каждом удобном случае
                будут
                мешать явно или неявно, или тому, у кого 30 друзей, готовых ему помочь? Ответ очевиден.</p>
            <p id="b08130af-2d30-4761-86ed-4ea20101ef6a" class="">Поэтому в вопросах выстраивания отношений есть иной,
                гораздо более лучший, подход. Это - мышление в стиле «выиграл-выиграл» (пришедший с запада подход
                win-win,
                англ.). Оно подразумевает, что любое разногласие можно разрешить так, что обе стороны оста­нутся в
                выигрыше.
                Приведем простой пример. Предположим, у вас есть младший брат или сестра. У вас на двоих один компьютер.
                Вече­ром вы планировали пообщаться с друзьями по скайпу, а ваш млад­ший брат очень хочет поиграть в
                любимую
                игру. Возникает разногла­сие интересов. Если подходить к ситуации в стиле «выиграл-проиграл», то каждый
                будет упрямо стоять на своем. Вы, используя авто­ритет старшего брата/сестры, попробуете занять место, а
                младший брат может нажаловаться родителям, что вы никогда не пускаете его за компьютер и не даете
                играть. В
                итоге кто-то из вас действительно заполучит время, а кто-то останется с «носом». Или же вас обоих
                накажут
                родители. У кого-то возникнет обида, и отношения в целом испортятся. В результате, может вы и выиграете
                пару
                часов за компь­ютером, но проиграете в чем-то намного более важном - отношениях с родным человеком. С
                другой
                стороны, с помощью подхода «win- win» можно найти множество альтернативных решений этого разногласия. Вы
                можете договориться разделить имеющееся время попо­лам. Полчаса вы говорите по скайпу, затем уступаете
                место
                брату. Или кто-то из вас может уступить место сегодня, но иметь компьютер в полном распоряжении на
                следующий
                день. При таком решении обе стороны останутся в выигрыше. Более того, не будет обид и отноше­ния не
                испортятся.</p>
            <p id="68e78a28-1da3-4f98-87b3-fc379979546e" class="">Посмотрите занимательный мультфильм под названием
                «Пример
                конфликта». В нем красочно изображено типичное по­ведение людей при возникновении разногласия, а именно
                неже­лание договариваться, упрямство, неуважение к интересам дру­гого человека. Мы можем также наблюдать
                и
                печальные резуль­таты, к которым приводит подобное поведение. Чаще всего, так или иначе проигрывают обе
                стороны. Избежать этого поможет именно подход win-win.</p>
            <div style="margin-bottom: 2rem; height: 22rem" class="d-inline-flex mt-4">
                <iframe class="h-100 w-75 mr-5" src="https://www.youtube.com/embed/P1900TBJ7q8" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <p id="fbe194c4-968b-4c67-96ca-b0d212126ef7" class="">Принцип «выиграл-выиграл» - самый надежный путь к
                долго­срочному успеху в отношениях. Это поиск компромисса, оптимально­го решения, которое устроит обе
                стороны. Возможно такие подходы не самые очевидные, но в действительности именно они самые эф­фективные.
                Они
                позволяют вам получить то, что вы хотите, без ущер­ба отношениям.</p>
            <p id="56e9f8ec-3cc6-4e29-81ae-6f0220259b10" class="">Как же научиться решению разногласий в стиле win-win?
                Мы
                выделили несколько правил, которые помогут вам найти решение в любом разногласии.</p>
            <p id="a52b2649-74a4-471e-a0ba-f0b374554b68" class=""><strong>Избегайте ненужных конфликтов.</strong> Если
                вы с
                кем-либо не со­гласны, не спорьте просто так. Не стремитесь выяснять отношения, во что бы то ни стало, и
                вступайте в конфронтацию только, если вопрос действительно принципиальный. Если же это мелочь для вас,
                просто уступите, пропустите мимо ушей. Как говорится в поговорке: «<em>лучший способ выиграть спор, не
                    вступать в него</em>». Вдумайтесь в это утверждение, в нем скрыт глубокий смысл. Способность
                усту­пить -
                признак не слабости, а зрелости и силы. По-настоящему силь­ный человек никогда не зацикливается на
                своем,
                если вопрос не каса­ется важных принципов. Каждый конфликт забирает ваши эмоцио­нальные и физические
                силы,
                поэтому будьте бережнее и не тратьте их по пустякам.</p>
            <blockquote id="3c247859-e997-4b8d-abc7-597f309e2d3c" class="block-color-red">ПРИТЧА «ВОЗВРАЩАЮ С
                БЛАГОДАРНОСТЬЮ»
            </blockquote>
            <p id="6cba1516-247b-415e-b03d-529f97827000" class=""><em>Однажды мудрец сидел в одиночестве, когда к нему
                подо­шел человек и разразился грубой бранью в его адрес. Но мудрец сидел спокойно, без единого жеста
                неодобрения. Такая реакция только распалила обиженного жизнью человека, и он стал ру­гаться еще
                сильнее.</em></p>
            <p id="35cabea7-b157-47f3-b54e-beceff643fea" class=""><em>Но вскоре запас ругательств истощился, и мудрец,
                мягко
                улыбаясь, спросил человека:</em></p>
            <ul id="b7c8c6f9-1070-46cc-9132-c8d461977857" class="bulleted-list">
                <li><em>Брат, ты все сказал?</em></li>
            </ul>
            <ul id="7376d03e-98fc-4711-a74d-8d33ed124bd8" class="bulleted-list">
                <li><em>У тебя нет даже чувства стыда,- продолжил человек,- ты даже не реагируешь, когда я оскорбляю
                    тебя,
                    ты толстоко­жий и бесчувственный, как бревно!</em></li>
            </ul>
            <p id="b705f254-05d5-483f-a69a-a55a0af51f2d" class=""><em>Тогда мудрец спросил:</em></p>
            <ul id="8f5149a7-96f8-4452-bd63-d6cf85a5f382" class="bulleted-list">
                <li><em>Что случается с преподнесенными дарами, если человек не принимает их?</em></li>
            </ul>
            <p id="f2c1e12c-615f-48bc-80fc-e72d4485a910" class=""><em>Немного задумавшись, человек ответил:</em></p>
            <ul id="c0afcb1c-39cb-42b9-8b64-36c6136804ce" class="bulleted-list">
                <li><em>Они остаются у дарящего.</em></li>
            </ul>
            <ul id="2d0ae2b8-877c-414d-b6f7-85903822a2fe" class="bulleted-list">
                <li><em>Спасибо тебе, брат, за то, что ты хотел подарить мне все эти бранные слова, - спокойно сказал
                    старец.- Но я не принимаю этот подарок. Поэтому ты можешь оставить их себе.</em></li>
            </ul>
            <p id="7a5da8d6-eefc-4d36-841d-62a7a18748de" class="">Если все же разногласия неизбежны, то:</p>
            <ul id="2ab279ff-ec99-4ea3-a296-222684baeda1" class="bulleted-list">
                <li><strong>Дайте оппоненту высказаться и выслушайте его внимательно.</strong> Этот правило лежит в
                    основе
                    подхода win-win и эффективного реше­ния любого конфликта. Вы можете не соглашаться с другим
                    человеком,
                    однако вы должны признавать его право на собственное мнение и отнестись к нему с уважени­ем.
                    Проявите
                    заинтересованность в пози­ции своего оппонента, сочувствуйте ему и сопереживайте. Слушайте человека
                    с
                    целью именно ПОНЯТЬ его, а не придумать, что выпалить в ответ и как защититься. Понимание того, чего
                    же
                    на самом деле хочет человек, приведет вас к возможным решениям вопроса. Вы будете поражены насколько
                    сильный эффект может иметь искренний интерес. Очень часто после выплеска первых негатив­ных эмоций,
                    когда человек видит, что его понимают и относятся к нему с уважением, успокаивается и становится
                    более
                    восприимчивым к ра­зумному диалогу, и с ним становится намного проще договориться.
                </li>
            </ul>
            <ul id="c92b75b6-026f-499d-aa23-527f2fb5a46b" class="bulleted-list">
                <li><strong>Ищите компромиссы.</strong> Практически для любого разногласия можно найти такое решение,
                    которое будет благоприятным для обеих сторон. Будьте креативны, ведь для разрешения одной ситуации
                    мо­жет быть множество различных путей. Предложите другой стороне вместе придумать разумное решение.
                </li>
            </ul>
            <ul id="0a0cf752-5963-4b6f-bf3b-2e9571871201" class="bulleted-list">
                <li><strong>Сохраняйте спокойствие и будьте дружелюбны.</strong> Старайтесь, чтобы обсуждение
                    разногласия
                    было дружелюбным и спокойным. Ве­дите культурную дискуссию, а не разъяренную ссору. Говорите по
                    делу, о
                    предмете разногласий, и никогда не переходите на личности и про­шлые обиды. Начать можно со
                    следующих
                    фраз: «Давай посмотрим, как мы оба сможем получить то, что хотим», «Я хочу справедливого исхода для
                    нас
                    обоих» и т.п. Обязательно необходимо выяснить, какие именно инте­ресы преследует каждая из сторон и
                    как
                    можно компенсировать разногласия.
                </li>
            </ul>
            <p id="bbe1e8cb-7eeb-49d9-ba9b-7b98ef3578a8" class="block-color-red"> ПРАКТИЧЕСКИ В ЛЮБОМ РАЗНОГЛАСИИ МОЖНО
                НАЙТИ КОМПРОМИСС - РЕШЕНИЕ, КОТОРОЕ УЧТЕТ ИНТЕРЕСЫ ОБЕИХ СТОРОН
            </p>
            <a>
                <img style="width:1080px"
                     src="https://media.discordapp.net/attachments/745700277004402832/756916128424525834/Untitled_1.png"/>
            </a>
            <ul id="c98d5ecd-5df1-4c1e-bbe2-bba833b32e79" class="bulleted-list">
                <li>Умейте признать свою вину и, если нужно, принести извине­ние. Если конфликт произошел по вашей вине,
                    признайте это. Ис­кренне попросите прощения, спросите, что вы можете сделать, чтобы загладить свою
                    вину.
                    В большинстве случаев это обезоруживает разгневанного человека и решает весь конфликт. Мы уже
                    говорили о
                    том, что человек, способный принять и признать свою ошибку, - силь­ная и зрелая личность. Более
                    того,
                    научившись это делать, вы приоб­ретете ценный навык разрешения конфликтов.
                </li>
            </ul>
            <p id="f9709488-786a-437d-a1cc-2657fe1d2710" class="">Мышление в стиле «выиграл-выиграл» является наиболее
                эф­фективным решением разногласий, но и самым сложным. Важно не быть упрямым, не поддаваться
                первоначальному
                инстинкту добиться своего любым путем. Необходимо учиться спокойно смотреть на си­туацию, рассматривать
                различные пути решения и находить оптималь­ный исход, который устроит обе стороны. Этот стиль не просто
                помо­жет вам добиться своего, но сэкономит вам много нервов. А самое главное, он позволит вам установить
                прочные, уважительные и дове­рительные отношения с окружающими на долгие годы.</p>
            <p id="9f9da3df-715f-4d51-9761-61f89fe36cf4" class="">И напоследок. Когда мы испытываем сложности в
                отношениях с
                кем-либо, как правило, наш первый порыв обвинить в этом другого человека. Мы склонны думать, что всегда
                правы. Но это не так. Все люди ошибаются. Если у вас постоянные проблемы в отношениях с каким-то
                конкретным
                человеком, не спешите корить и винить его. В первую очередь пристально посмотрите на себя. Задайте себе
                сле­дующие вопросы и постарайтесь ответить максимально честно: делаю ли Я все возможное, чтобы эти
                отношения
                были успешными? Являет­ся ли МОЕ поведение безупречным? Делаю ли я что-либо, чтобы ук­репить наши
                взаимоотношения? Если вы не можете дать положитель­ный ответ на них, то несправедливо предъявлять
                кому-то
                претензии.</p>
            <blockquote id="7354183a-0923-4b84-a3d5-1024f2e61c09" class="block-color-red">ПОЛЕЗНЫЕ МАТЕРИАЛЫ
            </blockquote>
            <p id="8b0b07fb-44a6-49c5-8fab-55dcdd43dd15" class="">Книги:</p>
            <ul id="41022a81-69f8-4777-b3b2-28dde5576f86" class="bulleted-list">
                <li>Дейл Карнеги «Как приобретать друзей и оказывать влияние на людей».</li>
            </ul>
            <ul id="7ced9efc-75cc-4937-bd11-4f8d5042bfe1" class="bulleted-list">
                <li>Роджер Фишер, Уильям Юри, Брюс Патон «Как добиться ДА, или Переговоры без поражения».</li>
            </ul>
            <ul id="e97fd90f-cd96-40a4-ac5a-2000f051997f" class="bulleted-list">
                <li>Марк Гоулстон «Я слышу вас насквозь. Эффективная техника переговоров».</li>
            </ul>
            <blockquote id="d625d855-f6af-4062-9986-28c29f12b9ad" class="block-color-red">РЕЗЮМЕ УРОКА</blockquote>
            <ul id="48c36b2c-8417-4668-a596-57494e1ec32e" class="bulleted-list">
                <li>Разногласия с окружающими неизбежны, так как у всех своя «линза» восприятия, свой уникальный взгляд
                    на
                    жизнь.
                </li>
            </ul>
            <ul id="fd4e6f71-0888-4396-858a-87e08346e12f" class="bulleted-list">
                <li>Лучшая стратегия поведения при возникновении разногласия - это подход «выиграл-выиграл». Он
                    заключается
                    в поиске компро­мисса, оптимального исхода, который устроит <strong>обе</strong> стороны. Это
                    по­зволит
                    вам добиться и желаемого результата и сохранить хорошие отношения с людьми на долгие годы.
                </li>
            </ul>
            <ul id="af486479-0daa-4d19-96fa-e54b90b8f1f6" class="bulleted-list">
                <li>При возникновении конкретного конфликта лучшая тактика за­ключается в следующем. Если вопрос
                    непринципиальный, не стоит спо­рить, лучше просто прекратить дискуссию. Это признак зрелости и
                    мудрости.
                    Если же вопрос важен для вас, то вступайте в разумный и спокойный диалог. Внимательно выслушайте
                    оппонента и постарай­тесь его понять. Предложите вместе найти лучшее решение ситуации.
                </li>
            </ul>
            <span style="border-bottom: 3px solid blue" class="pb-4">
			<a href="{% url 'fourth_chapters_Conflicts_task' %}" class="d-inline-flex text-decoration-none">
				<h3 style="color: black;">Перейти к домашнему заданию</h3>
			</a>
			<span class="oi oi-arrow-right ml-2" style="font-size: 2rem"></span>
		</span>
        </div>
        <a href="#"><span class="oi oi-arrow-top float-right rounded-circle py-3 px-4"
                          style="color: black; border: 3px solid black; font-size: 2.5rem"></span></a>
        <div class="mt-5 w-100 justify-content-center d-inline-flex">
            <img src='{% static "img/images_for_tree/Yoga.svg" %}' alt="" class="rectang"/>
        </div>
</article>

{% endblock %}