{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}

<title>Урок 4: Друзья</title>

<article id="704ec94f-be2c-4b19-9ea8-3c08dbb01361" class="page sans w-75 mx-auto"
         style="margin-top: 2em; font-size: 18px">
    <header>
        <div>
            <a href="{% url 'fourth' %}" target="_self" style="color: black; margin-right: 5em"><span
                    class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
            <span class="text-muted">
				<a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
				<a href="{% url 'fourth' %}" target="_self" class="text-muted">Отношения</a> >
				Урок 4: Друзья
			</span>
        </div>
    </header>
    <div class="page-body text-left w-75 mx-auto">
        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Top Skills</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>19.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
        </div>
        <h1 class="page-title">Урок 4: Друзья</h1>
        <p id="4b55fb73-ee4e-4ccc-8e32-f61e16b02312" class=""> В подростковом возрасте друзья постепенно начинают играть
            все большую роль. Действительно, какие-то ваши интересы и переживания друзья поймут лучше, чем родители,
            потому что они сами проходят через нечто похожее. Дружба, которая закладывается в раннем возрасте, нередко
            оказывается самой крепкой и долгой. Она зарождается на почве искренней и бескорыстной симпатии к человеку, а
            не в результате материальных и бытовых факторов, которые зачастую сводят людей вместе в более зрелом
            возрасте. Однако, как и в любых отношениях, в вопросах дружбы также могут быть свои сложности. Какие могут
            быть проблемы у подростка?</p>
        <p id="73029ea9-84cc-482c-8ae1-10816825e052" class=""><strong>Отсутствие друзей.</strong> Вам кажется, что вас
            недолюбливают одноклассники? Вам сложно заводить друзей или не с кем общаться? Что можно сделать в таком
            случае?</p>
        <p id="7716c925-5ec0-4506-9da2-dc2fa88d8041" class=""> - <em>Взгляните на себя.</em> Оцените собственное
            поведение по отношению к сверстникам. Если вы неприветливы и нелюдимы, то не стоит удивляться отсутствию
            друзей. Без обид. Работайте над своим поведением, чаще улыбайтесь, интересуйтесь жизнью сверстников. Не
            ждите пока к вам подойдут, сделайте первый шаг сами.</p>
        <p id="994b34c3-bf93-4299-a950-e5d35c3df3d8" class=""><em>- Найдите другую компанию.</em> Если, несмотря на все
            старания, у вас не получается найти друзей среди привычного окружения (школа, соседи и т.д.), то попробуйте
            поискать друзей в других местах. Вы можете найти друзей по интересам в различных клубах и сообществах.
            Подумайте, на какие темы вам было бы интересно пообщаться (спорт, видеоигры, мода, музыка, рисование, танцы
            и т.д.) и где могут собираться люди со схожими интересами (дополнительные занятия, клубы, лагеря и т.д.).
            Посещайте подобные мероприятия, знакомьтесь с людьми. Самое главное не замыкайтесь, не сидите дома в
            ожидании, что вас кто-то найдет. Как гласит народная поговорка: «Под лежачий камень вода не течет».
            Поверьте, всех людей посещают чувство стеснения, сомнения «а примут ли меня?», «впишусь ли я в компанию?».
            Получается у тех, кто делает. Поэтому пробуйте, делайте первые шаги навстречу новым людям, и вы обязательно
            встретите друзей.</p>
        <p id="fbe2e3cb-d9c4-4db4-b5d4-5b62b47268c8" class=""><em>- Не берите в голову, если вы кому-то не
            нравитесь.</em> В жизни вам повстречается множество людей. С кем-то из них у вас сложатся дружеские
            отношения, кто-то пройдет мимо вас, а кому-то вы вовсе не понравитесь. И это нормально. Есть замечательное
            выражение: <em>«Просто будьте собой. Те, кто важен, примут вас таким, какой вы есть. А те, кто не примут, не
                так уж и важны».</em> При условии, что вы ведете себя достойно и остаетесь собой, не стоит переживать по
            этому поводу. Рано или поздно вы обязательно найдете друзей, которым будете нравиться именно вы, такие,
            какие есть.</p>
        <p id="1a755524-6b91-4a0d-b0a4-eb7dccbe07d9" class=""><strong>«Социальное давление».</strong> Замечаете вы это
            или нет, но общение со сверстниками оказывает существенное влияние на формирование ваших взглядов, интересов
            и поступков. Как существа социальные мы в буквальном смысле «дышим» идеями и настроениями своего окружения.
            Со временем они становятся неотъемлемой частью нашего характера и видения жизни. Народная мудрость гласит:
            «С кем поведешься, от того и наберешься». Это правда. Человек внутренне тесно связан с друзьями. Об этом
            говорил Джим Рон, выдающийся философ, исследователь психологии успеха. Он заметил, что психологическое
            состояние человека - это производная от состояния пяти человек, с которыми он чаще всего общается.</p>
        <p id="f205c0e4-ae17-45ec-aa39-9085ef5e003f" class=""> Случалось ли вам под давлением своих друзей совершать
            какие-то поступки, о которых вы потом жалели? Кажется ли вам, что если вы не будете соответствовать
            ожиданиям ваших друзей, то вы перестанете им нравиться, и они отвернутся от вас? Чувство принадлежности и
            поиск признания - естественные психологические потребности, которые присутствуют во всех людях и особенно
            остро ощущаются в подростковом возрасте. Однако при достижении этих ощущений важно не забывать о своих
            принципах и убеждениях. Что можно сделать, если вы почувствовали негативное давление со стороны своих
            друзей?</p>
        <p id="1f78094a-fe94-4571-986e-a9ea7de6cfd8" class=""><em>- Имейте собственное мнение и не бойтесь его
            выражать.</em> Если ваши друзья делают что-то, в чем вы не хотите принимать участие, не бойтесь отказаться.
            Не следует опасаться быть «не как все». На самом деле нет ничего более притягательного, чем уверенный в себе
            человек с твердыми принципами. Более того, вы можете попытаться повлиять на своих друзей и убедить их не
            совершать те или иные пагубные поступки. Умение оставаться верным своим убеждениям, а также оказывать
            положительное влияние на других людей - важное качество лидера.</p>
        <p id="ed1e2f26-711f-4a95-b081-9e414d66c8ee" class=""><em>- Формируйте правильный круг друзей.</em> Если многое
            из того, что делают ваши друзья противоречит вашим принципам и убеждениям, если вы часто в глубине души
            осуждаете их поступки и они не прислушиваются к вашему мнению, возможно, стоит задуматься о смене круга
            общения?</p>
        <p id="72fd2a79-ba6a-4da7-aae8-12c69caaf9c1" class=""> Учтите, настоящий друг не валится с неба. Настоящих
            преданных друзей приобретают, вкладывая усилия в поиск и развитие отношений. Поэтому хорошие друзья - одно
            из важнейших достояний человека.</p>
        <p id="eb98728e-0a07-4da0-89a6-0441738a81c3" class=""> Ищите людей, общение с которыми будет обогащать вас,
            мотивировать и раскрывать новые горизонты. Общайтесь с интересными, позитивными, умными сверстниками,
            которые также стремятся реализовывать свой потенциал и быть успешными. Найдите совместные увлечения,
            осваивайте новые знания, становитесь лидерами вместе.</p>
        <p id="f7388266-6007-4b43-81bc-6bffd46af009" class=""> И еще. К сожалению, сегодня виртуальное общение все чаще
            заменяет реальный контакт с людьми. Наверное, каждому из вас случалось наблюдать, как в кафе сидят группы
            людей и вместо того, чтобы общаться друг с другом, они молча смотрят в свои смартфоны. Посмотрите видео под
            названием «Look up» («Подними взгляд»), ставшее хитом на YouTube. Это видео призывает нас чаще отрываться от
            экранов своих гаджетов и больше времени проводить, общаясь с реальными людьми.</p>
        <div style="margin-bottom: 2rem; height: 22rem" class="d-inline-flex mt-4">
            <iframe class="h-100 w-75 mr-5" src="https://www.youtube.com/embed/Z7dLU6fk9QY" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <p id="af1d24f0-abce-4f0c-bdb0-cb893cf1b194" class="">
            <mark class="highlight-red">ПОСТАВЬТЕ СЕБЕ ЦЕЛЬ - СФОРМИРОВАТЬ ПРАВИЛЬНЫЙ КРУГ ДРУЗЕЙ, С КОТОРЫМИ ВЫ БУДЕТЕ
                ВМЕСТЕ РАСТИ И РАЗВИВАТЬСЯ
            </mark>
        </p>
        <p id="f5fb3729-2dca-4bf0-a667-f2bb5ffd1d68" class="">
        </p>
        <a>
            <img style="width:556px"
                 src="https://media.discordapp.net/attachments/745700277004402832/756916218711244870/Untitled.png"/>
        </a>
        <hr id="1d5c2194-8645-4a3c-92b5-18328e6e0e70"/>
        <p id="86e7df57-87de-4f64-be7d-f571853e269d" class="">
            <mark class="highlight-orange">ПОЛЕЗНЫЕ МАТЕРИАЛЫ</mark>
        </p>
        <hr id="060b8944-e918-4c49-9510-cfeae16fecb3"/>
        <p id="a8383d96-d057-4709-a38c-af1ed7e18de8" class=""> Книги:</p>
        <ul id="d66ee9af-7a79-428c-a0e9-6d68cb49ad75" class="bulleted-list">
            <li>Лейл Лаундес «Как говорить с кем угодно и о чем угодно. Навыки успешного общения и технологии
                эффективных коммуникаций».
            </li>
        </ul>
        <ul id="7b645d7f-069a-487b-8e50-750d323e79d7" class="bulleted-list">
            <li>Владимир Леви «Искусство быть другим».</li>
        </ul>
        <hr id="4183a00a-6c35-46dd-93a6-d668875b38ed"/>
        <p id="d455309d-f95e-4877-bc0b-e1dfc6f6019f" class="">
            <mark class="highlight-blue">РЕЗЮМЕ УРОКА</mark>
        </p>
        <hr id="33d1279f-9041-4cd2-b3f8-bd05ee4a03f1"/>
        <ul id="972def6f-a98d-40d5-9ed5-d33aeed5219f" class="bulleted-list">
            <li>Общение с друзьями - важная часть здоровой социальной жизни человека. Заводите друзей и берегите их.
            </li>
        </ul>
        <ul id="b5755a0e-1583-4641-9ed7-da5918447d94" class="bulleted-list">
            <li>Старайтесь формировать вокруг себя положительную среду. Дружите с интересными, позитивными людьми,
                которые стремятся к успеху в жизни. Такое окружение будет помогать вам развиваться.
            </li>
        </ul>
        <ul id="b6d91060-9938-42b3-b547-60d26b379886" class="bulleted-list">
            <li>Общение в социальных сетях и по телефону - это здорово, но помните, что оно никогда не заменит вам
                реального общения!
            </li>
        </ul>
        <span style="border-bottom: 3px solid blue" class="pb-4">
			<a href="{% url 'fourth_chapters_Friends_task' %}" class="d-inline-flex text-decoration-none">
				<h3 style="color: black;">Перейти к домашнему заданию</h3>
			</a>
			<span class="oi oi-arrow-right ml-2" style="font-size: 2rem"></span>
		</span>
    </div>
    <a href="#"><span class="oi oi-arrow-top float-right rounded-circle py-3 px-4"
                      style="color: black; border: 3px solid black; font-size: 2.5rem"></span></a>
    <div class="mt-5 w-100 justify-content-center d-inline-flex">
        <img src='{% static "img/images_for_tree/Yoga.svg" %}' alt="" class="rectang"/>
    </div>
</article>


{% endblock %}