{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}

<article id="704ec94f-be2c-4b19-9ea8-3c08dbb01361" class="page sans w-75 mx-auto"
         style="margin-top: 2em; font-size: 18px">
    <header>
        <div>
            <a href="{% url 'fourth' %}" target="_self" style="color: black; margin-right: 5em"><span
                    class="oi oi-arrow-left"></span> <strong>Назад</strong></a>
            <span class="text-muted">
				<a href="{% url 'tree' %}" target="_self" class="text-muted">Дерево развития</a> >
				<a href="{% url 'fourth' %}" target="_self" class="text-muted">Отношения</a> >
				Отношения в семье
			</span>
        </div>
    </header>
    <div class="page-body text-left w-75 mx-auto">
        <div class="d-inline-flex justify-content-between align-items-baseline my-5">
            <span class="oi oi-person mr-2"></span>
            <span>Top Skills</span>
            <span class="oi oi-calendar ml-4 mr-2"></span>
            <span>19.02.2020</span>
            <span class="oi oi-eye ml-4 mr-2"></span>
            <span>15000</span>
            <span class="oi oi-heart btn btn-light ml-4 rounded-circle p-2 mr-2"></span>
            <span>1800</span>
        </div>
        <div class="float-right align-top mt-5">
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/vk.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/inst.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/faceb.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
            <a href="#" class="ml-2"><img src='{% static "img/images_for_tree/pinter.png" %}'
                                          style="background: black;width: 25px; height: 30px"></a>
        </div>
        <h1 class="page-title">Урок 3: Отношения в семье</h1>
        <p id="8e38b752-c6e9-4a79-9571-f2d522871c0e" class=""> Подростковый возраст - это важнейший этап в жизни и
            развитии каждого человека, время перехода из детства во взрослую жизнью. Вы начинаете формировать свое
            мировоззрение, убеждения, ищете свое место в мире и учитесь брать на себя ответственность за свою жизнь. Это
            непростое время, когда вы стремительно меняетесь как физически, так и духовно. Эти процессы влияют на все
            сферы жизни, и в частности на ваши отношения с близкими и друзьями.</p>
        <p id="2691f5fc-0964-4ef5-9554-9fa5008129cc" class=""> Именно в этом возрасте у многих подростков возникают
            сложности в общении с родителями. Кто-то из вас думает, что родители вас не понимают. Или вы хотите больше
            независимости и считаете, что уже вполне самостоятельны, но родители ограничивают вашу свободу, загоняют в
            рамки. Все это зачастую приводит к разногласиям и осложняет отношения в семье. Однако никогда не стоит
            забывать, что отношения с родителями САМЫЕ близкие. И это предопределено самой природой. Ниже мы приводим
            притчу, в которой попытались объяснить это.</p>
        <hr id="35178bd2-61fa-420e-b596-6ddf4f088c52"/>
        <p id="172d0cce-b834-4f58-854e-3e771fc42c55" class="">
            <mark class="highlight-red"> ПРИТЧА О ПАПЕ И ЕГО МАЛЕНЬКОЙ ДОЧУРКЕ</mark>
        </p>
        <hr id="6f3648fe-3177-400a-8dbc-c2d733d0297a"/>
        <p id="7c0a0f46-ae33-4fc8-a871-fe329a7c290e" class=""><em>Жили-были на свете папа и ее маленькая дочурка,
            которой было уже шесть лет. Жили они очень дружно, и, конечно же, папа очень любил свою маленькую красавицу.
            Вот однажды, когда отец в очередной раз крепко тискал свою дочь, она, шутливо вырываясь из его объятий,
            спросила:</em></p>
        <p id="eed5d0ff-cb6d-431f-b786-dc7b1ab9f449" class="">-<em>Папа, ну ПОЧЕМУ ты меня так сильно любишь?</em></p>
        <p id="7153499b-a507-4f6e-986c-e58074c86a40" class=""><em>Отец опешил. Вопрос казался легким и очевидным, но он
            не знал, КАК объяснить своей дочурке, почему же он ее любит больше всего на свете. Но огромные глаза ребенка
            смотрели внимательно, не по-детски серьезно, и ждали ответа. Отец усадил девочку поудобнее у себя на
            коленях, нежно обнял и начал объяснять:</em></p>
        <p id="3e195572-2bab-4a05-9326-e12ffced3f31" class="">-<em>Доченька моя, ну КАК же я могу тебя не любить???
            Ведь, абсолютно все, что в тебе есть - это от меня. Твои пальчики, твои волосы, глазки и даже реснички на
            них - все это получилось от меня. Получается, что </em><em><strong>ты — это я сам, но только ты появилась
            позже. И ты — мое прямое продолжение в этой жизни.</strong></em></p>
        <p id="0efcac6b-b9a9-4a38-80ca-daa300ab3bf5" class=""><em>Девочка задумалась. Конечно, ответ для нее был
            мудреным. Но отец увидел, что каким-то своим чутьем она что-то важное для себя поняла.</em></p>
        <p id="576cecaa-4738-4fe2-88d8-a8e42a4a94d7" class=""><em>После недолгого молчания дочурка, уютно прижавшись к
            отцу, продолжила:</em></p>
        <p id="de972c60-a566-46d8-876f-649a98c56010" class="">-<em>А почему мама меня так любит?</em></p>
        <p id="fc8d1c67-a38e-4724-a0ae-b039a281ab18" class="">-<em>Ну КАК же мама может тебя не любить, малыш? - ответил
            ее отец. - Ведь целых 9 месяцев ты жила и росла внутри нее, под самым сердцем. Через свою кровь мама
            передавала тебе все необходимое. С ее помощью ты дышала и питалась, чтобы окрепнуть и появиться на свет.
            Получается, что </em><em><strong>с мамой ты — одно неделимое целое</strong></em><em>, малыш.</em></p>
        <p id="2334386e-97d4-4a2c-9ef0-36c087ca3095" class=""><em>Девочка ненадолго задумалась, а затем тихо
            взволнованно спросила:</em></p>
        <p id="55b1e188-7040-46e8-b964-ae5c5c9c2303" class="">-<em>А когда я вырасту, вы меня не будете так любить?</em>
        </p>
        <p id="b7d51b3b-325f-4861-bffb-00eaea16e6fa" class=""><em>Папа еще крепче обнял девочку:</em></p>
        <p id="b9781e07-8e05-4897-8f7e-311ff1de4b4e" class="">-<em>Для нас с мамой ты всегда будешь самым близким и
            самым дорогим, что у нас есть в жизни. И мы ВСЕГДА будем любить тебя больше всего на свете, - шепнул ей
            отец...</em></p>
        <p id="ee82cefe-62c7-4d22-a9c0-8446f49fe846" class=""> На самом деле, это не притча, а реальная история из жизни
            авторов этой книги, произошедшая много лет назад. Но понимание простых истин, изложенных выше в виде притчи,
            до сих пор ежедневно помогает им сохранять и строить очень близкие и доверительные отношения.</p>
        <p id="347295a4-e7e1-4e71-9a93-991cb0e0cd73" class="">
            <mark class="highlight-red">РОДИТЕЛИ – САМЫЕ БЛИЗКИЕ ВАМ ЛЮДИ. ЭТО ЗАЛОЖЕНО ПРИРОДОЙ</mark>
        </p>
        <p id="ab8cdf06-0867-48a0-83b9-89fb63b5f6fc" class="">
        </p>

        <a>
            <img style="width:551px"
                 src="https://media.discordapp.net/attachments/745700277004402832/756916176696770687/Untitled.png"/>
        </a>

        <p id="94031586-01b9-44d3-837b-973fc0593a00" class=""> Действительно, подумайте сами. Вы в прямом смысле
            являетесь живым продолжением ваших мамы и папы. Ваш организм зародился в результате уникального соединения
            генов ваших родителей. Первые девять месяцев своей жизни вы буквально жили под сердцем у своей мамы. Поэтому
            нет в мире людей, которым вы были бы дороже и которые желали бы вам лучшего, чем ваши родители.</p>
        <p id="ee28e4fe-5238-4b00-8ad9-04c51fb182b4" class=""> Почему же тогда возникают разногласия? Во многом - они
            объективны. Извечная проблема «отцов и детей» - разногласия между поколениями существовали всегда. Вот яркий
            пример. Однажды доктор Рональд Гибсон выступал перед собранием Медицинского общества города Портмунда,
            Англия. Он начал свою речь четырьмя высказываниями:</p>
        <p id="c83bc2bc-281c-4d4b-99ae-34842a91c218" class=""><em>«Наша молодежь любит роскошь, она дурно воспитана, она
            насмехается над начальством и не уважает стариков. Наши нынешние дети стали тиранами; они не встают, когда в
            комнату входит пожилой человек, перечат своим родителям. Попросту говоря, они очень плохие».</em></p>
        <p id="68b6a87d-414c-4af2-ba81-d1879e77f9f4" class=""><em>«Я утратил всякие надежды относительно будущего нашей
            страны, если сегодняшняя молодежь завтра возьмет в свои руки бразды правления, ибо эта молодежь невыносима,
            невыдержанна, просто ужасна».</em></p>
        <p id="871a82b2-c023-4338-a00f-8e1327185a73" class=""><em>«Наш мир достиг критической стадии. Дети больше не
            слушаются своих родителей. Видимо, конец мира уже не очень далек».</em></p>
        <p id="25391f4f-432a-462b-92ac-a919b6921146" class=""><em>«Эта молодежь растлена до глубины души. Молодые люди
            злокозненны, и нерадивы. Никогда они не будут походить на молодежь былых времен. Младое поколение
            сегодняшнего дня не сумеет сохранить нашу культуру».</em></p>
        <p id="321cb392-2a4a-4820-aa4a-632180434f6e" class=""> Все это звучит как характеристика современной молодежи,
            не так ли? Но послушайте, кому принадлежат и когда были высказаны эти утверждения: первая цитата принадлежит
            Сократу (470 — 399 гг. до н.э.); вторая - Гесиоду (около 720 г. до н.э.); третья - высказывание египетского
            жреца Ипувера, который жил за 1700 лет до н.э.; наконец, четвертая цитата была найдена на глиняном горшке
            среди развалин Вавилона, существовавшего свыше 3000 лет назад.</p>
        <p id="c07c0e43-3cd3-4c51-91b6-d824af27ad57" class=""> Каждое взрослое поколение задается вопросом «куда катится
            этот мир?» и критикует молодежь, называя ее ленивой, бестолковой и безнравственной. Почему так происходит?
            Вспомните первую четверть. Дело в том, что у разных поколений очень РАЗНЫЕ «линзы» восприятия жизни! И это
            вполне естественно, ведь у них совершенно разный жизненный опыт, и потому - разные взгляды на ключевые
            моменты жизни. В вашем случае это усиливается еще и тем, что жизнь в XXI веке меняется чрезвычайно
            стремительно. Интересы различных поколений становятся кардинально разными. Ваши родители выросли в условиях
            напряженного труда с детства, в то время как вы воспитывались в гораздо большем комфорте. Вы выросли с
            технологиями, радикально изменившими жизнь, которых просто не было в юности ваших родителей. Например, ваши
            родители в вашем возрасте понятия не имели, что такое личный компьютер и Интернет, что такое сотовый
            телефон. А для вас - это естественная часть жизни.</p>
        <p id="fd330a87-db78-4711-b2df-08cd7be5d348" class=""> Посмотрите отрывок юмористической рубрики «Взгляд снизу»
            из передачи «Вечерний Ургант», во время которого ведущий программы задает детям различные вопросы о
            самостоятельности и взрослой жизни. Обратите внимание, как в силу юного возраста их представления о заданных
            темах отличаются от ваших. Это даст вам возможность представить то, как отличается ваша точка зрения от
            точки зрения ваших родителей.</p>
        <div style="margin-bottom: 2rem; height: 22rem" class="d-inline-flex mt-4">
            <iframe class="h-100 w-75 mr-5" src="https://www.youtube.com/embed/H-p1nWnAoNo" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <p id="2a47ede0-0421-4812-a31a-3f19fd05bd45" class=""> А теперь главный вопрос - как же быть с этими
            объективными разногласиями? Самое главное осознать, что по базовым ценностям - вы едины. Чего больше всего
            хотят ваши родители? Чтобы вы были здоровы, успешны и счастливы. Чего больше всего нужно вам? Правильно,
            того же самого.</p>
        <p id="18eb106a-e09d-4010-9bc8-77336062109b" class=""> В семейных вопросах особенно важен компромисс и умение
            слышать друг друга. Обязательно дайте почитать эти строки и вашим родителям. Вместе обсудите эти советы.
            Здесь действительно важны ОБЕ стороны. Несмотря на то, что обстановка в каждой семье индивидуальна, есть ряд
            типичных трудностей, которые переживают современные подростки. Они перечислены ниже.</p>
        <p id="5ff1339e-6647-4888-9030-63fefda6d970" class=""><strong>«Родители меня не понимают».</strong> Вам кажется,
            что родители далеки от вас, что они не хотят и не могут понять ваши чувства? Однажды, выступая перед
            старшеклассниками, Билл Гейтс привел 11 важных правил жизни, которые, по его мнению, упускают в школе. Среди
            них было правило № 7:</p>
        <p id="2c0222df-39f3-446d-bce2-748856cf7afb" class=""><em>«Родители не всегда были такие скучные, как вам сейчас
            кажется. Может быть, постоянная забота о вас сделала их такими? Они вас кормят, одевают, постоянно слушают,
            какие вы замечательные. Так что прежде чем критиковать поколение своих родителей, начните с себя».</em></p>
        <p id="b7d3c5b6-ebc0-427e-8585-ba89d84a6cd1" class=""> Порой бывает очень сложно раскрыться и рассказать свои
            сокровенные переживания родителям. Но если вы преодолеете этот барьер, то сразу же почувствуете, как ваши
            отношения улучшатся. Родители, братья и сестры - это самые близкие вам люди, они любят и принимают вас
            бескорыстно и безусловно. Какая бы проблема у вас ни была, нет более надежных помощников, чем они. И еще,
            помните, что ваши родители выросли в совершенно другой обстановке и для того, чтобы понять то, что привычно
            для вас, им необходима существенная внутренняя перестройка и объяснение с вашей стороны. Итак, что вы можете
            сделать?</p>
        <ul id="7a221824-c2d1-4239-8f1e-fe2a87658cb8" class="bulleted-list">
            <li><em>Вступайте в диалог.</em> Начните с малого, просто старайтесь чаще разговаривать со своими родителями
                и делиться с ними новостями из вашей жизни. Ваши родители тоже когда-то были подростками и у них были
                похожие проблемы. Более того, у них за плечами богатый жизненный опыт, и они смогут дать вам дельный
                совет.
            </li>
        </ul>
        <ul id="5d4dd72e-6551-4f71-bce4-807a0633d73d" class="bulleted-list">
            <li><em>Учитесь спокойно выражать свои обиды и недовольство.</em> Если действия родителей обижают вас,
                попробуйте вместо истерики или полного отстранения, внятно объяснить им свои чувства. Поймите, что даже
                родители не могут читать ваши мысли. Пока вы не скажете, что вы чувствуете, вас не сможет понять никто.
                Например, скажите маме «мне обидно, что ты повышаешь на меня голос» и т.д.
            </li>
        </ul>
        <p id="f8dd463b-a17d-4e18-b1af-906e16e070cd" class=""><strong>«Родители заставляют меня делать бесполезные
            вещи». </strong>Вам кажется, что родители все время заставляют вас делать то, что вам не хочется? Это могут
            быть домашние дела, одеваться потеплее, посещение кружков и дополнительных занятий и т.д. Что вы можете
            сделать?</p>
        <ul id="d7693e1b-7399-4b46-a177-e2647e662598" class="bulleted-list">
            <li><em>Просите объяснения.</em> Спросите, почему вашим родителям так важно, чтобы вы это делали?
                Постарайтесь понять. Родители не желают вам зла и скорее всего то, что вас заставляют делать, необходимо
                вам для успеха в будущем, для здоровья или чтобы уберечь вас от беды. Например, вас заставляют ходить к
                репетитору по английскому языку. Родители объясняют вам, что английский поможет вам в поступлении в вуз
                и в будущей жизни. Согласитесь, что это разумные аргументы и эти занятия действительно принесут вам
                пользу? В таком случае, постарайтесь поменять свое отношение и найти что-то приятное в этих действиях.
            </li>
        </ul>
        <ul id="9fdab33a-fa0c-4366-ae94-83569678705f" class="bulleted-list">
            <li><em>Предложите альтернативный вариант.</em> Если вам действительно не нравится что-то делать, но вас
                упорно заставляют родители, предложите им альтернативу. Например, вам очень не нравится мыть посуду, но
                каждый день вам приходится это делать. Предложите вместо этого взять на себя какие-то другие дела
                (пылесосить, выносить мусор и т.д.). Или, например, вы ходите на занятия по музыке, но музыка - это
                действительно не ваше занятие. Подумайте, какие дополнительные занятия вам были бы более интересны и
                предложите посещать их (рисование, рукоделие, спорт и т.д.). Уверены, если вы будете не просто
                отказываться, а спокойно объясните, что музыка вам не нравится, но вы с удовольствием будете рисовать,
                родители вам не откажут.
            </li>
        </ul>
        <p id="2b8967f3-b6ab-4d4f-b169-1d7cf5a49b89" class=""><strong>«Родители ограничивают мою свободу»</strong>. Вы
            считаете, что вы уже взрослые и можете сами делать свой выбор. Но родители вам не доверяют и часто запрещают
            делать то, что вам хочется. В такой ситуации важно понимать, что цена самостоятельности это умение нести
            ответственность. Быть самостоятельным не значит, делать все, что взбредет вам в голову, это значит брать
            ответственность в свои руки. Это означает осознавать и принимать последствия собственных действий. Скорее
            всего, родители ограничивают вашу свободу, потому что они еще не видят в вас готовность и зрелость к
            подобной ответственности. Это доверие нужно заслужить. Необходимо показать родителям, не словами, а своими
            действиями, своим поведением, что вы готовы и способны делать правильный выбор самостоятельно. Чтобы к вам
            относились, как к взрослым, нужно вести себя соответствующе. Что вы можете сделать?</p>
        <ul id="45e527e3-6778-43f2-9415-ad4f35eb2977" class="bulleted-list">
            <li><em>Всегда выполняйте взятые на себя обязательства. </em>Если вы сказали, что вернетесь в 10, приходите
                вовремя. Если вы задерживаетесь, позвоните или напишите родителям, чтобы они не переживали. Если вы
                пообещали что-то сделать, сделайте это. Если вы не успеваете, предупредите родителей и пообещайте, что
                обязательно выполните дело позднее.
            </li>
        </ul>
        <ul id="f5574c90-2acc-4e82-9fe3-2acb1c4be2bd" class="bulleted-list">
            <li><em>Спокойно высказывайте свою позицию и вступайте в диалог.</em> Если вы хотите куда-то пойти или с
                кем-то встретится, спокойно объясните родителям, почему вам так важно это мероприятие или встреча. Если
                вас не отпускают, не устраивайте истерику. Поинтересуйтесь, почему родители против. Спросите, на каких
                условиях они согласились бы вас отпустить. Возможно, им нужны какие-то обещания с вашей стороны (что вы
                не будете задерживаться, они будут знать, кто будет присутствовать на мероприятии, где оно будет
                проходить, что вы позвоните им оттуда, с вами пойдет кто-то из ваших друзей, которому доверяют ваши
                родители, и т.д.).
            </li>
        </ul>
        <ul id="4656d8f3-0141-4ff5-86f9-f15c20048e7e" class="bulleted-list">
            <li><em>Покажите своим родителям, что вы готовы к большей ответственности.</em> Для этого можно использовать
                прием «испытай меня». Предложите родителям дать вам какое-нибудь поручение и старательно выполните его.
                Покажите им, что вы готовы отвечать за себя не на словах, а в действии.
            </li>
        </ul>
        <ul id="69e16311-1cb8-4e05-8b18-090d2b3c62fb" class="bulleted-list">
            <li><em>Не скрывайте проступки.</em> Если у вас какие-либо проблемы или вы напортачили, не пытайтесь это
                скрыть. Рано или поздно обман раскроется, и ваши родители будут расстроены вдвойне самой ситуацией и
                вашим обманом. Если же вы честно признаетесь с самого начала, то родители обязательно отметят вашу
                искренность и начнут больше вам доверять. К тому же можно будет быстрее предпринять меры, чтобы
                негативная ситуация не ухудшилась.
            </li>
        </ul>
        <ul id="f81290ef-9cd8-4462-9469-7fa007d86637" class="bulleted-list">
            <li><em>Доверьтесь опыту родителей.</em> Если же вы сделали все, чтобы завоевать доверие родителей, но все
                равно в ответ получаете запрет, постарайтесь понять, что запрет родителей чаще всего является правильным
                решением, это способ уберечь вас от опасности или поступка, о котором вы пожалеете. Возможно, из-за
                недостатка опыта вы пока этого не видите. В таком случае попросите родителей доступно объяснить вам
                причины своего решения и постарайтесь их понять.
            </li>
        </ul>
        <p id="e329e9c8-b72d-46dd-ad16-b6ca0b05df35" class=""><strong>«Родители не любят меня». </strong>Вам кажется,
            что родителям безразлична ваша жизнь и они не уделяют вам достаточно внимания? Посочувствуйте им, ведь у них
            много обязанностей! Они должны ходить на работу, следить за домом, заботиться о вас, о родственниках и т.д.
            Не судите их строго, если в конце тяжелого дня им не хватает сил, чтобы поинтересоваться вашими делами. Что
            вы можете сделать?</p>
        <ul id="9b5b5023-62b2-44b4-88d7-2859758c90d1" class="bulleted-list">
            <li><em>Сами проявляйте больше внимания и заботы к ним!</em> Для разнообразия ВЫ поинтересуйтесь их жизнью,
                а не наоборот! Когда вы в последний раз спрашивали у родителей, как прошел их день, что происходит у них
                на работе и как они себя чувствуют?
            </li>
        </ul>
        <ul id="012eaaf7-3b1b-40df-aae2-c68e4690eef6" class="bulleted-list">
            <li><em>Предложите свою помощь.</em> Если вы видите, что родителям сложно и они не успевают справляться со
                всеми делами, предложите им свою помощь. Возможно, вы можете взять на себя какие-то домашние дела или
                помочь с младшим братом/сестрой. Поверьте, родители оценят такой поступок и будут благодарны вам.
            </li>
        </ul>
        <p id="80aed3e7-51f8-4b9c-bea5-ffa592960b2f" class=""> Посмотрите ролик под названием «Уважайте и помогайте
            своим родителям». Попробуйте повторить то, что сделал герой ролика, или сделайте что-то похожее для своих
            близких. Как вы себя чувствовали? Повлияло ли это на ваши отношение с родителями, на их отношение к вам?</p>
        <div style="margin-bottom: 2rem; height: 22rem" class="d-inline-flex mt-4">
            <iframe class="h-100 w-75 mr-5" src="https://www.youtube.com/embed/KoiT1nPScHM" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <ul id="4d3bb327-4070-4d13-ba63-cbffdaedb9d3" class="bulleted-list">
            <li><em>Поделитесь своими чувствами. </em>Просто честно признайтесь, что вам хочется больше внимания и порой
                кажется, что вас игнорируют. Уверены, родители предпримут меры, чтобы исправить ситуацию!
            </li>
        </ul>
        <ul id="fa7deef9-6f5a-4113-b7e5-d19cda5efb4d" class="bulleted-list">
            <li><em>Предложите семейную традицию.</em> Придумайте идеи для интересного совместного досуга и предложите
                родителям завести семейную традицию. Например, по субботам устраивать велопрогулки или играть в
                настольные игры. Совместные занятие сближают людей и помогают избавиться от барьеров в общении.
            </li>
        </ul>
        <ul id="32a0aa2e-5574-4656-b21c-f7c9049339c6" class="bulleted-list">
            <li><em>Будьте внимательны к мелочам. </em>Небольшие знаки внимания и проявления доброго, заботливого
                отношения имеют очень важное значение! И наоборот, даже небольшие проявления невежливости,
                недоброжелательности и неуважения могут превратиться в большие проблемы. В отношениях между людьми
                мелочи вовсе не являются мелочами. Люди в душе очень чувствительны, очень ранимы. Поэтому старайтесь
                делать близким маленькие приятные мелочи - оставьте записку со смайликом, подарите маме цветочек,
                сделайте сестре комплимент.
            </li>
        </ul>
        <p id="b26abe22-4a55-4dc9-ac42-df42251cdae2" class=""> И еще. В отличие от друзей, коллег, будущих супругов,
            родителей не выбирают. Но ваши родители подарили вам самый ценный подарок - ЖИЗНЬ. И именно благодаря этому
            их выбору вы сейчас читаете эти строки. Более того, постарайтесь осознать, что для них это было совсем
            непросто. Пока вы были маленькими и беззащитными, вас кормили, купали, укачивали, успокаивали и укладывали
            спать. Потом вас водили в садик, затем в школу, помогали с домашними заданиями. Ваши родители заботились о
            вас, делая все, что было в их силах (а это ОЧЕНЬ много сил и времени), чтобы вы могли вырасти и стать
            счастливым человеком. Возможно, на ваш взгляд, что-то у них не совсем получается и с какими-то их методами
            вы не совсем согласны. И это НОРМАЛЬНО. Не бывает идеальных родителей, братьев, сестер, бабушек, дедушек,
            детей. Всем нам свойственны человеческие слабости. НО какую бы обиду вы ни затаили на родителей или других
            членов своей семьи, всегда помните о том, что они делают все, что в их силах. И будьте им БЛАГОДАРНЫ за это.
            Поймите, что они стараются быть лучшими мамами и папами, сестрами и братьями и делают это так, как могут и
            считают правильным. Они тоже учатся в этом процессе, ведь нет пошаговой инструкции о том, как быть идеальным
            родителем.</p>
        <p id="e6a5f9d6-3a35-43f1-bb0b-16eb12191443" class=""> Внимательно прочитайте притчу далее и попытайтесь
            искренне осознать, какое это счастье иметь родителей. Подумайте обо всем, что они для вас сделали и
            продолжают делать и искренне, внутренне поблагодарите их.</p>
        <hr id="c049dbbb-a9a8-40f6-b8c2-d84e10a73733"/>
        <p id="6697a479-1393-4b25-ad6d-6ad16c503792" class="">
            <mark class="highlight-red">ПРИТЧА О МАМЕ</mark>
        </p>
        <hr id="1ae8c45d-3d5e-4bcb-b9d0-352caaaa8123"/>
        <p id="3a25f63a-ea42-4881-9af8-56614992064f" class=""><em>В день своего рождения ребёнок обратился к
            Всевышнему:</em></p>
        <p id="0ae4cd00-098c-4111-b4d1-989bcd9c6f6d" class="">-<em>Говорят, сегодня меня посылают на Землю. Как же я
            буду там жить, ведь я так мал и беззащитен?</em></p>
        <p id="ce7c958c-3daa-4531-bb20-5e0049b389c4" class=""><em>Всевышний ответил:</em></p>
        <p id="6c2de95e-0009-4512-9a89-adb7c328b1a6" class="">-<em>Я подарю тебе ангела, который будет ждать тебя и
            заботиться о тебе.
        </em>
        </p>
        <p id="8e23a9cb-a387-42ac-b081-7ef97f73b946" class="">
            <em>Ребенок задумался, затем спросил снова:</em></p>
        <p id="cf747ca4-d9cf-4fd4-a4f6-8c22baac6fb3" class="">-<em>Здесь, на Небесах, я лишь пою и смеюсь, этого
            достаточно мне для счастья.</em></p>
        <p id="68240411-5863-47ab-9cf8-ef1273e8eef9" class=""><em>Всевышний ответил:</em></p>
        <p id="9057cc1c-e164-4d6b-aec7-ad17eda46085" class="">-<em>Твой ангел будет петь и улыбаться для тебя, ты
            почувствуешь его любовь и будешь счастлив.</em></p>
        <p id="43f60f87-ed77-4d43-8b2c-f1c04b63f965" class="">-<em>Но как же я буду понимать людей, ведь я не знаю их
            языка? - спросил ребенок.</em></p>
        <p id="14beef9c-9495-46b7-9ded-74b2573567c5" class=""><em>Всевышний улыбнулся и ответил:</em></p>
        <p id="bc4c11b8-e94d-4e50-bc68-56c07ab763de" class="">-<em>Твой ангел будет говорить тебе самые прекрасные и
            сладкие слова, которые ты когда-либо услышишь, и спокойно и терпеливо он научит тебя разговаривать.</em></p>
        <p id="767114c3-d75f-44df-a705-c29df5875904" class=""><em>Затем ребенок испуганно спросил:</em></p>
        <p id="7a46bc83-a808-494e-bb3c-3cb780dd3db5" class="">-<em>Я слышал, что на Земле есть зло. Кто защитит
            меня?</em></p>
        <p id="7242f70e-ffec-4fbb-98cb-fde6b014b5b2" class=""><em>Всевышний сказал ему:</em></p>
        <p id="e12f7798-8e9d-458c-8588-c7048148e119" class="">-<em>Твой ангел защитит тебя, даже рискуя собственной
            жизнью.</em></p>
        <p id="b1dff0e9-a63e-4c6b-990e-161fee90d122" class=""><em>С Земли уже начали доноситься голоса... и ребенок в
            спешке спросил:</em></p>
        <p id="488b07a0-b3c3-4fb0-a8ad-4da2170a70ae" class="">-<em>Прежде чем я покину тебя, скажи же мне, как зовут
            моего ангела?</em></p>
        <p id="6cf48d3d-680d-4b45-a95f-1db8cfa61371" class="">-<em>У этого ангела тысячи имен, но ты будешь просто
            называть его Мама.</em></p>
        <p id="9da24577-c89b-4bd3-a52a-398adc420f68" class=""> Научитесь благодарить своих родителей за подаренную вам
            жизнь и за уроки, которые они вам дают. Возможно, сейчас эти уроки кажутся вам слишком трудными или даже
            несправедливыми. Но учтите, что для того, чтобы понять некоторые действия людей, особенно своих родителей,
            вам потребуется некоторое время и свой собственный опыт. До конца вы поймете своих родителей, только сами
            став родителями. Поверьте, и тогда у вас будут свои проблемы «отцов и детей».</p>
        <hr id="4e3e88e1-26f6-4448-8334-17f5e724e7f8"/>
        <p id="41a6c565-80f2-48eb-9aa4-0262e4bcd292" class="">
            <mark class="highlight-orange">ПОЛЕЗНЫЕ МАТЕРИАЛЫ</mark>
        </p>
        <hr id="1a0a9fd4-b635-4ecb-86f4-0b4b728aa10a"/>
        <ol id="836caef9-f22b-4745-a9f7-06042e9fe7d9" class="numbered-list" start="1">
            <li>8-800-2000-122 - единый общероссийский номер детского телефона доверия, на котором дети и подростки в
                трудной жизненной ситуации могут получить экстренную психологическую помощь.
            </li>
        </ol>
        <ol id="5048bbe0-c631-40f8-99bb-a1f4bab28870" class="numbered-list" start="2">
            <li>
                <a href="http://www.psychologies.ru/roditeli/teenagers/">http://www.psychologies.ru/roditeli/teenagers/</a>
                - рубрика журнала Psychologies о подростках и подростковых проблемах.
            </li>
        </ol>
        <p id="8c8f0110-38dd-4eba-a002-ab7bec910415" class="">Книги:</p>
        <ul id="06cff286-920d-48ce-a03e-9b46127fd435" class="bulleted-list">
            <li>Владимир Леви «Как воспитывать родителей или новый нестандартный ребенок».</li>
        </ul>
        <hr id="65fcbc1c-8101-4224-ba53-69eb1d7c210f"/>
        <p id="794eb8c2-cad3-4103-b0a4-559644454b4f" class="">
            <mark class="highlight-blue">РЕЗЮМЕ УРОКА</mark>
        </p>
        <hr id="150f1e40-9667-4e2b-89eb-cd7aa528bd6d"/>
        <ul id="d300a517-6494-4d7a-a26d-bb4e9c87e2dd" class="bulleted-list">
            <li>Отношения с родителями САМЫЕ близкие, это заложено самой природой.</li>
        </ul>
        <ul id="6c5b3d0a-dded-40c2-99ab-2a290b68faeb" class="bulleted-list">
            <li>Проблема разногласий разных поколений существовала во все времена. Это обусловлено простыми
                обстоятельствами: у вас и у ваших родителей совершенно разный жизненный опыт, вы выросли в разной среде
                и вполне естественно - у вас разные взгляды на жизнь.
            </li>
        </ul>
        <ul id="9637f878-fe26-48f7-92ff-6abfc80c3db4" class="bulleted-list">
            <li>Важно помнить, что, в конечном счете, и вам и вашим родителям нужно одно и то же - чтобы вы были
                здоровы, счастливы и успешны.
            </li>
        </ul>
        <ul id="98a31409-8537-4c29-ab59-e1639b96f1ab" class="bulleted-list">
            <li>Первый шаг к налаживанию отношений с родителями - собственное поведение. Учитесь спокойно объяснять свою
                позицию и чувства, ведите себя так, чтобы вам доверяли и относились, как к взрослому.
            </li>
        </ul>
        <ul id="0e73e38f-313c-4c63-8ebf-22b574f8609b" class="bulleted-list">
            <li>Будьте БЛАГОДАРНЫ своим родителям за самый ценный подарок - жизнь. Осознайте, что они вложили очень
                много сил и времени в то, чтобы вы могли сейчас читать эти строки. Будьте ТЕРПЕЛИВЕЕ, ведь они стараются
                быть лучшими мамами и папами и делают это так, как знают и считают правильным.
            </li>
        </ul>
        <mark class="highlight-yellow">ФИЧА</mark>
        <hr id="2d682e0e-64a7-4629-80ab-f3f04a88d96c"/>
        <p id="26c4f891-131a-4ab6-b3e8-c39a2c06a47b" class=""> Все пункты домашнего задания.
        </p>
        <span style="border-bottom: 3px solid blue" class="pb-4">
			<a href="{% url 'fourth_chapters_RelationshipsintheFamily_task' %}" class="d-inline-flex text-decoration-none">
				<h3 style="color: black;">Перейти к домашнему заданию</h3>
			</a>
			<span class="oi oi-arrow-right ml-2" style="font-size: 2rem"></span>
		</span>
    </div>
    <a href="#"><span class="oi oi-arrow-top float-right rounded-circle py-3 px-4"
                      style="color: black; border: 3px solid black; font-size: 2.5rem"></span></a>
    <div class="mt-5 w-100 justify-content-center d-inline-flex">
        <img src='{% static "img/images_for_tree/Yoga.svg" %}' alt="" class="rectang"/>
    </div>
</article>

{% endblock %}
	