

.user-info {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.user-info > div  {
    padding: 1em;


}


.image {
    background-color: #0000FF;
    border:2px solid white;
    border-radius: 20px;
}
.container {
    background-color: #5897fb;
}

.skills {
    background-color: purple;
    grid-column: auto;
}



.content-container {
    background-color: #aaaaaa;

}









.top-menu {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    font-size: 24pt;
}

h1, h2, h3, h4 {
    font-family: 'Noto Serif SC', cursive;
}

h1 a, h2 a {
    font-family: 'Noto Serif SC';
}

.date {
    color: #828282;
    font-style: oblique;
}

.author {
    font-family: 'Noto Serif SC', bold;
    font-style: oblique;
}

