


.user-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.user-info > div  {
    padding: 1em;


}

.user-page-skill-progress {
    background-color: grey;
}

.user-page-achivements {
    background-color: grey;
}
  
.user-page-max-skill {
    background-color: grey;
}

.user-page-tables {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  /*  background-color: purple;*/ 

}

h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-bottom: 5px;
}

.nav-ul {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr;
    background-color: #EFEFEF;

}


nav li{
    display: inline;
}


/* Логотип */ 

.logo {
    background-color: #081481;
    width: 100%;
    height: 65px;
    padding: 8px 0px 12px 21px;
}

.home {
    width: 100%;
    height: 100%;
    text-align: center;
}


.page-header {
  display: grid;
  grid-template-columns:auto auto; 

  background-color: white;
  padding: 0px;
}
.grid-container {
/*
  grid-gap: 10px; */
  background-color: white;/*
  padding: 10px; */
}/*
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0; 
  border-style: solid;
  border-color: coral;
  font-size: 30px;
}
*/
.item1 {
  grid-row-start: 1;
  grid-row-end: 2; 
}

.main-page-n-login {

  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 100px;
  align-items: normal;
 }


.img-user-page {

}

.image {
    background-color: #0000FF;
    border:2px solid white;
    border-radius: 20px;
}
/*
.container {
    background-color: #5897fb;
}
*/
.skills {
    background-color: purple;
    grid-column: auto;
}


/*

.content-container {
    background-color: #aaaaaa;

}

*/







.top-menu {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    font-size: 24pt;
}

h1, h2, h3, h4 {
    font-family: 'Noto Serif SC', cursive;
}

h1 a, h2 a {
    font-family: 'Noto Serif SC';
}

.date {
    color: #828282;
    font-style: oblique;
}

.author {
    font-family: 'Noto Serif SC', bold;
    font-style: oblique;
}
.introduction {
    width: 50%;
    padding: 20px;
}

.introductions_chapters {
   width: 50%;
  padding: 20px;
}
}
.first_chapters{
  width: 50%;
  padding: 20px;
}






/* вид кнопок Регистрации и Входа */
.button1 {
  width: 100%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 8px 0;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button2 {
  width: 100%;
  background-color: black; /* Blue */ /* = #081481 */
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 0;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button2:hover { 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

