/* Landing main.css================= */
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header {
  background: #569EFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-display: row;
  height: 153px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  /* identical to box height */
  color: #FFFFFF;
  margin-top: 37px;
  margin-left: 28px;
}

.nameDescripton {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 9.5px;
  line-height: 11px;
  color: #FFFFFF;
  position: absolute;
  margin-top: 69px;
  margin-left: 32px;
}

.menu {
  margin-top: 54px;
  margin-left: 628px;
}

.header-a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #FFFFFF;
  margin-right: 68px;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white));
  background-image: linear-gradient(white);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.header-a:hover {
  background-size: 100% 2px;
  text-decoration: none;
  color: #FFFFFF;
}

.header-a:last-child {
  margin-right: 0px;
}

.headerEnter {
  height: 36px;
  margin-top: 48px;
  margin-left: 160px;
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 21px;
  padding: 8px 29px 7px 30px;
  background-color: #569EFF;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-right: 21px;
}

.headerEnter:hover {
  background-color: #fff;
  color: #569EFF;
  -webkit-transition: 1s;
  transition: 1s;
}

.headerRegister {
  height: 36px;
  margin-top: 48px;
  margin-left: 10px;
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 21px;
  padding: 8px 29px 7px 30px;
  background-color: #569EFF;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-right: 21px;
}

.headerRegister:hover {
  background-color: #fff;
  color: #569EFF;
  -webkit-transition: 1s;
  transition: 1s;
}

.headerExit {
  height: 36px;
  margin-top: 48px;
  margin-left: 100px;
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 21px;
  padding: 8px 29px 7px 30px;
  background-color: #569EFF;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-right: 21px;
}

.headerExit:hover {
  background-color: #fff;
  color: #569EFF;
  -webkit-transition: 1s;
  transition: 1s;
}

.headerBtn {
  background: none;
  border: 0px;
}

.headerBtn:last-child {
  margin-right: 0px;
}

.headerBtnUser {
  margin-top: 55px;
  margin-right: 42px;
  margin-left: 100px;
  background-image: url(../img/user.png);
  width: 22px;
  height: 22px;
}

.headerBtnUser:hover {
  background-image: url(../img/userHover.png);
  width: 22px;
  height: 22px;
  -webkit-transition: .3s;
  transition: .3s;
}

.headerBtnMenu {
  margin-right: 24px;
}

.headerBtnMenu {
  margin-top: 49px;
  background-image: url(../img/menu-logo.png);
  width: 40px;
  height: 40px;
}

.headerBtnMenu:hover {
  background-image: url(../img/menuHover.png);
  -webkit-transition: .3s;
  transition: .3s;
}

.headerBtnTimer {
  margin-top: 50px;
  background-image: url(../img/timer-logo.png);
  width: 33px;
  height: 33px;
  margin-right: 0px;
}

.headerBtnTimer:hover {
  background-image: url(../img/timerHover.png);
  -webkit-transition: .3s;
  transition: .3s;
}

/* MAINPAGE * / */
#mainPage {
  margin-top: -40px;
  border-radius: 41px 41px 41px 41px;
  height: 971px;
  border-top: 41px solid white;
  border-bottom: 1px solid white;
}

/* ABOUT PROJECT */
.aboutFirstSemirical {
  width: 1903px;
}

#aboutProject {
  background-color: #F8F9FC;
  height: 1080px;
  width: 1903px;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.aboutTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 1000;
  font-size: 70px;
  line-height: 82px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 209px;
  margin-left: 109px;
}

.aboutTxt {
  margin-top: 49px;
  margin-left: 109px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 210.19%;
  /* or 48px */
  letter-spacing: 0.03em;
  color: #000000;
}

.aboutSecondSemirical {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  z-index: 0;
  width: 1903px;
}

.aboutArrow {
  border: none;
  background: none;
  margin-left: 105px;
  margin-top: 25px;
}

.aboutFirstEllipse {
  position: absolute;
  margin-top: 85px;
  margin-left: 179px;
  width: 21px;
  height: 21px;
  background: #569EFF;
  border-radius: 100px;
}

.aboutColTxt {
  width: 882px;
}

.aboutBook {
  width: 1000px;
  position: absolute;
  margin-left: -30px;
  margin-top: 75px;
  margin-right: 0px;
}

.aboutSecondEllipse {
  position: absolute;
  margin-top: 87px;
  margin-left: 333px;
  width: 31px;
  height: 31px;
  background: #569EFF;
  border-radius: 100px;
}

.aboutFirstRingBg {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #F8F9FC;
  margin-left: 945px;
  margin-top: 160px;
}

.aboutFirstRing {
  width: 140px;
  height: 140px;
  background: #569EFF;
  border-radius: 100%;
  margin-left: 925px;
  margin-top: 140px;
}

.orangeBlurRectangle {
  position: absolute;
  z-index: 1;
  margin-left: 180px;
  margin-top: -50px;
}

.aboutIntersect {
  position: absolute;
  right: 0;
  margin-top: 180px;
}

/*WHY WE */
#whyWe {
  height: 1080;
}

.whyFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.whyTitle {
  width: 457px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bolder;
  font-size: 70px;
  line-height: 82px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 231px;
  margin-left: 109px;
}

.whyTitle span {
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.whyTxt {
  width: 978px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 162.19%;
  letter-spacing: 0.03em;
  color: #000000;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.09);
  margin-top: 30px;
  margin-left: 103px;
}

.girl {
  margin-top: 57px;
  margin-left: -85px;
  margin-bottom: 91px;
}

.whyTriangle {
  position: absolute;
  margin-left: 850px;
  margin-top: -150px;
  /* FOR WHO */
}

#forWho {
  margin-top: 291px;
}

.forLeftIntersect {
  z-index: -1;
  position: absolute;
  margin-top: -155px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

.forMiddleSmallIntersect {
  position: absolute;
  z-index: -1;
  margin-top: 700px;
  margin-left: 320px;
}

.forMiddleBigIntersect {
  position: absolute;
  z-index: -1;
  margin-left: 610px;
}

.forRightIntersect {
  position: absolute;
  margin-left: 1620px;
  margin-top: -241px;
  z-index: -1;
}

.forTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 175px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 64px;
  text-align: center;
  color: #000000;
}

.forGrid {
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (477px)[3];
      grid-template-columns: repeat(3, 477px);
  grid-column-gap: 92px;
  margin-top: 122.5px;
  margin-left: 55px;
}

.forColWhiteBg {
  z-index: 1;
  width: 455px;
  height: 717px;
  background: #FFFFFF;
  -webkit-box-shadow: 4px -8px 61px rgba(0, 0, 0, 0.06);
          box-shadow: 4px -8px 61px rgba(0, 0, 0, 0.06);
  border-radius: 11px;
}

.forColBlueBg {
  z-index: -1;
  position: absolute;
  margin-top: -735px;
  margin-left: -10px;
}

.forColSecondBlueBg {
  z-index: -1;
  position: absolute;
  margin-top: -725px;
  margin-left: -10px;
}

.forColIcon {
  padding: 37px 47px 52px 45px;
}

.forColSecondIcon {
  padding: 55px 77px 82.76px 48.66px;
}

.forColThirdIcon {
  padding: 67px 70px 42px 76px;
}

.forColTxt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 144.69%;
  /* or 29px */
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}

.rocketLine {
  margin-left: 450px;
  margin-top: -110px;
}

.rocket {
  margin-left: -620px;
  margin-top: 130px;
  /* QUESTION */
}

#question {
  margin-top: -45px;
}

.questionFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 173px;
}

.questionTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 117px;
  letter-spacing: 0.03em;
  color: #000000;
}

.questionTxt {
  width: 698px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 157.19%;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 62px;
  margin-top: 35px;
}

.questionBtn {
  background-color: #fff;
  border: 3px solid #1262CD;
  border-radius: 10px;
  padding: 16px 22px 17px 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 144.69%;
  /* identical to box height, or 29px */
  text-align: center;
  letter-spacing: 0.03em;
  color: #1262CD;
}

.questionBtn:hover {
  background: #1262CD;
  color: white;
  -webkit-transition: .8s;
  transition: .8s;
}

.cat {
  margin-left: 145px;
  margin-top: -140px;
}

/*FOOTER */
#footer {
  margin-top: 145px;
}

.footerGrid {
  margin-top: 390px;
  margin-left: 95px;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-columns: (248px)[5];
      grid-template-columns: repeat(5, 248px);
  grid-column-gap: 140px;
}

.footerColSupport {
  margin-left: -30px;
}

.footerColProducts {
  margin-left: -60px;
}

.footerColContact {
  margin-left: -105px;
}

.footerPhone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */
  color: #515151;
  margin-bottom: 26px;
}

.footerFirstRow {
  margin-top: 21px;
  padding-left: 20px;
  margin-bottom: 44px;
}

.footerSocial {
  margin-right: 20px;
}

.footerSupport {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 20px;
}

.footerColTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height */
  letter-spacing: 0.05em;
  color: #AFAFAE;
  margin-bottom: 37px;
}

.footera {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #393736;
  margin-bottom: 37px;
}

.footerCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerLine {
  width: 1786px;
  height: 4px;
  margin-top: 80px;
  margin-left: 57px;
  background: #E3E3E3;
  margin-bottom: 42px;
}

.footerAllRights {
  width: 466px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #A7A7A7;
  margin-left: 132px;
}

.footerAllRights2 {
  margin-left: 201px;
}

.conf {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #A7A7A7;
  margin-left: 177px;
  width: 315px;
}

.footerSecondRow {
  width: 1800px;
}
/*# sourceMappingURL=main.css.map */



/* ================= */

.user-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.user-info > div  {
    padding: 1em;


}

.user-page-skill-progress {
    background-color: grey;
}

.user-page-achivements {
    background-color: grey;
}
  
.user-page-max-skill {
    background-color: grey;
}

.user-page-tables {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  /*  background-color: purple;*/ 

}

h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-bottom: 5px;
}

.nav-ul {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr;
    background-color: #EFEFEF;

}


nav li{
    display: inline;
}


/* Логотип */ 

.logo {
    background-color: #081481;
    width: 100%;
    height: 65px;
    padding: 8px 0px 12px 21px;
}

.home {
    width: 100%;
    height: 100%;
    text-align: center;
}


.page-header {
  display: grid;
  grid-template-columns:auto auto; 

  background-color: white;
  padding: 0px;
}
.grid-container {
/*
  grid-gap: 10px; */
  background-color: white;/*
  padding: 10px; */
}/*
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0; 
  border-style: solid;
  border-color: coral;
  font-size: 30px;
}
*/
.item1 {
  grid-row-start: 1;
  grid-row-end: 2; 
}

.main-page-n-login {

  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 100px;
  align-items: normal;
 }


.img-user-page {

}

.image {
    background-color: #0000FF;
    border:2px solid white;
    border-radius: 20px;
}
/*
.container {
    background-color: #5897fb;
}
*/
.skills {
    background-color: purple;
    grid-column: auto;
}

/*

.content-container {
    background-color: #aaaaaa;

}

*/

.top-menu {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    font-size: 24pt;
}

h1, h2, h3, h4 {
    font-family: 'Noto Serif SC', cursive;
}

h1 a, h2 a {
    font-family: 'Noto Serif SC';
}

.date {
    color: #828282;
    font-style: oblique;
}

.author {
    font-family: 'Noto Serif SC', bold;
    font-style: oblique;
}
.introduction {
  display: grid;
  grid-template-columns: 25% ;
  justify-content: center;
}

.chapters {
  display: grid;
  grid-template-columns: auto auto auto auto; 
  grid-column-gap: 20px ;
}

.introductions_chapters {
   display: grid;
   grid-template-columns: auto auto;
}

.first_chapters{
  display: grid;
  grid-template-columns: auto auto auto auto auto; 
  grid-column-gap: 20px ;
}
.second_chapters {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto; 
  grid-column-gap: 20px ; 
}
.third_chapters {
  display: grid;
  grid-template-columns: auto auto auto auto; 
  grid-column-gap: 20px ; 
}
.fourth_chapters{
  display: grid;
  grid-template-columns: auto auto auto auto; 
  grid-column-gap: 20px ; 
}


/* вид кнопок Регистрации и Входа */
.button1 {
  width: 100%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 8px 0;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button2 {
  width: 100%;
  background-color: black; /* Blue */ /* = #081481 */
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 0;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button2:hover { 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}







/*
html {
  -webkit-print-color-adjust: exact;
}
* {
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
} 
/*
html,
body {
  margin: 0;
  padding: 0;
}
@media only screen {
  body {
    margin: 2em auto;
    max-width: 900px;
    color: rgb(55, 53, 47);
  }
}

body {
  line-height: 1.5;
  white-space: pre-wrap;
}

a,
a.visited {
  color: inherit;
  text-decoration: underline;
}
*/
.pdf-relative-link-path {
  font-size: 80%;
  color: #444;
}

h1,
h2,
h3 {
  letter-spacing: -0.01em;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 0;
}

.page-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.75em;
  color: black
}
/*
h1 {
  font-size: 1.875rem;
  margin-top: 1.875rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  margin-top: 1.25rem;
}
*/
.source {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 1.5em;
  word-break: break-all;
}

.callout {
  border-radius: 3px;
  padding: 1rem;
}

figure {
  margin: 1.25em 0;
  page-break-inside: avoid;
}

figcaption {
  opacity: 0.5;
  font-size: 85%;
  margin-top: 0.5em;
}

mark {
  background-color: transparent;
}

.indented {
  padding-left: 1.5em;
}

hr {
  background: transparent;
  display: block;
  width: 100%;
  height: 1px;
  visibility: visible;
  border: none;
  border-bottom: 1px solid rgba(55, 53, 47, 0.09);
}

img {
  max-width: 100%;
}

@media only print {
  img {
    max-height: 100vh;
    object-fit: contain;
  }
}

@page {
  margin: 1in;
}

.collection-content {
  font-size: 0.875rem;
}

.column-list {
  display: flex;
  justify-content: space-between;
}

.column {
  padding: 0 1em;
}

.column:first-child {
  padding-left: 0;
}

.column:last-child {
  padding-right: 0;
}

.table_of_contents-item {
  display: block;
  font-size: 0.875rem;
  line-height: 1.3;
  padding: 0.125rem;
}

.table_of_contents-indent-1 {
  margin-left: 1.5rem;
}

.table_of_contents-indent-2 {
  margin-left: 3rem;
}

.table_of_contents-indent-3 {
  margin-left: 4.5rem;
}

.table_of_contents-link {
  text-decoration: none;
  opacity: 0.7;
  border-bottom: 1px solid rgba(55, 53, 47, 0.18);
}

table,
th,
td {
  border: 1px solid rgba(55, 53, 47, 0.09);
  border-collapse: collapse;
}

table {
  border-left: none;
  border-right: none;
}

th,
td {
  font-weight: normal;
  padding: 0.25em 0.5em;
  line-height: 1.5;
  min-height: 1.5em;
  text-align: left;
}

th {
  color: rgba(55, 53, 47, 0.6);
}

ol,
ul {
  margin: 0;
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
}

li > ol:first-child,
li > ul:first-child {
  margin-block-start: 0.6em;
}

ul > li {
  list-style: disc;
}

ul.to-do-list {
  text-indent: -1.7em;
}

ul.to-do-list > li {
  list-style: none;
}

.to-do-children-checked {
  text-decoration: line-through;
  opacity: 0.375;
}

ul.toggle > li {
  list-style: none;
}

ul {
  padding-inline-start: 1.7em;
}

ul > li {
  padding-left: 0.1em;
}

ol {
  padding-inline-start: 1.6em;
}

ol > li {
  padding-left: 0.2em;
}

.mono ol {
  padding-inline-start: 2em;
}

.mono ol > li {
  text-indent: -0.4em;
}

.toggle {
  padding-inline-start: 0em;
  list-style-type: none;
}

/* Indent toggle children */
.toggle > li > details {
  padding-left: 1.7em;
}

.toggle > li > details > summary {
  margin-left: -1.1em;
}

.selected-value {
  display: inline-block;
  padding: 0 0.5em;
  background: rgba(206, 205, 202, 0.5);
  border-radius: 3px;
  margin-right: 0.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  white-space: nowrap;
}

.collection-title {
  display: inline-block;
  margin-right: 1em;
}

time {
  opacity: 0.5;
}

.icon {
  display: inline-block;
  max-width: 1.2em;
  max-height: 1.2em;
  text-decoration: none;
  vertical-align: text-bottom;
  margin-right: 0.5em;
}

img.icon {
  border-radius: 3px;
}

.user-icon {
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.user-icon-inner {
  font-size: 0.8em;
}

.text-icon {
  border: 1px solid #000;
  text-align: center;
}

.page-cover-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 30vh;
  border-radius: 15px;
}

.page-header-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.page-header-icon-with-cover {
  margin-top: -0.72em;
  margin-left: 0.07em;
}

.page-header-icon img {
  border-radius: 3px;
}

.link-to-page {
  margin: 1em 0;
  padding: 0;
  border: none;
  font-weight: 500;
}

p > .user {
  opacity: 0.5;
}

td > .user,
td > time {
  white-space: nowrap;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 0.6em;
  vertical-align: middle;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.image {
  border: none;
  margin: 1.5em 0;
  padding: 0;
  border-radius: 0;
  text-align: center;
}

.code,
code {
  background: rgba(135, 131, 120, 0.15);
  border-radius: 3px;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 85%;
  tab-size: 2;
}

code {
  color: #eb5757;
}

.code {
  padding: 1.5em 1em;
}

.code-wrap {
  white-space: pre-wrap;
  word-break: break-all;
}

.code > code {
  background: none;
  padding: 0;
  font-size: 100%;
  color: inherit;
}

blockquote {
  font-size: 1.25em;
  margin: 1em 0;
  padding-left: 1em;
  border-left: 3px solid rgb(55, 53, 47);
}

.bookmark {
  text-decoration: none;
  max-height: 8em;
  padding: 0;
  display: flex;
  width: 100%;
  align-items: stretch;
}

.bookmark-title {
  font-size: 0.85em;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.75em;
  white-space: nowrap;
}

.bookmark-text {
  display: flex;
  flex-direction: column;
}

.bookmark-info {
  flex: 4 1 180px;
  padding: 12px 14px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bookmark-image {
  width: 33%;
  flex: 1 1 180px;
  display: block;
  position: relative;
  object-fit: cover;
  border-radius: 1px;
}

.bookmark-description {
  color: rgba(55, 53, 47, 0.6);
  font-size: 0.75em;
  overflow: hidden;
  max-height: 4.5em;
  word-break: break-word;
}

.bookmark-href {
  font-size: 0.75em;
  margin-top: 0.25em;
}

.sans { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; }
.code { font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; }
.serif { font-family: Lyon-Text, Georgia, YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Songti TC", "Songti SC", "SimSun", "Nanum Myeongjo", NanumMyeongjo, Batang, serif; }
.mono { font-family: iawriter-mono, Nitti, Menlo, Courier, monospace; }
.pdf .sans { font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK SC', 'Noto Sans CJK KR'; }

.pdf .code { font-family: Source Code Pro, "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK SC', 'Noto Sans Mono CJK KR'; }

.pdf .serif { font-family: PT Serif, Lyon-Text, Georgia, YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Songti TC", "Songti SC", "SimSun", "Nanum Myeongjo", NanumMyeongjo, Batang, serif, 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK SC', 'Noto Sans CJK KR'; }

.pdf .mono { font-family: PT Mono, iawriter-mono, Nitti, Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK SC', 'Noto Sans Mono CJK KR'; }

.highlight-default {
}
.highlight-gray {
  color: rgb(155,154,151);
}
.highlight-brown {
  color: rgb(100,71,58);
}
.highlight-orange {
  color: rgb(217,115,13);
}
.highlight-yellow {
  color: rgb(223,171,1);
}
.highlight-teal {
  color: rgb(15,123,108);
}
.highlight-blue {
  color: rgb(11,110,153);
}
.highlight-purple {
  color: rgb(105,64,165);
}
.highlight-pink {
  color: rgb(173,26,114);
}
.highlight-red {
  color: rgb(224,62,62);
}
.highlight-gray_background {
  background: rgb(235,236,237);
}
.highlight-brown_background {
  background: rgb(233,229,227);
}
.highlight-orange_background {
  background: rgb(250,235,221);
}
.highlight-yellow_background {
  background: rgb(251,243,219);
}
.highlight-teal_background {
  background: rgb(221,237,234);
}
.highlight-blue_background {
  background: rgb(221,235,241);
}
.highlight-purple_background {
  background: rgb(234,228,242);
}
.highlight-pink_background {
  background: rgb(244,223,235);
}
.highlight-red_background {
  background: rgb(251,228,228);
}
.block-color-default {
  color: inherit;
  fill: inherit;
}
.block-color-gray {
  color: rgba(55, 53, 47, 0.6);
  fill: rgba(55, 53, 47, 0.6);
}
.block-color-brown {
  color: rgb(100,71,58);
  fill: rgb(100,71,58);
}
.block-color-orange {
  color: rgb(217,115,13);
  fill: rgb(217,115,13);
}
.block-color-yellow {
  color: rgb(223,171,1);
  fill: rgb(223,171,1);
}
.block-color-teal {
  color: rgb(15,123,108);
  fill: rgb(15,123,108);
}
.block-color-blue {
  color: rgb(11,110,153);
  fill: rgb(11,110,153);
}
.block-color-purple {
  color: rgb(105,64,165);
  fill: rgb(105,64,165);
}
.block-color-pink {
  color: rgb(173,26,114);
  fill: rgb(173,26,114);
}
.block-color-red {
  color: rgb(224,62,62);
  fill: rgb(224,62,62);
}
.block-color-gray_background {
  background: rgb(235,236,237);
}
.block-color-brown_background {
  background: rgb(233,229,227);
}
.block-color-orange_background {
  background: rgb(250,235,221);
}
.block-color-yellow_background {
  background: rgb(251,243,219);
}
.block-color-teal_background {
  background: rgb(221,237,234);
}
.block-color-blue_background {
  background: rgb(221,235,241);
}
.block-color-purple_background {
  background: rgb(234,228,242);
}
.block-color-pink_background {
  background: rgb(244,223,235);
}
.block-color-red_background {
  background: rgb(251,228,228);
}
.select-value-color-default { background-color: rgba(206,205,202,0.5); }
.select-value-color-gray { background-color: rgba(155,154,151, 0.4); }
.select-value-color-brown { background-color: rgba(140,46,0,0.2); }
.select-value-color-orange { background-color: rgba(245,93,0,0.2); }
.select-value-color-yellow { background-color: rgba(233,168,0,0.2); }
.select-value-color-green { background-color: rgba(0,135,107,0.2); }
.select-value-color-blue { background-color: rgba(0,120,223,0.2); }
.select-value-color-purple { background-color: rgba(103,36,222,0.2); }
.select-value-color-pink { background-color: rgba(221,0,129,0.2); }
.select-value-color-red { background-color: rgba(255,0,26,0.2); }

.checkbox {
  display: inline-flex;
  vertical-align: text-bottom;
  width: 16;
  height: 16;
  background-size: 16px;
  margin-left: 2px;
  margin-right: 5px;
}

.checkbox-on {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%2358A9D7%22%2F%3E%0A%3Cpath%20d%3D%22M6.71429%2012.2852L14%204.9995L12.7143%203.71436L6.71429%209.71378L3.28571%206.2831L2%207.57092L6.71429%2012.2852Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");
}

.checkbox-off {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20x%3D%220.75%22%20y%3D%220.75%22%20width%3D%2214.5%22%20height%3D%2214.5%22%20fill%3D%22white%22%20stroke%3D%22%2336352F%22%20stroke-width%3D%221.5%22%2F%3E%0A%3C%2Fsvg%3E");
}
  