<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>

<body>
    {% for userskill in userskills %}
    <div>


        <p>user : {{ userskill.user }} </p>
        <p>Name of the skill: {{ userskill.skill_name }}</p>
        <p>lvl : {{ userskill.level }}</p>

    </div>
    {% endfor %}
    <p></p>
    {% for skill in skills %}
    <div>
        <h2>skills</h2>
        <p>Name of the skill : {{ skill.skill_name }} </p>
        <p>Description of the skill: {{ skill.skill_description }}</p>

    </div>
    {% endfor %}
    <p></p>
    {% for post in posts %}
    <div>
        <p>author: {{ post.author }} </p>
        <p>published: {{ post.created_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
    <p></p>


</body>

</html>